<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#fff" type="ball-elastic-dots" [fullScreen]="true">
    <div class="custom-spinner">
      <img src="../../../../../assets/images/spinner3.svg" alt="Your Logo">
    </div>
    <div class="loading-text">Please wait, we are getting information...</div>
  </ngx-spinner>
<div class="page-content page-content-main">
    <div class="row sideMenuItem">
        <div class="container">
            <!--Left side menu-->
                <div class="col-xs-12 col-lg-2 navbar-side-menu">
                    <app-sidebar></app-sidebar>
                </div>
            <!--Left side menu end-->
            <!--Right  side content-->
            <div class="col-xs-12 col-lg-12 content-right" style="margin-left: -13% !important;width: 100% !important;">
          <div class="row">
            <div class="col-xs-12 col-lg-12">
                <span class="breadcrumb-left">
                    <h1 class="login-headline heading-title">Safety Summary</h1>
                    <!-- <ng-container *ngIf="user ==='role_user_fleet'">
                        <div class="content-text">
                            <span class="vin_container">
                                <span class="content-sub-text">Fleet Id</span>
                            </span>
                            <span class="content-sub-text2">{{ selectedFleetDisplay || fleetIdValueNew }}</span>
                        </div>
                    </ng-container> -->
                </span>
                <span class="breadcrumb-right bd-w">
                    <div class="row">
                        <div class="col-xs-12 col-lg-4"> &nbsp;</div>
                        <div class="col-xs-12 col-lg-4"> &nbsp;</div>
                        <div class="col-xs-12 col-lg-4" *ngIf="user !='role_user_fleet'">
                            <ng-select [searchable]="true" class="newSelect1" [clearable]="true"
                                placeholder="Organization Id/Name" (change)="selectFleetId()" [(ngModel)]="fleetIdData">
                                <ng-option *ngFor="let fleet of fleetList" value="{{fleet.id}}">{{fleet.id}} -
                                    [{{fleet.name}}]</ng-option>
                            </ng-select>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="row mt-4" style="margin-top: -12px; margin-right: 12px;">
            <div class="col-xs-12 col-lg-10 summary-detail">
                <span class="user-icon f-le">
                    <img src="../../../../../assets/images/icon/aggresive.svg" class="icon">
                </span>
                <span class="f-le">
                    <h4 class="card-title card-heading mb-4">Overspeed</h4>
                </span>
            </div>
             <!-- <div class="col-xs-12 col-lg-2">
                <ng-select style="margin-top: 6px;margin-right: -30px;" [items]="dataOfMonths" bindLabel="label" (change)="onTimePeriodChanges($event.value)"
                    bindValue="value" placeholder="Select Time Period" [(ngModel)]="selectedTimePeriodss"
                    class="newSelecting"></ng-select>
            </div>  -->
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="card">
        <div class="row">
             <div class="row">
                  <div class="col-lg-6"></div>
                  <div class="col-lg-3 mt-2">
                    <ng-select
                      [items]="vinList"
                      bindLabel="alias"
                      bindValue="vin"
                      placeholder="Select Vehicle VIN"
                      [(ngModel)]="selectedVin"
                      (ngModelChange)="filterByVin()"
                      class="input-vins font-common"
                      [ngStyle]="{ 'width': '100%', 'height': '45px' }"
                    >
                      <ng-template ng-label-tmp let-item="item">
                        {{ item.alias }} ({{ item.vin }})
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item">
                        {{ item.alias }} ({{ item.vin }})
                      </ng-template>
                    </ng-select>
                  </div>
                      <div class="col-lg-3 mt-2">
                        <ng-select
                          bindLabel="label"
                          bindValue="value"
                          placeholder="Select Time Period"
                          [(ngModel)]="selectedPeriod"
                          (change)="onTimePeriodChangeData($event)"
                          class="newSelect timePeriod current-month-dropdown"
                          style="font-family: 'Poppins' !important;"
                        >
                          <ng-option *ngFor="let period of timePeriods" [value]="period.value">
                            {{period.label}}
                          </ng-option>
                        </ng-select>
                      </div>
        </div>
          </div>

          <!-- VIN, OEM and satus filter end -->
          <!-- Main data table-->

          <div class="row mr-table mx-2">
            <div class="col-lg-12 col-xs-12">
              <div class="table-wrapper">
                <div class="table-responsive table-b">
                  <table class="table">
                    <thead class="table-head">
                      <tr>
                        <th class="table-column-width">Vehicle Name</th>
                        <th class="table-column-width">VIN Number</th>
                        <th class="table-column-width7">Over Speeding (%)</th>
                        <th class="table-column-width7">&gt;80 MPH (%)</th>
                        <th class="table-column-width7">Top Speed</th>
                        <th class="table-column-width7">Over Speeding Miles</th>
                        <th class="table-column-width7">&gt;80 MPH Miles</th>
                        <th class="table-column-width7">Miles Driven</th>
                      </tr>
                    </thead>

                    <tbody>
                      <ng-container *ngIf="safetySummaryData?.length > 0; else noDataTemplate">
                        <ng-container *ngFor="let vehicle of safetySummaryData; let i = index">
                          <tr class="bor-none">
                            <td>
                              <a href="javascript:void(0)" class="tripIdnewplus" (click)="toggleExpand(i);getOverspeedSummeryDetails(vehicle?.vin);">
                                <i class="fas" [ngClass]="expandedRowIndex === i ? 'fa-minus' : 'fa-plus'"></i>
                              </a>
                              {{ vehicle.vehicleName }}
                            </td>
                            <td>{{ vehicle.vin || 'N/A' }}</td>
                              <td>{{ vehicle.overspeedingPercentage || 0 }}%</td>
                              <td>{{ vehicle.over80MphPercentage || 0 }}%</td>
                              <td>{{ vehicle.topSpeedMph || 'N/A' }}</td>
                              <td>{{ vehicle.overspeedingMiles || 0 }}</td>
                              <td>{{ vehicle.over80MphMiles || 0 }}</td>
                              <td>{{ vehicle.milesDriven || 0 }}</td>
                          </tr>

                          <!-- Expanded Details -->
                          <tr *ngIf="expandedRowIndex === i">
                            <td colspan="12">
                              <div class="expanded-content p-3" style="background-color:#f8f9fa; border-radius:5px;">
                                <h5>Trip Details for Overspeed</h5>
                                <div class="table-responsive">
                                  <table class="table table-bordered mt-2">
                                    <thead style="background-color: lightgray;">
                                      <tr>
                                        <th>VIN</th>
                                        <th>Trip ID</th>
                                        <th>Start Timestamp</th>
                                        <th>End Timestamp</th>
                                        <th>Miles Driven</th>
                                        <th>Duration (hrs)</th>
                                        <th>HB</th>
                                        <th>HC</th>
                                        <th>HA</th>
                                        <th>Seatbelt Violations</th>
                                        <th>Over Speed Miles</th>
                                        <th>&gt;80 MPH Miles</th>
                                        <th>Video Clip</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let trip of tripDetails; else noTrips">
                                          <td>{{ trip.vin }}</td>
                                          <td>{{ trip.tripId }}</td>
                                          <td>{{ trip.startTimestamp | date:'MMM d, y, h:mm a' }}</td>
                                          <td>{{ trip.endTimestamp | date:'MMM d, y, h:mm a' }}</td>
                                          <td>{{ trip.milesDriven }}</td>
                                          <td>{{ trip.durationHours | number:'1.2-2' }}</td>
                                          <td>{{ trip.harshBrakingCount }}</td>
                                          <td>{{ trip.harshCorneringCount }}</td>
                                          <td>{{ trip.harshAccelerationCount }}</td>
                                          <td>{{ trip.seatbeltViolationCount }}</td>
                                          <td>{{ trip.overspeedingMiles }}</td>
                                          <td>{{ trip.over80MphMiles }}</td>
                                          <td>
                                            <a *ngIf="trip.videoClipUrl; else noVideo" [href]="trip.videoClipUrl" target="_blank">
                                              View Clip
                                            </a>
                                            <ng-template #noVideo>Camera video not in use</ng-template>
                                          </td>
                                        </tr>
                                      <ng-template #noTrips>
                                        <tr>
                                          <td colspan="13" class="text-center text-muted">No Trip Details Found</td>
                                        </tr>
                                      </ng-template>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </ng-container>
                      </ng-container>

                      <!-- No Data Template -->
                      <ng-template #noDataTemplate>
                        <tr>
                          <td colspan="12" class="text-center">
                            <h5 class="heading-c">No Data Found ...</h5>
                          </td>
                        </tr>
                      </ng-template>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>



          </div>
          </div>
          </div>
          <div class="row mt-4" style="margin-top: -12px; margin-right: 12px;">
            <div class="col-xs-12 col-lg-10 summary-detail">
                <span class="user-icon f-le">
                    <img src="../../../../../assets/images/icon/aggresive.svg" class="icon">
                </span>
                <span class="f-le">
                    <h4 class="card-title card-heading mb-4">Safety</h4>
                </span>
            </div>
             <!-- <div class="col-xs-12 col-lg-2">
                <ng-select style="margin-top: 6px;margin-right: -30px;" [items]="dataOfMonths" bindLabel="label" (change)="onTimePeriodChanges($event.value)"
                    bindValue="value" placeholder="Select Time Period" [(ngModel)]="selectedTimePeriodss"
                    class="newSelecting"></ng-select>
            </div>  -->
        </div>
        <div class="row">
          <div class="col-xs-12 col-lg-12">
              <div class="card">
      <div class="row">
          <div class="col-lg-9"></div>
          <div class="col-lg-3 d-flex justify-content-end mt-3 mb-2">
            <!-- <ng-select
              [items]="vinList"
              bindLabel="alias"
              bindValue="vin"
              placeholder="Select Vehicle VIN"
              [(ngModel)]="selectedVin"
              (ngModelChange)="filterByVin()"
              class="input-vins font-common"
              [ngStyle]="{ 'width': '100%', 'height': '45px' }"
            >
              <ng-template ng-label-tmp let-item="item">
                {{ item.alias }} ({{ item.vin }})
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                {{ item.alias }} ({{ item.vin }})
              </ng-template>
            </ng-select> -->
          </div>
        </div>

        <!-- VIN, OEM and satus filter end -->
        <!-- Main data table-->
        <div class="row mr-table mx-2">
          <div class="col-lg-12 col-xs-12">
            <div class="table-wrapper">
              <div class="table-responsive table-b">
                <table class="table">
                  <thead class="table-head">
                    <tr>
                      <th class="table-column-width">Vehicle Name</th>
                      <th class="table-column-width">VIN Number</th>
                      <th class="table-column-width7">HA /100 mi</th>
                      <th class="table-column-width7">HB /100 mi</th>
                      <th class="table-column-width7">HC /100 mi</th>
                      <th class="table-column-width7">Seatbelt Violations</th>
                      <th class="table-column-width7">Over Speeding (%)</th>
                      <th class="table-column-width7">&gt;80 MPH (%)</th>
                      <th class="table-column-width7">Safety Score</th>
                    </tr>
                  </thead>

                  <tbody>
                    <ng-container *ngIf="safetySummaryDataNew?.length > 0; else noDataTemplate">
                      <ng-container *ngFor="let vehicle of safetySummaryDataNew; let j = index">
                        <tr class="bor-none">
                          <td>
                            <a href="javascript:void(0)" class="tripIdnewplus" (click)="toggleExpandOverspeed(j); getSafetySummeryDetails(vehicle?.vin);">
                              <i class="fas" [ngClass]="expandedRowOverspeedIndex === j ? 'fa-minus' : 'fa-plus'"></i>
                            </a>
                            {{ vehicle.vehicleName }}
                          </td>
                          <td>{{ vehicle.vin || 'N/A' }}</td>
                          <td>{{ vehicle.harshAccelerationPer100Miles || 0 }}</td>
                          <td>{{ vehicle.harshBrakingPer100Miles || 0 }}</td>
                          <td>{{ vehicle.harshCorneringPer100Miles || 0 }}</td>
                          <td>{{ vehicle.seatbeltViolations || 0 }}</td>
                          <td>{{ vehicle.overspeedingPercentage || 0 }}%</td>
                          <td>{{ vehicle.over80MphPercentage || 0 }}%</td>
                          <td>{{ vehicle.safetyScore || 'N/A' }}</td>
                        </tr>

                        <!-- Expanded Row for Trip Details -->
                        <tr *ngIf="expandedRowOverspeedIndex === j">
                          <td colspan="12">
                            <div class="expanded-content p-3" style="background-color: #f8f9fa; border-radius: 5px;">
                              <h5>Trip Details for Harsh Events</h5>
                              <div class="table-responsive mt-2">
                                <table class="table table-bordered">
                                  <thead style="background-color: lightgray;">
                                    <tr>
                                      <th>VIN</th>
                                      <th>Trip ID</th>
                                      <th>Start Timestamp</th>
                                      <th>End Timestamp</th>
                                      <th>Miles Driven</th>
                                      <th>Duration (hrs)</th>
                                      <th>HB</th>
                                      <th>HC</th>
                                      <th>HA</th>
                                      <th>Seatbelt Violations</th>
                                      <th>Over Speed Miles</th>
                                      <th>&gt;80 MPH Miles</th>
                                      <th>Video Clip</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let trip of tripSafetyDetails; else noTrips">
                                          <td>{{ trip.vin || 'N/A' }}</td>
                                          <td>{{ trip.tripId || 'N/A' }}</td>
                                          <td>{{ trip.startTimestamp | date:'MMM d, y, h:mm a' }}</td>
                                          <td>{{ trip.endTimestamp | date:'MMM d, y, h:mm a' }}</td>
                                          <td>{{ trip.milesDriven || 0 }}</td>
                                          <td>{{ trip.durationHours | number:'1.2-2' }}</td>
                                          <td>{{ trip.harshBrakingCount || 0 }}</td>
                                          <td>{{ trip.harshCorneringCount || 0 }}</td>
                                          <td>{{ trip.harshAccelerationCount || 0 }}</td>
                                          <td>{{ trip.seatbeltViolationCount || 0 }}</td>
                                          <td>{{ trip.overspeedingMiles || 0 }}</td>
                                          <td>{{ trip.over80MphMiles || 0 }}</td>
                                      <td>
                                        <a *ngIf="trip.videoClipUrl; else noVideo" href="{{ trip.videoClipUrl }}" target="_blank">
                                          View Clip
                                        </a>
                                        <ng-template #noVideo>Camera video not in use</ng-template>
                                      </td>
                                    </tr>
                                    <ng-template #noTrips>
                                      <tr>
                                        <td colspan="13" class="text-center text-muted">No Trip Details Found</td>
                                      </tr>
                                    </ng-template>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>

                    <!-- No Data Template -->
                    <ng-template #noDataTemplate>
                      <tr>
                        <td colspan="12" class="text-center">
                          <h5 class="heading-c">No Data Found ...</h5>
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        </div>
        </div>
        </div>
         <!-- Breadcrumb and Search Consumer or Fleet Id End-->
         <!--Main Content Start End-->
        </div>
    </div>
</div>

<!-- Custom Date Range Modal -->
<div class="modal-overlay" *ngIf="isCardOpen">
  <div class="modal-card">
      <button (click)="closeCard()" class="close-button">X</button>
      <div class="row">
          <div class="col-3 option-column" style="margin-left: -20px; margin-right: 12px;">
              <div style="margin-top: 20px;">
                  <div class="option" [class.selected]="selectedOption === 'yesterday'"
                      (click)="handleOption('yesterday')">Yesterday</div>
                  <div class="option" [class.selected]="selectedOption === 'weekly'"
                      (click)="handleOption('weekly')">Current Week</div>
                  <div class="option" [class.selected]="selectedOption === 'monthly'"
                      (click)="handleOption('monthly')">Current Month</div>
                  <div class="option" [class.selected]="selectedOption === 'lastmonth'"
                      (click)="handleOption('lastmonth')">Previous Month</div>
                  <div class="option" [class.selected]="selectedOption === 'customRange'"
                      (click)="handleOption('customRange')">Custom Range</div>
              </div>
          </div>

          <div class="col-9" style="margin-top:20px;">
              <!-- Display calendar only if 'custom-range' is selected -->
              <app-calendar (dateRangeSelected)="onDateRangeSelected($event);closeCard()"></app-calendar>
          </div>
      </div>
  </div>
</div>
