<!-- Live Tracking Component -->
<div class="page-content page-content-main">
  <div class="row" style="margin-left: 0px; margin-right: 0px;">
    <!-- Left Sidebar -->
    <div class="col-xs-12 col-lg-2 navbar-side-menu">
      <app-sidebar></app-sidebar>
    </div>
    <!-- Left Sidebar End -->

    <!-- Right Side Content -->
    <div class="col-xs-12 col-lg-10 content-right">

      <!-- Breadcrumb and Filter -->
      <div class="page-content-main">
        <div class="row">
          <div class="col-xs-12 col-lg-12">
            <span class="breadcrumb-left">
              <h1 class="login-headline heading-title">
                Trip <span class="heading-title-small">Planning</span>
              </h1>
            </span>
            <span class="breadcrumb-right mr-8">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a routerLink="/adlp/admin" class="breadcrumb-h6"><i class="bx bx-home-circle"></i></a>
                </li>
                <li class="breadcrumb-item inactive-bread">
                  <a routerLink="/adlp/admin/admindashboard/dashboardfleet">Dashboard</a>
                </li>
                <li class="breadcrumb-item text-selected active-bread">Trip Planning</li>
              </ol>
            </span>
          </div>
        </div>
        <!-- Consumer and Fleet Id Filter -->
        <div class="row consumer-pad">
        <div class="col-xs-12 col-lg-6 consumer mr-12">
          <ng-container *ngIf="user !='role_user_fleet' && user != 'role_Driver' && user != 'role_org_group'">
            <ng-container *ngIf="searchByConsumer != 'Onwardfleet'">
              <div class="row">
                  <div class="col-xs-12 col-lg-7">
                      <h1 class="activeSinceFleet">{{customConsumer}}
                      </h1>
                  </div>
                  <div class="col-xs-12 col-lg-5">
                      <h1 class="activeSinceFleet" *ngFor="let consumer of consumerList">Active Since: {{ consumer.startDate }}
                      </h1>
                  </div>
              </div>
              </ng-container>
              <ng-container  *ngIf="searchByConsumer === 'Onwardfleet'">
                  <div class="row">
                      <div class="col-xs-12 col-lg-4">
                          <h1 class="activeSinceFleet">Onward Connected
                          </h1>
                      </div>
                      <div class="col-xs-12 col-lg-8">
                          <h1 class="activeSinceFleet" *ngFor="let consumer of consumerList">Active Since: {{ consumer.startDate }}
                          </h1>
                      </div>
                  </div>
            </ng-container>
            <ng-container  *ngIf="searchByConsumer === 'Smallboard'">
              <div class="row">
                  <div class="col-xs-12 col-lg-4">
                      <h1 class="activeSinceFleet">Smallboard
                      </h1>
                  </div>
                  <div class="col-xs-12 col-lg-8">
                      <h1 class="activeSinceFleet" *ngFor="let consumer of consumerList">Active Since: {{ consumer.startDate }}
                      </h1>
                  </div>
              </div>
        </ng-container>
          </ng-container>
          <!-- <ng-container *ngIf="user === 'role_user_fleet'">
            <div class="row consumer-pad">
              <div class="col-xs-12 col-lg-7">
                  <div class="content-text" style="margin-left: 12px; margin-top: 12px;">
                      <span class="vin_container">
                        <span class="content-sub-text">Fleet Id</span>
                      </span>
                      <span class="content-sub-text2">{{ selectedFleetDisplay || fleetIdValueNew }}</span>
                    </div>
              </div>
              </div>
          </ng-container> -->
          <ng-container *ngIf="user ==='role_Driver'">
            <div class="row consumer-pad">
              <div class="col-xs-12 col-lg-7">
                  <div class="content-text" style="margin-left: 12px; margin-top: 12px;">
                      <span class="vin_container">
                        <span class="content-sub-text">Fleet Id</span>
                      </span>
                      <span class="content-sub-text2">{{fleetIdValueNew}}</span>
                    </div>
              </div>
              </div>
          </ng-container>
        </div>

        <!-- Adjusted layout: ensure total 12 cols whether filter is visible or not -->
        <div class="col-xs-12 col-lg-4">&nbsp;</div>
        <div class="col-xs-12 col-lg-2 mr-6" *ngIf="user !='role_user_fleet' && user !='role_Driver' && user != 'role_org_group'">
          <ng-select [searchable]="true" class="newSelect1" (clear)="clearFleetSelection()" [clearable]="true"
            placeholder="Organization Id/Name" (change)="selectFleetId()" [(ngModel)]="fleetIdData">
            <ng-option *ngFor="let fleet of fleetList" [value]="fleet.id">{{fleet.id}} - [{{fleet.name}}]</ng-option>
          </ng-select>
        </div>
        <!-- If filter hidden for role, add empty 2-col to complete the 12-grid -->
        <div class="col-xs-12 col-lg-2" *ngIf="user === 'role_user_fleet' || user === 'role_Driver' || user === 'role_org_group'">&nbsp;</div>
        <!-- Group selection disabled on Trip Planning per request
        <div class="col-xs-12 col-lg-2 mr-6">
          <ng-select
            [searchable]="true"
            class="newSelect1"
            [clearable]="true"
            placeholder="Group Name"
            [items]="groupList"
            bindLabel="name"
            bindValue="id"
            [(ngModel)]="groupIdData"
            (change)="onGroupIdChange($event)">
            <ng-template ng-option-tmp let-item="item">
              <span [ngStyle]="{ 'padding-left.px': item.level * 18 }">
                {{ item.name }}
              </span>
            </ng-template>
          </ng-select>
        </div>
        -->
      </div>
      <!-- Consumer and Fleet Id Filter end -->

        <div class="row">
          <div class="col-12 d-flex align-items-center justify-content-end mt-4">
            <!-- Create Trip Button -->
            <button class="btn btn-primary d-flex align-items-center"   routerLink="/adlp/admin/admindashboard/trip-planning/create-trip">
              <i class="fas fa-plus me-2"></i>
              <span>Create Trip</span>
            </button>
          </div>
        </div>

        <div class="row mt-3">
          <!-- Time Period Dropdown -->
          <div class="col-12 col-lg-4">
            <ng-select
              bindLabel="label"
              bindValue="value"
              placeholder="Select Time Period"
              [(ngModel)]="selectedPeriod"
              (change)="onTimePeriodChange($event)"
              class="newSelect timePeriod current-month-dropdown"
              style="font-family: 'Poppins' !important;"
            >
              <ng-option *ngFor="let period of timePeriods" [value]="period.value">
                {{period.label}}
              </ng-option>
            </ng-select>
          </div>

          <!-- Trip Status Select -->
          <div class="col-12 col-lg-4">
            <ng-select
              [(ngModel)]="selectedStatus"
              bindLabel="name"
              bindValue="value"
              [multiple]="true"
              placeholder="Select Trip Status"
              (change)="onStatusChange()"
            >
              <ng-option *ngFor="let status of tripStatuses" [value]="status.value">
                {{ status.name }}
              </ng-option>
            </ng-select>
          </div>

          <!-- Trip Name Input -->
          <div class="col-12 col-lg-4">
            <input
              class="form-control input-vins"
              maxlength="17"
              [(ngModel)]="tripName"
              type="text"
              (keyup.enter)="findTripDetails()"
              (input)="findTripDetailsOnChange()"
              placeholder="Search by Trip Name"
            />
          </div>
        </div>



        <!-- Table for Trip Details -->
        <div class="row mr-table" style="margin-top: 24px">
          <div class="col-lg-12 col-xs-12">
            <div class="table-responsive table-b">
              <table class="table">
                <thead class="table-head">
                  <tr>
                    <th style="width: 15%;">Name</th>
                    <th style="width: 15%;">Start Location</th>
                    <th style="width: 15%;">Scheduled Start Time</th>
                    <th style="width: 15%;">Status</th>
                    <th style="width: 7%;">Total Stops</th>
                    <th style="width: 15%;">Driver Name</th>
                    <th style="width: 20%;">Vehicle Name</th>
                    <th class="text-center" style="width: 15%;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="loading">
                    <tr>
                      <td colspan="9">
                        <h5 class="heading-c">Loading...</h5>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="!loading && trips.length > 0">
                    <tr *ngFor="let trip of trips">
                      <td>{{ trip.tripName }}</td>
                      <td>
                        {{ trip.deliveryLocations[0]?.streetAddress || 'N/A' }},
                        {{ trip.deliveryLocations[0]?.city || 'N/A' }},
                        {{ trip.deliveryLocations[0]?.state || 'N/A' }}
                      </td>
                      <td>{{ convertToTimeZone(trip.tripStartDateTime, trip.timeZone)}}</td>

                      <td >{{ formatStatus(trip.status) }}</td>
                      <td>{{ getTotalStops(trip.deliveryLocations) }}</td>
                      <td>
                        <ng-container *ngIf="trip.driverId; else noDriver">
                          {{ trip.driverName }}
                        </ng-container>
                        <ng-template #noDriver>
                          NA
                        </ng-template>
                      </td>
                      <td>
                        <ng-container *ngIf="trip.vinAlias; else noVehicle">
                          {{ trip.vinAlias }}
                        </ng-container>
                        <ng-template #noVehicle>
                          <a [routerLink]="['/adlp/admin/admindashboard/trip-planning/assign-vehicle-to-trip', trip.id]"
                          style="color: red; text-decoration: underline;">
                          Assign Vehicle
                        </a>
                        </ng-template>
                      </td>
                      <td class="text-center">
                        <div class="btn-group" role="group">

                          <button class="btn btn-info btn-sm" [routerLink]="['/adlp/admin/admindashboard/trip-planning/view', trip.id]">
                            <i class="fas fa-eye"></i>
                          </button>
                          <button class="btn btn-info btn-sm" [routerLink]="['/adlp/admin/admindashboard/trip-planning/edit', trip.id]">
                            <i class="fas fa-edit"></i>
                          </button>
                          <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal" (click)="setTripToDelete(trip.id,trip.status)">
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="!loading && trips.length === 0">
                    <tr>
                      <td colspan="9">
                        <h5 class="heading-c">No Data Found ...</h5>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Table for Trip Details End -->

        <!-- Pagination -->
        <div class="mt-2 text-end pagination-h">
          <!-- Number Pagination-->
          <span *ngIf="pages?.length <=9" class="f-le">
            <div>
              <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm pag-color" aria-label="Pagination">
                <a (click)="selectPages(pageNumber - 1)" href="javascript:(Void)" [class.disabled]="pageNumber == 1"
                  class="page pointer relative inline-flex items-center rounded-l-md px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                  <span class="sr-only">Previous</span>
                  <img src="../../../../../assets/images/left-img.svg">
                </a>


                <ng-container *ngFor="let page of pages">
                  <a [class.isActive]="page == pageNumber" href="javascript:(void)" [ngClass]="{'pointer' : page != '...'}"
                    aria-current="page" (click)="selectPages(page)" class=" px-4 py-2 pageination-number">{{page}}
                  </a>
                </ng-container>


                <a (click)="selectPages(pageNumber + 1)" [class.disabled]="pageNumber == totalPages"
                  class=" page pointer relative inline-flex items-center rounded-r-md px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                  <span class="sr-only">Next</span>
                  <img src="../../../../../assets/images/right.svg">
                </a>
              </nav>
            </div>
          </span>
          <span *ngIf="pages?.length >9" class="f-ri">
            <div>
              <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                <a (click)="selectPages(pageNumber - 1)" [class.disabled]="pageNumber == 1"
                  class="page pointer relative inline-flex items-center rounded-l-md px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                  <span class="sr-only">Previous</span>
                  <img src="../../../../../assets/images/left-img.svg">
                </a>

                <ng-container *ngFor="let page of pages">
                  <a [class.isActive]="page == pageNumber" *ngIf="( (page < pages.length && page  > 1))" aria-current="page"
                    (click)="selectPages(page)"
                    [ngStyle]="{'display': ((page > pageNumber+1 ||  page < pageNumber-1) && page < (pages.length)) ? 'none':''}"
                    class=" px-4 py-2 pageination-number">{{page}}
                  </a>
                </ng-container>

                <ng-container *ngIf="pageNumber < (pages.length-2)">
                  <a aria-current="page" (click)="selectPages(pageNumber+1)"
                    class="page relative z-10 inline-flex items-center  px-4 py-2 text-sm font-medium text-indigo-600 focus:z-20 active:bg-blue-700 focus:bg-blue-500 hover:bg-blue-700 hover:text-white ">{{"."}}
                  </a>
                </ng-container>

                <ng-container>
                  <a aria-current="page" [class.isActive]="(pageNumber == pages.length )" (click)="selectPages(pages.length)"
                    class=" px-4 py-2 pageination-number">{{pages.length}}
                  </a>
                </ng-container>

                <ng-container *ngFor="let page of pages">
                  <a [class.isActive]="page == pageNumber" class="page-display" aria-current="page"
                    (click)="selectPages(page)" class=" px-4 py-2 pageination-number">{{page}}
                  </a>
                </ng-container>


                <a (click)="selectPages(pageNumber + 1)" [class.disabled]="pageNumber == totalPages"
                  class=" page relative inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                  <span class="sr-only">Next</span>
                  <img src="../../../../../assets/images/right.svg">
                </a>
              </nav>
            </div>
          </span>
          <!-- Number Pagination End-->
           <!-- Page Size Pagination-->
          <span class="f-ri">
            <select class="form-select" (change)="selectPage($event.target.value)" [(ngModel)]="pageSize">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="40">40</option>
              <option value="80">80</option>
              <option value="100">100</option>
            </select>
          </span>
          <span class="pageination">Per Page</span>
           <!-- Page Size Pagination End-->
        </div>
        <!-- Pagination End -->
      </div>
    </div>
    <!-- Right Side Content End -->
  </div>
</div>
<!-- Live Tracking Component End -->

<!-- Delete Confirmation Modal -->
<!-- Modal for Deleting Confirmation -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmModalLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <h6> Are you sure you want to delete this trip <strong><span style="color: red;">{{ tripStatus }}</span></strong>? This action cannot be undone.</h6>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Confirmation Modal End -->

<!-- Custom Date Range Modal -->
<div class="modal-overlay" *ngIf="isCardOpen">
  <div class="modal-card">
      <button (click)="closeCard()" class="close-button">X</button>
      <div class="row">
          <div class="col-3 option-column" style="margin-left: -20px; margin-right: 12px;">
              <div style="margin-top: 20px;">
                  <div class="option" [class.selected]="selectedOption === 'yesterday'"
                      (click)="handleOption('yesterday')">Yesterday</div>
                  <div class="option" [class.selected]="selectedOption === 'weekly'"
                      (click)="handleOption('weekly')">Current Week</div>
                  <div class="option" [class.selected]="selectedOption === 'monthly'"
                      (click)="handleOption('monthly')">Current Month</div>
                  <div class="option" [class.selected]="selectedOption === 'lastmonth'"
                      (click)="handleOption('lastmonth')">Previous Month</div>
                  <div class="option" [class.selected]="selectedOption === 'customRange'"
                      (click)="handleOption('customRange')">Custom Range</div>
              </div>
          </div>

          <div class="col-9" style="margin-top:20px;">
              <!-- Display calendar only if 'custom-range' is selected -->
              <app-calendar (dateRangeSelected)="onDateRangeSelected($event);closeCard()"></app-calendar>
          </div>
      </div>
  </div>
</div>
