<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#fff" type="ball-elastic-dots" [fullScreen]="true" >
  <div class="custom-spinner">
    <img src="../../../../../assets/images/spinner3.svg" alt="Your Logo">
  </div>
  <div class="loading-text">Please wait, we are getting information...</div>
</ngx-spinner>

<div class="page-content page-content-main">
  <div class="row" style="margin-left: -31px; margin-right: 0px;">
    <div class="col-xs-12 col-lg-12">
      <span class="breadcrumb-left"></span>
      <span class="breadcrumb-right mr-8">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/adlp/admin" class="breadcrumb-h6">
              <i class="bx bx-home-circle"></i>
            </a>
          </li>
          <li class="breadcrumb-item inactive-bread">
            <a routerLink="/adlp/admin/admindashboard/dashboardfleet">Dashboard</a>
          </li>
          <li class="breadcrumb-item text-selected inactive-bread">
            <a routerLink="/adlp/admin/admindashboard/trip-planning/pre-optimization-trips">Route Optimization</a>
          </li>
          <li class="breadcrumb-item text-selected active-bread">Optimize</li>
        </ol>
      </span>
    </div>
  </div>

  <div class="container mt-4">
    <div class="card" style="width: 100%;">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Route Optimization for Trip</h4>
      </div>
      <!-- <div class="ml-3 mt-3" style="margin-left: 179px;">
        <button class="btn btn-primary btn-lg btn-optimize" (click)="onOptimizeTrip()">
          Route Optimization for Trip
        </button>
      </div> -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <form (ngSubmit)="onSubmit()">
              <div class="scrollable-list" cdkDropList (cdkDropListDropped)="drop($event)">
                <table class="table table-bordered table-hover align-middle">
                  <thead class="table-dark text-light">
                    <tr>
                      <th scope="col" class="text-center">#</th>
                      <th scope="col">Route Sequence</th>
                      <th scope="col">Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let location of tripData?.deliveryLocations"
                      cdkDrag
                      [cdkDragDisabled]="location.sequence === 0"
                      [ngClass]="{'start-row': location.sequence === 0}">
                      <td class="text-center">
                        <span class="badge bg-primary fs-4 p-2">
                            <i class="fa fa-sort" aria-hidden="true" *ngIf="location.sequence !== 0"></i> <!-- Default icon for other locations -->
                            <i class="fas fa-star" aria-hidden="true" *ngIf="location.sequence === 0"></i> <!-- Different icon for Start location -->
                            {{ location.sequence + 1 }}
                        </span>
                    </td>
                      <td class="text-center">
                        <ng-container *ngIf="location.sequence === 0; else stopSequence">
                          <span class="start-icon"><i class="fas fa-star"></i></span> <!-- Star icon for emphasis -->
                          <strong class="text-primary">Start</strong>
                        </ng-container>
                        <ng-template #stopSequence>
                          <strong class="text-primary">Stop {{ location.sequence+1 }}</strong>
                        </ng-template>
                      </td>
                      <td *ngIf="location.streetAddress">
                        <div class="d-flex flex-column">
                          <div class="fw-bold fs-5">
                            <i class="fas fa-map-marker-alt text-danger me-2"></i>
                            {{ location.streetAddress }}
                          </div>
                          <div class="text-muted">{{ location.city }}, {{ location.state }} {{ location.zipcode }}</div>
                        </div>
                      </td>
                    </tr>
                    <tr *ngIf="!tripData?.deliveryLocations.length">
                      <td colspan="3" class="text-center text-muted">No locations found.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="mt-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg px-5" (click)="saveAndNext()" aria-label="Save Route">
                  <i class="fas fa-check-circle"></i> Save Route
                </button>
              </div>
            </form>
          </div>

          <div class="col-md-6 sticky">
            <agm-map [latitude]="latitudeMap" [longitude]="longitudeMap" [zoom]="zoom" class="map-height">
              <agm-marker *ngFor="let deliveryLocation of deliveryLocationPoint"
                [latitude]="deliveryLocation.lat"
                [longitude]="deliveryLocation.lng"
                [iconUrl]="getMarkerUrl(deliveryLocation.label)">
              </agm-marker>
              <agm-circle [latitude]="latitudeMap" [longitude]="longitudeMap" [radius]="30"
                          [fillColor]="'#ef8321'" [circleDraggable]="false" [editable]="false">
              </agm-circle>
              <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#0000FF'">
                <agm-polyline-point *ngFor="let coordinate of waypoints"
                                    [latitude]="coordinate.lat"
                                    [longitude]="coordinate.lng">
                </agm-polyline-point>
              </agm-polyline>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
