.consumer {
  color: #9fa19f !important;
  font-family: "Poppins" !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  margin-top: -6px;
}
.content-sub-text {
  background: #fa751a;
  padding: 1px 6px;
  font-size: 14px;
  color: white;
  font-weight: 500;
  font-family: 'Poppins';
}


.failedData{
  font-size: 14px!important;
  font-weight: 600!important
 }
.content-sub-text2 {
  color: #fa751a;
  font-weight: 600;
  font-size: 14px;
  padding: 5px;
  font-family: 'Poppins';
}
.collision-icon{
  height:16px!important;
  cursor: pointer;
}
.dtc-icon{
  font-size: 18px;
  color: red;
  padding-top: 5px;
}

.collision-icon{
  height:16px!important;
  cursor: pointer;
  margin-top: 0px !important;
}


.content-right {
  flex-grow: 1; /* Allows expansion */
  width: 84%!important;
}

.chart-container {
  position: relative; // This ensures the inner circle can be positioned relative to the chart
}


.collision-main{
  margin-top: 4px!important;
  margin-left: -6px!important;
  cursor: pointer;
  width: 46px!important;
  height: 23px!important;
}


.dropdown-active{
  border:none!important;
  color: #989EA5 !important;
  font-weight: 500 !important;
}
.dropdown-active.active{
  border:none!important;
  color: #989EA5 !important;
  font-weight: 500 !important;
}
.dropdown-active:hover{
  border:none!important;
  color: #989EA5 !important;
  font-weight: 500 !important;
}

.vin-align{
height: 36px;
border-radius: 10px;
}

.failedes {
  color: rgb(183, 183, 183);
  border: 1px solid rgb(183, 183, 183);
  border-radius: 20px;
  padding-top: 5px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 5px;
}

.me-lg-4 {
  margin-right: 2.5rem !important;
}

.pageination {
  float: right;
  margin-top: -6px;
  font-size: 12px;
  font-weight: 500;
  padding-left: 8px;
  margin-right: 6px;
  font-family: "Poppins";
}

.table {
  --bs-table-accent-bg: #ffffff !important;
}

.shadow-sm {
  box-shadow: none !important;
}

.a {
  font-size: 18px !important;
  font-weight: 600 !important;
  /* margin-top: 46px; */
  font-family: 'Poppins' !important;
  color: #000000 !important;
}

.a:hover {
  font-size: 18px !important;
  font-weight: 600 !important;
  background-color: #102C53;
  font-family: 'Poppins' !important;
  color: #ffffff !important;
}

.active {
  color: #2CA67E;
  font-size: 18px;
}

.pending {
  color: #e19c18;
  font-size: 18px;
}

.failed {
  color: #ff0000;
  font-size: 18px;
}

.paused {
  color: #DD8C12;
  padding-left: 20px;
  border-radius: 25px;
  border: 1px solid #DD8C12;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.deactivated {
  color: #8A1010;
  border: 1px solid #8A1010;
  border-radius: 50px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.deactivationpending {
  color: #8A1010;
  padding-top: 5px;
  border: 1px solid #8a1010;
  border-radius: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.deactivationfailed {
  color: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 20px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.table th {
  color: #989EA5 !important;
  font-weight: 500 !important;
  text-align: left !important;
}

.table td {
  font-size: 11px !important;
  color: #000000 !important;
  font-family: 'system-ui' !important;
  font-weight: 500 !important;
}


::ng-deep.ng-select.ng-select-single .ng-select-container {
  // height: 45px !important;
  border-radius: 10px !important;
}

.pageination-number {
  font-size: 12px !important;
  color: #102C53 !important;
  font-weight: 500 !important;
  font-family: 'Poppins';
  padding: 5px 10px;
  /* Adjust padding as needed */
}

.pageination-number:hover {
  color: #ff0000 !important;
  text-decoration: none !important;
  /* Hover color */
}

.pageination-number.isActive {
  color: #ffffff !important;
  /* Active condition color */
  background-color: #102c53 !important;
  border-radius: 50%;
  font-weight: 700 !important;
}

.px-4 {
  padding-right: 0.8rem !important;
  padding-left: 1rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

tbody tr {
  height: 40px !important;
  border-bottom-color: #ffffff !important;
  /* Set the height of the table rows to 30px */
}

.consumer-pad {
  margin-top: -12px;
}

.content-section-heading {
  padding-top: 6%;
  padding-left: 6%;
  color: #3d3d3d;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Poppins';

  .text_number {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';

  }

  .text_number2 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
  }
}

.green-border {
  border: 1px solid #8cedcd !important;
}

.purple-border {
  border: 1px solid #8683ef;
}

.leaf-border {
  border: 1px solid #91c384;
}

.red-border {
  border: 1px solid #df7070;
}

.content-section-text {
  color: #808593;
  padding-left: 6%;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Poppins';
}

.box5 {
  height: 80px;
  border-radius: 12px;
  background-color: #ffffff;
}


.editable-vin{
  padding-left: 6px;
  height: 30px;
  border-radius: 5px;
  width: 85px;
  border: 2px solid #c9c4c4;
}
.table-column-width21 {
  width: 10%;
}

.table-column-width9 {
  width: 8.5%;
}

.table-column-width16 {
  width: 6%;
}

.table-column-width4 {
  width: 4%;
}

.dtc-icon{
  font-size: 18px;
    color: red;
    padding-top: 4px;
    margin-left: 0px;
}

.collision-icon{
  height: 18px;
    color: red;
    padding-top: 4px;
    margin-left: 0px;
}


.table-column-width6 {
  width: 13%;
}

.table-column-width {
  width: 10%;
}


.logo-img-ford{
  height: 13px;
  margin-top: 20px;
}

.logo-img-gm{
  height: 15px;
  margin-top: 20px;
}

.logo-img-stl{
  height: 14px;
  margin-top: 20px;
}

.logo-img-toyota{
  height: 9px;
  margin-top: 23px;
}

.logo-img-tsl{
  height: 22px;
  margin-top: 16px;
}



.loading-background {
  background: linear-gradient(90deg, #f0f0f0 40%, #e0e0e0 60%, #f0f0f0 80%);
  background-size: 200% 150%;
  /* The background is wider than the element itself */
  animation: loading 1.5s infinite;
  width: 100px;
  /* The width of the element */
  height: 25px;
  /* The height of the element */
  display: inline-block;
  /* Ensure the background animation affects the element */
  overflow: hidden;
  /* Hide any overflow to keep the background within the element */
}

@keyframes loading {
  0% {
    background-position: 200% 0;
    /* Start the gradient off-screen to the right */
  }

  100% {
    background-position: -200% 0;
    /* Move the gradient to the left, off-screen */
  }
}

.table-wrapper {
  position: relative;
}

.ngx-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  /* Optional: Overlay color */
}

.custom-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewMorebtns {
  background: #ECECEC !important;
  width: 40px !important;
  height: 28px !important;
  border: NONE !important;
  border-radius: 26px !important;
  padding: 0px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  text-align: center !important;
  color: #ffffff !important;
  font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif;
  /* margin: 0px 0 0 !important; */
  display: inline-block !important;
  text-decoration: none !important
}

.button-icon {
  height: 4px;
  /* Adjust the height as needed */
  transition: opacity 0.3s ease;
}

.tooltip-button:hover .button-icon {
  content: url('/assets/images/orangeDot.svg');
}

.tooltips-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.button-icons {
  height: 20px;
  /* Adjust the height as needed */
  transition: opacity 0.3s ease;
}

.tooltips-button:hover .button-icons {
  content: url('/assets/images/orangeMarker.svg');
}

.viewMorebtns:hover {
  background: #ECECEC !important;
  width: 40px !important;
  height: 28px !important;
  border: NONE !important;
  border-radius: 26px !important;
  padding: 0px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  text-align: center !important;
  color: #ffffff !important;
  font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif;
  /* margin: 0px 0 0 !important; */
  display: inline-block !important;
  text-decoration: none !important
}

::ng-deep.ng-input {
  top: 8px !important
}

.sort-icon {
  background-color: #fff !important;
  border: none !important
}

.sort-icon-down {
  color: #ef8321 !important;
  font-size: 16px !important;
}

.sort-icon-up {
  font-size: 16px !important;
}

.heading-title {
  line-height: 33px !important;
  text-align: left !important;
  font-weight: 600 !important;
}

.mr-8 {
  margin-top: 8px !important
}

.loading-text {
  color: white;
}

::ng-deep.ng-input {
  top: 12px !important
}

.input-vins {
  text-transform: capitalize !important;
  border-radius: 10px !important;
  height: 45px !important;
  font-family: 'Poppins' !important;
}

.table-b {
  border-radius: 25px !important
}

.table-head {
  background-color: #fff !important;
  font-family: 'Poppins' !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #989EA5 !important
}


.pagination-h {
  height: 35px !important;
  margin-top: 15px !important;
}

.page-display {
  display: none !important;
}

.pag-color {
  background-color: none !important;
}

.newSelect1 {
  color: #9fa19f;
  width: 100%;
  height: 37px !important;
  background-size: 10px 12px !important;
  font-family: 'Poppins' !important;
  border-radius: 10px !important
}

::ng-deep.newSelect1 .ng-select-container {
  background-color: #FA751A !important;
}

::ng-deep.newSelect1.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #ffffff !important;
}

::ng-deep.newSelect1.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
  top: -2px;
  border-color: transparent transparent #ffffff !important;
  border-width: 0 5px 5px;
}

::ng-deep.newSelect1.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  color: #ffffff !important
}

::ng-deep.newSelect1.ng-select .ng-clear-wrapper {
  color: #ffffff !important;
}

::ng-deep.newSelect1.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: #fff transparent transparent !important;
  border-style: solid;
  border-width: 5px 5px 2.5px;
}

.remark-status{
color: #45b01f!important;font-size: 16px!important; text-align: center!important;
}

.unit-font{
  font-size: 12px!important; font-weight: 500!important; font-family: 'Poppins'!important
}

.loding-back{
  line-height: 25px!important
}

.failure-box{
 max-height: 150px!important; min-height: 50px!important; overflow: auto!important;
}

::ng-deep.tooltip {
  background-color: transparent !important;
  color: #ffffff !important;
  border-radius: 8px;
  margin-left: 50px;
  margin-bottom: -25px!important;
}

::ng-deep.tooltip .tooltip-inner {
  background-color: transparent !important;
  color: #ffffff !important;
  border-radius: 5px;
  padding: 2px 2px;
}

::ng-deep.tooltip .arrow::before {
  // border-right-color: #000000 !important; /* Adjust arrow color for right placement */
  // border-top-color: #000000 !important; /* Adjust for top placement */
}


/* Conditional Background Color for Pending */
::ng-deep .pending-tooltip + .tooltip .tooltip-inner {
  background-color: #e19c18 !important;
}

::ng-deep .pending-tooltip + .tooltip .arrow::before {
  border-right-color: #e19c18 !important;
  border-top-color: #e19c18 !important;
}

::ng-deep .pending-tooltip + .tooltip .tooltip-inner {
  background-color: #e19c18 !important;
}

::ng-deep .pending-tooltip + .tooltip .arrow::before {
  border-right-color: #e19c18 !important;
  border-top-color: #e19c18 !important;
}

::ng-deep .active-tooltip + .tooltip .tooltip-inner {
  background-color: #2CA67E !important;
}

::ng-deep .active-tooltip + .tooltip .arrow::before {
  border-right-color: #2CA67E !important;
  border-top-color: #2CA67E !important;
}

::ng-deep .failed-tooltip + .tooltip .tooltip-inner {
  background-color: #ff0000 !important;
}

::ng-deep .failed-tooltip + .tooltip .arrow::before {
  border-right-color: #ff0000 !important;
  border-top-color: #ff0000 !important;
}


::ng-deep .btn-tooltip + .tooltip .tooltip-inner {
  background-color: #000000 !important;
}

::ng-deep .btn-tooltip + .tooltip .arrow::before {
  // border-right-color: #000000 !important;
  // border-top-color: #000000 !important;
}

::ng-deep .custom-tooltip .tooltip-inner {
  background-color: red !important;
  color: white !important;
  width: 200px!important;
  white-space: pre-line !important;
  text-align: left; /* Center-align the "DTC" text */
  font-weight: 500;
  font-size: 8px!important;
  font-family: system-ui;
  padding: 5px;
  padding-left: 15px;
  margin-left: -120px;
  margin-top:-80px
}

::ng-deep .custom-tooltip .tooltip-arrow::before {
  border-bottom-color: red !important;
}


/* Ensure the tooltip content is formatted correctly */
.tooltip-content {
  display: block;
  width: 140px;
  text-align: justify;
}




.heading-popup{
  font-size: 12px;
  font-weight: 600;
  font-family: 'Poppins';
  color: #ffffff;
  padding: 6px;
  float: left;
}

.tooltip {
  max-width: 250px !important;
  width: 250px !important;
  border: none !important;
  box-shadow: none !important;
}
.tooltip-inner {
  padding: 10px;
  border: none !important;
  background: rgba(0, 0, 0, 0.8); /* Customize background if needed */
}



.heading-pupupdata{
  font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #FFFFFF;
    padding: 6px;
    float: left;
    text-align: left;
}
.remark-box {
  position:absolute;
  top: 30%; /* Adjusted for proper alignment */
  left: 20%;
  transform: translateX(-50%);
  background: #2CA67E;
  color: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 1000;
  min-width: 150px;
  max-width: 300px;
  text-align: left;
  white-space: nowrap;
}

.remark-header {
  font-weight: bold;
  margin-bottom: 5px;
}
