<!--Spinner for full page-->
<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#fff" type="ball-elastic-dots" [fullScreen]="true">
  <div class="custom-spinner">
    <img src="../../../../../assets/images/spinner3.svg" alt="Your Logo">
  </div>
  <div class="loading-text">Please wait, we are getting information...</div>
</ngx-spinner>
<!--Spinner for full page end-->
<!--Main content-->
<div class="page-content page-content-main">
  <div class="row sideMenuItem">
    <div class="container">
       <!-- Right side menu -->
       <div class="col-xs-12 content-right">
      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <span class="breadcrumb-left">
            <h1 class="login-headline heading-title">Fleet Summary
            </h1>
          </span>
          <span class="breadcrumb-right mr-8">
            <ol class="breadcrumb">
              <ng-container *ngIf="user != 'role_Driver'">
              <li class="breadcrumb-item">
                <a routerLink="/adlp/admin/admindashboard/dashboardfleet" class="breadcrumb-h6"><i
                    class="bx bx-home-circle"></i></a>
              </li>
              <li class="breadcrumb-item inactive-bread"> <a
                  routerLink="/adlp/admin/admindashboard/dashboardfleet">Dashboard</a></li>

              <li class="breadcrumb-item text-selected active-bread">Fleet Summary</li>
            </ng-container>
            </ol>
          </span>
        </div>
      </div>
      <!-- Left side heading and right side Breadcrumb end-->
      <!-- Consumer and Fleet Id Filter-->
      <div class="row consumer-pad">
        <div class="col-xs-12 col-lg-6 consumer mr-12">
          <ng-container *ngIf="user !='role_user_fleet' && user != 'role_Driver' && user != 'role_org_group'">
            <!-- <ng-container *ngIf="searchByConsumer != 'Onwardfleet'">
              <div class="row">
                  <div class="col-xs-12 col-lg-7">
                      <h1 class="activeSinceFleet">{{customConsumer}}
                      </h1>
                  </div>
                  <div class="col-xs-12 col-lg-5">
                      <h1 class="activeSinceFleet" *ngFor="let consumer of consumerList">Active Since: {{ consumer.startDate }}
                      </h1>
                  </div>
              </div>
              </ng-container> -->
              <!-- <ng-container  *ngIf="searchByConsumer === 'Onwardfleet'">
                  <div class="row">
                      <div class="col-xs-12 col-lg-4">
                          <h1 class="activeSinceFleet">Onward Connected
                          </h1>
                      </div>
                      <div class="col-xs-12 col-lg-8">
                          <h1 class="activeSinceFleet" *ngFor="let consumer of consumerList">Active Since: {{ consumer.startDate }}
                          </h1>
                      </div>
                  </div>
            </ng-container> -->
            <!-- <ng-container  *ngIf="searchByConsumer === 'Smallboard'">
              <div class="row">
                  <div class="col-xs-12 col-lg-4">
                      <h1 class="activeSinceFleet">Smallboard
                      </h1>
                  </div>
                  <div class="col-xs-12 col-lg-8">
                      <h1 class="activeSinceFleet" *ngFor="let consumer of consumerList">Active Since: {{ consumer.startDate }}
                      </h1>
                  </div>
              </div>
        </ng-container> -->
          </ng-container>
          <!-- <ng-container *ngIf="user ==='role_user_fleet' && user != 'role_org_group' ">
            <div class="row consumer-pad">
              <div class="col-xs-12 col-lg-7">
                  <div class="content-text" style="margin-left: 12px; margin-top: 12px;">
                      <span class="vin_container">
                        <span class="content-sub-text">Fleet Id</span>
                      </span>
                      <span class="content-sub-text2">{{fleetIdValueNew}}</span>
                    </div>
              </div>
              </div>
          </ng-container>
          <ng-container *ngIf="user ==='role_Driver'">
            <div class="row consumer-pad">
              <div class="col-xs-12 col-lg-7">
                  <div class="content-text" style="margin-left: 12px; margin-top: 12px;">
                      <span class="vin_container">
                        <span class="content-sub-text">Fleet Id</span>
                      </span>
                      <span class="content-sub-text2">{{fleetIdValueNew}}</span>
                    </div>
              </div>
              </div>
          </ng-container> -->
        </div>

        <div class="col-xs-12 col-lg-4">&nbsp;</div>
        <div class="col-xs-12 col-lg-2 mr-6" *ngIf="user !='role_user_fleet' && user !='role_Driver' && user != 'role_org_group'">
          <ng-select [searchable]="true" class="newSelect1" (clear)="clearFleetSelection()" [clearable]="true"
            placeholder="Organization Id/Name" (change)="selectFleetId()" [(ngModel)]="fleetIdData">
            <ng-option *ngFor="let fleet of fleetList" value="{{fleet.id}}">{{fleet.id}} - [{{fleet.name}}]</ng-option>
          </ng-select>
        </div>
        <!-- <ng-container *ngIf="user === 'role_user_fleet' || user === 'role_org_group'">
        <div class="col-xs-12 col-lg-2">&nbsp;</div>
      </ng-container> -->
        <!-- <div class="col-xs-12 col-lg-2 mr-6">
          <ng-select
          [searchable]="true"
          class="newSelect1"
          [clearable]="true"
          placeholder="Group Name"
          [items]="groupList"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="groupIdData"
          (change)="onGroupIdChange($event)">

          <ng-template ng-option-tmp let-item="item">
            <span [ngStyle]="{ 'padding-left.px': item.level * 18 }">
              {{ item.name }}
            </span>
          </ng-template>
        </ng-select>
        </div> -->
      </div>
      <!-- Consumer and Fleet Id Filter end-->
       <!-- Boxed for Total Data-->
       <div class="row" style="margin-top: 12px;">
        <div class="col-xs-12 col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <!--Total Activated Vehicle-->
                <div class="col-xs-12 col-md">
                  <div class="box5 green-border">
                    <div class="content-section-heading">
                      <span class="text_number loding-back">
                        <!-- Spinner -->
                        <span *ngIf="totalActiveVehicled === undefined && !noDataFound">
                          <i class="fa fa-spinner fa-spin icon-loading"></i>
                        </span>
                        <!-- No data -->
                        <span *ngIf="noDataFound" class="failedData">
                          No data found
                        </span>
                        <!-- Valid Data -->
                        <ng-container *ngIf="!noDataFound && totalActiveVehicled !== null && totalActiveVehicled !== undefined">
                          {{ totalActiveVehicled | number: '1.0-0' }}
                        </ng-container>

                      </span>
                    </div>
                    <div class="content-section-text">Total Active Vehicles</div>
                  </div>
                </div>
                <!-- Total Distance travelled-->
                <div class="col-xs-12 col-md">
                  <div class="box5 purple-border">
                    <div class="content-section-heading">
                      <span class="text_number loding-back">

                        <!-- Spinner -->
                        <span *ngIf="totalDistanceTravelled === undefined && !noDataFound">
                          <i class="fa fa-spinner fa-spin icon-loading"></i>
                        </span>

                        <!-- No data found -->
                        <span *ngIf="noDataFound" class="failedData">
                          No data found
                        </span>

                        <!-- Valid data -->
                        <ng-container *ngIf="!noDataFound && totalDistanceTravelled !== undefined && totalDistanceTravelled !== null">
                          {{ totalDistanceTravelled | number : '1.0-0' }}
                          <span class="unit-font">miles</span>
                        </ng-container>

                      </span>
                    </div>
                    <div class="content-section-text">Total Distance Travelled</div>
                  </div>
                </div>
                <!-- Total Trips Taken-->
                <div class="col-xs-12 col-md">
                  <div class="box5 leaf-border">
                    <div class="content-section-heading">
                      <span class="text_number loding-back">

                        <!-- Spinner -->
                        <span *ngIf="totalTripsTaken === undefined && !noDataFound">
                          <i class="fa fa-spinner fa-spin icon-loading"></i>
                        </span>

                        <!-- No data found -->
                        <span *ngIf="noDataFound" class="failedData">
                          No data found
                        </span>

                        <!-- Valid data -->
                        <ng-container *ngIf="!noDataFound && totalTripsTaken !== undefined && totalTripsTaken !== null">
                          {{ totalTripsTaken | number : '1.0-0' }}
                        </ng-container>

                      </span>
                    </div>
                    <div class="content-section-text">Total Trips Taken</div>
                  </div>
                </div>
                <!-- Total Fuel Consumed-->
                <div class="col-xs-12 col-md">
                  <div class="box5 red-border">
                    <div class="content-section-heading">
                      <span class="text_number loding-back">

                        <!-- Spinner -->
                        <span *ngIf="totalFuelConsumed === undefined && !noDataFound">
                          <i class="fa fa-spinner fa-spin icon-loading"></i>
                        </span>

                        <!-- No data found -->
                        <span *ngIf="noDataFound" class="failedData">
                          No data found
                        </span>

                        <!-- Valid data -->
                        <ng-container *ngIf="!noDataFound && totalFuelConsumed !== undefined && totalFuelConsumed !== null">
                          {{ totalFuelConsumed | number : '1.0-0' }}
                          <span class="unit-font">gal</span>
                        </ng-container>

                      </span>
                    </div>
                    <div class="content-section-text">Total Fuel Consumed</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Boxed for Total Data End-->
      <!-- VIN, OEM and satus filter -->
      <div class="row" style="margin-bottom: 12px; margin-top: -12px;" *ngIf="user != 'role_Driver'">
        <div class="col-12 col-lg-4">
          <input class="form-control input-vin font-common vin-align" maxlength="17" type="text"
         (keyup.enter)="selectConsumer($event)" [(ngModel)]="searchQuery" placeholder="Search by VIN / Vehicle Name"
         (keypress)="numbersOnlyUpto($event)">
        </div>
        <!-- <div class="col-12 col-lg-2">
          <input class="form-control input-vin font-common vin-align" maxlength="17" type="text"
          (keyup.enter)="selectConsumer($event)" [(ngModel)]="searchByVin" placeholder="Search Vehicle Name"
          (keypress)="numbersOnlyUpto($event)">
        </div> -->
        <!-- { id: 'ASLEEP', name: 'Dormant' },
        { id: 'AWAITING_CONSENT', name: 'Awaiting Consent' },
        { id: 'PAUSED', name: 'Paused' },
        { id: 'DEACTIVATED', name: 'Deactivated' },
        { id: 'DEACTIVATION_PENDING', name: 'Deactivation Pending' },
        { id: 'DEACTIVATION_FAILED', name: 'Deactivation Failed' } -->
        <div class="col-12 col-lg-2">
          <ng-select [items]="[
        { id: '', name: 'All Status' },
        { id: 'ACTIVE', name: 'Active' },
        { id: 'PENDING', name: 'Pending' },
        { id: 'FAILED', name: 'Failed' } ]" bindLabel="name" bindValue="id" placeholder="All Status" [(ngModel)]="searchByStatus"   (change)="searchbyStates()" class="font-common">
          </ng-select>
        </div>
        <div class="col-12 col-lg-2">
          <ng-select
          [items]="allOem"
          bindLabel="oem"
          placeholder="Search OEM"
          [(ngModel)]="searchByOem"
          class="font-common"
          (change)="selectConsumerData($event)">
        </ng-select>
        </div>
        <div class="col-xs-12 col-lg-2">
          <ng-select
          [items]="getFailureReasonsList"
          [(ngModel)]="failureReason"
          (change)="selectFailureResaon()"
          placeholder="Search Remarks"
          class="font-common">
        </ng-select>
        </div>
      </div>
      <!-- VIN, OEM and satus filter end -->
      <!-- Main data table-->
      <div class="row mr-table mr-6">
        <div class="col-lg-12 col-xs-12">
          <div class="table-wrapper">
            <div class="table-responsive table-b">
              <table class="table">
                <thead class="table-head">
                  <tr>
                    <th class="table-column-width4">Status</th>
                    <th class="table-column-width6">Vehicle Name</th>
                     <!-- <th class="table-column-width7">OEM</th> -->
                     <th class="table-column-width">VIN</th>
                      <th class="table-column-width">Data Source</th>
                    <th class="table-column-width16">Organization Name</th>
                    <!-- <th class="table-column-width16">Group Name</th> -->
                    <th class="table-column-width16">Total Trips</th>
                    <th class="table-column-width16">Total Miles</th>
                    <th class="table-column-width16">Last Odometer(mi)</th>
                    <th class="table-column-width16">Last Activity</th>
                    <th class="table-column-width">Last Trip
                      <span *ngIf="manageVehicleList?.length >= 0"  class="sort-icon"  (click)="sortByLastDriveTime()">
                        <i *ngIf="!sortByDateNew" class="bx bx-sort-down sort-icon-down"
                           [class.active-sort]="isActivity === 'dsc'"></i>
                        <i *ngIf="sortByDateNew" class="bx bx-sort-up sort-icon-up"
                           [class.active-sort]="isActivity === 'asc'"></i>
                      </span>

                    </th>
                    <th class="table-column-width9">View Summary</th>
                    <th class="table-column-width9">Alert</th>
                  </tr>
                </thead>
                <tbody>
  <!-- Loader -->
  <ng-container *ngIf="loading">
    <tr>
      <td colspan="11" class="text-center">
        <i class="fa fa-spinner fa-spin icon-loading" style="font-size: 20px;"></i>
      </td>
    </tr>
  </ng-container>

  <!-- When not loading and we have any vehicles -->
  <ng-container *ngIf="!loading && manageVehicleList?.length > 0">

    <!-- ===== ICE VEHICLE SECTION ===== -->
    <ng-container *ngIf="iceVehicles?.length > 0">
      <tr class="section-label">
        <td colspan="12">ICE Vehicle</td>
      </tr>
      <ng-container *ngFor="let fleetvehicledata of (iceVehicles | statusSearch:searchByStatus | search: searchText)">
        <ng-container *ngTemplateOutlet="vehicleRow; context: {$implicit: fleetvehicledata}"></ng-container>
      </ng-container>
    </ng-container>

    <!-- ===== EV VEHICLES SECTION ===== -->
    <ng-container *ngIf="evVehicles?.length > 0">
      <tr class="section-label">
        <td colspan="12">EV Vehicles</td>
      </tr>
      <ng-container *ngFor="let fleetvehicledata of (evVehicles | statusSearch:searchByStatus | search: searchText)">
        <ng-container *ngTemplateOutlet="vehicleRow; context: {$implicit: fleetvehicledata}"></ng-container>
      </ng-container>
    </ng-container>

    <!-- ===== HYBRID VEHICLES SECTION ===== -->
    <ng-container *ngIf="hybridVehicles?.length > 0">
      <tr class="section-label">
        <td colspan="12">Hybrid Vehicles</td>
      </tr>
      <ng-container *ngFor="let fleetvehicledata of (hybridVehicles | statusSearch:searchByStatus | search: searchText)">
        <ng-container *ngTemplateOutlet="vehicleRow; context: {$implicit: fleetvehicledata}"></ng-container>
      </ng-container>
    </ng-container>

  </ng-container>

  <!-- No data -->
  <ng-container *ngIf="!loading && (!manageVehicleList || manageVehicleList.length === 0)">
    <tr>
      <td colspan="11">
        <h5 class="failedData">No data found ...</h5>
      </td>
    </tr>
  </ng-container>

  <!-- ========= ROW TEMPLATE (your original row) ========= -->
  <ng-template #vehicleRow let-fleetvehicledata>
    <tr>
      <td>
        <div class="row">
          <div class="col-xs-12 col-lg-5">
            <button
              [ngClass]="getStatusClass(fleetvehicledata?.status)"
              [ngbTooltip]="tooltipContent"
              placement="right"
              triggers="manual"
              container="body"
              #t="ngbTooltip"
              style="border:none!important; background-color: #ffffff!important;"
              (mouseenter)="showRemarks = true; setRemarkData(fleetvehicledata); t.open()"
              (mouseleave)="showRemarks = false; t.close()">
              <i [ngClass]="getIcon(fleetvehicledata?.status)"></i>
            </button>

            <ng-template #tooltipContent style="border: none!important;">
              <div
                style="width: 300px; min-width: none!important; border-radius: 10px; margin-left: -40px;"
                [ngStyle]="{'background': getRemarkBoxColor(statusData), 'border': '8px solid ' + getRemarkBoxColor(statusData)}">
                <div class="row">
                  <div class="col-12">
                    <span class="heading-popup"> VIN: </span>
                    <span class="heading-pupupdata">{{ selectedVin }}</span>
                  </div>
                  <div class="col-12">
                    <span class="heading-popup"> Vehicle Name: </span>
                    <span class="heading-pupupdata">{{ selectedVehicleName }}</span>
                  </div>
                  <div class="col-12">
                    <span class="heading-popup"> Created On: </span>
                    <span class="heading-pupupdata">{{ createdOn }}, {{createdOnTime}}</span>
                  </div>
                  <div class="col-12">
                    <span class="heading-popup"> Status: </span>
                    <span class="heading-pupupdata" style="margin-top: 2px;" [ngStyle]="getStatusStyle(statusData)">
                      <i [class]="getIcon(statusData)"></i> {{ getTooltip(statusData) }}
                    </span>
                  </div>
                  <div class="col-12">
                    <span class="heading-popup"> Remarks: </span>
                    <span class="heading-pupupdata">{{ selectedFailureReason }}</span>
                  </div>
                  <div class="col-12" *ngIf="deviceId">
                    <span class="heading-popup"> Device Id: </span>
                    <span class="heading-pupupdata">
                      <img src="../../../../../assets/images/white-dongle.svg"> {{ deviceId }}
                    </span>
                  </div>
                  <div class="col-12" *ngIf="dashcamId">
                    <span class="heading-popup"> Dashcam Id: </span>
                    <span class="heading-pupupdata">
                      <img src="../../../../../assets/images/white-camera.svg"> {{ dashcamId }}
                    </span>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>

          <div class="col-xs-12 col-lg-6">
            <span *ngIf="fleetvehicledata?.lastActivity && fleetvehicledata?.lastDriveTime">
              <ng-container *ngIf="fleetvehicledata.lastActivity.getTime() < fleetvehicledata.lastDriveTime.getTime(); else showHeartbeat">
                <img src="../../../../../assets/images/trips-icons-new.svg" style="height: 18px; width:25px; color: #2CA67E; margin-top: 6px; margin-left: -3px;">
              </ng-container>
              <ng-template #showHeartbeat>
                <i class="fa fa-heartbeat" style="font-size: 16px; color: #2CA67E; margin-top: 5px;"></i>
              </ng-template>
            </span>
          </div>
        </div>
      </td>

      <td>
        <div class="row">
          <div class="col-xs-12 col-lg-7">
            <div *ngIf="!fleetvehicledata.isEditing" (click)="fleetvehicledata.isEditing = true" style="cursor: pointer;">
              {{ fleetvehicledata.alias.length <= 10
                ? fleetvehicledata.alias
                : fleetvehicledata.alias.length === 17
                  ? fleetvehicledata.alias.substring(0, 4) + '***' + fleetvehicledata.alias.slice(-3)
                  : fleetvehicledata.alias.substring(0, 4) + '...' + fleetvehicledata.alias.slice(-4)
              }}
              <img src="../../../../../assets/images/edit-icon.svg" style="height: 15px;" title="Edit vehicle name"><br>
            </div>
            <div *ngIf="fleetvehicledata.isEditing">
              <input type="text" class="editable-vin" [(ngModel)]="fleetvehicledata.alias" />
              <button (click)="update(fleetvehicledata)" style="background-color: #fff!important; border:none!important;">
                <img src="../../../../../assets/images/save-data.svg" style="height: 25px;" title="Save vehicle name">
              </button>
            </div>
          </div>

          <div class="col-xs-12 col-lg-3">
            <div style="display: flex; justify-content: center; align-items: center; margin-top: -18px;">
              <img
                *ngIf="fleetvehicledata?.logo"
                [src]="fleetvehicledata.logo"
                [ngClass]="{
                  'logo-img-ford': fleetvehicledata.provider === 'FORDPRO',
                  'logo-img-gm': fleetvehicledata.provider === 'GM',
                  'logo-img-stl': fleetvehicledata.provider === 'STELLANTIS' || fleetvehicledata.provider === 'CBX',
                  'logo-img-toyota': fleetvehicledata.provider === 'TOYOTA',
                  'logo-img-tsl': fleetvehicledata.provider === 'TESLA',
                  'logo-img-hino': fleetvehicledata.provider === 'HINO'
                }"
                alt="Provider Logo"
              />
            </div>
          </div>
        </div>
      </td>
      <td class="txt12 text">{{ fleetvehicledata?.vin || '--'}}</td>
       <td class="txt12 text">{{ fleetvehicledata?.provider === 'CBX' ? 'Dongles' : 'OEM Cloud' }}</td>
      <td>{{fleetvehicledata?.fleetName || '--'}}</td>
      <!-- <td>{{ fleetvehicledata?.groupName ?? '--' }}</td> -->

      <td *ngIf="fleetvehicledata?.totalTripCount !== null && fleetvehicledata?.totalTripCount !== undefined; else noData">
        {{fleetvehicledata.totalTripCount}}
      </td>
      <td *ngIf="fleetvehicledata?.totalDistance !== null && fleetvehicledata?.totalDistance !== undefined; else noData">
        {{fleetvehicledata.totalDistance | number: '1.2-2'}}
      </td>
      <td *ngIf="fleetvehicledata?.odometerReadings !== null && fleetvehicledata?.odometerReadings !== undefined; else noData">
        {{ fleetvehicledata.odometerReadings | number: '1.2-2' }}
      </td>
      <ng-template #noData>
        <td style="text-align: left;">--</td>
      </ng-template>

      <td>
        <ng-container *ngIf="fleetvehicledata?.formattedDateLastActivity && fleetvehicledata?.formattedTimeLastActivity; else defaultLastAct">
          {{ fleetvehicledata.formattedDateLastActivity }}, <br>
          {{ fleetvehicledata.formattedTimeLastActivity }}
        </ng-container>
        <ng-template #defaultLastAct>
          <ng-container *ngIf="fleetvehicledata?.lastActivity">
            {{ fleetvehicledata.lastActivity | date: 'MMM d, y' }}, <br>
            {{ fleetvehicledata.lastActivity | date: 'HH:mm' }}
          </ng-container>
        </ng-template>
      </td>

      <td>
        <ng-container *ngIf="fleetvehicledata?.formattedDate && fleetvehicledata?.formattedTime; else defaultDriveTime">
          {{ fleetvehicledata.formattedDate }}, <br>
          {{ fleetvehicledata.formattedTime }}
        </ng-container>
        <ng-template #defaultDriveTime>
          <ng-container *ngIf="fleetvehicledata?.lastDriveTime">
            {{ fleetvehicledata.lastDriveTime | date: 'MMM d, y' }}, <br>
            {{ fleetvehicledata.lastDriveTime | date: 'HH:mm' }}
          </ng-container>
        </ng-template>
      </td>

      <td>
        <div class="row">
          <ng-container *ngIf="fleetvehicledata?.status != 'FAILED' && fleetvehicledata?.status != 'AWAITING_CONSENT' && fleetvehicledata?.status != 'ASLEEP' && fleetvehicledata?.status != 'PAUSED' && fleetvehicledata?.status != 'PENDING' && fleetvehicledata?.status != 'DEACTIVATED' && fleetvehicledata?.status != 'DEACTIVATION_PENDING' && fleetvehicledata?.status != 'DEACTIVATION_FAILED'">
            <div class="col-xs-12 col-lg-6">
              <button (click)="vinSummary(fleetvehicledata.vin, fleetvehicledata.provider,fleetvehicledata.consumer, fleetvehicledata?.fleetId)"
                      class="viewMorebtns tooltip-button" placement="left" ngbTooltip="VIN Summary"
                      [ngClass]="{'btn-tooltip': fleetvehicledata?.status == 'ACTIVE'}">
                <img src="../../../../../assets/images/blackdot.svg" class="button-icon">
              </button>
            </div>
            <div class="col-xs-12 col-lg-6">
              <button (click)="viewMore(fleetvehicledata.vin, fleetvehicledata.provider)" class="viewMorebtns tooltip-button"
                      ngbTooltip="Trip History" placement="left"  [ngClass]="{'btn-tooltip': fleetvehicledata?.status == 'ACTIVE'}">
                <img src="../../../../../assets/images/blackmarker.svg" class="button-icons">
              </button>
            </div>
          </ng-container>
        </div>
      </td>

      <td>
        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <ng-container *ngIf="fleetvehicledata.dtcCodes?.length > 0">
              <button
                *ngIf="user == 'role_consumer_fleet'"
                [ngbTooltip]="formatDtcTooltip(fleetvehicledata.dtcCodes, customConsumer)"
                placement="top"
                container="body"
                tooltipClass="custom-tooltip"
                [autoClose]="false"
                class="viewMorebtns tooltips-button"
                style="background: #ffdada!important;">
                <i class='bx bx-bell dtc-icon'></i>
              </button>
            </ng-container>
          </div>

          <div class="col-xs-12 col-lg-6">
            <ng-container *ngIf="fleetvehicledata.collisionData?.collisionInLast30Days">
              <button class="viewMorebtns tooltips-button" style="background: #ffdada!important;"
                [ngbTooltip]="'Warning Detected\n' +
                (fleetvehicledata.formattedCollisionDate && fleetvehicledata.formattedCollisionTime
                  ? (fleetvehicledata.formattedCollisionDate + ' ' + fleetvehicledata.formattedCollisionTime)
                  : (fleetvehicledata.collisionData.collisionTimestamp | date: 'MMM d, y HH:mm'))"
                placement="left"
                (mouseenter)="tooltip.open()"
                (mouseleave)="tooltip.close()"
                #tooltip="ngbTooltip"
                tooltipClass="custom-tooltip"
                [autoClose]="false">
                <img src="../../../../../assets/images/collision-icon.svg" class="collision-icon">
              </button>
            </ng-container>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Main data table end-->
      <!-- Pagination for table-->
      <div class="mt-2 text-end pagination-h">
        <span *ngIf="pages?.length <=9" class="f-le">
          <div>
            <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm pag-color" aria-label="Pagination">
              <a (click)="selectPages(pageNumber - 1)" href="javascript:(Void)" [class.disabled]="pageNumber == 1"
                class="page pointer relative inline-flex items-center rounded-l-md px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                <span class="sr-only">Previous</span>
                <img src="../../../../../assets/images/left-img.svg" class="right-page-arrow">
              </a>
              <ng-container *ngFor="let page of pages">
                <a [class.isActive]="page == pageNumber" href="javascript:(void)"
                  [ngClass]="{'pointer' : page != '...'}" aria-current="page" (click)="selectPages(page)"
                  class=" px-4 py-2 pageination-number">{{page}}
                </a>
              </ng-container>
              <a (click)="selectPages(pageNumber + 1)" [class.disabled]="pageNumber == totalPages"
                class=" page pointer relative inline-flex items-center rounded-r-md px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                <span class="sr-only">Next</span>
                <img src="../../../../../assets/images/right.svg" class="right-page-arrow">
              </a>
            </nav>
          </div>
        </span>
        <span *ngIf="pages?.length >9" class="f-ri">
          <div>
            <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
              <a (click)="selectPages(pageNumber - 1)" [class.disabled]="pageNumber == 1"
                class="page pointer relative inline-flex items-center rounded-l-md px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                <span class="sr-only">Previous</span>
                <img src="../../../../../assets/images/left-img.svg" class="right-page-arrow">
              </a>
              <ng-container *ngFor="let page of pages">
                <a [class.isActive]="page == pageNumber" *ngIf="( (page < pages.length && page  > 1))"
                  aria-current="page" (click)="selectPages(page)"
                  [ngStyle]="{'display': ((page > pageNumber+1 ||  page < pageNumber-1) && page < (pages.length)) ? 'none':''}"
                  class=" px-4 py-2 pageination-number">{{page}}
                </a>
              </ng-container>
              <ng-container *ngIf="pageNumber < (pages.length-2)">
                <a aria-current="page" (click)="selectPages(pageNumber+1)"
                  class="page relative z-10 inline-flex items-center  px-4 py-2 text-sm font-medium text-indigo-600 focus:z-20 active:bg-blue-700 focus:bg-blue-500 hover:bg-blue-700 hover:text-white ">{{"."}}
                </a>
              </ng-container>
              <ng-container>
                <a aria-current="page" [class.isActive]="(pageNumber == pages.length )"
                  (click)="selectPages(pages.length)" class=" px-4 py-2 pageination-number">{{pages.length}}
                </a>
              </ng-container>
              <ng-container *ngFor="let page of pages">
                <a [class.isActive]="page == pageNumber" class="page-display" aria-current="page"
                  (click)="selectPages(page)" class=" px-4 py-2 pageination-number">{{page}}
                </a>
              </ng-container>
              <a (click)="selectPages(pageNumber + 1)" [class.disabled]="pageNumber == totalPages"
                class=" page relative inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                <span class="sr-only">Next</span>
                <img src="../../../../../assets/images/right.svg" class="right-page-arrow">
              </a>
            </nav>
          </div>
        </span>
        <span class="f-ri mr--12">
          <select class="form-select" (change)="selectPage($event.target.value)" [(ngModel)]="pageSize">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="80">80</option>
            <option value="100">100</option>
          </select>
        </span>
        <span class="pageination">Per Page</span>
      </div>
      <!-- Pagination for table end-->
    </div>
    <!-- Right side menu end-->
  </div>
</div>
<!--Main content-->
<!--Failure reason when click on info-->
<ng-template #remarks let-modal class="modal-width">
  <div class="modal-header">
    <h5 class="modal-title mt-0 font-weight-bold">Failed Reason</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12 col-lg-12 failure-box">
        {{selectedFailureReason}}
      </div>
    </div>
  </div>
</ng-template>
<!--Failure reason when click on info end-->
