<!--Page main content-->
  <div class="page-content page-content-main">
    <div class="row sideMenuItem" style="margin-top: -12px;">
      <div class="container">
       <!--Right  side content-->
       <div class="col-xs-12 content-right mrtop-20">
          <!-- Breadcrumb and Filter-->
      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <span class="breadcrumb-left">
            <h1 class="login-headline heading-title">Live Tracking</h1>
          </span>
          <span class="breadcrumb-right" style="margin-top: 6px;">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/adlp/admin/admindashboard/dashboardfleet/fleet-tracking"><i
                    class="bx bx-home-circle"></i></a></li>
              <li class="breadcrumb-item text-selected" aria-current="page" style="color: #f37721;">Live Trip</li>
            </ol>
          </span>
        </div>
      </div>
       <!-- Breadcrumb and Filter End-->
          <!--Right Side Main Content-->
      <div class="row" style="margin-top: 12px;">
        <div class="col-xs-12 col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="row" style="margin-bottom: 6px; ">
                <div class="col-xs-12 col-lg-9">
                  <h5 class="current-location-heading">Current Location:
                    <span class="current-address-heading">{{firstAddressPart}},{{secondAddressPart}}</span>
                  </h5>
                </div>
                <div class="col-xs-12 col-lg-3">
                  <button href="javascript:(void)" (click)="currentTripHistory()" class="histroy-link">Trip
                    History</button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-lg-4 col red-box mr-pad"> Vehicle Name: <span style="font-weight: 400!important; font-size: 14px;">{{alias}} </span><br>
                  Driver Name:
                <ng-container *ngIf="driver_name === 'null null'">--</ng-container>
                <ng-container *ngIf="driver_name != 'null null'"><span style="font-weight: 400!important; font-size: 14px;">{{driver_name}}</span></ng-container>
              </div>
                <div class="col-xs-12 col-lg-4">&nbsp;</div>
                <div class="col-xs-12 col-lg-2 col orange-box">
                  <div class="speed-heading">Speed</div>
                  <div class="speed-heading-data">{{alertTip?.speed ? (alertTip.speed | number:'1.2-2') :
                    0}} mph</div>
                </div>
                <div class="col-xs-12 col-lg-2 col new-red-box">
                  <div class="speed-heading">Acceleration</div>
                  <div class="speed-heading-data">{{alertTip?.acceleration ? (alertTip?.acceleration  | number:'1.2-2') : 0}} m/s<sup>2</sup>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-lg-12">
                  <ngx-spinner bdColor="rgba(0,0,0,0.2)" size="medium" color="#000000" type="ball-elastic-dots"
                    [fullScreen]="false">
                    <div class="custom-spinner">
                      <img src="../../../../../assets/images/spinner-3.svg" alt="Your Logo">
                      <div class="loading-text">Please wait, we are getting
                        information...</div>
                    </div>
                  </ngx-spinner>
                  <agm-map
                  [latitude]="latitude"
                  [longitude]="longitude"
                  [zoom]="zoom"
                  class="map-height"
                  [styles]="mapStyles"
                  [mapTypeId]="currentMapType">

                 <!-- Marker at the end location -->
                 <agm-marker
                 [latitude]="LatLng?.endLat"
                 [longitude]="LatLng?.endLong"
                 [iconUrl]="{
                   url: './assets/images/small-icon.png',
                   scaledSize: { width: 20, height: 20 }
                 }"
                 [markerDraggable]="false"
                 [agmFitBounds]="true">
               </agm-marker>

               <!-- Snapped Polyline (aligned to roads) -->
               <agm-polyline
                 *ngIf="snappedWaypoints && snappedWaypoints.length > 0"
                 [strokeColor]="'#07b57a'"
                 [strokeWeight]="2">
                 <agm-polyline-point
                   *ngFor="let snapped of snappedWaypoints"
                   [latitude]="snapped.lat"
                   [longitude]="snapped.lng">
                 </agm-polyline-point>
               </agm-polyline>

               <!-- Alert Markers -->
               <agm-marker
               *ngFor="let alert of alertMarkers"
               [latitude]="alert.lat"
               [longitude]="alert.lng"
               [iconUrl]="{
                 url: alert.iconUrl,
                 scaledSize: { width: 25, height: 25 }
               }"
               [markerDraggable]="false"
               title="alert?.title">
             </agm-marker>

                  <agm-circle
                    [latitude]="latitude"
                    [longitude]="longitude"
                    [radius]="30"
                    [fillColor]="'#ef8321'"
                    [circleDraggable]="false"
                    [editable]="false">
                  </agm-circle>
                </agm-map>
                <div class="map-controls">
                  <button (click)="toggleMapType()" class="map-toggle-button"
                    [ngClass]="{'roadmap-bg': currentMapType === 'roadmap', 'satellite-bg': currentMapType === 'satellite'}">
                    <span>{{ currentMapType === 'roadmap' ? 'Roadmap' : 'Satellite' }} </span>
                  </button>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
         <!--Right Side Main Content End-->
    </div>
     <!-- Right Side Content End-->
    </div>
  </div>
  </div>
