.top-sidebar{
  padding-left: 14px;
  padding-top: 7px;
  margin-top: 22px;
  width: 170px;
  margin-left: 22px;
  height: 35px;
  font-size: 14px!important;
  font-weight: 700;
  color: #000;
  background-color: rgba(238, 143, 49, 0.15)!important;
  border-radius: 8px;
  letter-spacing: 0.2px;
}


.map-controls {
  // position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000; /* Ensure it stays above the map */
  margin-top: -61px;
  margin-left: 10px;
}

.map-toggle-button {
  width: 78px;
  height: 60px;
  border: 2px solid #d0d2cc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #c2c4bf;
  background-size: cover;
  background-position: top;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.map-toggle-button span {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-bottom-left-radius: 2px;
  margin-left: -37px;
  background-color: #bebfba;
  color: #000;
  font-family: "Poppins";
  opacity: 0.8;
  font-weight:500;
  font-size: 12px;
  padding: 0px 0;
  border-bottom-right-radius: 2px;
}

.map-toggle-button:hover {
  opacity: 0.9;
}

.map-toggle-button:hover {
  opacity: 0.9;
}

.roadmap-bg {
  background-image: url('../../../../../../../../assets/images/road.jpg'); /* Replace with actual roadmap image path */
}

.satellite-bg {
  background-image: url('../../../../../../../../assets/images/satellite.jpeg'); /* Replace with actual satellite image path */
}


.page-content {
  padding: none!important
 }

.content-right {
  flex-grow: 1; /* Allows expansion */
  width: 84%!important;
}

.chart-container {
  position: relative; // This ensures the inner circle can be positioned relative to the chart
}


.red-box {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ef8321;
  color: white;
  padding: 10px;
  z-index: 999;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins'!important;
  width: auto;
}

.orange-box {
  top: 20px;
  right: 130px;
  background-color: #ebd2ba;
  color: #000;
  padding-top: 20px !important;
  z-index: 999;
  border-radius: 50%;
  height: 80px;
  width: 98px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.new-red-box {
  top: 20px;
  right: 20px;
  background-color: #ebd2ba;
  color: #000;
  padding-top: 20px !important;
  z-index: 999;
  border-radius: 50%;
  height: 80px;
  width: 98px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.mr-pad {
  margin-right: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  position: relative;
}
.col {
  padding: 10px;
}
.map-height {
  height: 500px; /* Adjust the height as needed */
  position: relative;
}

.alerts{
  margin-left: -20px;
  margin-right: -20px;
}

.alerts-background-blue{
  background-color: #4680FF;
  height: 80px;
  border-radius: 12px;
  padding: 13px;
}

.alerts-background-red{
  background-color: #FA751A;
  height: 80px;
  border-radius: 12px;
  padding: 13px;
}
.alerts-background-orange{
  background-color: #2CA87F;
  height: 80px;
  border-radius: 12px;
  padding: 13px;
}

.mr-row-12{
margin-top: 12px; margin-bottom: 12px;
}

.alerts-data{
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins';
  color:#fff
}

.top-headings {
  font-family: 'Neo Sans Pro', 'Helvetica', 'Arial', 'Lucida', sans-serif !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #000
}

::ng-deep.gm-style-iw{
  max-width: 648px;
  max-height: 431px;
  min-width: 0px;
  height: 290px!important;
  width: 270px!important;
  margin-top: 100px!important;
  margin-left: 188px!important;;
}

::ng-deep.agm-info-window-content{
  overflow: hidden!important;
}


.sidebar {
  width: 220px;
  background-color: #fff;
  color: #3B464F;
  // padding: 20px;
  border-right: 2.5px solid #E4E7EB;
  position: fixed;
  font-weight: 600!important;
  height: 100%;
  overflow: auto; /* Enable scrolling for the sidebar */
}

.sidebar a {
  display: block;
  padding-top: 3.6px !important;
  padding-left: 0px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding-bottom: 6px;
  text-decoration: none !important;
  color: #000000 !important;
  transition: background-color 0.2s !important;
  font-family: 'Poppins'!important;
}

.menu-image{
  height: 18px!important;
  margin-right: 6px!important;
}


.sidebar a:hover {
  background-color: #FCEEE1!important;
  border-radius: 5px;
  color:#000
}
/* app.component.css */

.menu-item {
padding-left: 25px!important;
padding-top: 16px!important;
cursor: pointer!important;
display: flex!important;
align-items: center!important;
padding-right: 30px !important;
font-weight: 600!important;
// line-height: 100px;
color: #3B464F!important;
font-size: 12px!important;
font-style: normal!important;
font-family: 'Neo Sans Pro 500',Helvetica,Arial,Lucida,sans-serif!important;
}
.menu-item.active {
color: #fff;
background: rgba(238, 143, 49, 0.15);
border-radius: 8px;
}


.menu-item:hover {
color:#000
}

.menu-item1 {
margin-left: -5px;
cursor: pointer;
display: flex;
padding-top: 4px;
align-items: center;
padding-right: 20px;
font-weight: 500;
color: #000;
font-size: 12px;
font-style: normal;
font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif!important;
}

.menu-item1:hover {
color:#000
}

.actives:after {
  margin-top: 0px;
  content: "";
  color: #fff;
  display: block;
  width: 24px;
  height: 2px;
  background: #ef8321;
  transition: width 0.3s;
  margin-left: 50%;
}

.user-icon {
  float: left;
  margin-top: -10px;
  margin-right: 10px;
}

.user-icon-font {
  font-size: 26px;
  font-weight: 400;
}

.icon {
  height: 20px;
  margin-top: 10px;
}

.line {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -6px;
}

::ng-deep.apexcharts-xaxis-label {
  color: #000000 !important;
  font-size: 10px !important;
  font-family: 'Poppins' !important;
  font-weight: 400 !important;
}

.f-le {
  float: left;
}

.f-ri {
  float: right;
  margin-top: 5px;
}

.view-more {
  font-size: 12px;
}

.top-heading {
  font-family: 'Neo Sans Pro', 'Helvetica', 'Arial', 'Lucida', sans-serif !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #000
}

::ng-deep.ng-select.ng-select-single .ng-select-container {
  height: 37px !important;
  border-radius: 10px !important;
}

.newSelect {
  color: #9fa19f;
  width: 100%;
  height: 37px !important;
  background-size: 10px 12px !important;
  font-family: "Poppins" !important;
  height: 37px !important;
  border-radius: 10px !important
}

.page-aling-l {
  float: left !important;
}

.page-align-r {
  float: right !important;
}

.page-mr-top {
  margin-top: 5px !important
}



/* Add this CSS to your styles.css (or your component's styles) */




.newFleet {
  background-color: #FA751A !important;
  border: 1px solid #FA751A;
  font-family: 'Poppins';
  color: #ffffff;
  width: 100%;
}


.card-heading {
  font-family: 'Poppins' !important;
  font-size: 0.900rem !important;
  font-weight: 500 !important;
  color: #000

}

.card-top-vehicle {
  height: 145px;
  border-radius: 12px;
  border: 1px solid #E7EAEE;
}

.me-lg-4 {
  margin-right: 2.5rem !important;
}

.card-mid-trip {
  height: 430px;
  border-radius: 12px;
  border: 1px solid #E7EAEE;
}

.remove-legends {
  height: 27px;
  margin-top: -47px;
  background-color: #fff;
  margin-left: 0px;
  z-index: 10;
  margin-right: 0px;
}

.card-mid-trips {
  height: 450px;
  border-radius: 12px;
  border: 1px solid #E7EAEE;
}

.heading-card {
  font-size: 16px !important;
  font-weight: 400 !important;
  font-family: 'Poppins' !important;
  color: #6C757E;
}


.data-value {
  font-size: 40px;
  font-weight: 500;
  color: #000;
  font-family: 'Poppins';
  padding-top: 52px;
}

.card-mid-trip-details {
  height: 188px;
  border-radius: 12px;
  border: 1px solid #E7EAEE;
}

.card-mid2-health {
  height: 60px;
  border-radius: 12px;
  border: 1px solid #E7EAEE;
}

.card-mid3-health {
  height: 400px;
  border-radius: 12px;
  border: 1px solid #E7EAEE;
}

.card-vehicle1 {
  background-color: #2CA87F;
  font-size: 16px;
  font-weight: 600 !important;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.card-vehicle1:hover {
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-align: center;
  text-decoration: none !important;
}

.card-vehicle2 {
  background-color: #FA751A;
  font-size: 16px;
  font-weight: 600 !important;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.card-vehicle2:hover {
  background-color: #fff;
  font-size: 16px;
  font-weight: 600 !important;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.card-vehicle3 {
  background-color: #4680FF;
  font-size: 16px;
  font-weight: 600 !important;
  color: #fff;
  text-align: center;
  text-decoration: none;

}

.card-vehicle3:hover {
  background-color: #fff;
  font-size: 16px;
  font-weight: 600 !important;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.text {
  text-decoration: none !important;
}

.months-text {
  font-size: 10px !important;
  color: #6C757E !important;
}

.icon-circle {
  font-size: 22px;
  color: #2CA87F;
}

.number-text {
  font-size: 28px;
  font-weight: 600;
  color: #000;
  font-family: 'Poppins'
}

.right-last-month {
  float: right;
  font-size: 12px;
  color: #6C757E;
  font-family: 'Poppins'
}

.arrow-up {
  float: right;
  margin-right: 12px;
}

.mr-top-30 {
  margin-top: 38px !important;
}

#legends {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.legend-color {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin-right: 5px;
  display: inline-block;
}

.ng-select ::ng-deep .ng-option.disabled {
  cursor: default;
}

.legend-color-grye {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin-right: 5px;
  display: inline-block;
  color: #6C757E
}

.mr-top-24 {
  margin-top: 24px;
}

.mr-pad{
  margin-left: 12px;
  margin-top:12px
}

.grow-percent {
  font-size: 16px;
  font-weight: 600;
  color: #2CA87F;
  float: right;
  font-family: 'Poppins'
}

.less-percent {
  font-size: 16px;
  font-weight: 600;
  color: #ff0000;
  float: right;
  font-family: 'Poppins'
}

.chart-label {
  font-size: 11px;
  color: #000;
  font-family: 'Poppins';
}

.chart-label-grye {
  font-size: 13px;
  color: #D9D9D9;
  font-family: 'Poppins';
}

.chart-value {
  font-size: 15px;
  color: #000;
  font-family: 'Poppins';
  font-weight: 600;
  padding-left: 14px;
}

.packges-box {
  border-right: 1px solid #dbdcdd;
  height: 250px;
  margin-top: -16px;
}

.packges-box-1 {
  height: 250px;
  margin-top: -16px;
}

.packge-box-headig {
  float: left;
  padding: 3px 12px;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Poppins', 'Medium';
  color: #000;
}

.packages {
  font-size: 18px;
  line-height: 40px;
  font-family: 'Poppins' !important;
  font-weight: 400;
  color: #6C757E;
}

.heading-row {
  padding: 50px 0px 0px 50px;
}

.value-row {
  padding: 0px 0px 0px 96px;
}

.value-border {
  border-left: 2px solid #dbdcdd
}

.mr-12-left {
  margin-left: -30px
}

::ng-deep .chart-label-x {
  fill: #000000 !important;
  font-size: 11px !important;
  font-family: 'Poppins' !important;
}

::ng-deep .apex-charts text {
  color: #000000;
  text-shadow: none !important;
  font-family: 'Poppins' !important;
}

/* Custom CSS for the spinner and background overlay */
.custom-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-img {
  height: 345px;
  margin-top: -32px;
}

.no-img-idling {
  margin-top: 0px;
  height: 320px;
  margin-left: 32px;
}

.img-botrip {
  height: 389px;
  margin-top: -18px;
}

.ing-round {
  margin-left: 0px;
  height: 293px;
}

.img-aggresive {
  margin-top: 18px;
  height: 289px;
}

.fule-mileage {
  height: 227px;
  margin-top: 27px;
}

.ing-round-make {
  margin-top: -283px;
  margin-left: 0px;
  height: 293px;
}

.apexcharts-bar-series rect {
  stroke-width: 0 !important;
}

.loading-text {
  color: white;
}

/* Dark background overlay */
.ngx-spinner-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
.heading-title {
  line-height: 33px !important;
  text-align: left !important;
  font-weight: 600 !important;
}

.active-bread {
  font-size: 12px !important;
  color: #FA751A !important;
  font-weight: 500 !important;
  font-family: 'Poppins' !important;
}

.inactive-bread {
  font-size: 12px !important;
  color: #6C757E !important;
  font-weight: 400 !important;
  font-family: 'Poppins' !important;
}


.heading-title-small {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
}

.small-heading-fuel {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.bd-w {
  width: 52% !important;
}

.per-icon {
  height: 24px !important
}

.no-img-m {
  margin-top: -16px !important
}

.miles-chart {
  margin-left: -20px;
  margin-right: -15px;
}

.h-box {
  height: 300px !important;
}

.mr-t09 {
  margin-top: 9px !important;
}

.mr-15 {
  margin-top: -22px !important;
}

.mr-7 {
  margin-top: -7px !important
}

.mr-6 {
  margin-top: 6px;
}

.mr-co {
  color: grey !important
}

.options-icon {
  height: 18px;
  margin: 4px 10px 6px 0px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #ef8321!important;

  font-family: 'Poppins';
}

.nav-tabs .nav-link {
font-family: 'Poppins'!important;
}

.btn-tile-container {
display: flex;
padding-top: 10px;
}
.btn-tile {
height: 100px;
background-color: #fff;
border-radius: 12px;
font-size: 24px;
text-align: center;
align-items: center;
display: flex;
justify-content: space-between;
border: 1px solid #e7eaee;
width: 33.33%;
padding: 0 20px;
margin-right: 20px;
.btn-tile-no {
  font-size: 28px;
  color: #000 !important;
}
.btn-tile-text {
font-size: 16px;
}
}

.insights {
padding: 16px 24px !important;
height: auto !important;
text-align: left;
margin-bottom: 24px;
color: #fff;
}
.btn-tile-blue {
background-color: #4680ff;
}
.btn-tile-orange {
background-color: #fa751a;
}
.btn-tile-green {
background-color: #2ca87f;
}
.mr-40 {
margin-right: 40px;
}


.btn-check-history{
  float: right!important; margin-top: -16px!important;
  font-family: 'Poppins';
}

.card{
  border-radius: 10px!important;
   height: auto!important;
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
}

::ng-deep.apexcharts-legend-text {
  color: #000000 !important;
  font-family: 'Poppins' !important;
  font-size: 12px !important;
  font-weight: 600!important;
}

.table {

 --bs-table-striped-color: #495057!important;
 --bs-table-striped-bg: #d9d9d9!important;
 --bs-table-active-color: #f2f2f2!important;
}

.triangle .triangle-top-right {
  border-top: 100px solid #32557f;
  border-left: 100px solid transparent;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-color: #f8f8fb !important;
  background-color: #ffffff !important;
}

.page-h{
  padding-left: 17%!important;
  width: 100%!important;
}

.h-50{
  margin-top:50px!important
}

.map-height{
  height: 562px;
  margin-top: 20px;
}

.top-left {
  position: absolute;
  top: 82px;
  left: 510px;
}

.top-left-green{
  position: absolute;
  top: 306px;
  left: 484px;
}

.heading-box{
  padding-left: 7px;
  padding-right: 7px;
  background: #ef8321;
  font-size: 10px;
  font-weight: normal;
  font-family: "Poppins";
  color: #ffffff;
}

.heading-box-internal{
  font-size: 15px;
    font-weight: normal;
    font-family: 'Poppins';
    color:#ef8321;
    padding-left: 12px;
}
.heading-box-green{
  padding-left: 7px;
  padding-right: 7px;
  background: #45b01f;
  font-size: 10px;
  font-weight: normal;
  font-family: "Poppins";
  color: #ffffff;
}

.heading-box-internal-green{
  font-size: 15px;
    font-weight: normal;
    font-family: 'Poppins';
    color:#45b01f;
    padding-left: 12px;
}

.heading-box-internal-grey{
  font-size: 14px;
    font-weight: normal;
    font-family: 'Poppins';
    color:#989EA5;
    padding-left: 12px;
}

.left-panell{
  margin-left: -36px!important; margin-top: -19px!important;
}

.collapse0-widthP{
float: left!important; margin-left: 70px!important;
}

.histroy-link{
  font-size: 14px; font-weight: normal; font-family: 'Poppins'; color:#ef8321;
  background-color: #fff!important; border:1px solid #ef8321!important;
  padding:5px 5px 5px 10px; border-radius: 30px; float: right;
}

.pad-24{
  padding-left: 0px;
  padding-bottom: 12px;
  padding-top: 6px;
}

.pad-left-24{
  padding-left: 24px;
}

.popover {
  position: absolute;
  z-index: 100;
}

.tabLabel{
  margin-top: -66px!important;
   margin-left: -20px!important;
  margin-right: -20px!important;
}

.nav-item-label{
  font-family: 'Poppins'!important;
  position: relative!important;
}

.nav-link-sec{
 position: relative!important;
 overflow: hidden!important;
 width: 130px!important
}

.corner-border{
 position: absolute!important;
  top: -31px!important;
  right: -27px!important;
  border-right: 47px solid transparent!important;
  border-top: 72px solid #f8f8fb!important;
  transform: rotate(-35deg)!important;
}

.red-box {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ef8321;
  color: white;
  padding: 10px;
  z-index: 1000;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.orange-box {
  top: 20px;
  right: 130px;
  background-color: #ebd2ba;
  color: #000;
  padding-top: 20px !important;
  z-index: 999;
  border-radius: 50%;
  height: 80px;
  width: 98px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.new-red-box {
  top: 20px;
  right: 20px;
  background-color: #ebd2ba;
  color: #000;
  padding-top: 20px !important;
  z-index: 1000;
  border-radius: 50%;
  height: 80px;
  width: 98px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  position: relative;
}

.map-height {
  height: 500px; /* Adjust the height as needed */
  position: relative;
}

::ng-deep.gm-style-iw{
  max-width: 648px;
  max-height: 431px;
  min-width: 0px;
  height: 290px!important;
  width: 270px!important;
  margin-top: 100px!important;
  margin-left: 188px!important;;
}

::ng-deep.agm-info-window-content{
  overflow: hidden!important;
}

.ng-select ::ng-deep .ng-option.disabled {
  cursor: default;
}

.mr-top-24 {
  margin-top: 24px;
}

.mr-pad{
  margin-left: 12px;
  margin-top:12px;
  margin-right: 15px;
}

.custom-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-text {
  color: white;
}

.ngx-spinner-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.page-content-main {
  padding-top:0px!important;
  margin-top: 12px !important;
  margin-left: -12px !important;
  margin-right: -12px !important;
}

.heading-title {
  line-height: 33px !important;text-align: left !important;font-weight: 600 !important;
}

.card{
  border-radius: 10px!important;height: auto!important;border-top-left-radius: 0px!important;border-top-right-radius: 0px!important;
}

.histroy-link{
  font-size: 14px; font-weight: normal; font-family: 'Poppins'; color:#ef8321;
  background-color: #fff!important; border:1px solid #ef8321!important;padding:5px 5px 5px 10px;
  border-radius: 30px; float: right;
}


.current-location-heading{
 font-family: 'Poppins'!important; font-size: 14px!important; font-weight: 500!important; color:#000!important
}

.current-address-heading{
 font-size: 14px!important;font-weight: normal!important;font-family: 'Poppins'!important;color: #989EA5!important
}

.speed-heading{
  text-align: center!important; font-size: 12px!important; font-weight: 600!important; margin-top: 6px!important
}

.speed-heading-data{
  text-align: center!important; font-size:12px!important; font-weight: 500!important;
}
