
.form-select{
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
  border-radius: 0px!important;
  background: none!important;
}

.check-vin{
  line-height: 10px;
  text-align: center;
  padding-top: 10px;
  font-size: 10px;
  font-family: monospace;
  font-weight: 600;
}

.ok-btn{
  background: #FA751A;
    border: 2px solid #FA751A;
    color: #ffffff;
    font-family: 'poppins';
    font-size: 14px;
    width: 44px;
    border-radius: 7px;
}

.alerts-text{
  font-size: 12px;
  margin-left: -12px;
  margin-top: 10px;
  font-family: Poppins;
  font-weight: 500;
  color: #000000;
}

.heading-progressbar {
  font-size: 12px;
  text-transform: capitalize;
  font-family: 'Poppins';
  color: #000000;
  margin-bottom:4px;
  margin-top:12px
}

.vertical-line {
  position: relative;
}

/* Add these styles to your CSS */
.progress-black {
  background-color: black!important;
}

.progress-green {
  background-color: #45B01F!important;
}

.progress-red {
  background-color: red!important;
}


.progress-yellow {
  background-color: yellow!important;
}

.vertical-line::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #c4c4c4; /* You can replace #000 with the color of your choice */
  transform: translateX(-50%);
}

.box-oem{
    /* background-color: #f8f9fa; */
    height: 100px;
    border: 2px solid #eceef0;
    border-radius: 10px;
    height: 90px;
    text-align: center;
}

.box-oem-head{
font-size: 13px;
  font-weight: 600;
}

.button-container {
display: flex;
}

.button-oem {
height: 40px;
width: 85px;
font-size: 14px;
font-weight: 600;
text-align: center;
border-radius: 50px;
cursor: pointer;
background-color: #fff;
border:2px solid #ef8321;
color:#ef8321;
margin-left:6px;
margin-right:6px;
}

.button-oem.active {
height: 40px;
width: 85px;
font-size: 14px;
font-weight: 600;
text-align: center;
border-radius: 50px;
cursor: pointer;
color:#fff;
background-color: #ef8321;
border:2px solid #ef8321;
margin-left:6px;
margin-right:6px;
}

.box-oem-year{
font-size: 15px;
  font-weight: 600;
}

.actives {
  color:#fff;

 }

 .heading-status{
  text-align: left!important; color: rgb(205, 207, 205)!important; font-size: 14px!important; font-weight: 600!important; font-family: 'Poppins'!important;
 }

 .heading-status-true{
  text-align: left!important; color: #45b01f!important; font-size: 14px!important; font-weight: 600!important; font-family: 'Poppins'!important;
 }

 .heading-status-nodata{
  text-align: left!important; color: rgb(217, 218, 217)!important; font-size: 14px!important; font-weight: 600!important; font-family: 'Poppins'!important;
 }

 .heading-status-no{
  text-align: left!important; color: #ff0000!important; font-size: 14px!important; font-weight: 600!important; font-family: 'Poppins'!important;
 }

 .eligible-vin{
  background: #eeecec!important;
  border-radius: 10px!important;
  height: 40px!important;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem!important;
 }

 .right-heading{
  text-align: right!important; color: green!important; font-size: 14px!important; font-family: 'Poppins'!important;
 }

 .left-heading{
  text-align: right!important; color: #ff0000!important; font-size: 14px!important;
 }
 .actives:after {
  margin-top: 0px;
  content: "";
  color: #fff;
  display: block;
  width: 24px;
  height: 2px;
  background: #ef8321;
  transition: width 0.3s;
  margin-left: 55%;
}

.listP {
padding-top: .5rem;
padding-bottom: .5rem;
font-weight:400;
font-size: 14px;
font-family: 'Poppins';
text-align: justify!important;
color: #000!important;;
}

.font-text{
font-size: 0.9rem!important;;
  font-weight: 500!important;;
  color: #000!important;;
  text-align: justify!important;
}

.btn-download{
  background-color: #fff!important;
  color: #737476!important;;
  border:1px solid #737476!important
}

.btn-download:hover{
  background-color: #737476!important;
  color:#fff!important;
  border:1px solid #737476!important
}



.head-data{
line-height: 14px;
  height: 12px;
  font-size: 12px;
  font-weight: 600!important;
  color: #000!important;
}

.pageination{
float: left;
padding-top: 8px;
font-size: 14px;
padding-left: 8px;
}
.mar-30{
  margin-top: 20px;
}

.event-table{
position:sticky; top:0; border-top:1px solid #ccc; border-bottom:1px solid #ccc;z-index: 1023;
}

.upload-heading{
  margin-top: -8px;
  font-size: 14px!important;
  cursor: pointer;
  text-align: center !important;
  font-weight: 400;
  color: #74788d !important;
}

.upload-heading-file{
  margin-top: -2px;
  font-size: 12px!important;
  cursor: pointer;
  text-align: center !important;
  font-weight: 400;
  color: #000 !important;
}

.upload-heading-file-final{
  margin-top: -2px;
  font-size: 12px!important;
  cursor: pointer;
  text-align: center !important;
  font-weight: 400;
  color: #fff !important;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh; /* Optional: adjust the height as needed */
}


.image-or{
  margin-right: -24px;
  float: right;
  margin-top: -10px;
}

.center-image img {
  max-width: 100%; /* Optional: constrain image width */
  max-height: 100%; /* Optional: constrain image height */
}

.me-lg-4 {
  margin-right: 2.5rem !important;
}

.btn-primary {
  --bs-btn-color: #fff !important;
  ;
  --bs-btn-bg: #45B01F !important;
  ;
  --bs-btn-border-color: #45B01F !important;
  --bs-btn-hover-color: #fff !important;
  ;
  --bs-btn-hover-bg: #ee8f31 !important;
  ;
  --bs-btn-hover-border-color: #ee8f31 !important;
  ;
  --bs-btn-focus-shadow-rgb: 97, 106, 234 !important;
  ;
  --bs-btn-active-color: #fff !important;
  ;
  --bs-btn-active-bg: #ee8f31 !important;
  ;
  --bs-btn-active-border-color: #ee8f31 !important;
  ;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  ;
  --bs-btn-disabled-color: #fff !important;
  ;
  --bs-btn-disabled-bg: #45B01F !important;
  ;
  --bs-btn-disabled-border-color: #45B01F !important;
  ;
}



.data-demo {
  background: #FFFFFF !important;
  border: 2px solid #ef8321!important;
  border-radius: 200px !important;
  padding: 10px 30px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 14px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #ef8321 !important;
  font-family: 'Poppins';
  margin: 10px 0 0 !important;
  display: inline-block !important;
  text-decoration: none !important;
}

.data-demo-history {
  background: #FFFFFF !important;
  border: 2px solid grey!important;
  border-radius: 200px !important;
  padding: 10px 30px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 14px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: grey !important;
  font-family: 'Poppins';
  margin: 10px 0 0 !important;
  display: inline-block !important;
  text-decoration: none !important;
}

.data-demo-history-green {
  background: #FFFFFF !important;
  border: 2px solid #45b01f!important;
  border-radius: 200px !important;
  padding: 10px 30px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 14px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #45b01f !important;
  font-family: 'Poppins';
  margin: 10px 0 0 !important;
  display: inline-block !important;
  text-decoration: none !important;
}

/* Custom CSS for the spinner and background overlay */
.custom-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-text {
  color: white;
}

.data-demo-history-enable {
  background: #FFFFFF !important;
  border: 2px solid #ef8321!important;
  border-radius: 200px !important;
  padding: 10px 30px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 14px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #ef8321 !important;
  font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif;
  margin: 10px 0 0 !important;
  display: inline-block !important;
  text-decoration: none !important;
}


.data-demo-upload {
  background: #FFFFFF !important;
  border: 2px solid #45B01F!important;
  border-radius: 200px !important;
  padding: 10px 30px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 14px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #45B01F !important;
  font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif;
  margin: 10px 0 0 !important;
  display: inline-block !important;
  text-decoration: none !important;
}

.small-heading{
  font-size: 14px!important;
  font-weight: 600!important;
  font-family: 'Poppins'!important;
  color:#000000
}

.small-heading-new{
    font-size: 14px!important;
    font-weight: 500!important;
    color:#929090!important;
    padding-left: 6px!important;
    font-family: 'Poppins'!important;
}

.heading-breakup{
     float: left;
    font-weight: 600!important;
    font-size: 12px;
    padding-left: 6px;
    margin-top: -2px;
    font-family: 'Poppins';
    color:#000000
}

.summaryone{
  font-weight: bold;
  color:#000;
  width: 38%;
}

.summarytwo{
  font-weight: bold;
  color:#000;
  width: 10%;
}

.heading-green{
  float: left; background-color: #45B01F; height: 13px; width: 13px; border-radius: 50px;
}

.heading-red{
  float: left; background-color: #ff0000; height: 13px; width: 13px; border-radius: 50px;
}

.heading-ember{
  float: left; background-color: #ecde9f; height: 13px; width: 13px; border-radius: 50px;
}

.fl-left{
  float: left!important;
}

.fr-right{
  float: right!important;
}

/* First progress bar */
.progress-bar-1::-webkit-progress-bar {
  background-color: #e2dede;
  border-radius: 20px;
  height: 10px!important;
}
.progress-bar-1::-webkit-progress-value {
  background-color: #45B01F;
  border-radius: 20px;
  height: 10px!important;

}

/* Second progress bar */
.progress-bar-2::-webkit-progress-bar {
  background-color: #e2dede;
  border-radius: 20px; /* Change this color */
  height: 10px!important;
}
.progress-bar-2::-webkit-progress-value {
  background-color: #ff0000;
  border-radius: 20px;
  height: 10px!important; /* Change this color */
}

/* Third progress bar */
.progress-bar-3::-webkit-progress-bar {
  background-color: #e2dede;
  border-radius: 20px;  /* Change this color */
  height: 10px!important;
}
.progress-bar-3::-webkit-progress-value {
  background-color: #ecde9f;
   border-radius: 20px;
   height: 10px!important;  /* Change this color */
}



:host {
  display: block;

  ::ng-deep {
    progress {
      background-color: transparent !important;
    }
  }
}
.note{
  color: #102c52;
font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif;
font-size: 12px;
font-weight: 500;
}

.typing-indicator {
  display: flex;
  align-items: center;
  padding: 5px;
}

.dot {
  background-color: #ef8321;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin: 0 3px;
  animation: pulse 1s infinite;
  opacity: 0;
}

.dot1 {
  background-color: #ef8321;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin: 0 3px;
  animation: pulse 1s infinite;
  opacity: 0;
}

.status-container {
  display: flex;
  align-items: center;
}

.status-text {
  // margin-right: 10px; /* Adjust the margin as needed */
}

.dot:nth-child(1) {
  animation-delay: 0.2s;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


.data-demo-currrent-status {
  background: #FFFFFF !important;
  border: 2px solid #45B01F!important;
  border-radius: 200px !important;
  padding: 10px 30px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 14px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #45B01F !important;
  font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif;
  margin: 10px 0 0 !important;
  display: inline-block !important;
  text-decoration: none !important;
}

.data-demo-download {
  background: #5F626B !important;
  border: 2px solid #5F626B!important;
  border-radius: 200px !important;
  padding: 10px 30px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 14px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #fff !important;
  font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif;
  margin: 10px 0 0 !important;
  display: inline-block !important;
  text-decoration: none !important;
}


.center-button {
  text-align: center;
}

.data-demo-pro {
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 29px !important;
  text-align: center !important;
  letter-spacing: 0.231px !important;
  color: #4E4C52 !important;
  font-family: 'Proxima Nova Regular', Helvetica, Arial, Lucida, sans-serif;
  margin: 12px 0 !important;
}

.box5{
  height: 80px;
  border-radius: 12px;
  background-color: #e6edf2;
}



.box5-null{
  height: 80px;
  border-radius: 12px;
  background-color: #eeecec;
}

.box6{
  height: 80px;
  border-radius: 12px;
  background-color: #dbf2eb;
}
.box7{
  height: 80px;
  border-radius: 12px;
  background-color: #f5e9e0;
}
.box8{
  height: 80px;
  border-radius: 12px;
  background-color: #eedbf0;
}

.center-heading-data{
  font-size: 13px;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
}

.heading-box{
  padding-top: 22px;
}

.heading-box-data{
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.header-row{
  background: #efeded;
  padding: 12px 12px 4px 12px;
  margin-left: 12px;
  width: 97%;
  border-radius: 5px;
}

 .table-head{
  background-color: #fff!important;
   font-family: 'Poppins'!important;
   font-size: 12px!important;
   font-weight: 500!important;
   color:#989EA5!important
 }

 tr:nth-child(odd) {
  background-color: #d9d9d9!important;
}
tr:nth-child(even) {
  background-color: #f2f2f2!important;
}

.download-link{
  color:#ef8321!important;
  text-decoration: underline!important;
}

.download-link:hover{
  color:#000000!important;
  text-decoration: underline!important;
}

.img-car{
  height: 68px;
  margin-top: 47px;
  margin-left: 26px;
}

.uplaod-btn{
  margin-left: -5px;
  margin-top: -7px;
}

.upload-box{
  height: 90px !important;
  background-color: #F8F8F8;
  border: 2px dashed #ced4da !important;
  position: relative;
  border-radius: 24px;
  z-index: 1;
}
.upload-box-complete{
  height: 90px !important;
  background-color: #21BC4D;
  opacity: 0.4;
  border: 2px dashed #044e14 !important;
  position: relative;
  border-radius: 24px;
  z-index: 1;
}

.oem-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.progress-container {
  display: flex;
  flex-direction: row;
}

.progress-item {
  margin-right: 20px; /* Adjust as needed */
}

.heading-data-chart{
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: #102c52;
  font-family: 'Poppins';
}

.heading-vinbrakeup{
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: #102c52;
  font-family: 'Poppins';
}

label {
  display: block;
  margin-bottom: 5px;
}



.upload-icon {
  background-color: #fff !important;
  opacity: 0 !important;
  width: 100%;
  height: 104px !important;
  position: absolute;
  left: 0;
  visibility: visible;
}

.main-icons {
  font-size: 60px !important;
  margin-top: 7px !important;
  color: #ced4da !important;
  cursor: pointer;
  margin-left: 0px;
}

.uplaod-btn{
  margin-left: -5px;
  margin-top: -7px;
}

.upload-file-name{
  font-size: 12px;
  color: #495057;
  font-weight: 500;
  text-align: left;
}


#childdiv {
  width: 100%;
  height: 50px;
  position: relative;
  text-align: center;
}

#loadingdiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

/* Separate styling for each progress bar */
.valid-bar, .pending-bar, .invalid-bar {
  height: 100%;
  position: absolute;
  top: 0;
}

.container-box {
  position: relative!important;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.valid-bar {
  left: 0;
}

.pending-bar {
  left: 33.33%;
}

.invalid-bar {
  left: 66.66%;
}

.page-content-main{
  padding-top: 0px!important; height: auto; padding-bottom: 0px!important; margin-left:-12px!important; margin-right:24px!important; height: auto;
}

.top-bread-heading{
 line-height: 33px; text-align: left; font-weight: 600!important;
}

.menu-main{
  text-decoration: none!important;
}

.mrtop-12{
  margin-top: 12px!important;
}

.mrtop-18{
  margin-top: -18px!important;
}

.btn-check-history{
  float: right!important; margin-top: -16px!important;
  font-family: 'Poppins';
}

.card{
  border-radius: 10px; height: auto;
}

::ng-deep.apexcharts-legend-text {
  color: #000000 !important;
  font-family: 'Poppins' !important;
  font-size: 12px !important;
  font-weight: 600!important;
}

.table {

 --bs-table-striped-color: #495057!important;
 --bs-table-striped-bg: #d9d9d9!important;
 --bs-table-active-color: #f2f2f2!important;
}

.triangle .triangle-top-right {
  border-top: 100px solid #32557f;
  border-left: 100px solid transparent;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-color: #f8f8fb !important;
  background-color: #ffffff !important;
}
