<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#fff" type="ball-elastic-dots" [fullScreen]="true">
    <div class="custom-spinner">
      <img src="../../../../../assets/images/spinner3.svg" alt="Your Logo">
    </div>
    <div class="loading-text">Please wait, we are getting information...</div>
  </ngx-spinner>
   <!--Main content-->
  <div class="page-content page-content-main">
    <div class="row left-navigation">
      <!-- Left side menu-->
      <div class="col-xs-12 col-lg-2 navbar-side-menu">
        <app-sidebar></app-sidebar>
      </div>
      <!-- Left side menu end -->
      <!-- Right side menu -->
      <div class="col-xs-12 col-lg-10 content-right" style="margin-left: 18%; width: 82%;">
        <!-- Left side heading and right side Breadcrumb-->
        <div class="row">
          <div class="col-xs-12 col-lg-12">
            <span class="breadcrumb-left">
              <h1 class="login-headline heading-title">Hybrid Fuel Summary
              </h1>
            </span>
            <span class="breadcrumb-right mr-8">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a routerLink="/adlp/admin/admindashboard/dashboardfleet" class="breadcrumb-h6"><i
                      class="bx bx-home-circle"></i></a>
                </li>
                <li class="breadcrumb-item inactive-bread"> <a
                    routerLink="/adlp/admin/admindashboard/dashboardfleet">Dashboard</a></li>
                <li class="breadcrumb-item text-selected active-bread">Hybrid Fuel Summary</li>
              </ol>
            </span>
          </div>
        </div>
        <!-- Left side heading and right side Breadcrumb end-->
        <!-- Consumer and Fleet Id Filter-->
        <div class="row consumer-pad">
            <div class="card-container">
                <div class="card-item card-item-height">
                  <div class="card-heading">
                    <div class="row" style="height: 56px;">
                      <div class="col-xs-12 col-lg-6">
                        <img src="../../assets/images/summary.svg" alt="" class="card-heading-img" />Summary
                      </div>
                      <div class="col-xs-12 col-lg-6 d-flex justify-content-end">
                      <div class="fleet-dropdowm" style="width: 160px;">
                        <ng-select bindLabel="label" style="font-family: 'Poppins'!important;"
                            bindValue="value" placeholder="Select Time Period" [(ngModel)]="selectedPeriod"
                            (change)="onTimePeriodChangeData($event)"
                            class="newSelect  timePeriod current-month-dropdown ">
                            <ng-option *ngFor="let period of timePeriods" [value]="period.value">
                                {{ period.label }}
                            </ng-option>
                        </ng-select>
                    </div>
                  </div>
                      <!-- <div class="col-xs-12 col-lg-6">
                        <h5 class="active-vehicle">Active Vehicles :
                          <span [ngClass]="{ 'loading-background': isLoading }" style="color:#000000!important">
                            {{
                            isDataNotFound
                            ? "No Data"
                            : (fleetSumamryTotalData?.totalActiveVehicles
                            | number : "1.0-0")
                            }}
                          </span>
                        </h5>
                      </div>  -->

                    </div>

                  </div>
                  <div class="cards-subsection">
                    <div class="header-card brdr-red">
                      <div class="header-card-text">
                        <span [ngClass]="{ 'loading-background': isloading2 }" style="line-height: 25px; width: 40%">
                          {{totalTimePeriods}}
                          <ng-container *ngIf="totalTimePeriods">
                            <span style="font-size: 12px; font-weight: 500; font-family: 'Poppins', sans-serif;">
                              hh:mm
                            </span>
                          </ng-container>
                        </span>
                      </div>
                      <div class="content-section-text">Total Duration</div>
                    </div>
                    <div class="header-card brdr-red">
                    <div class="header-card-text">
                        <span [ngClass]="{ 'loading-background': isloading2 }" style="line-height: 25px; width: 40%">
                            {{ totalFuelConsumedCost }}
                          <ng-container *ngIf="totalTimePeriods">
                            <span style="font-size: 12px; font-weight: 500; font-family: 'Poppins', sans-serif;">
                              Mile
                            </span>
                          </ng-container>
                        </span>
                      </div>
                      <div class="content-section-text">Total Distance</div>
                    </div>
                    <div class="header-card brdr-fuel-consumed">
                      <div class="header-card-text">
                        <span [ngClass]="{ 'loading-background': isloading2 }" style="line-height: 25px; width: 40%">
                          {{ isDataNotFound
                          ? "No Data"
                          :totalFuelConsumed }}
                          <ng-container *ngIf="totalFuelConsumed">
                            <span style="font-size: 12px; font-weight: 500; font-family: 'Poppins', sans-serif;">
                             (KwH)
                            </span>
                          </ng-container>
                        </span>
                      </div>
                      <div class="content-section-text">Total Energy Used </div>
                    </div>
                    <div class="header-card brdr-yellow">
                      <div class="header-card-text">
                        <span [ngClass]="{ 'loading-background': isloading2 }" style="line-height: 25px; width: 40%">
                          {{ totalMileage }}
                          <ng-container *ngIf="totalMileage">
                            <span style="font-size: 12px; font-weight: 500; font-family: 'Poppins', sans-serif;">
                              mpg-e
                            </span>
                          </ng-container>
                        </span>
                      </div>
                      <div class="content-section-text">Mileage</div>
                    </div>

                    <div class="header-card brdr-blue">
                      <div class="header-card-text">
                        <span [ngClass]="{ 'loading-background': isloading2 }" style="line-height: 25px; width: 40%">
                          {{ totalFuelConsumedCost }}
                          <ng-container *ngIf="totalFuelConsumedCost">
                            <span style="font-size: 12px; font-weight: 500; font-family: 'Poppins', sans-serif;">

                            </span>
                          </ng-container>
                        </span>
                      </div>
                      <div class="content-section-text">Total Charging Events</div>
                    </div>
                    <div class="header-card brdr-green">
                      <div class="header-card-text">
                        <span [ngClass]="{ 'loading-background': isloading2 }" style="line-height: 25px; width: 40%">
                          {{ avgFuelCost | number:'1.2-2' }}
                          <ng-container *ngIf="avgFuelCost">
                            <span style="font-size: 12px; font-weight: 500; font-family: 'Poppins', sans-serif;">
                            Tons
                            </span>
                          </ng-container>
                        </span>
                      </div>
                      <div class="content-section-text">Total CO2 Emissions Avoided</div>
                    </div>

                  </div>
                </div>

              </div>
        <!-- Boxed for Total Data End-->
        <!-- VIN, OEM and satus filter -->
        <div class="row ">
            <div class="col-lg-9">
            </div>
            <div class="col-lg-3 d-flex justify-content-end mt-4 mb-2">
              <input
                class="form-control input-vins font-common"
                maxlength="17"
                type="text"
                (keyup.enter)="selectConsumer()"
                [(ngModel)]="searchText"
                placeholder="Enter Vehicle Name Or VIN"
              />
            </div>
          </div>
        <!-- VIN, OEM and satus filter end -->
        <!-- Main data table-->
        <div class="row mr-table mr-6">
          <div class="col-lg-12 col-xs-12">
            <div class="table-wrapper">
              <div class="table-responsive table-b">
                <table class="table">
                  <thead class="table-head">
                    <tr>
                      <th class="table-column-width5">Fleet Id</th>
                      <th class="table-column-width">Vehicle name</th>
                      <th class="table-column-width">VIN</th>
                      <th class="text-center table-column-width7">Data Source</th>
                      <th class="table-column-width7">OEM</th>
                      <th class="text-center table-column-width7">Model</th>
                      <th class="text-center table-column-width7">Last Fuel Level(gal)</th>
                      <th class="text-center table-column-width7">Odometer (Mile)</th>
                      <th class="text-center table-column-width7">Last Recharging Location</th>
                      <th class="text-center table-column-width7">Total Energy Consumed (kW)</th>
                      <th class="text-center table-column-width7">Total Fuel Consumption(gal)</th>
                      <th class="text-center table-column-width7">Last Charging Time (hrs)</th>
                      <th class="text-center table-column-width7">Total CO2 Emissions Avoided (Tons)</th>
                      <th class="text-center table-column-width7">Mileage (MPG-e)</th>
                      <th class="text-center table-column-width7">Mileage (MPG)</th>
                      <th class="text-center table-column-width">Idling (hrs:mm)</th>
                      <th class="text-center table-column-width6">Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="!loading || (loading && manageVehicleList.length > 0)">

                    <ng-container *ngFor="let fleetvehicledata of manageVehicleList | statusSearch:searchByStatus">
                      <tr *ngIf="['1G1FZ6S04L4134161'].includes(fleetvehicledata?.vin)">

                        <td class="txt12">{{fleetvehicledata?.fleetId}}</td>
                        <td class="txt12 text">{{fleetvehicledata?.vehicleName}}</td>
                        <td class="txt12 text">{{fleetvehicledata?.vin}}</td>
                        <td class="txt12 text">{{fleetvehicledata?.connectionType}}</td>
                        <td class="txt12">{{fleetvehicledata?.provider}}</td>
                        <td class="text12 text">Camry</td>
                        <td class="text12 text">21.69</td>
                        <td class="text12 text">27,298.08</td>

                        <td style="text-align: justify">
                            <a style="color: #000!important; text-decoration: underline; cursor: pointer;">
                              <span class="address" ngbTooltip="1600 Pennsylvania Ave NW, Washington, DC 20500, USA">
                                1600 Pennsylvania Ave NW
                              </span>
                            </a>
                          </td>

                        <td>298.08</td>
                        <td>333.08</td>
                        <td>2.23</td>
                        <td>22.3</td>
                        <td>54.3</td>
                        <td>2.3</td>
                        <!-- Time conversion for onward connected UTC TO CDT-->
                        <td>354:00</td>
                        <td> <ng-container
                            *ngIf="fleetvehicledata?.status != 'FAILED' && fleetvehicledata?.status != 'PENDING' && fleetvehicledata?.status != 'DEACTIVATION_FAILED' && fleetvehicledata?.status != 'DEACTIVATED' && fleetvehicledata?.status != 'DEACTIVATION_PENDING'">
                            <button (click)="vinSummary(fleetvehicledata.vin, fleetvehicledata.provider)"
                              class="viewMorebtns tooltip-button" ngbTooltip="Vehicle Summary">
                              <img src="../../../../../assets/images/blackdot.svg" class="button-icon">
                            </button>&nbsp;

                          </ng-container></td>
                      </tr>
                      </ng-container>

                    </ng-container>
                    <ng-container *ngIf="loading && manageVehicleList.length === 0">
                      <tr *ngIf="manageVehicleList?.length < 1 | statusSearch:searchByStatus">
                        <td colspan="12">
                          <h5 class="heaidng-c"> No Data Found ...</h5>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Main data table end-->
        <!-- Pagination for table-->
        <div class="mt-2 text-end pagination-h">
          <span *ngIf="pages?.length <=9" class="f-le">
            <div>
              <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm pag-color" aria-label="Pagination">
                <a (click)="selectPages(pageNumber - 1)" href="javascript:(Void)" [class.disabled]="pageNumber == 1"
                  class="page pointer relative inline-flex items-center rounded-l-md px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                  <span class="sr-only">Previous</span>
                  <img src="../../../../../assets/images/left-img.svg" class="right-page-arrow">
                </a>
                <ng-container *ngFor="let page of pages">
                  <a [class.isActive]="page == pageNumber" href="javascript:(void)"
                    [ngClass]="{'pointer' : page != '...'}" aria-current="page" (click)="selectPages(page)"
                    class=" px-4 py-2 pageination-number">{{page}}
                  </a>
                </ng-container>
                <a (click)="selectPages(pageNumber + 1)" [class.disabled]="pageNumber == totalPages"
                  class=" page pointer relative inline-flex items-center rounded-r-md px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                  <span class="sr-only">Next</span>
                  <img src="../../../../../assets/images/right.svg" class="right-page-arrow">
                </a>
              </nav>
            </div>
          </span>
          <span *ngIf="pages?.length >9" class="f-ri">
            <div>
              <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                <a (click)="selectPages(pageNumber - 1)" [class.disabled]="pageNumber == 1"
                  class="page pointer relative inline-flex items-center rounded-l-md px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                  <span class="sr-only">Previous</span>
                  <img src="../../../../../assets/images/left-img.svg" class="right-page-arrow">
                </a>
                <ng-container *ngFor="let page of pages">
                  <a [class.isActive]="page == pageNumber" *ngIf="( (page < pages.length && page  > 1))"
                    aria-current="page" (click)="selectPages(page)"
                    [ngStyle]="{'display': ((page > pageNumber+1 ||  page < pageNumber-1) && page < (pages.length)) ? 'none':''}"
                    class=" px-4 py-2 pageination-number">{{page}}
                  </a>
                </ng-container>
                <ng-container *ngIf="pageNumber < (pages.length-2)">
                  <a aria-current="page" (click)="selectPages(pageNumber+1)"
                    class="page relative z-10 inline-flex items-center  px-4 py-2 text-sm font-medium text-indigo-600 focus:z-20 active:bg-blue-700 focus:bg-blue-500 hover:bg-blue-700 hover:text-white ">{{"."}}
                  </a>
                </ng-container>
                <ng-container>
                  <a aria-current="page" [class.isActive]="(pageNumber == pages.length )"
                    (click)="selectPages(pages.length)" class=" px-4 py-2 pageination-number">{{pages.length}}
                  </a>
                </ng-container>
                <ng-container *ngFor="let page of pages">
                  <a [class.isActive]="page == pageNumber" class="page-display" aria-current="page"
                    (click)="selectPages(page)" class=" px-4 py-2 pageination-number">{{page}}
                  </a>
                </ng-container>
                <a (click)="selectPages(pageNumber + 1)" [class.disabled]="pageNumber == totalPages"
                  class=" page relative inline-flex items-center rounded-r-md border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-gray-500 hover:bg-gray-50 focus:z-20">
                  <span class="sr-only">Next</span>
                  <img src="../../../../../assets/images/right.svg" class="right-page-arrow">
                </a>
              </nav>
            </div>
          </span>
          <span class="f-ri mr--12">
            <select class="form-select" (change)="selectPage($event.target.value)" [(ngModel)]="pageSize">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="40">40</option>
              <option value="80">80</option>
              <option value="100">100</option>
            </select>
          </span>
          <span class="pageination">Per Page</span>
        </div>
        <!-- Pagination for table end-->
      </div>
      <!-- Right side menu end-->
    </div>
  </div>
  <!--Main content-->
  <!--Failure reason when click on info-->
  <ng-template #remarks let-modal class="modal-width">
    <div class="modal-header">
      <h5 class="modal-title mt-0 font-weight-bold">Failed Reason</h5>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12 col-lg-12 failure-box">
          {{selectedFailureReason}}
        </div>
      </div>
    </div>
  </ng-template>
  <!--Failure reason when click on info end-->
