.main-content-page-data{
  margin-left: -24px!important; margin-right: 0px!important
}

.line-data{
  width: 45%!important; margin-left: 15%!important;
}



.line-data2{
 width: 21%!important; margin-left: 19%!important
}

.content-right {
  flex-grow: 1; /* Allows expansion */
  width: 84%!important;
}

.chart-container {
  position: relative; // This ensures the inner circle can be positioned relative to the chart
}

.content-sub-text {
  background: #fa751a;
  padding: 1px 6px;
  font-size: 14px;
  color: white;
  font-weight: 500;
  font-family: 'Poppins';
}
.content-sub-text2 {
  color: #fa751a;
  font-weight: 600;
  font-size: 14px;
  padding: 5px;
  font-family: 'Poppins';
}

.active-vehicle{
  float: right;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins';
  color: #878b92;
}

.heading-show{
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
  font-family: "Poppins";
  color: #9a9696;
  text-align: center;
  padding-top: 3%;
}

.heading-top{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  font-family: "Poppins";
  color: #9a9696;
  text-align: center;
  padding-top:2%
}

.heading-shows{
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  font-family: "Poppins";
  color: #9a9696;
  text-align: center;
  padding-top: 4%;
}

.data-sheet{
 height: 180px!important
}

.img-data{
  margin-left: 44%;
    margin-right: 47%;
    height: 33px;
    margin-top: 41px;
}

.img-data1{
  margin-left: 49%;
    margin-right: 47%;
    height: 33px;
    margin-top: 41px;
}

.img-data2{
  margin-left: 44%;
    margin-right: 47%;
    height: 33px;
    margin-top: 30%;
}

.line-data3{
 height: 2px!important; margin-top: 24px!important;
}

.mr-32{
  margin-top: -32px!important
}
.newSelect {
  color: #9fa19f;
  width: 100%;
  height: 37px !important;
  background-size: 10px 12px !important;
  font-family: "Poppins" !important;
  height: 37px !important;
  border-radius: 10px !important;
}

.newFleet {
  background-color: #fa751a !important;
  border: 1px solid #fa751a;
  font-family: "Poppins";
  color: #ffffff;
  width: 100%;
}

#legends {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.legend-color {
  width: 15px;
  height: 4px;
  border-radius: 50px;
  margin-right: 5px;
  display: inline-block;
  margin-top: 7px;
  width: 15px;

}

.custom-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content-main {
  padding-top: 0px !important;
  margin-left: -12px !important;
  margin-right: -12px !important;
}

.active-bread {
  font-size: 12px !important;
  color: #fa751a !important;
  font-weight: 500 !important;
  font-family: "Poppins" !important;
}

.inactive-bread {
  font-size: 12px !important;
  color: #6c757e !important;
  font-weight: 400 !important;
  font-family: "Poppins" !important;
}

.consumer {
  color: #9fa19f !important;
  font-family: "Poppins" !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  margin-top: -6px !important;
}

.consumer-select {
  color: #9fa19f;
  width: 100%;
  height: 37px !important;
  background-color: transparent;
  background-size: 10px 12px !important;
  font-family: "Poppins" !important;
  height: 37px !important;
  border-radius: 10px !important;
  border: none !important;
}

.consumer-pad {
  margin-top: -12px;
  margin-left: -24px;
}

.no-border:focus {
  outline: none !important;
  box-shadow: none !important;
}

.heading-title {
  line-height: 33px !important;
  text-align: left !important;
  font-weight: 600 !important;
}

.card {
  border-radius: 10px !important;
  height: auto !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.legend-container {
  display: flex;
  gap: 0.5rem;
  border-top: 1px solid #DEDEDE;
  padding-bottom: 3%
}

.legend-item-container {
  display: flex;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-text {
  color: #878b92;
  font-size: 11px !important;
  font-weight: 500;
  font-family: 'Poppins' !important;
}

.main-text {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.main-s-heading {
  font-size: 16px !important;
  font-weight: 700 !important;
  font-family: "Poppins" !important;
  padding-top: 6px;
}

.card-container {
  padding-top: 2rem;
}

.card-item {
  background-color: white;
  padding: 1.9%;
  border: 1px solid #dee4ed;
  border-radius: 8px;
  width: -webkit-fill-available;
}

.card-item-height{
  height: 220px;
}

.row-data{
 margin-top: -12px!important; margin-bottom: 24px!important
}

.subtext-1{
  margin-left: -6px;
  margin-right: -9px;
}

.risky-Driver{
 margin-top: 57px!important
}

.row-data-height{
 height: 498px!important
}

.top-heading {
  font-family: 'Neo Sans Pro', 'Helvetica', 'Arial', 'Lucida', sans-serif !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #000
}

.card-mid-trip {
  height: 430px!important;
  border-radius: 12px;
  border: 1px solid #E7EAEE;
}

.user-icon {
  float: left;
  margin-top: -10px;
  margin-right: 10px;
}

.user-icon-font {
  font-size: 26px;
  font-weight: 400;
}

.icon {
  height: 20px;
  margin-top: 10px;
}

.line {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -6px;
}

.months-text {
  font-size: 10px !important;
  color: #6C757E !important;
}

.f-le {
  float: left;
}

.f-ri {
  float: right!important;
}

.card-item-special {
  background-color: white;
  border: 1px solid #dee4ed;
  border-radius: 8px;
  width: -webkit-fill-available;
}

.card-heading-img {
  height: 20px;
  padding-right: 10px;
}

.card-subheading-img {
  height: 14px;
  padding-right: 5px;
}

.card-heading {
  font-family: "Poppins" !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: #000;
  align-items: center;
  display: flex;
}

.cards-subsection {
  display: flex;
  gap: 2rem
}

.card-sub-item {
  text-align: center;
}

.blues {
  color: #7EA6FE;
}

.oranges {
  color: #FFCFAE;
}

.lightblues {
  color: #B3CBFF;
}

.greys {
  color: #9B9B9B;
}

.greens {
  color: #FF7878;
}

.card-t-item {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
}

.small-card-h-pos {
  position: relative;
  top: 0.9rem;
  left: 7%;
}

.sub-chart-container {
  margin-bottom: -8%;
}

.padding-left-right {
  padding-left: 2%;
  padding-right: 1.5%;
  padding-top: 6%;
}

.newSelect1 {
  color: #9fa19f;
  width: 100%;
  height: 37px !important;
  background-size: 10px 12px !important;
  font-family: 'Poppins' !important;
  height: 37px !important;
  border-radius: 10px !important
}

.loading-background {
  background: linear-gradient(90deg, #f0f0f0 40%, #e0e0e0 60%, #f0f0f0 80%);
  background-size: 200% 150%;
  /* The background is wider than the element itself */
  animation: loading 1.5s infinite;
  width: 100px;
  /* The width of the element */
  height: 25px;
  /* The height of the element */
  display: inline-block;
  /* Ensure the background animation affects the element */
  overflow: hidden;
  /* Hide any overflow to keep the background within the element */
}

@keyframes loading {
  0% {
    background-position: 200% 0;
    /* Start the gradient off-screen to the right */
  }

  100% {
    background-position: -200% 0;
    /* Move the gradient to the left, off-screen */
  }
}

::ng-deep.newSelect1 .ng-select-container {
  background-color: #FA751A !important;
}

::ng-deep.newSelect1.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #ffffff !important;
}

::ng-deep.newSelect1.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
  top: -2px;
  border-color: transparent transparent #ffffff !important;
  border-width: 0 5px 5px;
}

::ng-deep.newSelect1.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  color: #ffffff !important
}

::ng-deep.newSelect1.ng-select .ng-clear-wrapper {
  color: #ffffff !important;
}

::ng-deep.newSelect1.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: #fff transparent transparent !important;
  border-style: solid;
  border-width: 5px 5px 2.5px;
}

.ng-select ::ng-deep .ng-option.disabled {
  cursor: default;
}

::ng-deep .chart-label{
  font-family: 'Poppins'!important;
  font-size: 10px!important;
}


::ng-deep.ng-select.ng-select-single .ng-select-container {
  height: 37px !important;
  border-radius: 10px !important;
}

::ng-deep .chart-label-x {
  fill: #7C7C7C !important;
  font-size: 10px !important;
  font-family: "Poppins" !important;
}

::ng-deep .chart-label-y {
  fill: #161616 !important;
  font-size: 10px !important;
  font-family: "Poppins" !important;
}

::ng-deep .chart-label-x-big {
  fill: #727272 !important;
  font-size: 10px !important;
  font-family: "Poppins" !important;
  font-weight: 500 !important;
}

::ng-deep .chart-label-y-big {
  fill: #4F535A !important;
  font-size: 12px !important;
  font-family: "Poppins" !important;
  font-weight: 600 !important;
}

::ng-deep .apex-charts text {
  color: #000000;
  text-shadow: none !important;
  font-family: "Poppins" !important;
}

::ng-deep.apexcharts-legend-text {
  color: #000000 !important;
  font-family: "Poppins" !important;
  font-size: 10px !important;
  font-weight: 500 !important;
}

.collapse0-widthP {
  float: left !important;
  margin-left: 70px !important;
}

.me-lg-4 {
  margin-right: 2.5rem !important;
}

 .f-le {
   float: left;
 }

 .mr-20{
  margin-top: 20px;
 }

 .chart-container {
  position: relative; // This ensures the inner circle can be positioned relative to the chart
}
.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 175px;
  height: 175px;
  background-color: #f6f6f6; /* Set color */
  border-radius: 50%; // Make it round
  transform: translate(-50%, -50%); // Center the circle
  z-index: 10; // Ensure it's above the chart
}
.center-circle-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  background-color: #ffffff; /* Set color */
  border-radius: 50%; // Make it round
  transform: translate(-50%, -50%); // Center the circle
  z-index: 10; // Ensure it's above the chart
}

.average-score{
  padding-top: 40px;
  margin-bottom: 0px !important;
  text-align: center;
  // padding-left: 22%;
  font-size: 28px;
}
.average-score-heading{
  padding-left: 20%;
  font-size: 13px;
  font-family: "Poppins";
  height: 20px;
  margin-top: 5px;
}


.active-vehicle{
  float: right;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins';
  color: #878b92;
}

 .f-ri {
   float: right!important;
 }

 .wid-100{
  width: 100%;
 }
