/* General styling for the card container */
.card {
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Flexbox styling for centering the calendar and boxes */
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the date boxes */
.date-boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 20px; /* Space between boxes and calendar */
}

.date-box {
  display: flex;
  justify-content: flex-start;
  font-family: 'Poppins';
 font-size: 14PX;
  color: #000 ! important;
  padding: 10px 20px;
  /* background-color: #f5f5f5; */
  border: 1px solid #dadada;
  border-radius: 8px;
  margin: 0 10px;
  /* text-align: center; */
  width: 50%;
}

.date-box:hover {
  border-color: #fa751a; /* Border color on hover */
}

.date-box:active {
  border-color: #fa751a; /* Border color on click (active state) */
}
.date-box strong {
  display: block;
  margin-bottom: 5px;
}

::ng-deep .p-datepicker {
  border: none !important;
}

::ng-deep .p-datepicker.p-datepicker-multiple-month .p-datepicker-group {
  border-left: none !important;
  margin-right: 20px!important;
}

::ng-deep .p-datepicker .p-datepicker-header {
  border-bottom: none !important;
}

::ng-deep
  .p-datepicker
  .p-datepicker-header
  .p-datepicker-title
  .p-datepicker-month {
  color: #000000 !important;
  font-weight: 600 !important;
  background: none !important;
  border: none !important;
  font-size: 14px!important;
  font-family: 'Poppins'!important;
}
::ng-deep.p-datepicker
  .p-datepicker-header
  .p-datepicker-title
  .p-datepicker-year,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
  color: #000000 !important;
  font-weight: 600 !important;
  background: none !important;
  border: none !important;
  font-size: 14px!important;
  font-family: 'Poppins'!important;
  font-size: 14px!important;
  font-weight: 500!important;
}

::ng-deep .p-datepicker table th {
  color: #989ea5 !important;
  font-family: 'Poppins'!important;
  font-size: 14px!important;
  font-weight: 500!important;
}
::ng-deep .p-datepicker table td {
  color: #989ea5 !important;
  font-family: 'Poppins'!important;
  font-size: 14px!important;
  font-weight: 500!important;
}

::ng-deep .p-datepicker table td > span.p-highlight {
  color: #000000 !important;
  font-family: 'Poppins'!important;
  background: #fa741a4e;
  border-radius: 0%;
  font-size: 14px!important;
  font-weight: 500!important;
}

::ng-deep .p-datepicker table td.p-datepicker-today > span {
  background: none;
  color: #989ea5;
  font-family: 'Poppins'!important;
  border-radius: 0%;
  font-size: 14px!important;
  font-weight: 500!important;
}

::ng-deep.p-datepicker table td > span {
  width: -webkit-fill-available !important;
  height: -webkit-fill-available !important;
}

::ng-deep .p-datepicker table td {
  padding: 0 !important;
  width: 3rem !important;
  height: 3rem !important;
}

::ng-deep .p-datepicker-calendar-container{
  margin-top:12px
}

::ng-deep .p-datepicker table td {
  padding: 0 !important;
}

/* Hide dates from the previous month */
/* ::ng-deep .p-calendar .p-datepicker table td.p-disabled {
  display: none !important;
} */

/* Alternatively, if dates from previous and next months use different classes */
/* ::ng-deep .p-calendar .p-datepicker table td.p-datepicker-other-month {
  display: none !important;
} */

::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-prev,
::ng-deep.p-datepicker .p-datepicker-header .p-datepicker-next {
  border-radius: 3px;
  border: #dadada 1px solid;
  width: 3rem;
  height: 3rem;
}

::ng-deep.p-datepicker table td > span {
  border-radius: 0%;
}

::ng-deep .pi-chevron-left:before,
::ng-deep .pi-chevron-right:before {
  // content: "\e900";
  color: black !important;
}

.Submit_button {
  width: max-content;
  background-color: #fa751a;
  color: white;
  font-size: 16px;
  padding: 1% 3%;
  margin-bottom: 6px;
  border-radius: 8px;
  cursor: pointer;
  margin-top:-12px
}
.submit_container{
  display: flex;
  justify-content: right;
  padding-right: 1%;
}
