/* Default sidebar styles */
.sidebar {
  width: 16%;
  background-color: #fff;
  color: #3B464F;
  border-right: 2.5px solid #E4E7EB;
  position: fixed;
  font-weight: 500 !important;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  margin-top: -20px
}

.menu-chatbot{
  margin-left: 0px;
  margin-top: 10px;
  background-color: #f4f4f4;
}

.menu-item.menu-chatbot {
  height: 40px;
  position: fixed;
  top: 544px;
  z-index: 1000;
  background: white;
  width: 200px;
  background-color: #FCEEE1;
  padding-left: 40px !important;
}

.active-menu{
  background-color: #FCEEE1 !important;
  border-radius: 5px;
  color: #000;
}

.sidebar.active {
  display: block;
  width: 100%;
  position: absolute;
  z-index: 1000;
  margin-top: -54px;
}

.menu-item {
  padding-left: 10px !important;
  padding-top: 4px !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  padding-right: 10px !important;
  font-weight: 500 !important;
  color: #3B464F !important;
  font-size: 13px !important;
  font-style: normal !important;
  font-family: 'Poppins' !important;
}

.arrow-icon {
  float: right!important;
  transition: transform 0.2s ease-in-out;
}


.sub-menu-items {
  padding-top: 4px !important;
  padding-left: 27px !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  padding-right: 10px !important;
  font-weight: 500 !important;
  color: #3B464F !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-family: 'Poppins' !important;
  line-height: 25px;
}

.sub-menu-items {
  padding-top: 4px !important;
  padding-left: 27px !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  padding-right: 10px !important;
  font-weight: 500 !important;
  color: #3B464F !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-family: 'Poppins' !important;
  line-height: 25px;
}

.sidebar a {
  display: block;
  padding-left: 0px !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  padding-bottom: 6px;
  text-decoration: none !important;
  color: #000000 !important;
  transition: background-color 0.2s !important;
  font-family: 'Poppins' !important;
}

.menu-image {
  height: 18px !important;
  margin-right: 6px !important;
  margin-left: 6px !important;
}


.menu-sub-image {
  height: 14px !important;
  margin-right: 6px !important;
  margin-left: 6px !important;
}

.sidebar a:hover {
  background-color: #FCEEE1 !important;
  border-radius: 5px;
  color: #000;
}

.menu-item.active {
  color: #fff;
  background: rgba(238, 143, 49, 0.15);
  border-radius: 8px;

}

.menu-item-link-sub {
  display: block;
  padding: 4px 20px;
  text-decoration: none;
  color: #333;
}

.menu-item-link-sub.active {
  background-color: #FCEEE1;
  color: #000;
  border-radius: 6px;
  line-height: 25px;
}

.menu-item-link-sub.active::after {
  content: "";
  display: block;
  width: 24px;
  height: 1px;
  background: #FCEEE1;
  transition: width 0.3s;
  margin-left: 50%;
}

.menu-item-link {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  padding-top:4px
}

.menu-item-link.active {
  background-color: #FCEEE1;
  color: #000;
  padding-left: 10px;
}

.menu-item-link.active::after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background: #FCEEE1;
  transition: width 0.3s;
  margin-left: 50%;
}

.navbar-side-menu-heading {
  color: #000 !important;
  font-weight: 500 !important;
}

.navbar-side-menu-panel {
  overflow-y: auto !important;
  margin-top: 20px !important
}

.vin-img {
  height: 10px !important;
}

/* Hide sidebar and show hamburger menu on mobile */
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
    margin-top: 50px;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    padding: 10px;
    background-color: #102c52;
    border-bottom: 1px solid #E4E7EB;
    z-index: 1001;
    /* Ensure it appears above other content */
    position: fixed;
    width: 100%;
    margin-top: -54px;
  }

  .hamburger-menu img {
    height: 24px;
    width: 24px;
  }


}
