<ngx-spinner
  bdColor="rgba(0,0,0,0.8)"
  size="large"
  color="#fff"
  type="ball-elastic-dots"
  [fullScreen]="true"
>
  <div class="custom-spinner">
    <img src="assets/images/spinner3.svg" alt="Your Logo" />
  </div>
  <div class="loading-text">Please wait, we are getting information...</div>
</ngx-spinner>
<div class="page-content-main">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <span class="breadcrumb-left">
        <h1 class="login-headline font-weight-bold top-bread-heading">
          Eligibility Check
        </h1>
      </span>
      <span class="breadcrumb-right">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="adlp/managefleets/manageOrganization"
              ><i class="bx bx-home-circle"></i
            ></a>
          </li>
          <li class="breadcrumb-item text-selected" aria-current="page">
            Eligibility Check
          </li>
        </ol>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="row mrtop-12">
        <div class="col-xs-12 col-lg-9 mrtop-18">
          <p class="listP">
            CerebrumX's VIN eligibility allows users to verify which vehicles in
            their fleet are connected vehicles and can provide data to OEMs.
            CerebrumX provides users with the option to check individual vehicle
            eligibility or bulk eligibility for an entire fleet.
          </p>
        </div>
        <div class="col-xs-12 col-lg-3">
          <button
            type="submit"
            class="data-demo-history btn-primary btn-check-history"
            *ngIf="dataNew"
            (click)="bulkModel(bulkVinCheckModel)"
          >
            <span>
              <img
                src="assets/images/view-history.svg"
                class="view-history-img"
                alt=""
              />
            </span>
            View History
          </button>
          <button
            type="submit"
            class="data-demo-history btn-primary btn-check-history"
            *nfIf="dataNewOne"
            (click)="bulkModel(bulkVinCheckModel)"
          >
            <span>
              <img
                src="assets/images/view-history.svg"
                class="view-history-img"
                alt=""
              />
            </span>
            View History
          </button>
        </div>
      </div>
      <div class="row" style="margin-top: 35px">
        <div class="col-xs-12 col-lg-12">
          <div
            class="card"
            style="
              border-top-left-radius: 0px;
              border-top-right-radius: 0px;
              background-color: #f8f8fb;
            "
          >
            <div class="card-body">
              <ul
                class="nav nav-tabs"
                role="tablist"
                style="
                  margin-top: -58px;
                  margin-left: -20px;
                  margin-right: -20px;
                "
              >
                <li
                  class="nav-item"
                  style="font-family: 'Poppins'; position: relative"
                >
                  <a
                    class="nav-link active triangle triangle-top-right"
                    data-bs-toggle="tab"
                    [class.active]="activeTab === 'single-vin'"
                    (click)="selectTab($event, 'single-vin')"
                    role="tab"
                    aria-selected="true"
                    style="position: relative; overflow: hidden; width: 130px"
                  >
                    <span class="d-block d-sm-none"
                      ><i class="fas fa-home"></i
                    ></span>
                    <span class="d-none d-sm-block pointer">Single VIN</span>
                    <span
                      class="border-right"
                      style="
                        position: absolute;
                        top: -31px;
                        right: -27px;
                        /* border-right: 47px solid transparent; */
                        border-top: 72px solid #f8f8fb;
                        transform: rotate(-35deg);
                      "
                    ></span>
                  </a>
                </li>
                <li class="nav-item" style="font-family: 'Poppins'">
                  <a
                    class="nav-link"
                    [class.active]="activeTab === 'bulk-vin'"
                    data-bs-toggle="tab"
                    (click)="selectTab($event, 'bulk-vin')"
                    role="tab"
                    aria-selected="false"
                    style="position: relative; overflow: hidden; width: 130px"
                    (click)="onTabButtonClick()"
                  >
                    <span class="d-block d-sm-none"
                      ><i class="far fa-user"></i
                    ></span>
                    <span class="d-none d-sm-block pointer">Bulk VIN</span>
                    <span
                      class="border-right"
                      style="
                        position: absolute;
                        top: -31px;
                        right: -27px;
                        /* border-right: 47px solid transparent; */
                        border-top: 72px solid #f8f8fb;
                        transform: rotate(-35deg);
                      "
                    ></span>
                  </a>
                </li>
              </ul>

              <div class="tab-content p-3 text-muted">
                <div
                  class="tab-pane active"
                  [class.show]="activeTab === 'single-vin'"
                  [class.active]="activeTab === 'single-vin'"
                  id="home"
                  role="tabpanel"
                >
                  <div class="row" style="margin-top: 20px">
                    <div class="col-xs-12 col-lg-4">
                      <div class="card">
                        <div class="card-body">
                          <h4
                            class="leading-sec"
                            style="
                              text-align: center;
                              font-size: 18px;
                              font-weight: 600;
                              font-family: 'Poppins';
                            "
                          >
                            Single VIN Eligibility
                          </h4>
                          <div class="row" style="margin-top: 20px">
                            <div
                              class="col-xs-12 col-lg-12 card-text fleet-telemetryp"
                              style="
                                text-align: center !important;
                                line-height: 28px;
                                font-size: 14px;
                                font-family: 'Poppins';
                              "
                            >
                              Please enter VIN of the vehicle<br />
                              to check its eligibility.
                            </div>
                          </div>
                          <form
                            [formGroup]="enrollMentCheckForm"
                            (ngSubmit)="checkVin(enrollMentCheckForm.value)"
                          >
                            <div class="row" style="margin-top: 50px">
                              <div class="col-xs-12 col-lg-1">&nbsp;</div>
                              <div class="col-xs-12 col-lg-10">
                                <input
                                  class="form-control"
                                  (keyup)="checkVin1($event.target.value)"
                                  formControlName="vins"
                                  maxlength="17"
                                  type="text"
                                  placeholder="Enter VIN"
                                  (paste)="validateMaskIng(this, $event)"
                                  (keypress)="numbersOnlyUpto($event)"
                                />
                              </div>
                            </div>
                            <div class="row" style="height: 20px">
                              <ng-container
                                class="mar-re"
                                style="line-height: 10px"
                                *ngIf="
                                  enrollMentCheckForm.controls['vins']
                                    .touched &&
                                  !enrollMentCheckForm.controls['vins'].valid
                                "
                              >
                                <small
                                  class="text-danger mar-ab"
                                  *ngIf="
                                    enrollMentCheckForm.controls[
                                      'vins'
                                    ].hasError('required')
                                  "
                                >
                                  Please Enter VIN
                                </small>
                              </ng-container>
                              <small
                                class="text-danger mar-ab"
                                style="line-height: 10px"
                                *ngIf="
                                  enrollMentCheckForm.controls['vins'].hasError(
                                    'pattern'
                                  ) || !validationVIN
                                "
                              >
                                Please insert Valid VIN
                              </small>
                            </div>
                            <div class="row">
                              <div
                                class="col-xs-12 col-lg-12 cta-link center-button"
                              >
                                <button
                                  type="submit"
                                  class="data-demo"
                                  [disabled]="
                                    !enrollMentCheckForm.valid || !validationVIN
                                  "
                                >
                                  Submit
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-lg-1">&nbsp;</div>
                    <div class="col-xs-12 col-lg-7" style="margin-left: -30px">
                      <h4
                        class="leading-sec"
                        style="
                          text-align: center;
                          font-size: 18px;
                          font-weight: 600;
                          font-family: 'Poppins';
                          margin-top: 20px;
                        "
                      >
                        VIN Status
                      </h4>

                      <div class="row eligible-vin">
                        <div class="col-xs-12 col-lg-12">
                          <span class="fl-left">
                            <ng-container
                              *ngIf="
                                eligiblity != 'True' && eligiblity != 'False'
                              "
                              ><h4 class="heading-status">
                                VIN :
                                <span class="heading-status-nodata"
                                  >1FT********996</span
                                >
                              </h4></ng-container
                            >
                            <ng-container *ngIf="eligiblity == 'True'"
                              ><h4 class="heading-status">
                                VIN :<span class="heading-status-true"
                                  >{{ vinId }}
                                  <sup
                                    ><i class="mdi mdi-check-decagram"></i></sup
                                ></span></h4
                            ></ng-container>
                            <ng-container *ngIf="eligiblity == 'False'"
                              ><h4 class="heading-status-no">
                                VIN :<span class="heading-status-no"
                                  >{{ vinId }}
                                  <sup><i class="mdi mdi-close-circle"></i></sup
                                ></span></h4
                            ></ng-container>
                          </span>
                          <span class="fr-right">
                            <h4
                              class="heading-status-nodata"
                              *ngIf="
                                eligiblity != 'True' && eligiblity != 'False'
                              "
                            >
                              VIN Status not found
                            </h4>
                            <h4
                              class="right-heading"
                              *ngIf="eligiblity == 'True'"
                            >
                              VIN eligible for enrollment
                            </h4>
                            <h4
                              class="left-heading"
                              *ngIf="eligiblity == 'False'"
                            >
                              VIN not eligible for enrollment
                            </h4>
                          </span>
                        </div>
                      </div>

                      <div class="row" style="margin-top: 12px">
                        <div
                          class="col-xs-12 col-lg-8"
                          style="margin-left: -12px"
                        >
                          <div class="row">
                            <div class="col-md">
                              <div
                                class="box5"
                                *ngIf="eligiblityData?.make != null"
                              >
                                <h5 class="center-heading-data heading-box">
                                  Make
                                </h5>
                                <h4 class="heading-box-data">
                                  {{ eligiblityData?.make }}
                                  <ng-container
                                    *ngIf="eligiblityData?.make == null"
                                    ><a style="color: red">N/A</a></ng-container
                                  >
                                </h4>
                              </div>
                              <div
                                class="box5-null"
                                *ngIf="eligiblityData?.make == null"
                              >
                                <h5
                                  class="center-heading-data heading-box"
                                  style="color: rgb(206, 205, 205)"
                                >
                                  Make
                                </h5>
                                <h4 class="heading-box-data">
                                  <ng-container
                                    *ngIf="eligiblityData?.make == null"
                                    ><a style="color: rgb(206, 205, 205)"
                                      >No Data Found</a
                                    ></ng-container
                                  >
                                </h4>
                              </div>
                            </div>
                            <div class="col-md">
                              <div
                                class="box6"
                                *ngIf="eligiblityData?.model != null"
                              >
                                <h5 class="center-heading-data heading-box">
                                  Model
                                </h5>
                                <h4 class="heading-box-data">
                                  {{ eligiblityData?.model }}
                                  <ng-container
                                    *ngIf="eligiblityData?.model == null"
                                    ><a style="color: red">N/A</a></ng-container
                                  >
                                </h4>
                              </div>
                              <div
                                class="box5-null"
                                *ngIf="eligiblityData?.model == null"
                              >
                                <h5
                                  class="center-heading-data heading-box"
                                  style="color: rgb(206, 205, 205)"
                                >
                                  Model
                                </h5>
                                <h4 class="heading-box-data">
                                  <ng-container
                                    *ngIf="eligiblityData?.make == null"
                                    ><a style="color: rgb(206, 205, 205)"
                                      >No Data Found</a
                                    ></ng-container
                                  >
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="row" style="margin-top: 12px">
                            <div class="col-md">
                              <div
                                class="box7"
                                *ngIf="eligiblityData?.trim != null"
                              >
                                <h5 class="center-heading-data heading-box">
                                  Trim
                                </h5>
                                <h4 class="heading-box-data">
                                  {{ eligiblityData?.trim }}
                                  <ng-container
                                    *ngIf="eligiblityData?.trim == null"
                                    ><a style="color: red">N/A</a></ng-container
                                  >
                                  <ng-container
                                    *ngIf="eligiblityData?.trim == ''"
                                    ><a style="color: red">N/A</a></ng-container
                                  >
                                </h4>
                              </div>
                              <div
                                class="box5-null"
                                *ngIf="eligiblityData?.trim == null"
                              >
                                <h5
                                  class="center-heading-data heading-box"
                                  style="color: rgb(206, 205, 205)"
                                >
                                  Trim
                                </h5>
                                <h4 class="heading-box-data">
                                  <ng-container
                                    *ngIf="eligiblityData?.trim == null"
                                    ><a style="color: rgb(206, 205, 205)"
                                      >No Data Found</a
                                    ></ng-container
                                  >
                                </h4>
                              </div>
                            </div>
                            <div class="col-md">
                              <div
                                class="box8"
                                *ngIf="eligiblityData?.year != null"
                              >
                                <h5 class="center-heading-data heading-box">
                                  Year
                                </h5>
                                <h4 class="heading-box-data">
                                  {{ eligiblityData?.year }}
                                  <ng-container
                                    *ngIf="eligiblityData?.year == null"
                                    ><a style="color: red">N/A</a></ng-container
                                  >
                                </h4>
                              </div>
                              <div
                                class="box5-null"
                                *ngIf="eligiblityData?.year == null"
                              >
                                <h5
                                  class="center-heading-data heading-box"
                                  style="color: rgb(206, 205, 205)"
                                >
                                  Year
                                </h5>
                                <h4 class="heading-box-data">
                                  <ng-container
                                    *ngIf="eligiblityData?.year == null"
                                    ><a style="color: rgb(206, 205, 205)"
                                      >No Data Found</a
                                    ></ng-container
                                  >
                                </h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-lg-4">
                          <img
                            src="assets/images/13_update.png"
                            class="img-car"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane"
                  [class.show]="activeTab === 'bulk-vin'"
                  [class.active]="activeTab === 'bulk-vin'"
                  id="profile"
                  role="tabpanel"
                >
                  <div class="main-container">
                    <div class="pt-1">
                      <div class="row row-flex">
                        <div class="col-3 col-flex">
                          <div class="section-card2">
                            <form [formGroup]="bulkEnrollmentForm">
                              <div class="section-card-heading">
                                Bulk VIN Eligibility
                              </div>
                              <div class="section-card-link pt-2">
                                <u class="pointer" (click)="downloadSamples()"
                                  >Download Sample File</u
                                >
                              </div>

                              <div class="pt-2 flex-items-center">
                                <div class="custom-file-input-wrapper">
                                  <input
                                    type="file"
                                    id="fileInput"
                                    class="custom-file-input"
                                    (change)="uploadFiles($event)"
                                    (click)="$event.target.value = null"
                                  />
                                  <label
                                    for="fileInput"
                                    class="custom-file-label"
                                  >
                                    <img
                                      src="../../assets/images/upload_button.svg"
                                      alt="Upload Icon"
                                      class="upload-icon"
                                    />
                                    <span
                                      *ngIf="!uploadIconClass"
                                      class="upload-text"
                                      >Upload Data in .CSV format</span
                                    >
                                    <span
                                      *ngIf="uploadIconClass"
                                      class="upload-text"
                                      >{{ fileName }}</span
                                    >
                                  </label>
                                </div>
                              </div>

                              <div class="pt-2 flex-items-center">
                                <div
                                  class="submit-button pointer"
                                  (click)="
                                    bulkVINUpload(bulkEnrollmentForm.value)
                                  "
                                >
                                  Submit
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <div class="col-9 col-flex">
                          <div class="section-card top-section-card">
                            <div class="section-link pointer" (click)="geteligibleVin(selectedId)">
                              Download Detail Summary
                              <img
                                src="../../../../assets/images/detail_summary.svg"
                                alt=""
                              />
                            </div>
                            <div class="section-card-header">
                              <div class="flex-space-between">
                                <div class="section-card-heading">Summary</div>

                                <div class="section-card-subsection">
                                  <div
                                    class="flex-center"
                                    *ngIf="status == 'IN_PROGRESS'"
                                  >
                                    <span class="small-circle"></span>
                                    <span class="sub-text padding-around"
                                      >Status:
                                    </span>
                                    <span
                                      class="progress-text"
                                      *ngIf="status == 'IN_PROGRESS'"
                                      >Progress</span
                                    >
                                  </div>
                                  <span
                                      class="completed-text"
                                      *ngIf="status != 'IN_PROGRESS'"
                                    >
                                      <div class="completed_Button_container">
                                        <span
                                          ><img
                                            src="assets/images/status_completed.svg"
                                            class="button_container_img completed_Button"
                                            alt=""
                                        /></span>
                                        <span class="completed_Button"
                                          >Completed</span
                                        >
                                      </div></span
                                    >
                                  <div class="flex-center">
                                    <div class="sub-text padding-around">
                                      Last file upload:
                                    </div>
                                    <div
                                      class="sub-text2 file-name"
                                      title="{{ reportFileName }}.csv"
                                    >
                                      VIN...
                                    </div>
                                  </div>
                                  <div class="flex-center">
                                    <div class="sub-text padding-around">
                                      Last file upload date:
                                    </div>
                                    <div class="sub-text2">
                                      {{ uploadedDate | date : "mediumDate" }}
                                    </div>
                                  </div>
                                  <div class="flex-center">
                                    <div class="sub-text padding-around">
                                      Time:
                                    </div>
                                    <div class="sub-text2">
                                      {{ uploadedDate | date : "shortTime" }}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="section-card-body">
                              <div class="section-card-subsection1">
                                <div class="section-card-subsection-text">
                                  Total VINs uploaded
                                </div>
                                <div class="section-card-subsection-text">
                                  Duplicate VINs
                                </div>
                                <div class="section-card-subsection-text">
                                  Invalid/Incorrect VINs
                                </div>
                                <!-- <div class="section-card-subsection-text">
                                  Non Addressable VINs by CerebrumX
                                </div> -->
                                <div class="section-card-subsection-text">
                                  Eligible VINs
                                </div>
                                <div class="section-card-subsection-text">
                                  Addressable VINs by CerebrumX
                                </div>
                              </div>
                              <div class="section-card-subsection1">
                                <div
                                  class="subsection-card subsection-text"
                                  data-tooltip="Total number of Vins"
                                >
                                  {{ totalVins ? totalVins : "0" }}
                                </div>
                                <div
                                  class="subsection-card subsection-text"
                                  data-tooltip="VINs with multiple entries"
                                >
                                  {{ duplicateVin }}
                                </div>
                                <div
                                  class="subsection-card subsection-text"
                                  data-tooltip="VINs that are not as per the NHTSA
                                guidelines"
                                >
                                  {{ invalidVinCounts }}
                                </div>
                                <!-- <div
                                  class="subsection-card subsection-text"
                                  data-tooltip="VINs outside of Ford Pro, GM, Stellantis,
                                Toyota & Tesla"
                                >
                                  {{ nonAddressableVin }}
                                </div> -->
                                <div
                                  class="subsection-card subsection-text"
                                  data-tooltip="VINs that are connected and eligible for
                                data onboarding"
                                >
                                  {{ eligibleVin }}
                                </div>
                                <div
                                  class="subsection-card subsection-text"
                                  data-tooltip="VINs part of Ford Pro, GM, Stellantis,
                                Toyota & Tesla"
                                >
                                  {{ oemMakeCount }}
                                </div>
                              </div>
                              <!-- <div class="section-card-subsection1">
                                <div class="section-card-subsection-text">
                                  Eligible VINs
                                </div>
                                <div class="section-card-subsection-text">
                                  Non Eligible VINs
                                </div>
                                <div class="section-card-subsection-text"></div>
                                <div class="section-card-subsection-text"></div>
                                <div class="section-card-subsection-text"></div>
                              </div> -->
                              <!-- <div class="section-card-subsection1">
                                <div
                                  class="subsection-card subsection-text"
                                  data-tooltip="VINs that are connected and eligible for
                                data onboarding"
                                >
                                  {{ eligibleVin }}
                                </div>
                                <div
                                  class="subsection-card subsection-text"
                                  data-tooltip="VINs that are not eligible for data
                                onboarding"
                                >
                                  {{ nonComplaintVin }}
                                </div>
                                <div class="subsection-card-empty"></div>
                                <div class="subsection-card-empty"></div>
                                <div class="subsection-card-empty"></div>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="pt-4">
                        <div class="flex-space-between">
                          <div class="main-heading2">
                            <img
                              src="../../assets/images/ByMake.svg"
                              alt=""
                              class="by_make_image"
                            />
                            ADDRESSABLE VINS BY CEREBRUMX STATUS
                          </div>
                          <div class="download_section">
                            <span
                              class="download_button"
                              (click)="
                                downloadEligibleVIN(); enrollModel(vinEnroll)
                              "
                              ><img
                                src="../../../../assets/images/download_arrow.svg"
                                alt=""
                                class="download-icon_img"
                              />Download Eligible VINs</span
                            >
                            <span
                              class="vin-enroll"
                              (click)="openModal()"
                            >
                              <img
                                src="../../../../assets/images/enroll_eligible.svg"
                                alt=""
                                class="enroll-icon_img"
                              />
                              Enroll eligible VINs</span
                            >
                          </div>
                          <!-- <div class="download_image"> -->
                          <!-- </div> -->
                        </div>
                      </div>
                      <div class="pt-2">
                        <div
                          class="main-section-card"
                          *ngIf="activeTab === 'bulk-vin'"
                        >
                          <app-bulk-eligiblity-status
                            [oem]="dataOem"
                          ></app-bulk-eligiblity-status>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- to open vin enrollment popup -->

<app-vin-enrollment [isVIN]="isVIN" (modelClose)="closeVINModel($event)" (isEnroll)="addEnroll($event)"></app-vin-enrollment>



<ng-template #vinEnroll let-modal>
  <div class="main-cn text-right" style="text-align: right; margin-right: 9px">
    <button
      type="button"
      style="padding-top: 10px"
      class="btn-close"
      data-dismiss="modal"
      (click)="modal.dismiss('Cross click')"
      aria-hidden="true"
    ></button>
  </div>
  <div
    class="modal-header"
    style="
      padding-bottom: 6px;
      border-bottom: 1px solid #ef8321;
      padding-top: 0px;
    "
  >
    <h5>Your eligible VINs are downloaded.</h5>
  </div>
  <div class="modal-body enroll-content">
    <span>Map VINs to Organization id and data pack to start enrolling</span>
  </div>
</ng-template>

<ng-template #bulkVinCheckModel let-modal>
  <div class="modal-header">
    <h5>Bulk Eligibility Status</h5>
    <button
      type="button"
      class="btn-close"
      data-dismiss="modal"
      (click)="modal.dismiss('Cross click')"
      aria-hidden="true"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin-bottom: 12px">
      <div class="col-xs-12 col-lg-4">
        <input
          class="form-control"
          type="text"
          placeholder="Search by ID & Provider"
          [(ngModel)]="searchId"
        />
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
      <div class="col-xs-12 col-lg-12">
        <div class="table-responsive" style="height: 360px">
          <table id="datatable-buttons" class="table table-bordered">
            <thead class="table-light event-table">
              <tr>
                <th>ID</th>
                <th>Number of VIN</th>
                <th>Owner</th>
                <th>State</th>
                <th>Download</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let listItem of bulkData
                    | searchbyId : searchId
                    | slice : (page - 1) * pageSize : page * pageSize
                "
              >
                <td>{{ listItem?.id }}</td>
                <td>{{ listItem?.numberOfVins }}</td>
                <td>{{ listItem?.requestRecdFrom }}</td>
                <ng-container *ngIf="listItem?.state == 'IN_PROGRESS'">
                  <td style="color: #f37721">
                    <i
                      class="bx bx-dots-horizontal-rounded bx-spin"
                      style="font-size: 20px"
                    ></i
                    >In Progress
                  </td>
                </ng-container>
                <ng-container *ngIf="listItem?.state == 'FAILED'">
                  <td style="color: red">Failed</td>
                </ng-container>
                <ng-container *ngIf="listItem?.state == 'COMPLETED'">
                  <td style="color: green">Completed</td>
                </ng-container>
                <td>
                  <button
                    [disabled]="listItem?.state !== 'COMPLETED'"
                    type="button"
                    class="btn btn-outline-success waves-effect waves-light btn-hi"
                    style="height: 35px !important; width: 35px !important"
                  >
                    <i
                      class="bx bx-download font-size-16 align-middle me-2 uplaod-btn"
                      (click)="
                        geteligibleVin(listItem?.id);
                        summaryDownload(listItem?.id)
                      "
                    ></i>
                  </button>
                </td>
                <!-- <td>
                  <button [disabled]="listItem?.state !== 'COMPLETED'" type="button"
                    class="btn btn-outline-success waves-effect waves-light btn-hi" style="height: 35px!important;
                    width: 35px!important;">
                    <i class="bx bx-download font-size-16 align-middle me-2 uplaod-btn"
                    (click)="geteligibleVinNew(listItem?.id)"></i>
                  </button>
                </td> -->
              </tr>
            </tbody>
            <tbody *ngIf="loading">
              <ng-container>
                <tr *ngIf="(bulkData | searchbyId : searchId)?.length < 1">
                  <td colspan="8">
                    <h5 style="text-align: center">No Data Found ...</h5>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="mt-2 text-end">
          <span style="float: right">
            <ngb-pagination
              [collectionSize]="(bulkData | searchbyId : searchId)?.length"
              [(page)]="page"
              [pageSize]="pageSize"
            >
            </ngb-pagination>
          </span>
          <span style="float: left">
            <select
              class="form-select"
              style="width: auto"
              [(ngModel)]="pageSize"
            >
              <option [ngValue]="5">5</option>
              <option [ngValue]="10">10</option>
              <option [ngValue]="20">20</option>
              <option [ngValue]="40">40</option>
              <option [ngValue]="80">80</option>
              <option [ngValue]="100">100</option>
            </select>
          </span>
          <span class="pageination">Per Pages</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
