
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
    background: #dadada!important;
    border-top-right-radius: 12px!important;
    color: #ffffff!important;
    text-decoration: none!important;
    border-bottom-right-radius: 12px!important;
  }
