  .mr6 {
    margin-top: 6px !important;
  }

  .mr20 {
    margin-top: 20px !important;
  }

  ::ng-deep .select-filter .ng-select .ng-select-container {
    height: 45px !important;
    border-radius: 4px !important;
    border: 1px solid #ced4da !important;
}

  .topLevelData {
    font-size: 14px !important;
    font-weight: 600 !important;
    color:#000!important
  }

  .icon-loading {
    color: #000000 !important
  }

  .mr-filter{
    margin-top: -12px;
    margin-bottom: -12px;
  }

  .container{
    border: none!important;
  }


  .table {
    --bs-table-accent-bg: #ffffff !important;
  }

  .table th {
    color: #989EA5 !important;
    font-weight: 500 !important;
    text-align: left !important;
  }

  .table td {
    font-size: 11px !important;
    color: #545454 !important;
    font-family: 'system-ui' !important;
    font-weight: 500 !important;
  }

  .failedData{
    font-size: 14px!important;
    font-weight: 600!important;
     color:#000!important
   }


  .table-b {
    border-radius: 25px !important
  }

  .table-head {
    background-color: #fff !important;
    font-family: 'Poppins' !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #989EA5;
  }

  ::-webkit-scrollbar {
    overflow-x: auto;
    height: 6px;
    margin-top: -12px;
  }

  .no-border:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .content-section-heading {
    padding-top: 6%;
    padding-left: 6%;
    color: #3d3d3d;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins';

    .text_number {
      font-size: 18px;
      font-weight: 600;
      font-family: 'Poppins';

    }

    .text_number2 {
      font-size: 18px;
      font-weight: 600;
      font-family: 'Poppins';
    }
  }

  .golden {
    color: #E3B82C !important
  }

  .seared {
    color: #ff7d7d !important;
  }

  .seagreen {
    color: #2ca67e !important;
  }

  .green-border {
    border: 2px solid #E3B82C !important;
  }

  .purple-border {
    border: 2px solid #ff7d7d !important;
  }

  .leaf-border {
    border: 2px solid #87a9f7;
  }

  .red-border {
    border: 2px solid #2ca67e !important;
  }

  .content-section-text {
    color: #808593;
    padding-left: 6%;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins';
  }

  .box5 {
    height: 80px;
    border-radius: 12px;
    background-color: #ffffff;
  }

  .newSelect1 {
    color: #9fa19f;
    width: 100%;
    height: 37px !important;
    background-size: 10px 12px !important;
    font-family: 'Poppins' !important;
    border-radius: 10px !important
  }

  ::ng-deep.newSelect1 .ng-select-container {
    background-color: #FA751A !important;
  }

  ::ng-deep.newSelect1.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #ffffff !important;
  }

  ::ng-deep.newSelect1.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
    top: -2px;
    border-color: transparent transparent #ffffff !important;
    border-width: 0 5px 5px;
  }

  ::ng-deep.newSelect1.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    color: #ffffff !important
  }

  ::ng-deep.newSelect1.ng-select .ng-clear-wrapper {
    color: #ffffff !important;
  }

  ::ng-deep.newSelect1.ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: #fff transparent transparent !important;
    border-style: solid;
    border-width: 5px 5px 2.5px;
  }

  .unit-font {
    font-size: 12px !important;
    font-weight: 500 !important;
    font-family: 'Poppins' !important
  }

  .loding-back {
    line-height: 25px !important
  }

  .overDue {
    border: 1px solid #ff7d7d !important;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 8px;
    padding-right: 10px;
    border-radius: 20px;
    background: #fff6f6;
  }

  .snoozed {
    border: 1px solid #87a9f7 !important;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 8px;
    padding-right: 10px;
    border-radius: 20px;
    background: #dfe9ff;
  }

  .DueSoon {
    border: 1px solid #E3B82C !important;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 8px;
    padding-right: 10px;
    border-radius: 20px;
    background: #fff5d4;
  }

  .completed {
    border: 1px solid #ff7d7d !important;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 8px;
    padding-right: 10px;
    border-radius: 20px;
    background: #fff6f6;
  }

  /* Toggle Switch */
  .notification-toggle {
    display: flex;
    align-items: center;
    gap: 8px;
    /* spacing between text and switch */
  }

  .switch {
    border: none !important;
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }

  .slider::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked+.slider {
    background-color: #4caf50;
  }

  input:checked+.slider::before {
    transform: translateX(16px);
  }

  .nbtn {
    padding: 2px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-family: 'Poppins';
    cursor: pointer;
    border: none;
    margin-right: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
  }

  /* Green filled "Resolve" button */
  .resolve {
    background-color: #28a745;
    color: white;
    border: 1px solid #28a745;
  }

  .resolve::before {
    content: "✔";
    margin-right: 6px;
  }

  /* Outlined "Unresolve" button */
  .unresolve {
    background-color: transparent;
    color: #28a745;
    border: 1px solid #28a745;
  }

  .icon-button {
    background-color: #E2DFDF;
    border: none;
    width: 25px;
    height: 25px;
    padding: 3px 8px 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 5px;
  }

  .icon-button i {
    font-size: 18px;
    color: #4A4A4A;
  }

  /* Hover and active states */
  .edit-btn:hover,
  .edit-btn:active {
    background-color: #28a745;
    color:#ffffff
  }

  .edit-btn:hover i,
  .edit-btn:active i {
    color: white;
  }

  .delete-btn:hover,
  .delete-btn:active {
    background-color: #dc3545;
    color:#ffffff
  }

  .delete-btn:hover i,
  .delete-btn:active i {
    color: white;
  }

  .add-service-btn {
    background-color: #ffffff;
    /* Bright orange */
    color: #ff7a00;
    border: none;
    padding: 2px 8px;
    font-family: 'Poppins';
    border-radius: 8px;
    height: 36px;
    font-size: 12px;
    font-weight: 400;
    width: 109%;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    border:1px solid #ff7a00;
    transition: background-color 0.3s ease;
  }



  .add-service-btn:hover {
    background-color: #ffffff;
    width: 109%;
    /* Slightly darker on hover */
  }

  .plus-icon {
    font-size: 14px;
    font-weight: 400;
  }

  ::ng-deep .custom-ng-select .ng-select-container {
    border: 1px solid #666565 !important;
  }

  ::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    top: 3px!important;
}

.data-demo-yes{
  background-color:#4caf50;
  color:#ffffff;
  border:1px solid #4caf50;
  padding:5px 20px 5px 20px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
}

.data-demo-yes:hover{
  background-color:#ffffff;
  color:#4caf50;
  border:1px solid #4caf50;
  padding:5px 20px 5px 20px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
}

.data-demo-no{
  background-color:#ff0000;
  color:#ffffff;
  border:1px solid #ff0000;
  padding:5px 20px 5px 20px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
}

.data-demo-no:hover{
  background-color:#ffffff;
  color:#ff0000;
  border:1px solid #ff0000;
  padding:5px 20px 5px 20px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
}

.mr-left-20{
  margin-left: 20px;
}

.resolve-container {
  position: relative;
}

.calendar-popup {
  position: absolute;
  top: 24px;
  left: -100px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  width: 280px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day-label {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Poppins';
  color:#989ea5!important
}

.date-cell {
  text-align: center;
  padding: 8px 0;
  color: #000000!important;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 'Poppins';
}

.date-cell:hover {
  background-color: #f5aa74;
  color:#000000
}

.date-cell.empty {
  background: transparent;
  pointer-events: none;
}

.calendar-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.custom-dropdown {
  position: relative;
  width: 100%;
  max-width: 300px;
  border: none !important;
  border-radius: 4px;
  background-color: #f8f8fb !important;
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 10;
}

.date-cell .disabled {
  // background-color: #d3d2d2;
  color: #989ea5 !important;
  pointer-events: none; /* Prevent clicking on disabled dates */
  font-size: 12px;
  font-family: 'Poppins';
}
.dropdown-list div {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.date-cell.active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

.dropdown-list div:hover {
  background-color: #f0f0f0;
}

.dropdown-selected {
  padding: 9px;
  font-size: 12px;
  color: #9fa19f !important;
  font-family: 'Poppins' !important;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  width: 165px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
  margin-left: 12px;
}

.dropdown-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Poppins';
}

.dropdown-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 12px;
  vertical-align: middle;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #9fa19f;
  transition: transform 0.2s ease;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.dropdown-option.active .consumer-name {
  font-weight: 500;
}
