<div class="page-content page-content-main">
  <div class="row sideMenuItem" style="margin-left: -36px; margin-top: -6px;">
      <div class="col-xs-12 content-right">
        <!-- Breadcrumb and Search Consumer or Fleet Id-->
        <div class="row" style="margin-left: 0px;">
          <div class="col-xs-12 col-lg-12">
            <span class="breadcrumb-left">
              <h1 class="login-headline heading-title">Service Reminders
              </h1>
            </span>
            <span class="breadcrumb-right mr-8">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a routerLink="/adlp/admin/admindashboard/dashboardfleet" class="breadcrumb-h6"><i
                        class="bx bx-home-circle"></i></a>
                  </li>
                  <li class="breadcrumb-item inactive-bread"><a
                      routerLink="/adlp/admin/admindashboard/dashboardfleet/fleet-maintenance">Maintenance</a></li>
                  <li class="breadcrumb-item text-selected active-bread">Service Reminders</li>
                </ol>
            </span>
          </div>
        </div>
        <!-- Breadcrumb and Search Consumer or Fleet Id end-->
        <!-- Select consumer and admin-->
        <div class="row consumer-pad">
       <div class="col-xs-12 col-lg-8 mr6">&nbsp;</div>

          <div class="col-xs-12 col-lg-2 mr6">
            <button class="add-service-btn" (click)="addReminder()">
              <span class="plus-icon">+</span> Add Service Reminder
            </button>
          </div>
          <div class="col-xs-12 col-lg-2 mr6">
            <ng-select [searchable]="true" class="newSelect1" [clearable]="true" placeholder="Organization Id/Name"
              (change)="selectFleetId()" [(ngModel)]="fleetIdData">
              <ng-option *ngFor="let fleet of fleetList" value="{{fleet.id}}">{{fleet.id}} -
                [{{fleet.name}}]</ng-option>
            </ng-select>
          </div>
          <!-- <div class="col-xs-12 col-lg-2 mr6">
            <ng-select
            [searchable]="true"
            class="newSelect1"
            [clearable]="true"
            placeholder="Group Name"
            [items]="groupList"
            bindLabel="name"
            bindValue="id"
            [(ngModel)]="groupIdData"
            (change)="onGroupIdChange($event)">

            <ng-template ng-option-tmp let-item="item">
              <span [ngStyle]="{ 'padding-left.px': item.level * 18 }">
                {{ item.name }}
              </span>
            </ng-template>
          </ng-select>
          </div> -->

          <!-- Add service reminder btn and fleet id for customer and admin both-->
        </div>
        <!-- Select consumer and admin end-->
        <!-- Boxed for Top level view-->
        <div class="row mr-24">
          <div class="col-xs-12 col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <!--Due soon vehicle reminder-->
                  <div class="col-xs-12 col-md">
                    <div class="box5 green-border">
                      <div class="content-section-heading">
                        <span class="text_number loding-back golden">
                          <!-- Spinner -->
                          <span *ngIf="dueSoonVehiclesReminder === undefined && !noDataFound">
                            <i class="fa fa-spinner fa-spin icon-loading"></i>
                          </span>
                          <!-- No data -->
                          <span *ngIf="noDataFound" class="topLevelData"> No data found </span>
                          <!-- Valid Data -->
                          <ng-container
                            *ngIf="!noDataFound && dueSoonVehiclesReminder !== null && dueSoonVehiclesReminder !== undefined">
                            {{ dueSoonVehiclesReminder | number: '1.0-0' }}
                          </ng-container>
                        </span>
                      </div>
                      <div class="content-section-text">Due Soon Vehicles</div>
                    </div>
                  </div>
                  <!--Due soon vehicle reminder end-->
                  <!-- over due vehicle reminder-->
                  <div class="col-xs-12 col-md">
                    <div class="box5 purple-border">
                      <div class="content-section-heading">
                        <span class="text_number loding-back seared">
                          <!-- Spinner -->
                          <span *ngIf="overdueVechiclesReminder === undefined && !noDataFound">
                            <i class="fa fa-spinner fa-spin icon-loading"></i>
                          </span>
                          <!-- No data found -->
                          <span *ngIf="noDataFound" class="topLevelData"> No data found </span>
                          <!-- Valid data -->
                          <ng-container
                            *ngIf="!noDataFound && overdueVechiclesReminder !== undefined && overdueVechiclesReminder !== null">
                            {{ overdueVechiclesReminder | number : '1.0-0' }}
                          </ng-container>
                        </span>
                      </div>
                      <div class="content-section-text">Overdue Vehicles</div>
                    </div>
                  </div>
                  <!-- over due vehicle reminder end-->
                  <!-- Average complete on time percentage-->
                  <div class="col-xs-12 col-md">
                    <div class="box5 red-border">
                      <div class="content-section-heading">
                        <span class="text_number loding-back seagreen">
                          <!-- Spinner -->
                          <span *ngIf="avgCompleteOnTimePercentage === undefined && !noDataFound">
                            <i class="fa fa-spinner fa-spin icon-loading"></i>
                          </span>
                          <!-- No data found -->
                          <span *ngIf="noDataFound" class="topLevelData"> No data found </span>
                          <!-- Valid data -->
                          <ng-container
                            *ngIf="!noDataFound && avgCompleteOnTimePercentage !== undefined && avgCompleteOnTimePercentage !== null">
                            {{ avgCompleteOnTimePercentage | number : '1.0-0' }} %
                            <span class="unit-font seagreen">On Time</span>
                          </ng-container>
                        </span>
                      </div>
                      <div class="content-section-text">Average Complete</div>
                    </div>
                  </div>
                  <!-- Average complete on time percentage end-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Boxed for top level view End-->
        <!--Serach Area by vin, by category, by task-->
        <div class="row mr-filter">
          <!-- Search by VIN-->
          <div class="col-xs-12 col-lg-4 mr-left-20">
            <input class="form-control input-vin font-common" maxlength="17" type="text"
              placeholder="Search by Vehicle Name"  [(ngModel)]="searchAlias" style="height: 35px!important;">
          </div>
          <!-- Search by VIN end-->
          <!-- Search by service category-->
          <div class="col-xs-12 col-lg-3">
            <ng-select [items]="serviceCategory" bindLabel="name" bindValue="id" placeholder="Select Service Category"
              [(ngModel)]="selectedCategoryId" [multiple]="false" [clearable]="true" (change)="onCategoryChange($event)"
              class="font-common">
            </ng-select>
          </div>
          <!-- Search by service category end-->
          <!-- Serach by service task-->
          <div class="col-xs-12 col-lg-3">
            <ng-select [items]="serviceTaskList" bindLabel="name" bindValue="id" placeholder="Search by Task"
              [(ngModel)]="searchbyTask" [multiple]="true" [closeOnSelect]="false" [clearable]="true"
              class="font-common ">
            </ng-select>
          </div>
          <!-- Serach by service task-->
        </div>
        <!-- Search Area End-->
        <!-- Main data table-->
        <div class="row mr-table mr20">
          <div class="col-lg-12 col-xs-12">
            <div class="table-responsive table-b" style="height: 236px;    width: 101.91%;">
              <table class="table table01" style="width: 122%;">
                <thead class="table-head">
                  <tr>
                    <th class="table-column-width">Vehicle Name</th>
                    <th class="table-column-width">Service Category</th>
                    <th class="table-column-width2">Service Task</th>
                    <th class="table-column-width">Status</th>
                    <th class="table-column-width">Next Due</th>
                    <th class="table-column-width">Last Completed</th>
                    <th class="table-column-width">Notification</th>
                    <th class="table-column-width">&nbsp;</th>
                    <th class="table-column-width">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of getFilteredSummaryData()">
                    <td>{{ item.alias || '--' }}</td>
                    <td style="width: 10%;">
                      {{
                        item.serviceCategory == '1' ? 'Repair' :
                        item.serviceCategory == '2' ? 'PM' :
                        item.serviceCategory == '3' ? 'Tire' :
                        '--'
                      }}
                    </td>
                    <td style="width: 14%;">{{ item.serviceTaskName || '--' }}<br>
                    <span style="    font-size: 8px !important;font-family: ''!important;">Every {{item.timeInterval}} {{item.timeIntervalUnit}} or {{item.odometerInterval}} mi</span></td>
                    <td style="width: 10%;"><span [ngClass]="{
                                    'overDue': item.status === 'Overdue',
                                    'snoozed': item.status === 'Snoozed',
                                    'DueSoon': item.status === 'Due Soon',
                                    'completed': item.status === 'Vehicle Completed'
                                  }">
                        {{ item.status || '--' }}
                      </span></td>
                    <td style="width: 20%;"><span [innerHTML]="formatNextDueInfo(item.nextDueInfo)"></span></td>
                    <td>{{ item.lastCompleted | date: 'MMM dd, y' || '--' }}</td>
                    <td>
                      <div class="notification-toggle">
                        <label class="switch">
                          <input type="checkbox" [(ngModel)]="item.active" (change)="onToggle(item)">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </td>
                    <td>
                      <div class="resolve-container">
                        <!-- Unresolved State -->
                        <button *ngIf="!item.resolved && !item.lastCompleted" class="nbtn unresolve" (click)="toggleCalendar(item)">
                          Resolve
                        </button>

                        <!-- Custom Calendar -->
                        <div *ngIf="showCalendar && selectedItem === item" class="calendar-popup">
                          <div class="calendar-header">
                            <button (click)="prevMonth()" style="background-color: #fff; border:1px solid #d3d0d0">&lt;</button>
                            <span>{{ currentMonth | date: 'MMMM yyyy' }}</span>
                            <button (click)="nextMonth()" style="background-color: #fff; border:1px solid #d3d0d0">&gt;</button>
                          </div>

                          <div class="calendar-grid">
                            <div class="day-label" *ngFor="let day of dayLabels">{{ day }}</div>
                            <div
                            class="date-cell"
                            *ngFor="let day of calendarDays"
                            [class.empty]="!day"
                            [class.disabled]="day && isFutureDate(day)"
                            (click)="day && !isFutureDate(day) && selectDate(day)"
                          >
                            {{ day?.getDate() }}
                          </div>
                          </div>

                          <div class="calendar-actions">
                            <span *ngIf="selectedDate">Selected: {{ selectedDate | date: 'MMM d, y' }}</span>
                            <button class="nbtn submit" (click)="submitDate(item)">Submit</button>
                          </div>
                        </div>

                        <!-- Resolved State -->
                        <button *ngIf="item.resolved || item.lastCompleted" class="nbtn resolve">
                          Resolve
                        </button>
                      </div>

                      </td>
                    <td style="width: 10%;">
                      <button class="icon-button edit-btn" title="Edit"  (click)="editServiceReminder(item)">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button class="icon-button delete-btn" title="Delete" (click)="deletePopUp(deleteConfirmationPopup, item.id,item.vin)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="getFilteredSummaryData().length === 0">
                    <td colspan="9" class="text-center">No data found</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Main data table end-->
      </div>
  </div>
  </div>
<!-- Delete confirmation popup-->
<ng-template #deleteConfirmationPopup let-modal class="modal-width">
  <div class="modal-header">
    <h5 class="modal-title mt-0" style="font-family: 'Poppins'">Delete Reminders Service</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
       <h5 style="text-align: center; font-size: 14px; font-weight: 400; font-family: 'Poppins';">Do you want to delete service reminders for the vehicle <strong style="color: #ff0000;">{{ selectedReminderVin || '--' }}</strong> ?</h5>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row" style="margin-top: 12px">
      <div class="col-xs-12 col-lg-12">

        <button class="data-demo-no btn-primary" style="float: right" (click)="modal.dismiss('Cross click')">
          No
         </button>
         <button class="data-demo-yes btn-primary" style="float: right; margin-right: 12px;" (click)="confirmDelete()">
          Yes
         </button>
      </div>
    </div>
  </div>
</ng-template>
