<body class="p-0 page-container-height">
  <!-- Top Section-->
  <section class="auth-section new login-section text-center">
    <!-- Login Form-->
    <div class="auth-wrapper mx-auto shadow p-5 rounded page-container-box">
      <div class="logo-box">
        <img src="../../../assets/images/watch.svg" class="watch">
      </div>

      <!-- Form Container-->
      <div class="auth-form-container text-start mx-auto">
      <h1 class="login-headlines font-weight-bold mb-3 heading-main-row">Your session has expired due to inactivity</h1>
      <h5 class="login-here">Please login again.</h5>
      </div>
      <div class="pt-4 text-center login-container"><div class="login-button" (click)="login()" style="cursor: pointer;">
        <span style="float: left;">Login</span>
        <span style="float: right;"><img src="../../../assets/images/arrowwhite.svg" style="height: 15px;"></span></div></div>
      <!-- Form Container End-->
    </div>
  </section>
  <!-- Top Section End-->
    <!--Footer-->
  <!-- <div class="row footerl">
    <div class="col-xs-12 col-lg-12 row-backdrop">
      <div class="row">
        <div class="col-xs-12 col-lg-5">
          <h4 class="copyright">©2024-2025 CerebrumX Labs Inc. All rights reserved</h4>
        </div>
        <div class="col-xs-12 col-lg-7">
          <a href="#" class="termsandconditions">Terms and Conditions</a>
          <a href="#" class="termsandconditions">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div> -->
   <!--Footer End-->
</body>
