<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#fff" type="ball-elastic-dots" [fullScreen]="true">
    <div class="custom-spinner">
      <img src="../../../../../assets/images/spinner3.svg" alt="Your Logo">
    </div>
    <div class="loading-text">Please wait, we are getting information...</div>
  </ngx-spinner>
<div class="page-content page-content-main">
    <div class="row sideMenuItem">
        <div class="container">
            <!--Left side menu-->
                <div class="col-xs-12 col-lg-2 navbar-side-menu">
                    <app-sidebar></app-sidebar>
                </div>
            <!--Left side menu end-->
            <!--Right  side content-->
            <div class="col-xs-12 col-lg-12 content-right" style="margin-left: -13% !important;width: 100% !important;">
          <div class="row">
            <div class="col-xs-12 col-lg-12">
                <span class="breadcrumb-left" style="width: 50%;">
                    <h1 class="login-headline heading-title">Geofence Summary</h1>
                            <div class="row">
                                <!-- <div class="col-xs-12 col-lg-3">
                                    <h1 class="activeSinceFleet">{{customConsumer}}
                                    </h1>
                                </div> -->
                                <div class="col-xs-12 col-lg-9">
                                    <h1 class="activeSinceFleet" *ngFor="let consumer of consumerList">Active Since: {{ consumer.startDate }}
                                    </h1>
                                </div>
                            </div>
                </span>
                <span class="breadcrumb-right" style="width: 50%;">
                    <div class="row">
                        <div class="col-xs-12 col-lg-8"> &nbsp;</div>
                        <div class="col-xs-12 col-lg-4" *ngIf="user !='role_user_fleet'">
                            <ng-select [searchable]="true" class="newSelect1" (clear)="clearFleetSelection()"
                                [clearable]="true" placeholder="Organization Id/Name" (change)="selectFleetId()"
                                [(ngModel)]="fleetIdData">
                                <ng-option *ngFor="let fleet of fleetList" value="{{fleet.id}}">{{fleet.id}} -
                                    [{{fleet.name}}]</ng-option>
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-lg-4" *ngIf="user ==='role_user_fleet'">&nbsp;</div>

                    </div>
                </span>
            </div>
        </div>
        <div class="row mt-4" style="margin-top: -12px; margin-right: 12px;">
            <div class="col-xs-12 col-lg-10 summary-detail">
                <span class="user-icon f-le">
                    <img src="../../../../../assets/images/icon/aggresive.svg" class="icon">
                </span>
                <span class="f-le">
                    <h4 class="card-title card-heading mb-4">Geofence</h4>
                </span>
            </div>
             <!-- <div class="col-xs-12 col-lg-2">
                <ng-select style="margin-top: 6px;margin-right: -30px;" [items]="dataOfMonths" bindLabel="label" (change)="onTimePeriodChanges($event.value)"
                    bindValue="value" placeholder="Select Time Period" [(ngModel)]="selectedTimePeriodss"
                    class="newSelecting"></ng-select>
            </div>  -->
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="card">
        <div class="row">
            <div class="col-lg-9"></div>
            <div class="col-lg-3 d-flex justify-content-end mt-3 mb-2">
              <ng-select
                [items]="vinList"
                bindLabel="alias"
                bindValue="vin"
                placeholder="Select Vehicle VIN"
                [(ngModel)]="selectedVin"
                (ngModelChange)="filterByVin()"
                class="input-vins font-common"
                [ngStyle]="{ 'width': '100%', 'height': '45px' }"
              >
                <ng-template ng-label-tmp let-item="item">
                  {{ item.alias }} ({{ item.vin }})
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{ item.alias }} ({{ item.vin }})
                </ng-template>
              </ng-select>
            </div>
          </div>

          <!-- VIN, OEM and satus filter end -->
          <!-- Main data table-->

          <!-- ========================= Geofence Summary Section ========================= -->
<!-- <div class="row mt-4" style="margin-top: -12px; margin-right: 12px;">
    <div class="col-xs-12 col-lg-10 summary-detail">
      <span class="user-icon f-le">
        <img src="../../../../../assets/images/icon/geofence.svg" class="icon" alt="geofence icon">
      </span>
      <span class="f-le">
        <h4 class="card-title card-heading mb-4">Geofence Summary</h4>
      </span>
    </div>
  </div> -->

  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="card">
        <div class="row mr-table mx-2">
          <div class="col-lg-12 col-xs-12">
            <div class="table-wrapper">
              <div class="table-responsive table-b">
                <table class="table">
                  <thead class="table-head">
                    <tr>
                      <th class="table-column-width">VIN</th>
                      <th class="table-column-width">Vehicle Name</th>
                      <th class="table-column-width">Geofence Name</th>
                      <th class="table-column-width">Address</th>
                      <th class="table-column-width7">Number of IN</th>
                      <th class="table-column-width7">Duration Spent IN</th>
                      <th class="table-column-width7">Last Entry</th>
                      <th class="table-column-width7">Last Exit</th>
                    </tr>
                  </thead>

                  <tbody>
                    <ng-container *ngIf="geofenceSummaryData?.length > 0; else noGeofenceData">
                      <ng-container *ngFor="let gf of geofenceSummaryData; let i = index">
                        <tr class="bor-none">
                          <td>
                            <a href="javascript:void(0)" class="tripIdnewplus" (click)="toggleExpand(i)">
                              <i class="fas" [ngClass]="expandedRowIndex === i ? 'fa-minus' : 'fa-plus'"></i>
                            </a>
                            {{ gf.vin }}
                          </td>
                          <td>{{ gf.vehicleName }}</td>
                          <td>{{ gf.geofenceName }}</td>
                          <td>{{ gf.address || 'N/A' }}</td>
                          <td>{{ gf.numberOfIn }}</td>
                          <td>{{ gf.durationSpent }}</td>
                          <td>{{ gf.lastEntry }}</td>
                          <td>{{ gf.lastExit }}</td>
                        </tr>

                        <!-- Expanded Geofence Details -->
                        <tr *ngIf="expandedRowIndex === i">
                          <td colspan="12">
                            <div class="expanded-content p-3" style="background-color: #f8f9fa; border-radius: 5px;">
                              <h5>Geofence Details</h5>
                              <div class="table-responsive mt-2">
                                <table class="table table-bordered">
                                  <thead style="background-color: lightgray;">
                                    <tr>
                                      <th>Date</th>
                                      <th>Time In</th>
                                      <th>Time Out</th>
                                      <th>Duration</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let d of gf.details; else noDetails">
                                      <td>{{ d.date }}</td>
                                      <td>{{ d.timeIn }}</td>
                                      <td>{{ d.timeOut }}</td>
                                      <td>{{ d.duration }}</td>
                                    </tr>
                                    <ng-template #noDetails>
                                      <tr>
                                        <td colspan="4" class="text-center text-muted">No Details Found</td>
                                      </tr>
                                    </ng-template>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>

                    <!-- No Data Template -->
                    <ng-template #noGeofenceData>
                      <tr>
                        <td colspan="12" class="text-center">
                          <h5 class="heading-c">No Geofence Data Found ...</h5>
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ========================= End Geofence Summary Section ========================= -->




          </div>
          </div>
          </div>


         <!-- Breadcrumb and Search Consumer or Fleet Id End-->
         <!--Main Content Start End-->
        </div>
    </div>
</div>
