.mainbox{
    width: 164px;
    height: 44px;
    font-size: 14px;
    margin-left: 15px;
    background-color: #FDEEDF;
    border-radius: 10px;
    font-weight: 500;
    color: #000 !important;
    padding-left: 24px;
    padding-top: 11px;

}

.fn-label{
    color: #000;
    font-size: 12px !important;
    font-weight: 500 !important;
    font-family: "Poppins" !important;
    text-align: left;
}

body[data-sidebar=dark] .vertical-menu {
  background: #000!important;
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
  background: #dadada!important;
  border-top-right-radius: 12px!important;
  color: #ffffff!important;
  text-decoration: none!important;
  border-bottom-right-radius: 12px!important;
}
.pointer {
    cursor: pointer;
}

/* Hover state: orange text */
#sidebar-menu .side-nav-link-ref:hover,
#sidebar-menu .side-nav-link-a-ref:hover,
#sidebar-menu .sub-menu a:hover {
  color: orange !important;
  background-color: #ffefe4!important; /* Light orange background */
}

/* Active state: orange background and text */
#sidebar-menu .side-nav-link-ref.active,
#sidebar-menu .side-nav-link-a-ref.active,
#sidebar-menu .sub-menu a.active {
  background-color: #ffefe4!important; /* Light orange background */
  color: orange !important;
  font-weight: 500;
}

/* Optional: ensure sub-menu active items are highlighted as well */
#sidebar-menu .sub-menu li a.active {
  background-color: #ffefe4!important;
  color: orange !important;
}

.menu-image {
  height: 18px !important;
  margin-right: 6px !important;
  margin-left: 6px !important;
}

.navbar-side-menu-heading {
  color: #000 !important;
  font-weight: 500 !important;
}

.navbar-side-menu-panel {
  overflow-y: auto !important;
  margin-top: 0px !important
}

  .is-parent {
    color: #000 !important;
  }
  .fn-label {
    margin-left: 6px;
  }
  #sidebar-menu .has-arrow:after {
    color: #000 !important;
  }
 .mm-active .active {
    font-size: 13px !important;
  }

  ::ng-deep.simplebar-mask {
    background: #ffffff !important;
}

.menu-chatbot{
  margin-left: 0px;
  margin-top: 10px;
  background-color: #f4f4f4;
}

.sidebar-wrapper {
  width: 240px;
  transition: all 0.3s ease;
}

.sidebar-collapsed {
  width: 60px;
}

.sidebar-collapsed .fn-label,
.sidebar-collapsed .chatbot-label,
.sidebar-collapsed .menu-title {
  display: none;
}

::ng-deep.vertical-collpsed .vertical-menu #sidebar-menu>ul>li>a {
  padding: .425rem 1rem !important;
}
::ng-deep.vertical-collpsed .vertical-menu {
  position: absolute;
  text-align: center;
  width: 130px !important;
  z-index: 5;
}
.fixed-bottom-item {
  position: fixed !important;
  bottom: 0;
  width: 209.8px;
  left: 0;
  right: 0;
  background-color: #f8f8fb!important;
  z-index: 10;
  padding: 5px 0px;
  border-top: 1px solid #f8f8fb;
}

.fixed-bottom-items {
  position: fixed !important;
  bottom: 0;
  text-align: center;
  width: 130px !important;
  left: 0;
  right: 0;
  background-color: transparent!important;
  z-index: 10;
  padding: 5px 0px;
  border-top: 1px solid transparent;
}

.fixed-bottom-item a {
  color: #fff !important;
}

::ng-deep #sidebar-menu ul li ul.sub-menu li a {
  padding: 0.4rem 1.5rem 0.4rem 3.5rem;
  font-size: 12px!important;
  font-family: "Poppins";
  font-weight: 500;
  color: #000 !important;
}

::ng-deep .vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a {
  padding: 12px 0px !important;
}

::ng-deep #sidebar-menu ul li ul.sub-menu li a:hover {
  padding: 0.4rem 1.5rem 0.4rem 3.5rem;
  font-size: 12px!important;
  font-family: "Poppins";
  font-weight: 500;
  color: #000;
}

::ng-deep #sidebar-menu ul li ul.sub-menu li a:hover:active {
  padding: 0.4rem 1.5rem 0.4rem 3.5rem;
  font-size: 12px!important;
  font-family: "Poppins";
  font-weight: 500;
  color: #000;
}

::ng-deep.mm-active .active{
  font-size: 12px !important;
}
a.active-parent {
  color: #000 !important;
}

a.active-parent .fn-label {
  color: #FA751A !important;
}
a.active-parent {
  background-color: #ffefe4 !important;
  color: #FA751A !important;
}

.sidebar {
  width: 220px;
  background-color: #fff;
  color: #3B464F;
  border-right: 2.5px solid #E4E7EB;
  position: fixed;
  font-weight: 600 !important;
  height: 100%;
  overflow: auto;
  margin-left: 0px;
  overflow-y: auto;
  padding-bottom: 150px;
}

.sidebar a {
  display: block;
  padding-top: 3.6px !important;
  padding-left: 0px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  padding-bottom: 6px;
  text-decoration: none !important;
  color: #000000 !important;
  transition: background-color 0.2s !important;
  font-family: 'Poppins' !important;
}

.menu-image {
  height: 18px !important;
  margin-right: 6px !important;
  margin-left: 6px!important;
}

.sidebar a:hover {
  background-color: #FCEEE1 !important;
  border-radius: 5px;
  color: #000
}

.menu-sub-image {
  height: 14px !important;
  margin-right: 6px !important;
  margin-left: 6px !important;
}

.sub-menu-items {
  padding-top: 4px !important;
  padding-left: 27px !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  padding-right: 10px !important;
  font-weight: 500 !important;
  color: #3B464F !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-family: 'Poppins' !important;
  line-height: 25px;
}

.menu-item {
  padding-left: 31px !important;
  padding-top: 10px !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  font-weight: 500 !important;
  color: #3B464F !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-family: "Poppins" !important;
}

.menu-item.active {
  color: #fff;
  background: rgba(238, 143, 49, 0.15);
  border-radius: 8px;
}

/* Active submenu item */
.submenu-active {
background-color: #fceee1 !important;
border-radius: 5px;
}

.menu-item:hover {
  color: #000
}

.menu-item-link {
  display: block;
  padding: 10px 20px; /* Adjust as needed */
  text-decoration: none;
  color: #333; /* Link text color */
}

.menu-item-link.active {
  background-color: #FCEEE1; /* Background color when active */
  color: #000; /* Text color when active */
  padding-left: 10px;
}

.menu-item-link.active::after {
  margin-top: 0px;
content: "";
color: #000;
display: block;
width: 24px;
height: 2px;
background: #FCEEE1;
transition: width 0.3s;
margin-left: 50%;
}

.navbar-side-menu-heading {
  color: #000 !important;
  font-weight: 500 !important;
}

.navbar-side-menu-panel {
  overflow-y: auto !important;
}

.vin-img {
  height: 10px !important;
}
.vin-dash-img {
  height: 15px !important;
}
/*** add by smartmobiltry code by Vinod ***/
 .menu-item .submenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 162px;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.submenu li {
  padding: 8px 16px;
}

.submenu li a {
  text-decoration: none;
  color: #333;
}

.submenu li a:hover {
  background-color: #ddd;
}
.submenu a {
display: flex;
align-items: center;
text-decoration: none;
color: #333;
}

.submenu-icon {
font-size: 20px;
margin-right: 10px;
color: #555; /* Adjust icon color */
}

.submenu li a:hover .submenu-icon {
color: #000; /* Change color on hover */
}
.submenu-nested {
display: block; /* Hide nested submenu initially */
}
.submenu-nested.active {
display: block; /* Show nested submenu when active */
}
/* Main Menu Item */
.menu-item {
cursor: pointer;
display: flex;
align-items: center;
justify-content: space-between !important; /* Aligns items and pushes the icon to the right */
padding-right: 16px; /* Adds some space on the right for the icon */
}



/* NEW CSS FOR ALIGNED ARROWS */

.menu-with-arrow {

display: flex !important;

justify-content: space-between !important;

align-items: center !important;

width: 100% !important;

padding-right: 10px !important;

}



.menu-content {

display: flex !important;

align-items: center !important;

flex: 1 !important;

}



.dropdown-arrow {

display: flex !important;

align-items: center !important;

margin-left: auto !important;

padding-left: 8px !important;

}



/* Dropdown Icon Styling */

.dropdown-icon {

width: 16px !important;

height: 16px !important;

margin-left: 0 !important;

/* Remove any margin to ensure consistent positioning */

}

/* Submenu Container */
.submenu {
margin-left: 20px;
display: flex;
flex-direction: column;
}

/* Submenu Items Styling */
.sub-menu-items a {
display: flex;
align-items: center;
gap: 8px;
text-decoration: none;
padding: 8px 0;
}

/* Submenu Icon Styling */
.menu-sub-image {
width: 20px;
height: 20px;
}

/* end */
.submenu a.active {
background-color: #fceee1 !important;
border-radius: 5px;
color: #000;
}
.menu-item.menu-chatbot {
// height: 40px;
position: absolute;
bottom: 127px;
font-size: 12px;
font-weight: 400 !important;
font-family: Poppins;
// top: 645px;
z-index: 1000;
width: 234px;
background-color: #dcd7d7;
padding-left: 27px !important;
padding-top: 7px !important;
text-decoration: none !important;
}
menu-chatbot {
margin-left: 0;
margin-top: 10px;
background-color: #f4f4f4;
}
