.main-data-top{
    margin-left: -24px; margin-right: 0px
  }
  ::ng-deep .dropdown-menu.show {
    margin-left: 17px !important;
    top: 28% !important;
}

  .page-content-main {
      padding-top: 0px !important;
      margin-left: -12px !important;
      margin-right: -12px !important;
    }
    .heading-title {
      line-height: 33px !important;
      text-align: left !important;
      font-weight: 600 !important;
    }
    .heading-title-small {
      font-size: 1.5rem !important;
      font-weight: 400 !important;
    }
    .active-bread {
      font-size: 12px !important;
      color: #fa751a !important;
      font-weight: 500 !important;
      font-family: "Poppins" !important;
    }
    .inactive-bread {
      font-size: 12px !important;
      color: #6c757e !important;
      font-weight: 400 !important;
      font-family: "Poppins" !important;
    }
    .consumer-select {
      color: #9fa19f;
      width: 100%;
      height: 37px !important;
      background-color: transparent;
      background-size: 10px 12px !important;
      font-family: "Poppins" !important;
      height: 37px !important;
      border-radius: 10px !important;
      border: none !important;
    }
    .consumer-pad {
      margin-top: -12px;
      margin-left: -24px;
    }
    .no-border:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    .newSelect1 {
      color: #9fa19f;
      height: 37px !important;
      background-size: 10px 12px !important;
      font-family: "Poppins" !important;
      height: 37px !important;
      border-radius: 10px !important;
    }
    ::ng-deep.newSelect1 .ng-select-container {
      background-color: #fa751a !important;
    }
    ::ng-deep.newSelect1.ng-select
      .ng-select-container
      .ng-value-container
      .ng-placeholder {
      color: #ffffff !important;
    }
    ::ng-deep.newSelect1.ng-select.ng-select-opened
      > .ng-select-container
      .ng-arrow {
      top: -2px;
      border-color: transparent transparent #ffffff !important;
      border-width: 0 5px 5px;
    }
    ::ng-deep.newSelect1.ng-select.ng-select-single
      .ng-select-container
      .ng-value-container
      .ng-value {
      color: #ffffff !important;
    }
    ::ng-deep.newSelect1.ng-select .ng-clear-wrapper {
      color: #ffffff !important;
    }
    ::ng-deep.newSelect1.ng-select .ng-arrow-wrapper .ng-arrow {
      border-color: #fff transparent transparent !important;
      border-style: solid;
      border-width: 5px 5px 2.5px;
    }

    .table-b {
      border-radius: 25px !important;
    }

    .table-head {
      background-color: #fff !important;
      font-family: "Poppins" !important;
      font-size: 12px !important;
      font-weight: 500 !important;
      color: #989ea5 !important;
    }

    .table th {
      color: #989ea5 !important;
      font-weight: 500 !important;
      text-align: left !important;
    }

    .table td {
      vertical-align: middle;
      font-size: 11px !important;
      color: #000000 !important;
      font-family: "Poppins" !important;
      font-weight: 500 !important;
    }
    .table {
      --bs-table-accent-bg: #ffffff !important;
    }
    tbody tr {
      height: 40px !important;
      border-bottom-color: #ffffff !important;
      /* Set the height of the table rows to 30px */
    }

    .action-img {
      height: 20px;
    }
    .action-buttons {
      display: flex;
      gap: 1rem;
    }
    .address2 {
      font-size: 10px;
      color: #838282;
      font-weight: 400;
    }
    .flex-center {
      color:#338EF5;
      font-family: 'Poppins';
      font-size: 10px;
      text-align: center!important;
    }

    .vehicle-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .assign-link {
      margin-top: 10px;
      color: #323D62;
      text-decoration: underline;
      font-size: 10px;
    }

    .assign-link:hover {
      text-decoration: underline;
    }

    td {
      vertical-align: middle;
      text-align: left;
    }


    .flex-space-right {
      display: flex;
      justify-content: right;
    }
    .add-button {
      background-color: #ffffff;
      color: #fa751a;;
      font-size: 11px;
      border-radius: 10px;
      padding: 9px 15px;
      text-align: center;
      width: 150px;
      border: 1px solid #fa751a;
    }
    .blue-button {
      background-color: #046ef9;
      color: white;
      font-size: 11px;
      border-radius: 10px;
      padding: 9px 15px;
    }
    .flex-gap {
      display: flex;
      gap: 1rem;
    }

    .newSelect {
      width: 200px !important;
      border-radius: 10px !important;
    }
    ::ng-deep .newSelect .ng-select-container {
      border-radius: 10px !important;
      align-items: center; /* Centers content vertically */
      font-size: 10px; /* Sets the font size */
      padding: 0 8px; /* Adjust padding if necessary */
    }

    ::ng-deep .newSelect .ng-select-placeholder {
      font-size: 10px !important;
      opacity: 0.6;
      color: gray !important;
    }

    ::ng-deep .newSelect.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
      top: unset !important;
      color: rgb(123, 123, 123) !important;
    }

    ::ng-deep .newSelect .ng-select-container .ng-value-container .ng-placeholder {
      color: rgb(123, 123, 123) !important;
      font-size: 10px !important;
    }
    ::ng-deep .newSelect1 .ng-select-placeholder {
      font-size: 10px !important; }

    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 638px;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card{
      height: 730px !important;
    }

    .data-display{
    display: none!important;
    }

    .modal-card {
      background: white;
      padding: 0 20px;
      margin-top: 80px;
      border-radius: 8px;
      position: relative;
      width: 1000px; /* Adjust as needed */
      height: auto;
      text-align: center;
    }

    .close-button {
      position: absolute;
      top: 10px;
      right: 2px;
      background: transparent;
      border: none;
      font-size: 18px;
      cursor: pointer;
    }

    .option-column {
      padding-right: 0px;
      border-right: 1px solid #dadada;
    }

    .option {
      color: black;
      padding: 10px 10px 10px 25%;
      text-align: left;
      font-size: 14px;
      margin-bottom: 10px;
      cursor: pointer;
      border-radius: 0px;
      transition: background-color 0.3s, color 0.3s;
    }

    .option:hover,
    .option.selected {
      background-color: #fa751a;
      color: #ffffff;
    }

    ::ng-deep .timePeriod.ng-select .ng-dropdown-panel .ng-option.ng-option-marked {
      background-color: #fa751a !important;
      color: #ffffff !important;
      font-family: "Poppins" !important;
      font-size: 12px !important;
    }
    ::ng-deep .timePeriod.ng-select .ng-dropdown-panel .ng-option {
      background-color: #fff !important;
      color: #000000 !important;
      font-family: "Poppins" !important;
      font-size: 12px !important;
    }
    .green_button{
      width: -webkit-fill-available;
      border-radius: 10px;
      border: 1px solid #DDE5DC;
      background: #E3F1E2;
      width: 150px;
      font-weight: 530;
    }
    .action-img{
      // height: 20px;
      width: 30px;
    }
    .page-content-main {
      padding-top: 0px !important;
      margin-left: -12px !important;
      margin-right: -12px !important;
    }

    .navbar-side-menu {
      margin-left: -36px !important;
      margin-top: -19px !important;
    }

    .add-field{
      background-color: #D0D7DF;
      color: #161616;
      font-size: 12px;
      border-radius: 3px;
      padding: 10px;
      text-align: center;
    }

    .cancel-btn{
      background-color: #E0E0E0;
      color: #606060;
      border:1px solid #E0E0E0;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      padding: 8px 15px;
      font-family: "Poppins";
    }

    .error {
      color: red;
      font-size: 12px;
      margin-top: 0px;
    }

    .he85{
     height: 85px
    }

    .mr20{
      margin-top: 20px!important;
    }

    .mr40{
      margin-top: 40px!important;
    }

    .downloadData{
     margin: 15px 15px 15px 15px; border:1px dashed #86B2FF; border-radius: 6px; height: 170px; background-color: #EDF2FC;
    }

    .row-data{
      margin-top: 30px; margin-bottom: -20px
    }

    .he100{
   height: 100px;
    }

    .fon-all{
   font-family: 'Poppins'
    }

    .mr12{
      margin-top: 10px; text-align: center
    }

    .mr6{
      margin-top: 6px
    }

    .mr-20{
      margin-top:-20px;
    }
    .submit-btn{
      background-color: #fa751a;
      color: #ffffff;
      border:1px solid #fa751a;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      padding: 8px 15px;
      font-family: "Poppins";
      width: 100%;
    }

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .image-container img {
      max-width: 100%;
      height: auto;
    }

    .uploaded-file{
      font-size: 12px;
      font-weight: 500;
      font-family: 'Poppins';
      color: #2b53bb;
    }

    .uploaded-file-error{
      font-size: 12px;
      font-weight: 500;
      font-family: 'Poppins';
      color: red;
    }

    .download-link{
      color:#ef8321!important;
      text-decoration: underline!important;
    }

    .max-file{
      margin-top: 30px;
        margin-right: 12px;
        float: right;
        font-size: 12px;
        font-weight: 400;
        font-family: 'Poppins';
        color: #656565;
        opacity: 60%;
    }

    .mr12{
      margin-top: 4px!important;
      text-align: center;
  }

  button:disabled {
    background-color: #ccc;
    color: #666;
    border: 1px solid #ccc !important;
    cursor: not-allowed;
  }

    .select-data{
      width: 100%;
      margin-top: -9px;
      margin-bottom: 5px;
      height: 35px;
      border-radius: 5px;
      border: 1px solid #DCDCDC;
      font-size: 12px;
      padding-left: 12px;
      font-family: 'Poppins';
      color: #39434E;
    }

    .select-data-optional{
      width: 100%;
      margin-bottom: 20px;
      height: 35px;
      border-radius: 5px;
      border: 1px solid #DCDCDC;
      font-size: 12px;
      padding-left: 12px;
      font-family: 'Poppins';
      color: #39434E;
    }
    .btn-driver {
      color: #161616;
      background-color: #FDFDFD;
      border: none!important;
      padding: 10px 20px;
      cursor: pointer;
      margin-right: 10px;
      width: 100%;
      font-family: 'Poppins';
      font-size: 12px;
      font-weight: 500;
    }

    .btn-driver.selected {
      color: #fa751a;
      background-color: #EFF2F9;
      font-weight: 500;
    }

    .btn-driver:hover {
      opacity: 0.8;
    }
    .custom-dropdown-wrapper {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    /* Style the select box */
    select.form-select {
      display: block;
      width: 100%;
      background: white;
      cursor: pointer;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    /* Customizing dropdown appearance */
    .custom-dropdown-wrapper select {
      appearance: none; /* Remove default arrow */
      -webkit-appearance: none;
      -moz-appearance: none;
      padding-right: 30px; /* Space for custom arrow */
    }

    /* Dropdown wrapper to control height & scroll */
    .custom-dropdown-wrapper .dropdown-content {
      position: absolute;
      width: 100%;
      max-height: 200px; /* Set height for scroll */
      overflow-y: auto;
      background: white;
      border: 1px solid #ccc;
      z-index: 1000;
    }

    /* Ensure dropdown options are scrollable */
    .custom-dropdown-wrapper .dropdown-content option {
      padding: 10px;
      cursor: pointer;
    }

    /* Custom scrollbar */
    .custom-dropdown-wrapper .dropdown-content::-webkit-scrollbar {
      width: 6px;
    }

    .custom-dropdown-wrapper .dropdown-content::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    .custom-dropdown-wrapper .dropdown-content::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 3px;
    }

    .custom-dropdown-wrapper .dropdown-content::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
