.map-container {
  font-family: "Poppins" !important;
  border-radius: 15px;
  border: 2px solid #dbecf3;
  overflow: hidden;
  height: 750px;
}


.page-content {
  padding: none!important
 }

.content-right {
  flex-grow: 1; /* Allows expansion */
  width: 84%!important;
}

.chart-container {
  position: relative; // This ensures the inner circle can be positioned relative to the chart
}

.heading-box-green {
  padding-left: 7px;
  padding-right: 7px;
  background: #45B01F;
  font-size: 15px;
  font-weight: normal;
  font-family: "Poppins";
  color: #ffffff;
  border-radius: 6px;
}

.heading-box-internal-green {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins';
  color: #45B01F;
  padding-left: 6px;
}

.map-card{
  //  border: 1px solid #B1B1B1;
  //  border-radius: 10px 10px 0px 0px;
   padding: 10px;
 }

 .flex-display{
   display: flex;
   gap: 0.2rem;
 }
 .map-card-text{
   font-size: 8px;
   font-family: 'Poppins';
 }
 .map-main-text{
   color: #000;
   font-weight: 500;
   font-size: 10px;
   font-family: 'Poppins';
 }
 .flex-col{
   border-right: 1px dotted rgb(183, 180, 180);
 }


.heading-params{
  font-size: 13px;
  font-weight: 400;
  font-family: "Poppins";
  color: #a1a1a1;
  padding-top: 4px;
}

.data-params{
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins";
  color: #000000;
}

.image-icon{
  height: 26px;
  width: 26px;
  margin-left: 8px;
}

.img-car{
  height: 120px;
  margin-top: 16px;
}

.tire-press-value{
  float: right;
  margin-top: 9px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins';
  margin-right: -12px;
}

.tire-pressure-value-1{
  float: left;
  margin-left: -22px;
  margin-top: 9px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins';
}

.tire-pressure-value-4{
  float: left;
  margin-left: -52px;
  margin-top: 122px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins';
}

.tire-press-value-2{
margin-right: -52px;
    margin-top: 104px;
    float: right;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins';
  }
.tyre-1 {
  float: right;
  font-size: 10px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}


.tyre-2 {
  font-size: 10px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}
.tyre-3 {
  float: right;
  font-size: 10px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}
.tyre-4 {
  font-size: 10px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}

.img-map{
  margin-top: -20px;
    height: 562px;
}

.box-main{
  height: 572px;
    border-radius: 10px;
    overflow-y: scroll;
    border: 1px solid #e1e0e0;
}

.refresh-btn{
  background: transparent !important;
  border: none !important;
  border-radius: 7px !important;
  padding: 3px 20px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 17px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #fff !important;
  font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif;
  display: inline-block !important;
  text-decoration: none !important;
  margin-left: 0px !important;
}

.date {
  padding-top: 140px;
  font-size: 13px;
  color: #000;
  text-align: center;
  font-family: 'Poppins';
}

.mar {
  padding-top: 0px;
  margin-right: -6px;
  margin-left: -6px;
  font-size: 10px;
  font-weight: 500;
  font-family: 'Poppins';
  text-align: center;
  color: #989EA5
}

.hori-img{
  margin-top: 6px;
  margin-bottom: 9px;
  margin-left: 8px;
}

.green-img{
  height: 20px;
  margin-right: 12px;
}

.address{
  font-size: 13px;
  font-family: 'Poppins';
  font-weight: 400;
  color: #000!important;
}

.time{
  font-weight: 400 !important;
  float: right;
  font-family: 'Poppins';
}

.vline{
  margin-left: 3px;
  height: 19px;
}

.hline{
  width: 100%;
}

.icon-img{
  height: 18px;
  margin-top: 4px;
}

.alerts{
  font-size: 12px;
    padding-top: 4px;
    padding-left: 6px;
    font-weight: 600;
    color: #888888;
    font-family: 'Poppins';
}

.menu-image{
  height: 18px!important;
  margin-right: 6px!important;
}


.sidebar a:hover {
  background-color: #FCEEE1!important;
  border-radius: 5px;
  color:#000
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    height: 100px;
    margin-top: 143px;
}
/* app.component.css */

.menu-item {
padding-left: 25px!important;
padding-top: 16px!important;
cursor: pointer!important;
display: flex!important;
align-items: center!important;
padding-right: 30px !important;
font-weight: 600!important;
// line-height: 100px;
color: #3B464F!important;
font-size: 12px!important;
font-style: normal!important;
font-family: 'Neo Sans Pro 500',Helvetica,Arial,Lucida,sans-serif!important;
}
.menu-item.active {
color: #fff;
background: rgba(238, 143, 49, 0.15);
border-radius: 8px;
}


.menu-item:hover {
color:#000
}

.menu-item1 {
margin-left: -5px;
cursor: pointer;
display: flex;
padding-top: 4px;
align-items: center;
padding-right: 20px;
font-weight: 500;
color: #000;
font-size: 12px;
font-style: normal;
font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif!important;
}

.menu-item1:hover {
color:#000
}

.actives:after {
  margin-top: 0px;
  content: "";
  color: #fff;
  display: block;
  width: 24px;
  height: 2px;
  background: #ef8321;
  transition: width 0.3s;
  margin-left: 50%;
}

.user-icon {
  float: left;
  margin-top: -10px;
  margin-right: 10px;
}

.user-icon-font {
  font-size: 26px;
  font-weight: 400;
}

.icon {
  height: 20px;
  margin-top: 10px;
}

.line {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -6px;
}

::ng-deep.apexcharts-xaxis-label {
  color: #000000 !important;
  font-size: 10px !important;
  font-family: 'Poppins' !important;
  font-weight: 400 !important;
}

.f-le {
  float: left;
}

.f-ri {
  float: right;
  margin-top: 5px;
}

.view-more {
  font-size: 12px;
}

.top-heading {
  font-family: 'Neo Sans Pro', 'Helvetica', 'Arial', 'Lucida', sans-serif !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #000
}

::ng-deep.ng-select.ng-select-single .ng-select-container {
  height: 37px !important;
  border-radius: 10px !important;
}

.newSelect {
  color: #9fa19f;
  width: 100%;
  height: 37px !important;
  background-size: 10px 12px !important;
  font-family: "Poppins" !important;
  height: 37px !important;
  border-radius: 10px !important
}

.page-aling-l {
  float: left !important;
}

.page-align-r {
  float: right !important;
}

.page-mr-top {
  margin-top: 5px !important
}



/* Add this CSS to your styles.css (or your component's styles) */




.newFleet {
  background-color: #FA751A !important;
  border: 1px solid #FA751A;
  font-family: 'Poppins';
  color: #ffffff;
  width: 100%;
}


.card-heading {
  font-family: 'Poppins' !important;
  font-size: 0.900rem !important;
  font-weight: 500 !important;
  color: #000

}

.card-top-vehicle {
  height: 145px;
  border-radius: 12px;
  border: 1px solid #E7EAEE;
}

.me-lg-4 {
  margin-right: 2.5rem !important;
}

.card-mid-trip {
  height: 430px;
  border-radius: 12px;
  border: 1px solid #E7EAEE;
}

.remove-legends {
  height: 27px;
  margin-top: -47px;
  background-color: #fff;
  margin-left: 0px;
  z-index: 10;
  margin-right: 0px;
}

.card-mid-trips {
  height: 450px;
  border-radius: 12px;
  border: 1px solid #E7EAEE;
}

.heading-card {
  font-size: 16px !important;
  font-weight: 400 !important;
  font-family: 'Poppins' !important;
  color: #6C757E;
}


.data-value {
  font-size: 40px;
  font-weight: 500;
  color: #000;
  font-family: 'Poppins';
  padding-top: 52px;
}

.card-mid-trip-details {
  height: 188px;
  border-radius: 12px;
  border: 1px solid #E7EAEE;
}

.card-mid2-health {
  height: 60px;
  border-radius: 12px;
  border: 1px solid #E7EAEE;
}

.card-mid3-health {
  height: 400px;
  border-radius: 12px;
  border: 1px solid #E7EAEE;
}

.card-vehicle1 {
  background-color: #2CA87F;
  font-size: 16px;
  font-weight: 600 !important;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.card-vehicle1:hover {
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-align: center;
  text-decoration: none !important;
}

.card-vehicle2 {
  background-color: #FA751A;
  font-size: 16px;
  font-weight: 600 !important;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.card-vehicle2:hover {
  background-color: #fff;
  font-size: 16px;
  font-weight: 600 !important;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.card-vehicle3 {
  background-color: #4680FF;
  font-size: 16px;
  font-weight: 600 !important;
  color: #fff;
  text-align: center;
  text-decoration: none;

}

.card-vehicle3:hover {
  background-color: #fff;
  font-size: 16px;
  font-weight: 600 !important;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.text {
  text-decoration: none !important;
}

.months-text {
  font-size: 10px !important;
  color: #6C757E !important;
}

.icon-circle {
  font-size: 22px;
  color: #2CA87F;
}

.number-text {
  font-size: 28px;
  font-weight: 600;
  color: #000;
  font-family: 'Poppins'
}

.right-last-month {
  float: right;
  font-size: 12px;
  color: #6C757E;
  font-family: 'Poppins'
}

.arrow-up {
  float: right;
  margin-right: 12px;
}

.mr-top-30 {
  margin-top: 38px !important;
}

#legends {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.legend-color {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin-right: 5px;
  display: inline-block;
}

.ng-select ::ng-deep .ng-option.disabled {
  cursor: default;
}

.legend-color-grye {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin-right: 5px;
  display: inline-block;
  color: #6C757E
}

.mr-top-24 {
  margin-top: 24px;
}

.grow-percent {
  font-size: 16px;
  font-weight: 600;
  color: #2CA87F;
  float: right;
  font-family: 'Poppins'
}

.less-percent {
  font-size: 16px;
  font-weight: 600;
  color: #ff0000;
  float: right;
  font-family: 'Poppins'
}

.chart-label {
  font-size: 11px;
  color: #000;
  font-family: 'Poppins';
}

.chart-label-grye {
  font-size: 13px;
  color: #D9D9D9;
  font-family: 'Poppins';
}

.chart-value {
  font-size: 15px;
  color: #000;
  font-family: 'Poppins';
  font-weight: 600;
  padding-left: 14px;
}

.packges-box {
  border-right: 1px solid #dbdcdd;
  height: 250px;
  margin-top: -16px;
}

.packges-box-1 {
  height: 250px;
  margin-top: -16px;
}

.packge-box-headig {
  float: left;
  padding: 3px 12px;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Poppins', 'Medium';
  color: #000;
}

.packages {
  font-size: 18px;
  line-height: 40px;
  font-family: 'Poppins' !important;
  font-weight: 400;
  color: #6C757E;
}

.heading-row {
  padding: 50px 0px 0px 50px;
}

.value-row {
  padding: 0px 0px 0px 96px;
}

.value-border {
  border-left: 2px solid #dbdcdd
}

.mr-12-left {
  margin-left: -30px
}

::ng-deep .chart-label-x {
  fill: #000000 !important;
  font-size: 11px !important;
  font-family: 'Poppins' !important;
}

::ng-deep .apex-charts text {
  color: #000000;
  text-shadow: none !important;
  font-family: 'Poppins' !important;
}

/* Custom CSS for the spinner and background overlay */
.custom-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-img {
  height: 345px;
  margin-top: -32px;
}

.no-img-idling {
  margin-top: 0px;
  height: 320px;
  margin-left: 32px;
}

.img-botrip {
  height: 389px;
  margin-top: -18px;
}

.ing-round {
  margin-left: 0px;
  height: 293px;
}

.img-aggresive {
  margin-top: 18px;
  height: 289px;
}

.fule-mileage {
  height: 227px;
  margin-top: 27px;
}

.ing-round-make {
  margin-top: -283px;
  margin-left: 0px;
  height: 293px;
}

.apexcharts-bar-series rect {
  stroke-width: 0 !important;
}

.loading-text {
  color: white;
}

/* Dark background overlay */
.ngx-spinner-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.heading-title {
  line-height: 33px !important;
  text-align: left !important;
  font-weight: 600 !important;
}

.heading-title-small {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
}

.small-heading-fuel {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.bd-w {
  width: 52% !important;
}

.per-icon {
  height: 24px !important
}

.no-img-m {
  margin-top: -16px !important
}

.miles-chart {
  margin-left: -20px;
  margin-right: -15px;
}

.h-box {
  height: 300px !important;
}

.mr-t09 {
  margin-top: 9px !important;
}

.mr-15 {
  margin-top: -22px !important;
}

.mr-7 {
  margin-top: -7px !important
}

.mr-6 {
  margin-top: 6px;
}

.mr-co {
  color: grey !important
}

.options-icon {
  height: 18px;
  margin: 4px 10px 6px 0px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #ef8321!important;

  font-family: 'Poppins';
}

.nav-tabs .nav-link {
font-family: 'Poppins'!important;
}

.btn-tile-container {
display: flex;
padding-top: 10px;
}
.btn-tile {
height: 100px;
background-color: #fff;
border-radius: 12px;
font-size: 24px;
text-align: center;
align-items: center;
display: flex;
justify-content: space-between;
border: 1px solid #e7eaee;
width: 33.33%;
padding: 0 20px;
margin-right: 20px;
.btn-tile-no {
  font-size: 28px;
  color: #000 !important;
}
.btn-tile-text {
font-size: 16px;
}
}

.insights {
padding: 16px 24px !important;
height: auto !important;
text-align: left;
margin-bottom: 24px;
color: #fff;
}
.btn-tile-blue {
background-color: #4680ff;
}
.btn-tile-orange {
background-color: #fa751a;
}
.btn-tile-green {
background-color: #2ca87f;
}
.mr-40 {
margin-right: 40px;
}


.btn-check-history{
  float: right!important; margin-top: -16px!important;
  font-family: 'Poppins';
}

.card{
  border-radius: 10px!important;
   height: auto!important;
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
}

::ng-deep.apexcharts-legend-text {
  color: #000000 !important;
  font-family: 'Poppins' !important;
  font-size: 12px !important;
  font-weight: 600!important;
}

.table {

 --bs-table-striped-color: #495057!important;
 --bs-table-striped-bg: #d9d9d9!important;
 --bs-table-active-color: #f2f2f2!important;
}

.triangle .triangle-top-right {
  border-top: 100px solid #32557f;
  border-left: 100px solid transparent;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-color: #f8f8fb !important;
  background-color: #ffffff !important;
}

.page-h{
  padding-left: 17%!important;
  width: 100%!important;
}

.h-50{
  margin-top:50px!important
}

.map-height{
  height: 600px;
  margin-top: 20px;
}

.top-left {
  position: absolute;
  top: 82px;
  left: 510px;
}

.top-left-green{
  position: absolute;
  top: 306px;
  left: 484px;
}

.popup{
  top: 270px;
  height: 100%;
  left: 569px;
  position: absolute;
  background-repeat: no-repeat;
}

.heading-box{
  padding-left: 7px;
  padding-right: 7px;
  background: #ef8321;
  font-size: 15px;
  font-weight: normal;
  font-family: "Poppins";
  color: #ffffff;
  border-radius: 6px;
}

.heading-box-internal{
  font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    color:#ef8321;
    padding-left: 6px;
}
.heading-box-green{
  padding-left: 7px;
  padding-right: 7px;
  background: #45b01f;
  font-size: 15px;
  font-weight: normal;
  font-family: "Poppins";
  color: #ffffff;
  border-radius: 6px;
}

.heading-box-internal-green{
  font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    color:#45b01f;
    padding-left: 6px;
}

.heading-box-internal-grey{
  font-size: 14px;
    font-weight: normal;
    font-family: 'Poppins';
    color:#989EA5;
    padding-left: 12px;
}

.histroy-link{
  font-size: 14px; font-weight: normal; font-family: 'Poppins'; color:#ef8321;
  background-color: #fff!important; border:none!important
}

.pad-24{
  padding-left: 32px;
  padding-bottom: 12px;
}

.pad-left-24{
  padding-left: 24px;
}

.popover {
  position: absolute;
  z-index: 100;
}

.tabLabel{
  margin-top: -66px!important;
   margin-left: -20px!important;
  margin-right: -20px!important;
}

.nav-item-label{
  font-family: 'Poppins'!important;
  position: relative!important;
}

.nav-link-sec{
 position: relative!important;
 overflow: hidden!important;
 width: 130px!important
}

.corner-border{
 position: absolute!important;
  top: -31px!important;
  right: -27px!important;
  border-right: 47px solid transparent!important;
  border-top: 72px solid #f8f8fb!important;
  transform: rotate(-35deg)!important;
}

.newcard{
  height: 750px;
    border: 1px solid #e1e0e0;
    border-radius: 10px;
}

.tyre-1 {
  float: right;
  font-size: 10px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}

.tyre-2 {
  font-size: 10px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}

.tyre-3 {
  float: right;
  font-size: 10px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}

.tyre-4 {
  font-size: 10px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}

.img-map{
  margin-top: -20px;
    height: 672px;
}

.box-main{
  height: 572px;
    border-radius: 10px;
    overflow-y: scroll;
    border: 1px solid #e1e0e0;
}


.mar{
  padding-top: 0px;
  font-size: 10px;
  font-weight: 500;
  font-family: 'Poppins';
  text-align: center;
  color:#989EA5
}

.hori-img{
  margin-top: 6px;
  margin-bottom: 9px;
  margin-left: 8px;
}

.green-img{
  height: 20px;
  margin-right: 12px;
}

.address{
  font-size: 13px;
  font-family: 'Poppins';
  font-weight: 400;
  color: #000!important;
}

.time{
  font-weight: 400 !important;
  float: right;
  font-family: 'Poppins';
}

.icon-img{
  height: 18px;
  margin-top: 4px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    height: 100px;
    margin-top: 143px;
}

.custom-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-text {
  color: white;
}

.ngx-spinner-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.active-bread {
  font-size: 12px !important;
  color: #FA751A !important;
  font-weight: 500 !important;
  font-family: 'Poppins' !important;
}

.inactive-bread {
  font-size: 12px !important;
  color: #6C757E !important;
  font-weight: 400 !important;
  font-family: 'Poppins' !important;
}


.heading-title {
  line-height: 33px !important;
  text-align: left !important;
  font-weight: 600 !important;
}

.card{
  border-radius: 10px!important;
   height: auto!important;
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
}

.heading-box{
  padding-left: 7px;
  padding-right: 7px;
  background: #ef8321;
  font-size: 15px;
  font-weight: normal;
  font-family: "Poppins";
  color: #ffffff;
  border-radius: 6px;
}

.heading-box-internal{
  font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    color:#ef8321;
    padding-left: 6px;
}

.row-mar-top24{
  margin-top:12px!important;
}

.row-data-heading{
  font-size: 15px!important;
  color:#000000!important;
  font-weight: 600!important;
  font-family: 'Poppins'!important;
}

.row-data-heading-value{
  font-size: 15px!important;
  color:#000000!important;
  font-weight: 400!important;
  font-family: 'Poppins'!important;
  text-transform: capitalize!important;
}

.mar-left-top{
  margin-left: -12px!important;
}

.mar-left-top-right{
  margin-top: 12px!important;
  margin-bottom: 12px!important;
}
