<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#fff" type="ball-elastic-dots" [fullScreen]="true">
  <div class="custom-spinner">
    <img src="../../../../../assets/images/spinner3.svg" alt="Your Logo">
  </div>
  <div class="loading-text">Please wait, we are getting information...</div>
</ngx-spinner>
<div class="page-content page-content-main">
  <div class="row sideMenuItem">
    <div class="container">
  <div class="col-xs-12 content-right">
      <!-- Breadcrumb Start-->
      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <span class="breadcrumb-left">
            <h1 class="login-headline heading-title">VIN
              <span class="heading-title-small">Summary</span>
            </h1>
          </span>
          <span class="breadcrumb-right mr-8">
            <ol class="breadcrumb">
              <ng-container *ngIf="user ==='admin'">
                <li class="breadcrumb-item">
                  <a routerLink="/adlp/admin/dashboardAdmin" class="breadcrumb-h6"><i class="bx bx-home-circle"></i></a>
                </li>
                <li class="breadcrumb-item inactive-bread"><a routerLink="/adlp/admin/dashboardAdmin">Dashboard</a></li>
                <li class="breadcrumb-item inactive-bread"><a routerLink="/adlp/admin/manageVehicle">Fleet Summary</a>
                </li>
              </ng-container>
              <ng-container
                *ngIf="user != 'admin'">
                <li class="breadcrumb-item">
                  <a routerLink="/adlp/admin/admindashboard/dashboardfleet" class="breadcrumb-h6"><i
                      class="bx bx-home-circle"></i></a>
                </li>
                <li class="breadcrumb-item inactive-bread"><a
                    routerLink="/adlp/admin/admindashboard/dashboardfleet">Dashboard</a></li>
                <li class="breadcrumb-item inactive-bread"><a href="javascript:void()"
                    (click)="backManageVehicle()">Fleet Summary</a></li>
              </ng-container>
              <ng-container *ngIf="user == 'role_user_fleet'">
                <li class="breadcrumb-item">
                  <a routerLink="/adlp/admin/admindashboard/dashboardfleet" class="breadcrumb-h6"><i
                      class="bx bx-home-circle"></i></a>
                </li>
                <li class="breadcrumb-item inactive-bread"><a
                    routerLink="/adlp/admin/admindashboard/dashboardfleet">Dashboard</a></li>
                <li class="breadcrumb-item inactive-bread"><a href="javascript:void()"
                    (click)="backManageVehicle()">Fleet Summary</a></li>
              </ng-container>
              <li class="breadcrumb-item text-selected active-bread">VIN Summary</li>
            </ol>
          </span>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12 col-lg-4">
          <div class="content-text">
            <span class="vin_container"><span class="content-sub-text">VIN</span></span>
            <span class="content-sub-text2">{{maskVinNumber(selectedVins)}}</span>
          </div>
        </div>
        <div class="col-xs-12 col-lg-8" style="float: right;">
          <div class="row">
            <div class="col-xs-12 col-lg-6">&nbsp;</div>
            <div class="col-xs-12 col-lg-6">
              <button (click)="viewMore(selectedVins,data?.make)" class="viewMorebtns expand"
                ngbTooltip="Trip History" style="float: right;">
                <img src="../../../../../assets/images/blackmarker.svg" class="button-icons"></button>


              <img href="javascript:(void)" (click)="downloadVehicleStatistics()"
                src="../../assets/images/download_icon.svg" style="cursor: pointer; float: right;     margin-top: 0px;
margin-right: 12px;" alt="" class="download_button" />
              &nbsp;&nbsp;
              <select class="form-select newSelect" (change)="onPeriodChange($event)"
                style="float: right; margin-right: 12px; width: 50%;">
                <option value="" disabled hidden>Select Period</option>
                <option value="TILL_NOW" selected>Till Date</option>
                <option value="TODAY">Today</option>
                <option value="YESTERDAY">Yesterday</option>
                <option value="CURRENT_WEEK">Last 7 Days</option>
                <option value="CURRENT_MONTH">Current Month</option>
                <option value="PREVIOUS_MONTH">Previous Month</option>
              </select>

            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 24px;">
        <div class="col-xs-12 col-lg-12">
          <div class="content-section pt-1 content-header-mr-12">
            <div class="row">
              <!-- <a *ngIf="user == 'admin'">
                <img src="/assets/images/camera-disabled.svg" class="dongle" height="32">
              </a> -->
              <div class="col-4 center-items">

                <ng-container *ngIf="data?.bodyClass === 'Sedan/Saloon'">
                  <img src="../../assets/images/corolla.png" alt="" class="car-image" style="margin-right: 20px;" />
                </ng-container>
                <ng-container *ngIf="data?.bodyClass === 'Sport Utility Vehicle (SUV)/Multi-Purpose Vehicle (MPV)'">
                  <img src="../../assets/images/suv.png" alt="" class="car-image" style="margin-right: 20px;" />
                </ng-container>
                <ng-container *ngIf="data?.bodyClass === 'Pickup'">
                  <img src="../../assets/images/Pickup.png" alt="" class="car-image" style="margin-right: 20px;" />
                </ng-container>
                <ng-container *ngIf="data?.bodyClass === 'Cargo Van'">
                  <img src="../../assets/images/Cargo-Van.png" alt="" class="car-image" style="margin-right: 20px;" />
                </ng-container>
                <ng-container *ngIf="data?.bodyClass === 'Truck'">
                  <img src="../../assets/images/Cargo-Van.png" alt="" class="car-image" style="margin-right: 20px;" />
                </ng-container>
                <ng-container *ngIf="data?.bodyClass === 'Minivan'">
                  <img src="../../assets/images/Pickup.png" alt="" class="car-image" style="margin-right: 20px;" />
                </ng-container>
                <ng-container
                  *ngIf="data?.bodyClass !='Sedan/Saloon' && data?.bodyClass !='Truck' && data?.bodyClass != 'Cargo Van' && data?.bodyClass != 'Sport Utility Vehicle (SUV)/Multi-Purpose Vehicle (MPV)' && data?.bodyClass != 'Pickup' && data?.bodyClass != 'Minivan'">
                  <img src="../../assets/images/corolla.png" alt="" class="car-image" style="margin-right: 20px;" />
                </ng-container>
              </div>
              <div class="col-8">
                <div class="row">
                  <div class="col">
                    <div class="field-section-new">
                      <div class="section1">Make</div>
                      <ng-container *ngIf="data?.make != null">
                        <div class="section2" style="text-transform:capitalize">{{capitalizeFirstLetter(data?.make)}}
                        </div>
                      </ng-container>
                      <ng-container *ngIf="data?.make == null">
                        <div class="section2" style="color: #d8dedc!important;">NA</div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col">
                    <div class="field-section-new">
                      <div class="section1">Model</div>
                      <ng-container *ngIf="data?.model != null">
                        <div class="section2"> {{data?.model}}</div>
                      </ng-container>
                      <ng-container *ngIf="data?.model == null">
                        <div class="section2" style="color: #d8dedc!important;">NA</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col">
                    <div class="field-section-new">
                      <div class="section1">Trim</div>
                      <ng-container *ngIf="data?.trim == null || data?.trim == ''">
                        <div class="section2" style="color: #d8dedc!important;">NA</div>
                      </ng-container>
                      <ng-container *ngIf="data?.trim != null || data?.trim != ''">
                        <div class="section2">{{ data.trim }}</div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col">
                    <div class="field-section-new">
                      <div class="section1">Year</div>
                      <ng-container *ngIf="data?.modelYear != null">
                        <div class="section2">{{data?.modelYear}}</div>
                      </ng-container>
                      <ng-container *ngIf="data?.modelYear == null">
                        <div class="section2" style="color: #d8dedc!important;">NA</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col">
                    <div class="field-section-new">
                      <div class="section1">Class</div>
                      <div class="section2"><ng-container
                          *ngIf="data?.bodyClass === 'Sport Utility Vehicle (SUV)/Multi-Purpose Vehicle (MPV)'">
                          SUV/MPV
                        </ng-container>
                        <ng-container *ngIf="data?.bodyClass === 'Incomplete - Chassis Cab (Single Cab)'">
                          Chassis Cab
                        </ng-container>
                        <ng-container
                          *ngIf="data?.bodyClass != 'Sport Utility Vehicle (SUV)/Multi-Purpose Vehicle (MPV)' && data?.bodyClass != 'Incomplete - Chassis Cab (Single Cab)'">
                          {{data?.bodyClass}}
                        </ng-container>
                        <ng-container
                        *ngIf="data?.bodyClass == null">
                        <div class="section2" style="color: #d8dedc!important;">NA</div>
                      </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="field-section-new">
                      <div class="section1">Fuel Type</div>
                      <ng-container *ngIf="data?.fuelType != null">
                        <div class="section2">{{data?.fuelType}}</div>
                      </ng-container>
                      <ng-container *ngIf="data?.fuelType == null">
                        <div class="section2" style="color: #d8dedc!important;">NA</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col">
                    <div class="field-section-new">
                      <div class="section1">Fuel Tank</div>

                     <!-- When fuelTankSize is null/empty, show "NA" -->
                     <div class="section2" >
                      <ng-container *ngIf="data?.isFuelEditing; else displayMode">
                        <input
                          type="number"
                          [(ngModel)]="data.fuelTankSize"
                          min="0"
                          step="0.01"
                          style="width: 70px;" />
                        <img
                          src="../../../../../assets/images/save-data.svg"
                          style="height: 25px; cursor: pointer; vertical-align: middle;"
                          title="Save fuel tank size"
                          (click)="updateFuelSize(data)">
                      </ng-container>

                      <!-- Display Mode -->
                      <ng-template #displayMode>
                        <!-- Check if fuelTankSize exists and display it, else show an empty value -->
                        <span>{{ data.fuelTankSize != null ? (data.fuelTankSize | number:'1.2-2') : '' }}</span>

                        <!-- Show edit icon -->
                        <img
                          src="../../../../../assets/images/edit-icon.svg"
                          style="height: 15px; cursor: pointer; vertical-align: middle;"
                          title="Edit fuel tank size"
                          (click)="data.isFuelEditing = true">
                      </ng-template>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    &nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-heading heading-padding content-header-mr-12">
            <!-- <span class="icon_container"
                    ><img
                      src="../../assets/images/vehicle_health_icon.svg"
                      alt=""
                      class="heading_icon"
                  /></span> -->
            VEHICLE HEALTH
            <!-- <span class="fl-r" *ngIf="user == 'admin'">
              <a>
                <img src="/assets/images/live-camera.svg" class="cs-tooltip" ngbTooltip="Live Vehicles" height="32">
              </a>
            </span> -->
          </div>
          <div class="pt-2">
            <div class="row">
              <div class="col">
                <div class="card-section">
                  <div class="card-heading heading-border">
                    <img src="../../assets/images/tire_pressure_icon.svg" alt="" class="heading-icon" />
                    Tire Pressure
                  </div>
                  <div class="section-image-container" style="flex: 1;"
                    *ngIf="data?.flTirepress !== -1; else noData">

                    <div class="top-left-number">
                      <span class="number-container">
                        <span class="bold-number">{{data?.rlTirepress | number:'1.0-0'}}</span>
                        <span class="sub-text-number">psi</span></span>
                      <img src="../../assets/images/car_arrow_normal.svg" alt="" srcset="" style="    margin-top: -20px;
margin-left: 0px;" />
                    </div>

                    <div class="top-right-number">
                      <span class="number-container">
                        <span class="bold-number">{{data?.flTirepress | number:'1.0-0'}}</span>
                        <span class="sub-text-number"> psi</span></span>
                      <img src="../../assets/images/car_arrow_normal.svg" alt="" srcset="" style="    margin-top: -20px;
                              margin-left: 27px;
                          " class="top-right-number-image" />
                    </div>

                    <div class="bottom-left-number">
                      <span class="number-container">
                        <span class="bold-number">{{data?.rrTirepress | number:'1.0-0'}}</span>
                        <span class="sub-text-number"> psi</span></span>
                      <img src="../../assets/images/rare-left.svg" style="    margin-top: 20px;
margin-left: 0px;" alt="" srcset="" />

                    </div>

                    <div class="bottom-right-number">
                      <span class="number-container">
                        <span class="bold-number">{{data?.frTirepress | number:'1.0-0'}}</span>
                        <span class="sub-text-number"> psi</span></span>
                      <img src="../../assets/images/right-arrow-normal.svg" style="    margin-left: 27px;
margin-top: 15px;" alt="" srcset="" />
                    </div>

                    <img src="../../assets/images/car_no_wheels.svg" style="height: 70px;" alt="" class="car-image" />
                  </div>
                  <ng-template #noData>
                    <div> <img src="../../assets/images/no-data-found.svg" style="height: 130px; margin-top: 5%;" alt=""
                        class="car-image" /></div>
                  </ng-template>
                </div>
              </div>
              <div class="col">
                <div class="card-section">
                  <div class="card-header heading-border">
                    <div class="card-heading">
                      <img src="../../assets/images/battery_voltage_icon.svg" alt="" class="heading-icon" />
                      Battery Voltage
                    </div>

                    <div>
                      <img src="../../assets/images/lightning_fill.svg" alt="" class="heading-icon" />
                      <span class="volts_text">
                        <ng-container
                          *ngIf="isValidSpeed(data?.batteryStatus)">{{data?.batteryStatus}}
                        </ng-container>
                        <ng-container *ngIf="!isValidSpeed(data?.batteryStatus)">4</ng-container>Volts
                      </span>
                    </div>
                  </div>
                  <div class="section-image-container" style=" margin-top: 0px;width: 122%;
                        margin-left: -25px;">
                    <!-- <img
                            src="../../assets/images/battery_voltage_car.svg"
                            alt=""
                            class="car-image"
                          /> -->
                    <div class="battery-progress-bar" style="    border: 1px solid #E4E4E4;
border-radius: 6px; width: 92%; ">
                  <!-- Display progress strips based on battery status when valid -->
<ng-container *ngIf="isValidSpeed(data?.batteryStatus)">
  <div
    *ngFor="let item of [].constructor(60); let i = index"
    class="progress-strip"
    [ngClass]="{
      'fuelProgress': true
    }"
    [ngStyle]="{
      'background-color': i < (data?.batteryStatus * 60 / 24)
                            ? (data?.batteryStatus <= 12 ? 'red' : 'green')
                            : '#E4E4E4'
    }"
  ></div>
</ng-container>

<!-- Display progress strips based on 12 filled strips if not valid speed -->
<ng-container *ngIf="!isValidSpeed(data?.batteryStatus)">
  <div
    *ngFor="let item of [].constructor(60); let i = index"
    class="progress-strip"
    [ngClass]="{
      'fuelProgress': true
    }"
    [ngStyle]="{
      'background-color': i < 12 ? 'red' : '#E4E4E4'
    }"
  ></div>
</ng-container>
                      <!-- <div class="progress-start">0</div> -->
                      <!-- <div *ngFor="let item of [].constructor(40); let i = index" class="progress-strip"  [class.fuelProgress]="i<(data?.batteryStatus*100/24)"></div> -->
                      <!-- <div class="progress-end">14 V</div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card-section">
                  <div class="card-heading heading-border">
                    <img src="../../assets/images/dtc_alert_icon.svg" alt="" class="heading-icon" />
                    DTC Alert
                  </div>
                  <div class="card-content-main" style="padding-top: 0%;" *ngIf="data.dtcs?.length > 0">
                    <div class="row" >
                      <div class="col-xs-12 col-lg-2" style="margin-left: 20px;" *ngFor="let data of data.dtcs">
                          <span class="dtccode failed-tooltip" [ngbTooltip]="data?.dtcDesc" placement="top">
                            {{ data?.dtcCode }}
                          </span>
                      </div>

                      <!-- <div class="col-md d-flex justify-content-center">
                        <span *ngFor="let data of data.dtcs" class="dtccode"  [ngbTooltip]="data?.dtcDesc">{{data?.dtcCode}}</span>&nbsp;&nbsp;
                      </div> -->
                    </div>
                  </div>
                  <div class="card-content"*ngIf="data.dtcs?.length === 0">
                    <img src="../../../../../../assets/images/dtc-alerts.svg" style="height: 50px;">
                    <h5
                      style="font-size: 13px; font-weight: 500; padding-top:6px; font-family: 'Poppins'; color:#2D3748; text-align: center;">
                      Your vehicle is working well</h5>
                    <h5
                      style="font-size: 12px; font-weight: 400; font-family: 'Poppins'; color:#6B717B; text-align: center;">
                      No DTC alerts detected</h5>
                    <!-- <div class="alert-section">
                            <div class="section1">
                              <img
                                src="../../assets/images/info_light.svg"
                                alt=""
                                class="info_icon_class"
                              />
                              Engine oil Level is Low
                            </div>
                            <div class="section2">x</div>
                          </div> -->
                    <!-- <div class="pt-2">
                            <div class="alert-section">
                              <div class="section1">
                                <img
                                  src="../../assets/images/info_light.svg"
                                  alt=""
                                  class="info_icon_class"
                                />
                                Engine oil Level is Low
                              </div>
                              <div class="section2">x</div>
                            </div>
                          </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="main-heading heading-padding dropdown-heading content-header-mr-12">
            <div>
              <!-- <span class="icon_container"
                      ><img
                        src="../../assets/images/vehicle_statistics_icon.svg"
                        alt=""
                        class="heading_icon" /></span -->
              VEHICLE STATISTICS

            </div>
            <!-- <span class="fl-r" *ngIf="user == 'admin'">
              <a>
                <img src="/assets/images/camera.svg" class="cs-tooltip" ngbTooltip="View Recorded Events" height="26">
              </a>
            </span> -->
          </div>
          <div class="pt-2">
            <div class="content-section">
              <div class="row equal-height-row">
                <div class="col equal-height-col">
                  <div class="content-section2 red-border">
                    <div>
                      <button class="map_pin_icon">
                        <img src="../../assets/images/Map_Pin.svg" alt="" srcset="" class="info_icon_class" />
                      </button>
                    </div>
                    <div>
                      <div class="content-section-heading">
                        <span class="text_number">

                          <ng-container *ngIf="isValidSpeed(data?.tripDistance)">
                            {{ data.tripDistance | number: '1.0-0' }} <a
                              class="col-section-text2">miles</a>
                          </ng-container>
                          <ng-container *ngIf="!isValidSpeed(data?.tripDistance)">
                            <span class="col-section-text21"> No Results </span>
                          </ng-container>
                        </span>
                      </div>
                      <div class="content-section-text">Total Distance Covered</div>
                    </div>
                  </div>
                </div>
                <div class="col equal-height-col">
                  <div class="content-section2 green-border">
                    <div>
                      <button class="map_pin_icon">
                        <img src="../../assets/images/Time_light.svg" alt="" srcset="" class="info_icon_class" />
                      </button>
                    </div>
                    <div>
                      <div class="content-section-heading">
                        <span class="text_number">{{hoursTotal}}</span> hrs
                        <span class="text_number">{{minuteTotal}}</span> min
                      </div>
                      <div class="content-section-text">Total Time <br>Traveled</div>
                    </div>
                  </div>
                </div>
                <div class="col equal-height-col">
                  <div class="content-section2 purple-border">
                    <div class="statistics_icons_row">
                      <button class="map_pin_icon">
                        <img src="../../assets/images/Road_alt_light.svg" alt="" srcset="" class="info_icon_class" />
                      </button>
                      <div>
                        <img src="../../assets/images/Info_hollow.svg" alt="" srcset="" class="info_icon_class2" />
                      </div>
                    </div>
                    <div>
                      <div class="content-section-heading">
                        <span class="text_number">
                          <ng-container *ngIf="isValidSpeed(data?.maxDistance)">
                            {{  data.maxDistance | number: '1.0-0' }} <a
                              class="col-section-text2">miles</a>
                          </ng-container>
                          <ng-container *ngIf="!isValidSpeed(data?.maxDistance)">
                            <span class="col-section-text21"> No Results </span>
                          </ng-container>
                        </span>
                      </div>
                      <div class="content-section-text">Maximum Distance Covered</div>
                    </div>
                  </div>
                </div>
                <div class="col equal-height-col">
                  <div class="content-section2 orange-border">
                    <div class="statistics_icons_row">
                      <button class="map_pin_icon">
                        <img src="../../assets/images/Time_light.svg" alt="" srcset="" class="info_icon_class" />
                      </button>
                      <div>
                        <img src="../../assets/images/Info_hollow.svg" alt="" srcset="" class="info_icon_class2" />
                      </div>
                    </div>
                    <div>
                      <div class="content-section-heading">
                        <span class="text_number">{{hours}}</span> hrs
                        <span class="text_number">{{minutes}}</span> min
                      </div>
                      <div class="content-section-text">Maximum <br> Duration</div>
                    </div>
                  </div>
                </div>
                <div class="col equal-height-col">
                  <div class="content-section2 yellow-border">
                    <div class="statistics_icons_row">
                      <button class="map_pin_icon">
                        <img src="../../assets/images/Road_alt_light.svg" alt="" srcset="" class="info_icon_class" />
                      </button>
                      <div>
                        <img src="../../assets/images/Info_hollow.svg" alt="" srcset="" class="info_icon_class2" />
                      </div>
                    </div>
                    <div>
                      <div class="content-section-heading">
                        <span class="text_number">
                          <ng-container *ngIf="isValidSpeed(data?.averageDistance)">
                            {{ data.averageDistance | number: '1.0-0' }} <a
                              class="col-section-text2">miles</a>
                          </ng-container>
                          <ng-container *ngIf="!isValidSpeed(data?.averageDistance)">
                            <span class="col-section-text21"> No Results </span>
                          </ng-container>
                        </span>
                      </div>
                      <div class="content-section-text">Average Trip Distance</div>
                    </div>
                  </div>
                </div>
                <div class="col equal-height-col">
                  <div class="content-section2 leaf-border">
                    <div class="statistics_icons_row">
                      <button class="map_pin_icon">
                        <img src="../../assets/images/Time_light.svg" alt="" srcset="" class="info_icon_class" />
                      </button>
                      <div>
                        <img src="../../assets/images/Info_hollow.svg" alt="" srcset="" class="info_icon_class2" />
                      </div>
                    </div>
                    <div>
                      <div class="content-section-heading">
                        <span class="text_number">{{hoursTotalAvg}}</span> hrs
                        <span class="text_number">{{minuteTotalAvg}}</span> min
                      </div>
                      <div class="content-section-text">Average Trip Duration</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="main-heading heading-padding dropdown-heading">
            <div>
              <!-- <span class="icon_container"
                      ><img
                        src="../../assets/images/driver_safety_icon.svg"
                        alt=""
                        class="heading_icon" /></span> -->
              DRIVER SAFETY
            </div>
          </div>
          <div class="pt-2">
            <div class="content-section">
              <div class="row">
                <div class="col-3 chart-col">
                  <div class="chart-card-body">
                    <ng-container *ngIf="driverScore">
                      <apx-chart [series]="driverScore.series" [chart]="driverScore.chart"
                        [plotOptions]="driverScore.plotOptions" [labels]="driverScore.labels"
                        [stroke]="driverScore.stroke" [fill]="driverScore.fill"></apx-chart>
                    </ng-container>
                    <div class="text-center chart-heading" style="margin-top: 20px;">Safety Score</div>
                  </div>
                </div>
                <div class="col-9 col-heights-middle">
                  <div class="row">
                    <div class="col-4">
                      <div class="col-section red-border">
                        <div class="text-section">
                          <div class="col-section-text">Average Speed</div>
                        </div>
                        <div class="col_section_row">
                          <div class="col-section-text2">
                            <span class="speed_no">
                              <ng-container *ngIf="isValidSpeed(data?.avgVehicleSpeed)">
                                {{ data.avgVehicleSpeed | number: '1.0-0' }} <a
                                  class="col-section-text2">mph</a>
                              </ng-container>
                              <ng-container *ngIf="!isValidSpeed(data?.avgVehicleSpeed)">
                                <span class="col-section-text21"> No Results </span>
                              </ng-container>
                            </span>
                          </div>
                          <div class="speed_icon_container">
                            <img src="../../assets/images/speed_icon.svg" alt="" srcset="" class="speed_icon" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="col-section green-border">
                        <div class="text-section">
                          <div class="col-section-text">Top Speed</div>
                        </div>
                        <div class="col_section_row">
                          <div class="col-section-text2">
                            <span class="speed_no">
                              <ng-container *ngIf="isValidSpeed(data?.maxSpeed)">
                                {{ data.maxSpeed | number: '1.0-0' }} <a
                                  class="col-section-text2">mph</a>
                              </ng-container>
                              <ng-container *ngIf="!isValidSpeed(data?.maxSpeed)">
                                <span class="col-section-text21"> No Results </span>
                              </ng-container>
                            </span>
                          </div>
                          <div class="speed_icon_container">
                            <img src="../../assets/images/top_speed_icon.svg" alt="" srcset="" class="speed_icon" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="col-section purple-border">
                        <div class="text-section">
                          <div class="col-section-text">Harsh Acceleration</div>
                        </div>
                        <div class="col_section_row">
                          <div class="col-section-text2">
                            <span class="speed_no">
                              <ng-container *ngIf="isValidSpeed(data?.harshAcc)">
                                {{ data.harshAcc | number: '1.0-0' }} <a class="col-section-text2">count per 100 miles</a>
                              </ng-container>
                              <ng-container *ngIf="!isValidSpeed(data?.harshAcc)">
                                <span class="col-section-text21"> No Events Detected </span>
                              </ng-container>
                            </span>
                          </div>
                          <div class="speed_icon_container">
                            <img src="../../assets/images/harsh_acc_icon.svg" alt="" srcset="" class="speed_icon" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row pt-2">
                    <div class="col-4">
                      <div class="col-section green-border">
                        <div class="text-section">
                          <div class="col-section-text">Harsh Braking</div>
                        </div>
                        <div class="col_section_row">
                          <div class="col-section-text2">
                            <span class="speed_no">
                              <ng-container *ngIf="isValidSpeed(data?.harshBrake)">
                                {{ data.harshBrake | number: '1.0-0' }} <a class="col-section-text2">count per 100 miles</a>
                              </ng-container>
                              <ng-container *ngIf="!isValidSpeed(data?.harshBrake)">
                                <span class="col-section-text21"> No Events Detected </span>
                              </ng-container>
                            </span>
                          </div>
                          <div class="speed_icon_container">
                            <img src="../../assets/images/wind-02.svg" alt="" srcset="" class="speed_icon" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="col-section orange-border">
                        <div class="text-section">
                          <div class="col-section-text">Harsh Cornering</div>
                        </div>
                        <div class="col_section_row">
                          <div class="col-section-text2">
                            <span class="speed_no">
                              <ng-container *ngIf="isValidSpeed(data?.harshCornering)">
                                {{ data.harshCornering | number: '1.0-0' }} <a class="col-section-text2">count per 100 miles</a>
                              </ng-container>
                              <ng-container *ngIf="!isValidSpeed(data?.harshCornering)">
                                <span class="col-section-text21"> No Events Detected </span>
                              </ng-container>
                            </span>
                          </div>
                          <div class="speed_icon_container">
                            <img src="../../assets/images/harsh_cornering.svg" alt="" srcset="" class="speed_icon" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="col-section yellow-border">
                        <div class="text-section">
                          <div class="col-section-text">Over Speeding Distance</div>
                        </div>
                        <div class="col_section_row">
                          <div class="col-section-text2">
                            <span class="speed_no">
                              <ng-container *ngIf="isValidSpeed(data?.overspeedingDistance)">
                                {{ data.overspeedingDistance | number: '1.0-0' }} <a
                                  class="col-section-text2">miles</a>
                              </ng-container>
                              <ng-container *ngIf="!isValidSpeed(data?.overspeedingDistance)">
                                <span class="col-section-text21"> No Results </span>
                              </ng-container>
                            </span>
                          </div>
                          <div class="speed_icon_container">
                            <img src="../../assets/images/Line_out_light.svg" alt="" srcset="" class="speed_icon" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row pt-2">
                    <div class="col-4">
                      <div class="col-section leaf-border">
                        <div class="text-section">
                          <div class="col-section-text">
                            Night Driving
                          </div>
                        </div>
                        <div class="col_section_row">
                          <div class="col-section-text2">
                            <span class="speed_no">
                              <ng-container *ngIf="isValidSpeed(data?.nightDistance)">
                                {{ data.nightDistance | number: '1.0-0' }} <a
                                  class="col-section-text2">miles</a>
                              </ng-container>
                              <ng-container *ngIf="!isValidSpeed(data?.nightDistance)">
                                <span class="col-section-text21"> No Results </span>
                              </ng-container>
                            </span>
                          </div>
                          <div class="speed_icon_container">
                            <img src="../../assets/images/Moon_alt_light.svg" alt="" srcset="" class="speed_icon" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row equal-height-row">
            <div class="col-xs-12 col-lg-12 equal-height-col">
              <div class="main-heading heading-padding dropdown-heading">
                <div>
                  <!-- <span class="icon_container"
                          ><img
                            src="../../assets/images/fuel_summary_icon.svg"
                            alt=""
                            class="heading_icon2" /></span -->
                  FUEL SUMMARY
                </div>
              </div>
              <div class="pt-2 coaching-section-container">
                <div class="content-section coaching-section-container">
                  <div class="row">
                    <div class="col-xs-12 col-lg-4"
                      style="margin-top: 16px;width: 25%; border-right: #dddddd8a 2px solid;">
                      <div class="chart-card-body">
                        <div class="row" style="margin-left: 12px; margin-top: 18px;">
                          <div class="col-xs-12 col-lg-12 chart-container">
                            <div class="chart-wrapper">
                              <ng-container *ngIf="chartOptions">
                                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                  [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels"
                                  [stroke]="chartOptions.stroke" [fill]="chartOptions.fill"></apx-chart>
                              </ng-container>

                            </div>
                          </div>

                        </div>
                        <!-- <app-donut-chart
                                [chartData]="chartData.fuelLevelData"
                              ></app-donut-chart> -->
                        <div class="text-center chart-heading" style="margin-top: 20px;">Fuel Consumed (gal)</div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-lg-8 center-display" style="margin-left: 12px;width: 73%;">
                      <div class="row equal-height-row" style="    margin-top: 12px;">
                        <div class="col equal-height-col">
                          <div class="fuel-section">
                            <div class="sub-text">Average Mileage</div>
                            <div class="main-text">
                              <ng-container
                                *ngIf="data?.averageMileage == null || data?.averageMileage == 'Infinity'">NA</ng-container>
                              <ng-container *ngIf="data?.averageMileage != null && data?.averageMileage != 'Infinity'">
                                {{ data?.averageMileage | number: '1.0-0' }}
                                <span style="font-size: 12px; font-weight: 500; font-family: 'Poppins', sans-serif;;">
                                  mpg
                                </span>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                        <div class="col equal-height-col">
                          <div class="fuel-section">
                            <div class="sub-text">Total Idling Duration</div>
                            <div class="main-text">
                              {{totalHours}} <span class="col-section-text2">hrs</span>
                              {{totalMinutes}} <span class="col-section-text2">min</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row pt-2 equal-height-row" style="margin-top: 12px;">
                        <div class="col equal-height-col">
                          <div class="fuel-section">
                            <div class="sub-text">Average Cost Per Mile</div>
                            <div class="main-text">{{averageFuelCostPerMile | number:'1.2-2'}} <span
                                class="col-section-text2">$</span></div>
                          </div>
                        </div>
                        <div class="col equal-height-col">
                          <div class="fuel-section">
                            <div class="sub-text">Average Idling</div>
                            <div class="main-text">{{data?.idlingPercentage | number : '1.0-0'}} <span
                                class="col-section-text2">%</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-4 column-heights equal-height-col">
                    <div class="main-heading heading-padding dropdown-heading">
                     COACHING INSIGHTS
                    </div>

                    <div class="coaching-section-container">
                      <div class="coaching-section" style="margin-top: 5px; margin-left: -5px;">
                        <div class="card-content" style="margin-top:20%; margin-bottom: 30px;;">
                          <img src="../../../../../../assets/images/coming-soon-1.svg" style="height: 100px;">
                          <h5 style="font-size: 16px; padding-top: 20px; text-align: center; font-weight: 600; color:#292929; font-family: 'Poppins';">Coming Soon !</h5>
                          <h5 style="font-size: 12px; padding-top: 10px; text-align: center; font-weight: 500; color:#292929; font-family: 'Poppins';">
                            Keep looking out for ML-driven driver coaching recommendations.
                          </h5>
                          </div>
                        <!-- <div class="pt-2">
                          <div class="coaching-inner-section">
                            <div>
                              <div class="main-text">Fuel cost is up by 3%</div>
                              <div class="sub-text">Know more how to reduce fuel cost</div>
                            </div>
                            <div>
                              <img src="../../assets/images/go-btn.svg" alt="" class="send_icon" />
                            </div>
                          </div>
                        </div>
                        <div class="pt-2">
                          <div class="coaching-inner-section">
                            <div>
                              <div class="main-text">HB is more than benchmark</div>
                            </div>
                            <div>
                              <img src="../../assets/images/go-btn.svg" alt="" class="send_icon" />
                            </div>
                          </div>
                        </div>
                        <div class="pt-2 pb-2">
                          <div class="coaching-inner-section">
                            <div>
                              <div class="main-text">HB is more than benchmark</div>
                            </div>
                            <div>
                              <img src="../../assets/images/go-btn.svg" alt="" class="send_icon" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
          </div>

        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- No Data Found -->
<ng-template #nodatafound let-modal class="modal-width">
  <div class="modal-body modal-height">
     <h5>
      <img src="../../../../../assets/images/info-icon.svg" class="img-data2">
      <h5 class="heading-show">Data not found</h5>
     </h5>
  </div>
</ng-template>
<!-- No Data Found End-->
