
.btn-download-report{
  border-radius: 5px !important;
  font-size: 12px;
  font-family: "Poppins" !important;
  color: #fa751a;
  background: #ffffff;
  border: 1px solid #fa751a;
  padding-left: 7px;
  padding-right: 8px;
  height: 36px;
  width: 36px;
  cursor: pointer;
}


.content-right {
  flex-grow: 1; /* Allows expansion */
  width: 84%!important;
}

.chart-container {
  position: relative; // This ensures the inner circle can be positioned relative to the chart
}


::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  /* position: absolute; */
  margin-top: 4px!important;
  font-size: 12px!important;
  font-family: 'Poppins'!important;
}

.add-button-fleet{
  background-color: #fa751a;
  color: #fff;
  border: 1px solid #fa751a;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  height: 38px;
  border-radius: 5px;
  cursor: pointer;
  padding: 9px 15px;
  font-family: "Poppins";
}

.add-button-timePeriod{
  background-color: #EAEFFF;
  color: #434343;;
  border: 1px solid #9FB2F1;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  height: 38px;
  cursor: pointer;
  padding: 9px 15px;
  font-family: "Poppins";
}


::ng-deep.newSelected .ng-select-container {
  color: #434343!important;
  background-color: #EAEFFF!important;
  border: 1px solid #9FB2F1!important;
  font-size: 12px!important;
  font-weight: 500!important;
}

::ng-deep.newSelected .ng-select-container .ng-value-label,
.newSelected .ng-select-container .ng-placeholder {
  color: #434343!important;
}

::ng-deep.newSelected .ng-select-dropdown {
  background-color: #EAEFFF!important;
  border: 1px solid #9FB2F1!important;
  color: #434343!important;
}

::ng-deep.newSelected .ng-option {
  color: #434343!important;
  font-size: 12px!important;
  font-weight: 500!important;
}

.newSelected .ng-select-container {
  height: 30px;
  overflow-y: scroll;
}

.fixedheader{
  position: sticky;
  top: 0;
  background-color: #fff; /* Set header background color */
  z-index: 1;
}

.add-button{
  background-color: #ffffff;
  color: #fa751a;
  border:1px solid #fa751a;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  border-radius: 5px;
  height: 38px;
  cursor: pointer;
  padding: 9px 15px;
  font-family: "Poppins";
}

.login-headlines {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  font-family: "Poppins";
  color: #9a9696;
  text-align: center;
}

.btn-download-report:hover{
  border-radius: 5px !important;
  font-size: 12px;
  font-family: "Poppins" !important;
  color: #fa751a;
  background: #102c52;
  border: 1px solid #102c52;
  padding-left: 7px;
  padding-right: 8px;
  height: 36px;
  width: 36px;
  cursor: pointer;
}
.page-content-main {
    padding-top: 0px !important;
    margin-left: -12px !important;
    margin-right: -12px !important;
  }
  .heading-title {
    line-height: 33px !important;
    text-align: left !important;
    font-weight: 600 !important;
  }
  .heading-title-small {
    font-size: 1.5rem !important;
    font-weight: 400 !important;
  }
  .active-bread {
    font-size: 12px !important;
    color: #fa751a !important;
    font-weight: 500 !important;
    font-family: "Poppins" !important;
  }
  .inactive-bread {
    font-size: 12px !important;
    color: #6c757e !important;
    font-weight: 400 !important;
    font-family: "Poppins" !important;
  }
  .consumer-select {
    color: #9fa19f;
    width: 100%;
    height: 37px !important;
    background-color: transparent;
    background-size: 10px 12px !important;
    font-family: "Poppins" !important;
    height: 37px !important;
    border-radius: 10px !important;
    border: none !important;
  }
  .consumer-pad {
    margin-top: -12px;
    margin-left: -24px;
  }
  .no-border:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .newSelect1 {
    color: #9fa19f;
    width: 100%;
    height: 37px !important;
    background-size: 10px 12px !important;
    font-family: "Poppins" !important;
    height: 37px !important;
    border-radius: 10px !important;
  }
  ::ng-deep.newSelect1 .ng-select-container {
    background-color: #fa751a !important;
  }
  ::ng-deep.newSelect1.ng-select
    .ng-select-container
    .ng-value-container
    .ng-placeholder {
    color: #ffffff !important;
  }
  ::ng-deep.newSelect1.ng-select.ng-select-opened
    > .ng-select-container
    .ng-arrow {
    top: -2px;
    border-color: transparent transparent #ffffff !important;
    border-width: 0 5px 5px;
  }
  ::ng-deep.newSelect1.ng-select.ng-select-single
    .ng-select-container
    .ng-value-container
    .ng-value {
    color: #ffffff !important;
  }
  ::ng-deep.newSelect1.ng-select .ng-clear-wrapper {
    color: #ffffff !important;
  }
  ::ng-deep.newSelect1.ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: #fff transparent transparent !important;
    border-style: solid;
    border-width: 5px 5px 2.5px;
  }

  .table-b {
    border-radius: 25px !important
  }

  .table-head {
    background-color: #fff !important;
    font-family: 'Poppins' !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #989EA5 !important
  }

  .table th {
    color: #989EA5 !important;
    font-weight: 500 !important;
    text-align: left !important;
  }

  .table td {
    vertical-align: middle;
    font-size: 11px !important;
    color: #000000 !important;
    font-family: 'Poppins' !important;
    font-weight: 500 !important;
  }
  .table {
    --bs-table-accent-bg: #ffffff !important;
  }
  tbody tr {
    height: 40px !important;
    border-bottom-color: #ffffff !important;
    /* Set the height of the table rows to 30px */
  }

  .action-img{
    height: 20px;
  }
  .action-buttons{
    display: flex;
    gap: 1rem;
  }
  .address2{
    font-size: 10px;
    color: #838282;
    font-weight: 400;
  }
  .flex-center{
    display: flex;
    align-items: center;
  }

  .flex-space-between{
    display: flex;
    justify-content: space-between;
  }
  .blue-button{
    background-color: #046EF9;
    color: white;
    font-size: 11px;
    border-radius: 10px;
    padding: 9px 15px;
  }
  .flex-gap{
    display: flex;
    gap: 1rem;
  }
  .search-input {
    height: 37px;
    width: 200px;
    padding: 10px 15px 10px 36px; /* Space for icon on left */
    font-size: 11px;
    border: 1px solid #ced4da ;
    border-radius: 10px;
    background: white url('../../../../../../../assets/images/search-01.svg') no-repeat 10px center;
    background-size: 16px 14px;
    outline: none;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 638px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-card {
    background: white;
    padding: 0 20px;
    margin-top: 80px;
    border-radius: 8px;
    position: relative;
    width: 1000px; /* Adjust as needed */
    height: auto;
    text-align: center;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 2px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }


  .option-column {
    padding-right: 0px;
    border-right: 1px solid #DADADA;
  }

  .option {
    color: black;
    padding: 10px 10px 10px 25%;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 0px;
    transition: background-color 0.3s, color 0.3s;
  }

  .option:hover,
  .option.selected {
    background-color: #FA751A;
    color: #FFFFFF;
  }

  ::ng-deep .timePeriod.ng-select .ng-dropdown-panel .ng-option.ng-option-marked {
    background-color: #fa751a !important;
    color: #ffffff !important;
    font-family: 'Poppins'!important;
    font-size: 12px!important;
  }
  ::ng-deep .timePeriod.ng-select .ng-dropdown-panel .ng-option {
    background-color: #fff !important;
    color: #000000 !important;
    font-family: 'Poppins'!important;
    font-size: 12px!important;
  }

  .download-class:hover{
    content: url('../../../../../../../assets/images/download-hover.svg');
  }
  .expanded-row {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    color: #333;
  }
  .flex-space-around {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
  }

  .header-row, .data-row {
    width: 100%;
  }

  .expand-header, .expand-data {
    flex: 1;
    text-align: center;
    font-size: 10px;
  }

  .expand-header {
    color: #95979F;
    font-weight: 400;
  }

  .expand-data {
    color: #161616;
    font-weight: 400;
  }

  .data2 {
    color: #C2C4C6;
    font-weight: 400;
    font-size: 10px;
  }
