.login-headlines {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  font-family: "Poppins";
  color: #9a9696;
  text-align: center;
}
.info-img{
 margin-left: 43%;
 margin-right: 47%;
 height: 60px;
}
.mr-top-img{
 margin-top: 100px;
 margin-bottom: 20px;
}
