.consumer {
    color: #9fa19f !important;
    font-family: "Poppins" !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    margin-top: -6px;
  }


.content-right {
  flex-grow: 1; /* Allows expansion */
  width: 84%!important;
}

.chart-container {
  position: relative; // This ensures the inner circle can be positioned relative to the chart
}

  .dropdown-active{
    border:none!important;
    color: #989EA5 !important;
    font-weight: 500 !important;
  }
  .dropdown-active.active{
    border:none!important;
    color: #989EA5 !important;
    font-weight: 500 !important;
  }
  .dropdown-active:hover{
    border:none!important;
    color: #989EA5 !important;
    font-weight: 500 !important;
  }

  .vin-align{
  height: 36px;
  border-radius: 10px;
  }

  .failedes {
    color: rgb(183, 183, 183);
    border: 1px solid rgb(183, 183, 183);
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 5px;
  }

  .me-lg-4 {
    margin-right: 2.5rem !important;
  }

  .pageination {
    float: right;
    margin-top: -6px;
    font-size: 12px;
    font-weight: 500;
    padding-left: 8px;
    margin-right: 6px;
    font-family: "Poppins";
  }

  .table01{
    width: 117%!important;
    margin-bottom: 0px!important
  }

  .table {
    --bs-table-accent-bg: #ffffff !important;
  }

  .shadow-sm {
    box-shadow: none !important;
  }

  .a {
    font-size: 18px !important;
    font-weight: 600 !important;
    /* margin-top: 46px; */
    font-family: 'Poppins' !important;
    color: #000000 !important;
  }

  .a:hover {
    font-size: 18px !important;
    font-weight: 600 !important;
    background-color: #102C53;
    font-family: 'Poppins' !important;
    color: #ffffff !important;
  }

  .active {
    color: #2CA67E;
    border: 1px solid #2ca67e;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
  }

  .pending {
    color: #e19c18;
    padding-left: 20px;
    border-radius: 25px;
    border: 1px solid #e19c18;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .failed {
    color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
  }

  .paused {
    color: #DD8C12;
    padding-left: 20px;
    border-radius: 25px;
    border: 1px solid #DD8C12;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .deactivated {
    color: #8A1010;
    border: 1px solid #8A1010;
    border-radius: 50px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .deactivationpending {
    color: #8A1010;
    padding-top: 5px;
    border: 1px solid #8a1010;
    border-radius: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
  }

  .deactivationfailed {
    color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  .table th {
    color: #989EA5 !important;
    font-weight: 500 !important;
    text-align: left !important;
  }

  .table td {
    font-size: 12px !important;
    color: #000000 !important;
    font-family: 'Poppins' !important;
    font-weight: 500 !important;
  }

  ::ng-deep.ng-select.ng-select-single .ng-select-container {
    // height: 45px !important;
    border-radius: 10px !important;
  }

  .pageination-number {
    font-size: 12px !important;
    color: #102C53 !important;
    font-weight: 500 !important;
    font-family: 'Poppins';
    padding: 5px 10px;
    /* Adjust padding as needed */
  }

  .pageination-number:hover {
    color: #ff0000 !important;
    text-decoration: none !important;
    /* Hover color */
  }

  .pageination-number.isActive {
    color: #ffffff !important;
    /* Active condition color */
    background-color: #102c53 !important;
    border-radius: 50%;
    font-weight: 700 !important;
  }

  .px-4 {
    padding-right: 0.8rem !important;
    padding-left: 1rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  tbody tr {
    height: 40px !important;
    border-bottom-color: #ffffff !important;
    /* Set the height of the table rows to 30px */
  }

  .consumer-pad {
    margin-top: -12px;
  }

  .content-section-heading {
    padding-top: 6%;
    padding-left: 6%;
    color: #3d3d3d;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins';

    .text_number {
      font-size: 18px;
      font-weight: 600;
      font-family: 'Poppins';

    }

    .text_number2 {
      font-size: 18px;
      font-weight: 600;
      font-family: 'Poppins';
    }
  }

  .green-border {
    border: 1px solid #8cedcd !important;
  }

  .purple-border {
    border: 1px solid #8683ef;
  }

  .leaf-border {
    border: 1px solid #91c384;
  }

  .red-border {
    border: 1px solid #df7070;
  }

  .content-section-text {
    color: #808593;
    padding-left: 6%;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins';
  }

  .box5 {
    height: 80px;
    border-radius: 12px;
    background-color: #ffffff;
  }


  .editable-vin{
    padding-left: 6px;
    height: 30px;
    border-radius: 5px;
    width: 125px;
    border: 2px solid #c9c4c4;
  }

  .table-column-width {
    width: 5% !important
  }

  .table-column-width5 {
    width: 3% !important;
  }

  .table-column-width6 {
    width: 6% !important;
  }

  .table-column-width7 {
    width: 2% !important;
  }

  .table-column-width8{
  width: 2% !important;
  }

  .table-column-width10 {
    width: 16% !important;
  }

  .loading-background {
    background: linear-gradient(90deg, #f0f0f0 40%, #e0e0e0 60%, #f0f0f0 80%);
    background-size: 200% 150%;
    /* The background is wider than the element itself */
    animation: loading 1.5s infinite;
    width: 100px;
    /* The width of the element */
    height: 25px;
    /* The height of the element */
    display: inline-block;
    /* Ensure the background animation affects the element */
    overflow: hidden;
    /* Hide any overflow to keep the background within the element */
  }

  @keyframes loading {
    0% {
      background-position: 200% 0;
      /* Start the gradient off-screen to the right */
    }

    100% {
      background-position: -200% 0;
      /* Move the gradient to the left, off-screen */
    }
  }

  .table-wrapper {
    position: relative;
  }

  .ngx-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    /* Optional: Overlay color */
  }

  .custom-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .viewMorebtns {
    background: #ECECEC !important;
    width: 40px !important;
    height: 28px !important;
    border: NONE !important;
    border-radius: 26px !important;
    padding: 0px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    text-align: center !important;
    color: #ffffff !important;
    font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif;
    /* margin: 0px 0 0 !important; */
    display: inline-block !important;
    text-decoration: none !important
  }

  .button-icon {
    height: 4px;
    /* Adjust the height as needed */
    transition: opacity 0.3s ease;
  }

  .tooltip-button:hover .button-icon {
    content: url('/assets/images/orangeDot.svg');
  }

  .tooltips-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }

  .button-icons {
    height: 20px;
    /* Adjust the height as needed */
    transition: opacity 0.3s ease;
  }

  .tooltips-button:hover .button-icons {
    content: url('/assets/images/orangeMarker.svg');
  }

  .viewMorebtns:hover {
    background: #ECECEC !important;
    width: 40px !important;
    height: 28px !important;
    border: NONE !important;
    border-radius: 26px !important;
    padding: 0px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    text-align: center !important;
    color: #ffffff !important;
    font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif;
    /* margin: 0px 0 0 !important; */
    display: inline-block !important;
    text-decoration: none !important
  }

  ::ng-deep.ng-input {
    top: 8px !important
  }

  .sort-icon {
    background-color: #fff !important;
    border: none !important
  }

  .sort-icon-down {
    color: #ef8321 !important;
    font-size: 16px !important;
  }

  .sort-icon-up {
    font-size: 16px !important;
  }

  .heading-title {
    line-height: 33px !important;
    text-align: left !important;
    font-weight: 600 !important;
  }

  .mr-8 {
    margin-top: 8px !important
  }

  .loading-text {
    color: white;
  }

  ::ng-deep.ng-input {
    top: 12px !important
  }

  .input-vins {
    text-transform: capitalize !important;
    border-radius: 10px !important;
    height: 45px !important;
    font-family: 'Poppins' !important;
  }

  .table-b {
    border-radius: 25px !important
  }

  .table-head {
    background-color: #fff !important;
    font-family: 'Poppins' !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #989EA5 !important
  }


  .pagination-h {
    height: 35px !important;
    margin-top: 15px !important;
  }

  .page-display {
    display: none !important;
  }

  .pag-color {
    background-color: none !important;
  }

  .newSelect1 {
    color: #9fa19f;
    width: 100%;
    height: 30px !important;
    background-size: 10px 12px !important;
    font-family: 'Poppins' !important;
    border-radius: 10px !important
  }

  ::ng-deep.newSelect1 .ng-select-container {
    background-color: #FA751A !important;
  }

  ::ng-deep.newSelect1.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #ffffff !important;
  }

  ::ng-deep.newSelect1.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
    top: -2px;
    border-color: transparent transparent #ffffff !important;
    border-width: 0 5px 5px;
  }

  ::ng-deep.newSelect1.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    color: #ffffff !important
  }

  ::ng-deep.newSelect1.ng-select .ng-clear-wrapper {
    color: #ffffff !important;
  }

  ::ng-deep.newSelect1.ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: #fff transparent transparent !important;
    border-style: solid;
    border-width: 5px 5px 2.5px;
  }

  .remark-status{
  color: #45b01f!important;font-size: 16px!important; text-align: center!important;
  }

  .unit-font{
    font-size: 12px!important; font-weight: 500!important; font-family: 'Poppins'!important
  }

  .loding-back{
    line-height: 25px!important
  }

  .failure-box{
   max-height: 150px!important; min-height: 50px!important; overflow: auto!important;
  }

  .addaquestionn-btn{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background: #FA751A;
    border: 1px solid #fa751a;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    font-family: 'poppins';
  }

/* Disabled Button */
.disabled-btn {
  height: 35px;
  border-radius: 5px;
  background: #6ce241;
  border: 1px solid #6ce241;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Poppins';
  cursor: not-allowed;
  opacity: 0.6;
}

/* Enabled Button */
.enabled-btn {
  height: 35px;
  border-radius: 5px;
  background: #45b01f;
  border: 1px solid #45b01f;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Poppins';
  cursor: pointer;
  opacity: 1;
}


  .cancel-btn{
    height: 35px;
    border-radius: 5px;
    background: #999999;
    border: 1px solid #999999;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    font-family: 'poppins';
  }

  .question-box{
    width: 100%;
    border: 1px solid #9999;
    border-radius: 5px;
  }

  .question-box:hover{
    width: 100%;
    border: 1px solid #fa751a;
    border-radius: 5px;
  }
  ::ng-deep.question-box:active{
    width: 100%;
    border: 1px solid #fa751a!important;
    border-radius: 5px;
  }

  .custom-textarea {
    width: 100%;
    font-size: 14px;  /* Adjust font size */
    padding: 10px;    /* Adds padding inside the box */
    border: 1px solid #ccc;  /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    resize: vertical;  /* Allows vertical resizing */
    font-family: 'Poppins';
  }

  .question{
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 500;
    color:#000000
  }

  .answer-main{
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 400;
  }

  .panel-ans{
    float: left;
    margin-top: 4px;
    margin-left: 27px;
    text-align: justify;
  }

  .mr-12{
    margin-top: 6px!important;
  }

  .card{
    border-radius: 10px;
  }

  .submit-btn{
    height: 35px;
    border-radius: 5px;
    background: #45b01f;
    border: 1px solid #45b01f;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    font-family: 'poppins';
  }


  .error-message{
    color:#ff0000;
    font-size: 12px;
    font-family: 'Poppins';
  }

  .a:hover{
    color: #ffffff!important;
    border:none!important
  }


.edit-fleet:hover{
  content: url('../../../../../assets/images/edit-fleet-hover.svg');
}
.delete-fleet:hover{
  content: url('../../../../../assets/images/delete-fleet-hover.svg');
}
