<div class="page-content page-content-main">
  <div class="row" style="margin-left: -24px; margin-right: 0px">
    <div class="col-xs-12 col-lg-2 navbar-side-menu">
      <app-commonsidebar></app-commonsidebar>
    </div>
    <div class="col-xs-12 col-lg-10 content-right">
      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <span class="breadcrumb-left">
            <h1 class="login-headline heading-title">Set Geofence</h1>
          </span>
          <span class="breadcrumb-right mr-8">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/adlp/admin" class="breadcrumb-h6"
                  ><i class="bx bx-home-circle"></i
                ></a>
              </li>
              <li class="breadcrumb-item inactive-bread">
                <a routerLink="/adlp/admin/dashboardAdmin">Dashboard</a>
              </li>
              <li class="breadcrumb-item inactive-bread">
                <a>Geofence</a>
              </li>
              <li class="breadcrumb-item text-selected active-bread">
                SetGeofence
              </li>
            </ol>
          </span>
        </div>
      </div>
      <div class="row consumer-pad">
        <div class="col-xs-12 col-lg-2">
          <!-- <select class="form-select consumer-select no-border" [(ngModel)]="consumer" >
                  <option value="" disabled hidden>Select Consumer</option>
                  <option value="All" selected>Consumer</option>
                  <option *ngFor="let consumer of consumerList" value="{{consumer.name}}">{{consumer.name}}</option>
                </select> -->
        </div>
        <div class="col-xs-12 col-lg-3">
          <!-- <h5 class="activeSince">Active Since : {{ dateRange }}</h5> -->
        </div>
        <div class="col-xs-12 col-lg-5"></div>
        <div class="col-xs-12 col-lg-2" style="margin-top: 6px">
          <ng-select
            [searchable]="true"
            class="newSelect1"
            [clearable]="true"
            placeholder="Organization Id/Name"
            [(ngModel)]="fleetIdData"
          >
            <ng-option
              *ngFor="let fleet of fleetList"
              value="{{ fleet.id }}"
            ></ng-option>
          </ng-select>
        </div>
      </div>
      <!-- main container start -->

      <div class="row">
        <div class="col-5">
          <div class="card">
            <div
              class="row"
              style="padding-bottom: 20px; border-bottom: 1px solid #d9d9d9"
            >
              <div class="col-2">
                <img
                  src="../../../../../../../assets/images/pensylvynia.svg"
                  alt=""
                />
              </div>
              <div class="col-10 flex-mid">
                <div class="main-text">Pennsylvania lane</div>
                <div class="sub-text">4292 Jody Road Philadelphia, USA</div>
              </div>
            </div>
            <div class="sub-text2 pt-3">Geofence alert</div>
            <div class="pt-2">
              <div class="gray-card">
                <div class="row">
                  <div class="col-2"> <img
                    src="../../../../../../../assets/images/yellow-alert.svg"
                    alt=""
                    height="40px"
                  /></div>
                  <div class="col-7 flex-mid">
                    <div class="main-text">
                      Vehicle *****213
                    </div>
                    <div class="sub-text-no-padding">arrived at worksite</div>
                  </div>
                  <div class="col-3 flex-mid"> <div class="sub-text-no-padding">9:30am</div></div>
                </div>
              </div>
            </div>
            <div class="pt-2">
              <div class="gray-card">
                <div class="row">
                  <div class="col-2"> <img
                    src="../../../../../../../assets/images/yellow-alert.svg"
                    alt=""
                    height="40px"
                  /></div>
                  <div class="col-7 flex-mid">
                    <div class="main-text">
                      Vehicle *****213
                    </div>
                    <div class="sub-text-no-padding">arrived at worksite</div>
                  </div>
                  <div class="col-3 flex-mid"> <div class="sub-text-no-padding">9:30am</div></div>
                </div>
              </div>
            </div>
            <div class="pt-2">
              <div class="gray-card">
                <div class="row">
                  <div class="col-2"> <img
                    src="../../../../../../../assets/images/yellow-alert.svg"
                    alt=""
                    height="40px"
                  /></div>
                  <div class="col-7 flex-mid">
                    <div class="main-text">
                      Vehicle *****213
                    </div>
                    <div class="sub-text-no-padding">arrived at worksite</div>
                  </div>
                  <div class="col-3 flex-mid"> <div class="sub-text-no-padding">9:30am</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-7"></div>
      </div>
      <!-- main container end -->
    </div>
  </div>
</div>
