
  .custom-dropdown {
    position: relative;
    width: 100%;
    max-width: 300px;
    border: none !important;
    border-radius: 4px;
    background-color: #f8f8fb !important;
    cursor: pointer;
  }

  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 10;
  }

  .dropdown-list div {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .dropdown-list div:hover {
    background-color: #f0f0f0;
  }

  .dropdown-selected {
    padding: 9px;
    font-size: 12px;
    color: #9fa19f !important;
    font-family: 'Poppins'!important;
  }

  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    width: 165px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    margin-left: 12px;
  }

  .dropdown-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Poppins';
  }

  .dropdown-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 12px;
    vertical-align: middle;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #9fa19f;
    transition: transform 0.2s ease;
  }

  .dropdown-arrow.open {
    transform: rotate(180deg);
  }

  .dropdown-option:hover {
    background-color: #f0f0f0;
  }

  .dropdown-option.active .consumer-name {
    font-weight: 500;
  }

  .consumer-icon img {
    width: 16px;
    height: 16px;
  }
