<div class="page-content page-content-main">
        <div class="row sideMenuItem">
        <div class="container">
    <div class="col-xs-12 content-right">
          <div class="row">
              <div class="col-xs-12 col-lg-12">
                <span class="breadcrumb-left" style="width: 50%; margin-top: -6px;">
                  <h1 class="login-headline heading-title">EV</h1>
                  <ng-container *ngIf="user !='role_user_fleet' && user !='role_org_group'">
                      <ng-container *ngIf="customConsumer != 'Onwardfleet'">
                          <div class="row">
                              <div class="col-xs-12 col-lg-3">
                                  <h1 class="activeSinceFleet">{{customConsumer}}
                                  </h1>
                              </div>
                              <div class="col-xs-12 col-lg-9">
                                  <!-- <h1 class="activeSinceFleet">Active Since: {{ consumer.startDate }}
                                  </h1> -->
                              </div>
                          </div>
                          </ng-container>
                          <ng-container  *ngIf="customConsumer === 'Onwardfleet'">
                              <div class="row">
                                  <div class="col-xs-12 col-lg-4">
                                      <h1 class="activeSinceFleet">Onward Connected
                                      </h1>
                                  </div>
                                  <div class="col-xs-12 col-lg-8">
                                      <h1 class="activeSinceFleet">Active Since: 05-16-2024
                                      </h1>
                                  </div>
                              </div>
                        </ng-container>
              </ng-container>
              <ng-container *ngIf="user ==='role_user_fleet'">
                <div class="content-text" style="margin-top: 12px;">
                    <span class="vin_container">
                      <span class="content-sub-text">Fleet Id</span>
                    </span>
                    <span class="content-sub-text2">{{fleetIdValueNew}}</span>
                  </div>
                </ng-container>
                <ng-container *ngIf="user ==='role_org_group'">
                  <div class="content-text" style="margin-top: 12px;">
                      <span class="vin_container">
                        <span class="content-sub-text">Fleet Id</span>
                      </span>
                      <span class="content-sub-text2">{{fleetIdValueNew}}</span>
                    </div>
                  </ng-container>
                </span>
                <span class="breadcrumb-right" style="width: 50%; margin-top: -6px;">
                  <div class="row">
                    <ng-container *ngIf="user ==='role_user_fleet' || user ==='role_org_group'">
                      <div class="col-xs-12 col-lg-4"> &nbsp;</div>
                    </ng-container>
                      <div class="col-xs-12 col-lg-4"> &nbsp;</div>
                      <div class="col-xs-12 col-lg-4" *ngIf="user !='role_user_fleet' && user !='role_org_group'">
                          <ng-select [searchable]="true" class="newSelect1" (clear)="clearFleetSelection()" [clearable]="true"
                              placeholder="Organization Id/Name" (change)="selectFleetId()" [(ngModel)]="fleetIdData">
                              <ng-option *ngFor="let fleet of fleetList" value="{{fleet.id}}">{{fleet.id}} -
                                  [{{fleet.name}}]</ng-option>
                          </ng-select>
                      </div>
                      <div class="col-xs-12 col-lg-4">
                        <ng-select
                        [searchable]="true"
                        class="newSelect1"
                        [clearable]="true"
                        placeholder="Group Name"
                        [items]="groupList"
                        bindLabel="name"
                        bindValue="id"
                        [(ngModel)]="groupIdData"
                        (change)="onGroupIdChange($event)">

                        <ng-template ng-option-tmp let-item="item">
                          <span [ngStyle]="{ 'padding-left.px': item.level * 18 }">
                            {{ item.name }}
                          </span>
                        </ng-template>
                      </ng-select>
                    </div>
                      <!-- <div class="col-xs-12 col-lg-4" *ngIf="user ==='role_user_fleet' && user ==='role_org_group'">&nbsp;</div> -->

                  </div>
              </span>
              </div>
            </div>
            <div class="row" style="margin-top: 12px;">
              <div class="col-xs-12 col-lg-12">
                <div class="card">
                  <div class="card-body">
                          <div class="row top-row" style="height: 1820px;">
                              <div class="col-xs-12 col-lg-12">
                                  <div class="row" style="margin-top: 12px; margin-bottom: 12px;">
                                    <div class="col-xs-12 col-lg-10">&nbsp;</div>
                                      <div class="col-xs-12 col-lg-2">
                                          <ng-select [searchable]="true" class="newSelect" [clearable]="true"
                                          placeholder="Time Period" (clear)="clearMonthSelection()"
                                          [(ngModel)]="monthData" (change)="onTimePeriodChange($event)">
                                          <ng-option value="" disabled>Select Time Period</ng-option>
                                          <ng-option value="monthly">Monthly</ng-option>
                                          <ng-option value="weekly">Weekly</ng-option>
                                          <ng-option value="daily">Daily</ng-option>
                                      </ng-select>
                                        </div>
                                  </div>
                                  <div class="row mr24">
                                      <div class="col-xs-12 col-lg-12" style="margin-left: 12px;">
                                                  <div class="row">
                                                      <div class="col-xs-12 col-lg-12">
                                                          <span class="user-icon f-le">
                                                              <img src="../../../../../assets/images/Idling-time.svg"
                                                                  class="icon">
                                                          </span>
                                                          <span class="f-le">
                                                              <h4 class="card-title card-heading mb-4">
                                                                  Breakdown
                                                                  of Electric Vehicles</h4>
                                                          </span>
                                                      </div>
                                                  </div>
                                                  <div class="row mr16">
                                                    <div class="col-xs-12 col-lg-4">
                                                        <div class="chart-container">
                                                            <ng-container *ngIf="vehicleBodyClass">
                                                                <apx-chart class="apex-charts" dir="ltr"
                                                                [series]="vehicleBodyClass.series"
                                                                [chart]="vehicleBodyClass.chart"
                                                                [labels]="vehicleBodyClass.labels"
                                                                [legend]="vehicleBodyClass.legend"
                                                                [colors]="vehicleBodyClass.colors"
                                                                [dataLabels]="vehicleBodyClass.dataLabels"
                                                                [responsive]="vehicleBodyClass.responsive">
                                                                </apx-chart>
                                                                <div class="data-container">
                                                                    <h5 class="totalData-value">{{totalCount}}
                                                                    </h5>
                                                                    <h5 class="totalData">Total EVs</h5>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-lg-4" style="margin-left: -12px;margin-right: 12px;">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-lg-12">
                                                                <h5 class="chart-heading"><img
                                                                        src="../../../../../../assets/images/green-icon.svg" style="margin-right: 4px;">
                                                                    Battery Electric Vehicles (BEV)</h5>

                                                                <h6 class="data-chart-heading">
                                                                    {{bevPercentage}} %</h6>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 col-lg-12">
                                                                <h5 class="chart-heading"><img
                                                                        src="../../../../../../assets/images/blue-icon.svg" style="margin-right: 4px;">
                                                                    Hybrid Electric Vehicles (HEV)</h5>
                                                                <h6 class="data-chart-heading">
                                                                    {{hevPercentage}}%</h6>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 col-lg-12">
                                                                <h5 class="chart-heading"><img
                                                                        src="../../../../../../assets/images/red-icon.svg" style="margin-right: 4px;">
                                                                    Plug-in Hybrid Electric Vehicles (PHEV)
                                                                </h5>
                                                                <h6 class="data-chart-heading">
                                                                    {{phevPercentage}}%</h6>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="col-xs-12 col-lg-4"
                                                        style="margin-left: -28px;">
                                                        <img src="../../../../../../assets/images/ev-battery.png"
                                                            style="height: 300px;">
                                                    </div>
                                                </div>
                                      </div>
                                  </div>
                                  <div class="row mr50">
                                    <div class="col-xs-12 col-lg-12">
                                                <div class="row">
                                                    <div class="col-xs-12 col-lg-12">
                                                        <span class="user-icon f-le">
                                                            <img src="../../../../../assets/images/Idling-time.svg"
                                                                class="icon">
                                                        </span>
                                                        <span class="f-le">
                                                            <h4 class="card-title card-heading mb-4">EV Range Per Kwh</h4>
                                                        </span>
                                                        <span class="f-ri">
                                                            <h4
                                                                class="card-title card-heading mb-4 months-text">
                                                                Last 5 Months</h4>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top: 24px; height: 300px;">
                                                    <div class="col-xs-12 col-lg-12">
                                                        <ng-container *ngIf="chargingCost">
                                                            <apx-chart [series]="chargingCost.series"
                                                                [chart]="chargingCost.chart"
                                                                [dataLabels]="chargingCost.dataLabels"
                                                                [plotOptions]="chargingCost.plotOptions"
                                                                [xaxis]="chargingCost.xaxis"
                                                                [yaxis]="chargingCost.yaxis"
                                                                [legend]="chargingCost.legend"
                                                                [colors]="chargingCost.colors"
                                                                [grid]="chargingCost.grid"></apx-chart>
                                                        </ng-container>
                                                        <ng-container *ngIf="chargingCost == null">No data found
                                                            </ng-container>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                               <div class="row">
                                  <div class="col-xs-12 col-lg-12">
                                    <div class="section-heading">EV Range</div>
                                  </div>
                              </div>
                              <div class="row"  style="height: 400px;">
                                  <div class="col-xs-12 col-lg-6">
                                  <div class="row">
                                      <div class="col-xs-12 col-lg-12">
                                          <div class="flex-space-between chart-header-card">
                                              <div>
                                                <img src="../../../../../../assets/images/idling-time-d.svg" alt="" class="chart-img" />
                                                <span class="card-heading">By Vehicle Class&nbsp;&nbsp; </span>
                                              </div>
                                            </div>
                                      </div>
                                  </div>
                                   <div class="row">
                                      <div class="col-xs-12 col-lg-12">
                                          <div *ngIf="errorMessage">
                                              <div class="row" style="margin-top: 100px; margin-bottom: 20px;">
                                                  <div class="col-xs-12 col-lg-12">
                                                    <img src="../../../../../assets/images/info-icon.svg" style="margin-left: 43%; margin-right: 47%; height: 60px;">
                                                  </div>
                                                </div> <h5 class="login-headlines">No Data Found</h5>
                                            </div>
                                            <div *ngIf="!errorMessage && totalMileageData">
                                              <ng-container *ngIf="vehicleclass">
                                                  <apx-chart
                                                    [series]="vehicleclass.series"
                                                    [chart]="vehicleclass.chart"
                                                    [dataLabels]="vehicleclass.dataLabels"
                                                    [plotOptions]="vehicleclass.plotOptions"
                                                    [yaxis]="vehicleclass.yaxis"
                                                    [legend]="vehicleclass.legend"
                                                    [labels]="vehicleclass.labels"
                                                    [fill]="vehicleclass.fill"
                                                    [stroke]="vehicleclass.stroke"
                                                    [tooltip]="vehicleclass.tooltip"
                                                    [xaxis]="vehicleclass.xaxis"
                                                    [colors]="vehicleclass.colors"
                                                    [grid]="vehicleclass.grid"
                                                  ></apx-chart>
                                                </ng-container>
                                            </div>
                                      </div>
                                   </div>
                                  </div>
                                  <div class="col-xs-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-12">
                                            <div class="flex-space-between chart-header-card">
                                                <div>
                                                  <img src="../../../../../../assets/images/idling-time-d.svg" alt="" class="chart-img" />
                                                  <span class="card-heading">City vs Highway</span>
                                                </div>
                                              </div>
                                        </div>
                                    </div>
                                     <div class="row">
                                      <div class="col-xs-12 col-lg-12">
                                        <div *ngIf="errorMessage">
                                            <div class="row" style="margin-top: 100px; margin-bottom: 20px;">
                                              <div class="col-xs-12 col-lg-12">
                                                <img
                                                  src="../../../../../assets/images/info-icon.svg"
                                                  style="margin-left: 43%; margin-right: 47%; height: 60px;"
                                                  alt="Info Icon"
                                                />
                                              </div>
                                            </div>
                                            <h5 class="login-headlines">{{ errorMessage }}</h5>
                                          </div>

                                          <ng-container *ngIf="!errorMessage">
                                            <ng-container *ngIf="cityHighway">
                                            <apx-chart
                                              [series]="cityHighway.series"
                                              [chart]="cityHighway.chart"
                                              [dataLabels]="cityHighway.dataLabels"
                                              [plotOptions]="cityHighway.plotOptions"
                                              [yaxis]="cityHighway.yaxis"
                                              [legend]="cityHighway.legend"
                                              [labels]="cityHighway.labels"
                                              [fill]="cityHighway.fill"
                                              [stroke]="cityHighway.stroke"
                                              [tooltip]="cityHighway.tooltip"
                                              [xaxis]="cityHighway.xaxis"
                                              [colors]="cityHighway.colors"
                                              [grid]="cityHighway.grid"
                                            ></apx-chart>
                                        </ng-container>
                                          </ng-container>

                                      </div>

                                     </div>


                                    </div>
                                </div>
                            <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                                <div class="row">
                                                    <div class="col-xs-12 col-lg-12" style="width: 98%">
                                                        <span class="user-icon f-le">
                                                            <img src="../../../../../assets/images/fuelrefuling.svg"
                                                                class="icon">
                                                        </span>
                                                        <span class="f-le">
                                                            <h4 class="card-title card-heading mb-4">Recharging Cost</h4>
                                                        </span>
                                                        <span class="f-ri" style="margin-top: -12px;margin-right: -20px;">
                                                          <h4 class="card-title card-heading mb-4 months-text" tooltipClass="custom-tooltipNew" placement="bottom" ngbTooltip="Download Report">
                                                              <a (click)="vinwiseRechargingCostReportDownload(vinWiseRechargingCostDownload)"
                                                          href="javascript:(void)" class="view-more" >  <img
                                                          src="../../assets/images/download_icon.svg"
                                                          alt=""
                                                          class="download_button"
                                                        />
                                                          </a>
                                                              </h4>
                                                              </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-lg-12" style="margin-top: 12px;">
                                                      <div class="table-responsive table-b" style="overflow: hidden;">
                                                          <table class="table" style="margin-top: -12px; width: 100%;">
                                                            <thead class="table-head" style="background-color: grey;">
                                                            <tr style="font-family: 'Poppins';">
                                                              <th style="width: 10%;">Vehicle Name</th>
                                                              <th style="width: 10%;">Date & Time</th>
                                                              <th style="width: 30%;">Location</th>
                                                              <th style="width: 10%;">Type</th>
                                                              <th style="width: 20%;">Energy Consumed (KwH)</th>
                                                              <th style="width: 10%;">Cost ($)</th>
                                                              <th style="width: 10%;">Mode</th>
                                                            </tr>
                                                          </thead>
                                                          <tbody>
                                                              <tr *ngFor="let data of rechargeEvent" style="font-family: 'Poppins';">
                                                                  <td class="tbody-colum"><span *ngIf="isVin(data?.alias); else showAlias">
                                                                      {{ maskVinNumber(data?.alias) }}
                                                                    </span>
                                                                    <ng-template #showAlias>
                                                                      {{ data?.alias }}
                                                                    </ng-template></td>
                                                                    <td>
                                                                        <ng-container *ngIf="data?.formattedDate && data?.formattedTime ; else defaultView">
                                                                            {{ data.formattedDate }}, <br>
                                                                            {{ data.formattedTime  }}
                                                                          </ng-container>

                                                                          <ng-template #defaultView>
                                                                            <ng-container *ngIf="data?.timestamp">
                                                                              {{ data.timestamp | date: 'MMM d, y' }}, <br>
                                                                              {{ data.timestamp | date: 'HH:mm' }}
                                                                            </ng-container>
                                                                          </ng-template>
                                                                      </td>
                                                                  <td>{{data?.address}}</td>
                                                                  <td>{{data?.chargingLocationType}}</td>
                                                                  <td>{{data?.chargeAmtKWH | number:'1.2-2'}}</td>
                                                                  <td>{{data?.rechargeCost | number:'1.2-2'}}</td>
                                                                  <td>{{data?.chargingSpeed ? data?.chargingSpeed : '--'}}</td>
                                                              </tr>
                                                              <tr *ngIf="(rechargeEvent || []).length === 0">
                                                                <td colspan="7">
                                                                    <h5 class="nodatefound">No data found</h5>
                                                                </td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                              </div>
                          </div>
                      </div>
              </div>
            </div>
          </div>
    </div>
    </div>
  </div>
  </div>

  <ng-template #vinWiseRechargingCostDownload let-modal class="modal-width">
      <div class="modal-header">
          <h5 class="modal-title mt-0">Recharging Cost Report</h5>
          <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
      </div>
      <div class="modal-body" style="height: 170px;">
          <div class="row" style="margin-bottom: 12px;">
              <div class="col-xs-12 col-lg-3">
                  <button class="data-demo-download btn btn-primary" (click)="downloadVin()"
                      [class.active]="activeButton === 'vin'">
                      Download by VIN
                  </button>
              </div>
              <div class="col-xs-12 col-lg-3">
                  <button class="data-demo-download btn btn-primary" (click)="downloadDateRange()"
                      [class.active]="activeButton === 'dateRange'">
                      Download by Date Range
                  </button>
              </div>
              <div class="col-xs-12 col-lg-3">
                  <button class="data-demo-download btn btn-primary" (click)="downloadVinDateRange()"
                      [class.active]="activeButton === 'vinDateRange'">
                      Download by VIN & Date Range
                  </button>
              </div>
          </div>

          <div class="row">
              <ng-container *ngIf="vinDownlaod">
                  <div class="row">
                      <div class="col-xs-12 col-lg-4">
                          <ng-select [searchable]="true" class="newSelect" [clearable]="true" placeholder="Select VIN"
                              [(ngModel)]="vinListData">
                              <ng-option value="" disabled>Select VIN</ng-option>
                              <ng-option *ngFor="let vin of vinList" value="{{vin.VIN}}">{{vin.Alias}}</ng-option>
                          </ng-select>
                          <p *ngIf="!vinListData" class="text-danger" style="height: 8px; margin-bottom: 0px;">Please
                              Select VIN</p>
                      </div>
                  </div>
                  <div class="row" style="margin-top: 12px;">
                      <div class="col-xs-12 col-lg-12">
                          <button class="data-demo btn btn-primary" style="float: right;" [disabled]="!vinListData"
                              (click)="downloadReport();">Download Report</button>
                      </div>
                  </div>
              </ng-container>
              <ng-container *ngIf="dateDownload">
                  <div class="row">
                      <div class="col-xs-12 col-lg-4">
                          <div class="input-group">
                              <label for="fromDate" class="trip-summary-date-label" style="margin-top: 8px; margin-right: 4px;">From Date</label>
                              <input
                                class="form-control input-box"
                                placeholder="mm/dd/yyyy"
                                name="fromDate"
                                #c2="ngModel"
                                ngbDatepicker
                                #d2="ngbDatepicker"
                                (click)="d2.toggle()"
                                id="fromDate"
                                [(ngModel)]="fromDate"
                              />
                              <button
                                class="btn btn-outline-calander calendar"
                                (click)="d2.toggle()"
                                type="button"
                              >
                                <i class="fa fa-calendar" aria-hidden="true" style="color:#5a5958"></i>
                              </button>

                            </div>
                            <p *ngIf="!fromDate" class="text-danger"
                            style="height: 8px;padding-left: 36px; margin-bottom: 0px;">Please Select From Date</p>
                      </div>
                      <div class="col-xs-12 col-lg-4">
                          <div class="input-group">
                              <label for="toDate" class="trip-summary-date-label" style="padding-top: 8px;  margin-right: 4px;">To Date</label>
                              <input
                                class="form-control input-box"
                                placeholder="mm/dd/yyyy"
                                name="toDate"
                                #c3="ngModel"
                                ngbDatepicker
                                #d3="ngbDatepicker"
                                (click)="d3.toggle()"
                                id="toDate"
                                [(ngModel)]="toDate"
                              />
                              <button
                                class="btn btn-outline-calander calendar"
                                (click)="d3.toggle()"
                                type="button"
                              >
                                <i class="fa fa-calendar" aria-hidden="true" style="color:#5a5958"></i>
                              </button>
                            </div>
                            <p *ngIf="!toDate" class="text-danger"
                                  style="height: 8px;padding-left: 58px; margin-bottom: 0px;">Please Select To Date</p>
                      </div>
                  </div>
                  <div class="row" style="margin-top: 12px;">
                      <div class="col-xs-12 col-lg-12">
                          <button class="data-demo btn btn-primary" style="float: right;"
                              [disabled]="!fromDate || !toDate" (click)="downloadReportDateNewDownload()">Download
                              Report</button>
                      </div>
                  </div>
              </ng-container>
          </div>
          <div class="row">
              <ng-container *ngIf="dateVinDownlaod">
                  <div class="row">
                      <div class="col-xs-12 col-lg-4">
                          <ng-select [searchable]="true" class="newSelect" [clearable]="true" placeholder="Select VIN"
                              [(ngModel)]="vinListData">
                              <ng-option value="" disabled>Select VIN</ng-option>
                              <ng-option *ngFor="let vin of vinList" value="{{vin.VIN}}">{{vin.Alias}}</ng-option>
                          </ng-select>
                          <p *ngIf="!vinListData" class="text-danger" style="height: 8px; margin-bottom: 0px;">Please
                              Select VIN</p>
                      </div>
                      <div class="col-xs-12 col-lg-4">
                          <div class="input-group">
                              <label for="fromDate" class="trip-summary-date-label" style="margin-top: 8px; margin-right: 4px;">From Date</label>
                              <input
                                class="form-control input-box"
                                placeholder="mm/dd/yyyy"
                                name="fromDate"
                                #c2="ngModel"
                                ngbDatepicker
                                #d2="ngbDatepicker"
                                (click)="d2.toggle()"
                                id="fromDate"
                                [(ngModel)]="fromDate"
                              />
                              <button
                                class="btn btn-outline-calander calendar"
                                (click)="d2.toggle()"
                                type="button"
                              >
                                <i class="fa fa-calendar" aria-hidden="true" style="color:#5a5958"></i>
                              </button>

                            </div>
                            <p *ngIf="!fromDate" class="text-danger"
                            style="height: 8px;padding-left: 44px; margin-bottom: 0px;">Please Select From Date</p>
                      </div>
                      <div class="col-xs-12 col-lg-4">
                          <div class="input-group">
                              <label for="toDate" class="trip-summary-date-label" style="padding-top: 8px;  margin-right: 4px;">To Date</label>
                              <input
                                class="form-control input-box"
                                placeholder="mm/dd/yyyy"
                                name="toDate"
                                #c3="ngModel"
                                ngbDatepicker
                                #d3="ngbDatepicker"
                                (click)="d3.toggle()"
                                id="toDate"
                                [(ngModel)]="toDate"
                              />
                              <button
                                class="btn btn-outline-calander calendar"
                                (click)="d3.toggle()"
                                type="button"
                              >
                                <i class="fa fa-calendar" aria-hidden="true" style="color:#5a5958"></i>
                              </button>
                            </div>
                            <p *ngIf="!toDate" class="text-danger"
                                  style="height: 8px;padding-left: 44px; margin-bottom: 0px;">Please Select To Date</p>
                      </div>
                  </div>
                  <div class="row" style="margin-top: 12px;">
                      <div class="col-xs-12 col-lg-12">
                          <button class="data-demo btn btn-primary" style="float: right;"
                              [disabled]="!vinListData || !fromDate || !toDate" (click)="downloadReportVinDate()">Download
                              Report</button>
                      </div>
                  </div>
              </ng-container>
          </div>

      </div>
  </ng-template>

  <ng-template #nodatafound let-modal>
      <div class="modal-header">
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
          <h5 style="text-align: center; font-size: 14px; font-weight: 500; font-family: 'Poppins';">No Data Avaibale for
              Selected VIN.</h5>
      </div>
  </ng-template>
