<div class="page-content page-content-main">
    <div class="row sideMenuItem">
        <div class="container">
        <div class="col-xs-12 content-right">
          <div class="row">
            <div class="col-xs-12 col-lg-12">
                <span class="breadcrumb-left" style="width: 50%;">
                    <h1 class="login-headline heading-title">Maintenance</h1>
                    <ng-container *ngIf="user !='role_user_fleet' && user !='role_org_group'">
                        <ng-container *ngIf="customConsumer != 'Onwardfleet'">
                            <div class="row">
                                <div class="col-xs-12 col-lg-3">
                                    <h1 class="activeSinceFleet">{{customConsumer}}
                                    </h1>
                                </div>
                                <div class="col-xs-12 col-lg-9">
                                    <h1 class="activeSinceFleet" *ngFor="let consumer of consumerList">Active Since: {{ consumer.startDate }}
                                    </h1>
                                </div>
                            </div>
                            </ng-container>
                            <ng-container  *ngIf="customConsumer === 'Onwardfleet'">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-4">
                                        <h1 class="activeSinceFleet">Onward Connected
                                        </h1>
                                    </div>
                                    <div class="col-xs-12 col-lg-8">
                                        <h1 class="activeSinceFleet" *ngFor="let consumer of consumerList">Active Since: {{ consumer.startDate }}
                                        </h1>
                                    </div>
                                </div>
                          </ng-container>
                    </ng-container>
                    <ng-container *ngIf="user ==='role_user_fleet'">
                        <!-- <div class="content-text" style="margin-top: 12px;">
                            <span class="vin_container">
                              <span class="content-sub-text">Fleet Id</span>
                            </span>
                            <span class="content-sub-text2">{{fleetIdValueNew}}</span>
                          </div> -->
                        </ng-container>
                        <!-- <ng-container *ngIf="user ==='role_org_group'">
                          <div class="content-text" style="margin-top: 12px;">
                              <span class="vin_container">
                                <span class="content-sub-text">Fleet Id</span>
                              </span>
                              <span class="content-sub-text2">{{fleetIdValueNew}}</span>
                            </div>
                          </ng-container> -->
                </span>
                <span class="breadcrumb-right" style="width: 50%;">
                    <div class="row">
                        <div class="col-xs-12 col-lg-8"> &nbsp;</div>
                        <div class="col-xs-12 col-lg-4" *ngIf="user !='role_user_fleet' && user !='role_org_group'">
                            <ng-select [searchable]="true" class="newSelect1" (clear)="clearFleetSelection()"
                                [clearable]="true" placeholder="Organization Id/Name" (change)="selectFleetId()"
                                [(ngModel)]="fleetIdData">
                                <ng-option *ngFor="let fleet of fleetList" value="{{fleet.id}}">{{fleet.id}} -
                                    [{{fleet.name}}]</ng-option>
                            </ng-select>
                        </div>
                        <ng-container *ngIf="user ==='role_user_fleet' || user ==='role_org_group'">
                            <div class="col-xs-12 col-lg-4"> &nbsp;</div>
                          </ng-container>
                        <!-- <div class="col-xs-12 col-lg-4">
                            <ng-select
                            [searchable]="true"
                            class="newSelect1"
                            [clearable]="true"
                            placeholder="Group Name"
                            [items]="groupList"
                            bindLabel="name"
                            bindValue="id"
                            [(ngModel)]="groupIdData"
                            (change)="onGroupIdChange($event)">

                            <ng-template ng-option-tmp let-item="item">
                              <span [ngStyle]="{ 'padding-left.px': item.level * 18 }">
                                {{ item.name }}
                              </span>
                            </ng-template>
                          </ng-select>
                          </div> -->
                        <div class="col-xs-12 col-lg-4" *ngIf="user ==='role_user_fleet' && user ==='role_org_group'">&nbsp;</div>

                    </div>
                </span>
            </div>
        </div>
        <div class="row mt-4" style="margin-top: -12px; margin-right: 12px;">
            <div class="col-xs-12 col-lg-10 summary-detail">
                <span class="user-icon f-le">
                    <img src="../../../../../assets/images/icon/aggresive.svg" class="icon">
                </span>
                <span class="f-le">
                    <h4 class="card-title card-heading mb-4">Oil Change Warnings</h4>
                </span>
            </div>
            <!-- <div class="col-xs-12 col-lg-2">
                <ng-select style="margin-top: 6px;margin-right: -30px;" [items]="dataOfMonths" bindLabel="label" (change)="onTimePeriodChanges($event.value)"
                    bindValue="value" placeholder="Select Time Period" [(ngModel)]="selectedTimePeriodss"
                    class="newSelecting"></ng-select>
            </div> -->
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="card">
        <div class="row">
            <div class="col-lg-9"></div>
            <div class="col-lg-3 d-flex justify-content-end mt-3 mb-2">
              <ng-select
                [items]="vinList"
                bindLabel="alias"
                bindValue="vin"
                placeholder="Select Vehicle VIN"
                [(ngModel)]="selectedVin"
                (ngModelChange)="filterByVin()"
                class="input-vins font-common"
                [ngStyle]="{ 'width': '100%', 'height': '45px' }"
              >
                <ng-template ng-label-tmp let-item="item">
                  {{ item.alias }} ({{ item.vin }})
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{ item.alias }} ({{ item.vin }})
                </ng-template>
              </ng-select>
            </div>
          </div>

          <!-- VIN, OEM and satus filter end -->
          <!-- Main data table-->

          <div class="row mr-table mx-2">
            <div class="col-lg-12 col-xs-12">
              <div class="table-wrapper">
                <div class="table-responsive table-b">
                  <table class="table">
                    <thead class="table-head">
                      <tr>
                        <!-- <th class="table-column-width5">Fleet Id</th> -->
                        <th class="table-column-width">Vehicle Name</th>
                        <th class="table-column-width">VIN</th>
                        <th class="table-column-width7">Model</th>
                        <th class="table-column-width7">Odometer </th>
                        <th class="table-column-width7">Oil Life(%)</th>
                        <th class="table-column-width7">Date </th>

                        <th class="table-column-width7">Miles left</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="tripSummaryData?.length > 0; else noDataTemplate">
                      <ng-container  *ngFor="let trips of tripSummaryData; let i = index" >
                      <tr class="bor-none">
                        <!-- <td>{{  trips?.fleetId}}</td> -->
                        <td><a href="javascript:void()"
                          class="tripIdnewplus"
                          (click)="toggleExpand(i);">
                          <i class="fas fa-plus tripIdnew"></i> </a>{{  (trips?.alias)}}</td>

                          <td>{{ trips?.cx_vin ? trips.cx_vin : 'N/A' }}</td>
                          <td>{{ trips?.model ? trips.model : 'N/A' }}</td>
                          <td>{{ trips?.current_odometer != null ? trips.current_odometer : 'N/A' }}</td>
                          <td>{{ trips?.current_oil_life != null ? trips.current_oil_life : 'N/A' }}</td>
                          <td>{{ trips?.current_timestamp ? trips.current_timestamp : 'N/A' }}</td>
                          <td>{{ trips?.distance_to_next_oilchange != null ? trips.distance_to_next_oilchange : 'N/A' }}</td>

                          <!-- <td>
                            <a *ngIf="trips?.lastRefuelLocation; else noData"
                               style="color: #000!important; text-decoration: underline; cursor: pointer;">
                               <span class="address" [ngbTooltip]="trips?.lastRefuelLocation" style="padding-left: 16px;">
                                {{ trips?.lastRefuelLocationZipcode }}
                              </span>
                            </a>
                            <ng-template #noData>NA</ng-template>
                          </td> -->
                          <!-- <td >{{ trips?.current_timestamp}}</td> -->
                          <!-- <td  >{{ trips?.lastRefuelLocation}}</td> -->
                          <!-- <td  >{{ trips?.dist_bet_two_consecutive_oilchanges }}</td> -->
                          <!-- <td >
                            {{ (trips?.vehicleMileage < 0) ? 'Vehicle not driven enough' : trips?.vehicleMileage }}
                          </td>
                          <td  >{{trips?.totalIdlingDuration ?
                            (formatDurationSeconds(trips?.totalIdlingDuration)) : 'NA' }}</td> -->
                          <!-- <td class="text-center">{{ trips.maxOdometer |number }}</td> -->
                          <!-- <td class="text-center"><button class="btn btn-primary">View</button></td> -->
                        </tr>
                             <!-- Expanded Row with Full Table -->
                        <tr *ngIf="expandedRowIndex === i">
                          <td colspan="12">
                            <div class="expanded-content" style="background-color: #f8f9fa; padding: 10px; border-radius: 5px;">
                              <h5 style="margin-bottom: 10px;">Last Oil Change Record</h5>
                              <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr style="background-color: lightgray;">

                                        <th class="table-column-width"> Last oil change</th>
                                        <th class="table-column-width7">Where</th>
                                        <th class="table-column-width7">Odometer</th>


                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngIf="trips?.lastoilchange_timestamp; else noDataFound">
                                        <td>{{ trips.lastoilchange_timestamp }}</td>
                                        <td>{{ trips.oilChangeWhere || 'N/A' }}</td>
                                        <td>{{ trips.lastoilchange_odometer != null ? trips.lastoilchange_odometer : 'N/A' }}</td>
                                      </tr>
                                      <ng-template #noDataFound>
                                        <tr>
                                          <td colspan="3" class="text-center text-muted">Data not found</td>
                                        </tr>
                                      </ng-template>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                       <!-- No Data Found Message -->
                    <ng-template #noDataTemplate>
                      <tr>
                        <td colspan="11" class="text-center">
                          <h5 class="heading-c" style="text-align: center;">No Data Found ...</h5>
                        </td>
                      </tr>
                    </ng-template>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
         <!-- Breadcrumb and Search Consumer or Fleet Id End-->
        <!--Main Content Start-->
          <!--Top Row show summary-->
          <div class="row" style="margin-top: 12px;">
            <div class="col-xs-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <h5 class="active-heading">Active Vehicles :
                                    <span class="active-data"> {{ lastTripCount | number : "1.0-0" }}</span>
                                </h5>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 6px;">
                            <div class="col-xs-12 col-lg-6 box">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <div class="content-section-heading">
                                            <span
                                                *ngIf="detailData?.activeDtcVehicleCount === undefined || detailData?.activeDtcVehicleCount === null">
                                                <i class="fa fa-spinner fa-spin icon-loading"></i>
                                            </span>
                                            <span
                                                *ngIf="detailData?.activeDtcVehicleCount !== undefined && detailData?.activeDtcVehicleCount !== null"
                                                class="text_number">
                                                {{detailData?.activeDtcVehicleCount}}
                                            </span>
                                        </div>
                                        <div class="content-section-text">Vehicles with Active DTCs</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-6 box">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-12">
                                        <div class="content-section-heading">
                                            <span
                                                *ngIf="detailData?.totalDtcVehicleCount === undefined || detailData?.totalDtcVehicleCount === null">
                                                <i class="fa fa-spinner fa-spin icon-loading"></i>
                                            </span>
                                            <span
                                                *ngIf="detailData?.totalDtcVehicleCount !== undefined && detailData?.totalDtcVehicleCount !== null"
                                                class="text_number">
                                                {{detailData?.totalDtcVehicleCount}}
                                            </span>
                                        </div>
                                        <div class="content-section-text">DTCs Triggered</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Top Row show End summary-->
        <!--Second Section table-->
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <!--Filter-->
                        <div class="row">
                            <div class="col-xs-12 col-lg-6">
                                <input class="form-control input-vin font-common" maxlength="17" type="text"
                                    [(ngModel)]="searchbyVinNumber" (input)="filterTableData()"
                                    placeholder="Search by Vehicle Name">
                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <ng-select [items]="allOptions" bindLabel="name" bindValue="id"
                                    [multiple]="true" [closeOnSelect]="false" [selectableGroup]="true"
                                    placeholder="Search by Type" [(ngModel)]="searchByStatus"
                                    class="font-common" (change)="filterTableData()">

                                    <!-- Select All Option -->
                                    <ng-template ng-option-tmp let-item="item" let-index="index">
                                        <div *ngIf="item.id === 'selectAll'">
                                            <input type="checkbox" [checked]="isAllSelected()"
                                                (click)="toggleSelectAll($event)" /> {{ item.name }}
                                        </div>
                                        <div *ngIf="item.id !== 'selectAll'">
                                            <input type="checkbox"
                                                [checked]="searchByStatus.includes(item.id)" /> {{ item.name }}
                                        </div>
                                    </ng-template>
                                </ng-select>

                            </div>
                            <div class="col-xs-12 col-lg-3">
                                <ng-select [items]="[
                                            { id: 'Active', name: 'Active' },
                                            { id: 'Resolved', name: 'Resolved' },
                                            ]" bindLabel="name" bindValue="id" (change)="filterTableData()"
                                    placeholder="Search by Status" [(ngModel)]="searchbyAlerts"
                                    class="font-common">
                                </ng-select>
                            </div>
                        </div>
                        <!--Filter end-->
                        <!--Main table-->
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <div class="table-responsive table-b table-scrooling">
                                    <table class="table" style="margin-bottom: 0px;">
                                        <thead class="table-head">
                                            <tr>
                                                <th class="tablecol5">Vehicle Name</th>
                                                <th class="tablecol3">DTC Type</th>
                                                <th class="tablecol3">DTC Code</th>
                                                <th class="tablecol">DTC Name</th>
                                                <th class="tablecol1">DTC Raised Date/Time</th>
                                                <th class="tablecol2">DTC Warning Duration</th>
                                                <th class="tablecol3">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-body">
                                            <tr *ngFor="let data of filteredTableData">
                                                <td>  {{ data?.alias.length === 17 ? maskVins(data?.alias) : data?.alias }}</td>
                                                <td>{{data?.dtcType}}</td>
                                                <td>{{data?.dtc}}</td>
                                                <td>{{data?.description}}</td>
                                                <td>
                                                    <ng-container *ngIf="data?.formattedDate && data?.formattedTime; else defaultView">
                                                        {{ data.formattedDate }}<br />
                                                        {{ data.formattedTime }}
                                                      </ng-container>

                                                      <ng-template #defaultView>
                                                        <ng-container *ngIf="data?.dtcRaisedTime; else noTime">
                                                          {{ data.dtcRaisedTime | date: 'MMM d, y' }}<br />
                                                          {{ data.dtcRaisedTime | date: 'HH:mm' }}
                                                        </ng-container>
                                                        <ng-template #noTime>
                                                          -- <br /> --
                                                        </ng-template>
                                                      </ng-template>
                                                </td>
                                                <td>{{data?.dtcActiveDuration}}</td>
                                                <td [ngStyle]="{'color': data?.dtcStatus === 'Resolved' ? '#30B02E' : (data?.dtcStatus === 'Active' ? '#E84848' : 'inherit')}">
                                                    {{data?.dtcStatus}}
                                                  </td>
                                            </tr>
                                            <tr *ngIf="filteredTableData?.length > 9">
                                                <td colspan="7" class="text-center">
                                                    <button class="viewMore" *ngIf="filteredTableData.length < totalActiveResolvedCount"
                                                        (click)="toggleViewMore()"
                                                        [disabled]="isLoading">
                                                        {{ showAll ? 'Show Less' : 'Show More' }}
                                                        <span *ngIf="isLoading">
                                                            <i class="fa fa-spinner fa-spin"
                                                                style="font-size: 16px;"></i>
                                                        </span>
                                                    </button>

                                                </td>
                                            </tr>
                                            <tr  *ngIf="isLoading">
                                                    <i class="fa fa-spinner fa-spin"
                                                        style="font-size: 16px;"></i>
                                            </tr>
                                            <tr *ngIf="filteredTableData.length === 0">
                                                <td colspan="7" class="text-center">No data found</td>
                                              </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--main table end-->

                    </div>
                </div>
            </div>
        </div>
        <!--Second Section table End-->
        <!-- Third Section heading-->
        <div class="row" style="margin-top: -12px; margin-right: 12px;">
            <div class="col-xs-12 col-lg-10 summary-detail">
                <span class="user-icon f-le">
                    <img src="../../../../../assets/images/icon/aggresive.svg" class="icon">
                </span>
                <span class="f-le">
                    <h4 class="card-title card-heading mb-4">Monthly Trend</h4>
                </span>
            </div>
            <div class="col-xs-12 col-lg-2">
                <ng-select style="margin-top: 6px;margin-right: -30px;" [items]="dataOfMonths" bindLabel="label" (change)="onTimePeriodChanges($event.value)"
                    bindValue="value" placeholder="Select Time Period" [(ngModel)]="selectedTimePeriodss"
                    class="newSelecting"></ng-select>
            </div>
        </div>
        <!--Third section heading end-->
        <!--Fourth section chart-->
        <div class="row" style="margin-top: 12px;">
            <div class="col-xs-12 col-lg-6">
                <div class="card chart-row-height">
                    <div class="card-body" style="height: 350px;">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <span class="user-icon f-le">
                                    <img src="../../../../../../assets/images/dtc_icon.svg" class="dtc-icon" />
                                </span>
                                <span class="f-le">
                                    <h4 class="card-title card-heading mb-4">
                                        DTCs Triggered
                                    </h4>
                                </span>
                            </div>
                        </div>
                        <hr class="line" />
                        <div class="row" style="margin-top: -12px;">
                            <div class="col-xs-12 col-lg-12">
                                <ng-container *ngIf="dtcTriggerEvent">
                                <apx-chart [series]="dtcTriggerEvent.series" [chart]="dtcTriggerEvent.chart"
                                    [dataLabels]="dtcTriggerEvent.dataLabels"
                                    [plotOptions]="dtcTriggerEvent.plotOptions" [xaxis]="dtcTriggerEvent.xaxis"
                                    [yaxis]="dtcTriggerEvent.yaxis" [tooltip]="dtcTriggerEvent.tooltip"
                                    [legend]="dtcTriggerEvent.legend" [colors]="dtcTriggerEvent.colors"
                                    [grid]="dtcTriggerEvent.grid" [fill]="dtcTriggerEvent.fill">
                                </apx-chart>
                            </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6">
                <div class="card chart-row-height">
                    <div class="card-body" style="height: 350px;">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <span class="user-icon f-le">
                                    <img src="../../../../../../assets/images/dtc_icon.svg" class="dtc-icon" />
                                </span>
                                <span class="f-le">
                                    <h4 class="card-title card-heading mb-4">
                                        DTCs Triggered by Vehicle
                                    </h4>
                                </span>
                            </div>
                        </div>
                        <hr class="line" />
                        <div class="row" style="margin-top: -12px;">
                            <div class="col-xs-12 col-lg-12">
                                <ng-container *ngIf="!dataUpdate; else noDataTemplate">
                                    <ng-container *ngIf="dtcTriggerByVehicles">
                                      <apx-chart [series]="dtcTriggerByVehicles.series"
                                                 [chart]="dtcTriggerByVehicles.chart"
                                                 [dataLabels]="dtcTriggerByVehicles.dataLabels"
                                                 [plotOptions]="dtcTriggerByVehicles.plotOptions"
                                                 [xaxis]="dtcTriggerByVehicles.xaxis"
                                                 [yaxis]="dtcTriggerByVehicles.yaxis"
                                                 [tooltip]="dtcTriggerByVehicles.tooltip"
                                                 [legend]="dtcTriggerByVehicles.legend"
                                                 [colors]="dtcTriggerByVehicles.colors"
                                                 [grid]="dtcTriggerByVehicles.grid"
                                                 [fill]="dtcTriggerByVehicles.fill">
                                      </apx-chart>
                                    </ng-container>
                                  </ng-container>

                                  <ng-template #noDataTemplate>
                                    <h5 class="nodatefound">No data found</h5>
                                  </ng-template>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 12px;">
            <div class="col-xs-12 col-lg-6">
                <div class="card chart-row-height">
                    <div class="card-body" style="height: 370px;">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <span class="user-icon f-le">
                                    <img src="../../../../../../assets/images/dtc_icon.svg" class="dtc-icon" />
                                </span>
                                <span class="f-le">
                                    <h4 class="card-title card-heading mb-4">
                                        DTCs Triggered by Type
                                    </h4>
                                </span>
                            </div>
                        </div>
                        <hr class="line" />
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <ng-container *ngIf="!dataUpdate; else noDataTemplate">
                                <ng-container *ngIf="dtcTriggerByTypes">
                                <apx-chart [series]="dtcTriggerByTypes.series" [chart]="dtcTriggerByTypes.chart"
                                    [dataLabels]="dtcTriggerByTypes.dataLabels"
                                    [plotOptions]="dtcTriggerByTypes.plotOptions" [xaxis]="dtcTriggerByTypes.xaxis"
                                    [yaxis]="dtcTriggerByTypes.yaxis" [tooltip]="dtcTriggerByTypes.tooltip"
                                    [legend]="dtcTriggerByTypes.legend" [colors]="dtcTriggerByTypes.colors"
                                    [grid]="dtcTriggerByTypes.grid" [fill]="dtcTriggerByTypes.fill">
                                </apx-chart>
                                </ng-container>
                                </ng-container>
                                <ng-template #noDataTemplate>
                                    <h5 class="nodatefound">No data found</h5>
                                  </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6">
                <div class="card chart-row-height">
                    <div class="card-body" style="height: 370px;">
                        <div class="row">
                            <div class="col-xs-12 col-lg-12">
                                <span class="user-icon f-le">
                                    <img src="../../../../../../assets/images/dtc_icon.svg" class="dtc-icon" />
                                </span>
                                <span class="f-le">
                                    <h4 class="card-title card-heading mb-4">
                                        Miles Driven vs DTCs Triggered
                                    </h4>
                                </span>
                            </div>
                        </div>
                        <hr class="line" />
                        <div class="row" style="margin-top: -12px;">
                            <div class="col-xs-12 col-lg-12">
                                <ng-container *ngIf="dtceventRate">
                                <apx-chart [series]="dtceventRate.series" [chart]="dtceventRate.chart"
                                    [dataLabels]="dtceventRate.dataLabels" [plotOptions]="dtceventRate.plotOptions"
                                    [xaxis]="dtceventRate.xaxis" [yaxis]="dtceventRate.yaxis"
                                    [tooltip]="dtceventRate.tooltip" [legend]="dtceventRate.legend"
                                    [colors]="dtceventRate.colors" [grid]="dtceventRate.grid"
                                    [stroke]="dtceventRate.stroke" [fill]="dtceventRate.fill">
                                </apx-chart>
                            </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fourth section chart end-->
        <div class="row row-mar-top">
            <div class="col-xs-12 col-lg-12">
                <h4 class="top-heading">Maintenance Summary</h4>
            </div>
           </div>
                        <div class="row" style="margin-top: 24px;" >
                            <div class="col-xs-12 col-lg-12">
                                <div class="card card-mid3-health he410">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-12">
                                                <span class="f-le">
                                                    <h4 class="card-title card-heading mb-4">Maintenance</h4>
                                                </span>
                                                <span class="f-ril">
                                                    <a class="btn-outline-secondary-grey" placement="left" ngbTooltip=" Report Download" (click)="downloadReport()">
                                                        <i class='bx bx-download'></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <hr class="line">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-12 h-box">
                                                <ngx-spinner bdColor="rgba(0,0,0,0.2)" size="medium" color="#000000"
                                                type="ball-elastic-dots" [fullScreen]="false">
                                                <div class="custom-spinner">
                                                    <img src="../../../../../assets/images/spinner-3.svg"
                                                        alt="Your Logo">
                                                </div>
                                                <div class="loading-text">Please wait, we are getting
                                                    information...</div>
                                            </ngx-spinner>
                                                <div class="table-responsive table-b table0">
                                                    <table class="table maintenance-table">
                                                        <thead class="table-head">
                                                            <tr >
                                                                <!-- <th>VIN<br>&nbsp;</th> -->
                                                                <th style=" color: #989EA5!important;">Vehicle Name<br>&nbsp;</th>
                                                                <th style=" color: #989EA5!important;">Make<br>&nbsp;</th>
                                                                <th style=" color: #989EA5!important;">Model<br>&nbsp;</th>
                                                                <th style=" color: #989EA5!important;">DTC<br>&nbsp;</th>
                                                                <th style=" color: #989EA5!important;">Battery Voltage (Volts)<br>&nbsp;</th>
                                                                <th style=" color: #989EA5!important;"><span style="margin-left: 14%;">Tire Pressure (PSI)</span><br>
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-lg-3">FL</div>
                                                                        <div class="col-xs-12 col-lg-3">FR</div>
                                                                        <div class="col-xs-12 col-lg-3">RL</div>
                                                                        <div class="col-xs-12 col-lg-3">RR</div>
                                                                    </div>
                                                                </th>
                                                                <th style=" color: #989EA5!important;">Odometer<br>&nbsp;</th>
                                                                <th style=" color: #989EA5!important;">Engine Duration <br>
                                                                    Previous Month (HH:MM) &nbsp;</th>
                                                                <th style="width: 10%; color: #989EA5!important;">Trim<br>&nbsp;</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let data of vehicleMaintenanceData" style="font-size: 12px; font-weight: 400; font-family: 'Poppins';">
                                                                <td><span *ngIf="isVin(data?.alias); else showAlias">
                                                                    {{ maskVin(data?.alias) }}
                                                                  </span>
                                                                  <ng-template #showAlias>
                                                                    {{ data?.alias }}
                                                                  </ng-template></td>
                                                                <td>{{data?.make}}</td>
                                                                <td>{{data?.model}}</td>

                                                                <td>{{data?.alerts}}</td>
                                                                <td><ng-container *ngIf="data?.batteryLevel == -1">NA</ng-container>
                                                                  <ng-container *ngIf="data?.batteryLevel > -1">{{data?.batteryLevel | number:'1.1-1'}}</ng-container></td>
                                                              <td>
                                                                <div class="row">
                                                                    <div class="col-xs-12 col-lg-3">
                                                                        <ng-container
                                                                            *ngIf="isValidNumber(data?.tyrePressureStatus?.fl_tirepress)">
                                                                            {{data?.tyrePressureStatus?.fl_tirepress
                                                                            | number:'1.0-0'}}
                                                                        </ng-container>
                                                                        <ng-container
                                                                            *ngIf="!isValidNumber(data?.tyrePressureStatus?.fl_tirepress)">-</ng-container>
                                                                    </div>
                                                                    <div class="col-xs-12 col-lg-3">
                                                                        <ng-container
                                                                            *ngIf="isValidNumber(data?.tyrePressureStatus?.fr_tirepress)">
                                                                            {{data?.tyrePressureStatus?.fr_tirepress
                                                                            | number:'1.0-0'}}
                                                                        </ng-container>
                                                                        <ng-container
                                                                            *ngIf="!isValidNumber(data?.tyrePressureStatus?.fr_tirepress)">-</ng-container>
                                                                    </div>
                                                                    <div class="col-xs-12 col-lg-3">
                                                                        <ng-container
                                                                            *ngIf="isValidNumber(data?.tyrePressureStatus?.rl_tirepress)">
                                                                            {{data?.tyrePressureStatus?.rl_tirepress
                                                                            | number:'1.0-0'}}
                                                                        </ng-container>
                                                                        <ng-container
                                                                            *ngIf="!isValidNumber(data?.tyrePressureStatus?.rl_tirepress)">-</ng-container>
                                                                    </div>
                                                                    <div class="col-xs-12 col-lg-3">
                                                                        <ng-container
                                                                            *ngIf="isValidNumber(data?.tyrePressureStatus?.rr_tirepress)">
                                                                            {{data?.tyrePressureStatus?.rr_tirepress
                                                                            | number:'1.0-0'}}
                                                                        </ng-container>
                                                                        <ng-container
                                                                            *ngIf="!isValidNumber(data?.tyrePressureStatus?.rr_tirepress)">-</ng-container>
                                                                    </div>
                                                                </div>
                                                              </td>
                                                              <td>
                                                                  <ng-container *ngIf="data?.endOdometer == -1">NA</ng-container>
                                                                  <ng-container *ngIf="data?.endOdometer > -1"> {{data?.endOdometer | number:'1.2-2'}}</ng-container></td>
                                                                <td>{{convertSecondsToHours(data?.engineDuration)}}</td>
                                                                <td>{{data?.trim}}</td>
                                                            </tr>
                                                            <ng-container *ngIf="loading">
                                                                <tr *ngIf="vehicleMaintenanceData.length < 1 ">
                                                                  <td colspan="7">
                                                                    <h5 style="text-align: center;"> No Data Found ....</h5>
                                                                  </td>
                                                                </tr>
                                                              </ng-container>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Maintenance Service End-->
                        <!-- Tire-->
                        <div class="row" style="margin-top: 12px; margin-bottom: 20px;">
                            <div class="col-xs-12 col-lg-12">
                                <h4 class="top-heading">Tire</h4>
                            </div>
                        </div>
                        <div class="row mr24">
                            <div class="col-xs-12 col-lg-6">
                                <div class="card card-mid3-health he410">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-12">
                                                <span class="f-le">
                                                    <h4 class="card-title card-heading mb-4">Tire Pressure
                                                        Driver Distribution</h4>
                                                </span>
                                            </div>
                                        </div>
                                        <hr class="line">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-12 h-box">
                                                <ngx-spinner bdColor="rgba(0,0,0,0.2)" size="medium" color="#000000"
                                    type="ball-elastic-dots" [fullScreen]="false">
                                    <div class="custom-spinner">
                                        <img src="../../../../../assets/images/spinner-3.svg" alt="Your Logo">
                                    </div>
                                    <div class="loading-text">Please wait, we are getting
                                        information...</div>
                                </ngx-spinner>
                                                <ng-container *ngIf="tirePressureChart">
                                                    <apx-chart class="apex-charts" dir="ltr"
                                                        [series]="tirePressureChart.series"
                                                        [chart]="tirePressureChart.chart"
                                                        [labels]="tirePressureChart.labels"
                                                        [legend]="tirePressureChart.legend"
                                                        [colors]="tirePressureChart.colors"
                                                        [dataLabels]="tirePressureChart.dataLabels"
                                                        [responsive]="tirePressureChart.responsive">
                                                    </apx-chart>
                                                    <div class="data-container">
                                                        <img src="../../../../../../assets/images/tirepressure.png"
                                                            class="tire-img">
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <ng-container *ngIf="tirePressureChart">
                                                <ng-container
                                                    *ngFor="let label of tirePressureChart.labels; let i = index"
                                                    class="legend-item">
                                                    <div class="col-xs-12 col-lg-4">
                                                        <span class="legend-color"
                                                            [style.background-color]="tirePressureChart.colors[i]"></span>
                                                        <span class="chart-label">{{ getFormattedLabels(label)
                                                            }}</span>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                                <div class="card card-mid3-health he410">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-12">
                                                <span class="f-le">
                                                    <h4 class="card-title card-heading mb-4">Average
                                                        Distance Travelled on Low Tire Pressure</h4>
                                                </span>
                                            </div>
                                        </div>
                                        <hr class="line">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-12">
                                                <ngx-spinner bdColor="rgba(0,0,0,0.2)" size="medium" color="#000000"
                                                type="ball-elastic-dots" [fullScreen]="false">
                                                <div class="custom-spinner">
                                                    <img src="../../../../../assets/images/spinner-3.svg" alt="Your Logo">
                                                </div>
                                                <div class="loading-text">Please wait, we are getting
                                                    information...</div>
                                            </ngx-spinner>
                                                <ng-container *ngIf="avgDistanceLowPressureChart">
                                                    <apx-chart [series]="avgDistanceLowPressureChart.series"
                                                        [chart]="avgDistanceLowPressureChart.chart"
                                                        [dataLabels]="avgDistanceLowPressureChart.dataLabels"
                                                        [plotOptions]="avgDistanceLowPressureChart.plotOptions"
                                                        [xaxis]="avgDistanceLowPressureChart.xaxis"
                                                        [yaxis]="avgDistanceLowPressureChart.yaxis"
                                                        [legend]="avgDistanceLowPressureChart.legend"
                                                        [colors]="avgDistanceLowPressureChart.colors"
                                                        [markers]="avgDistanceLowPressureChart.markers"></apx-chart>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <!-- Tire End-->
                           <!-- Battery -->
                        <div class="row" style="margin-top: 12px; margin-bottom: 20px;">
                            <div class="col-xs-12 col-lg-12">
                                <h4 class="top-heading">Battery</h4>
                            </div>
                        </div>
                        <div class="row mr24">
                            <div class="col-xs-12 col-lg-12">
                                <div class="card card-mid3-health he410">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-12">
                                                <span class="f-le">
                                                    <h4 class="card-title card-heading mb-4">Battery Health
                                                        Distribution</h4>
                                                </span>
                                                <span class="f-ril">
                                                    <a class="btn-outline-secondary-grey" placement="left" ngbTooltip=" Report Download" (click)="driverSafetyReportAPI()">
                                                        <i class='bx bx-download'></i>
                                                    </a>
                                            </span>
                                            </div>
                                        </div>
                                        <hr class="line">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-12 h-box">
                                                <ngx-spinner bdColor="rgba(0,0,0,0.2)" size="medium" color="#000000"
                                                    type="ball-elastic-dots" [fullScreen]="false">
                                                    <div class="custom-spinner">
                                                        <img src="../../../../../assets/images/spinner-3.svg"
                                                            alt="Your Logo">
                                                    </div>
                                                    <div class="loading-text">Please wait, we are getting
                                                        information...</div>
                                                </ngx-spinner>
                                                <ng-container *ngIf="batteryChart">
                                                    <apx-chart class="apex-charts" dir="ltr"
                                                        [series]="batteryChart.series" [chart]="batteryChart.chart"
                                                        [labels]="batteryChart.labels"
                                                        [legend]="batteryChart.legend"
                                                        [colors]="batteryChart.colors"
                                                        [dataLabels]="batteryChart.dataLabels"
                                                        [responsive]="batteryChart.responsive">
                                                    </apx-chart>
                                                </ng-container>

                                            </div>
                                        </div>
                                        <div class="row chart-row-mar-top">
                                            <ng-container *ngIf="batteryChart">
                                                <ng-container
                                                    *ngFor="let label of batteryChart.labels; let i = index"
                                                    class="legend-item">
                                                    <div class="col-xs-12 col-lg-3">
                                                        <span class="legend-color"
                                                            [style.background-color]="batteryChart.colors[i]"></span>
                                                        <span class="chart-label">{{ getFormattedLabel(label)
                                                            }}</span>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <!-- Battery End-->
         <!--Main Content Start End-->
        </div>
    </div>
</div>
