<!--Page main content-->
<div class="page-content page-content-main">
  <div class="row sideMenuItem">
    <div class="container">
    <!--right side content -->
    <div class="col-xs-12 content-right">
      <!--Top heading and breadcrumb-->
      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <span class="breadcrumb-left">
            <h1 class="login-headline heading-title">Current Trip History</h1>
          </span>
          <span class="breadcrumb-right mrtop-06">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/adlp/admin/admindashboard/tracking"><i
                    class="bx bx-home-circle"></i></a></li>
              <li class="breadcrumb-item"><a href="javascript:void()" (click)="backlivetrip()">Live Trip</a></li>
              <li class="breadcrumb-item active-bread" aria-current="page">Current Trip History
              </li>
            </ol>
          </span>
        </div>
      </div>
      <!--Top heading and breadcrumb end-->
      <!--Current trip history-->
      <div class="row mrtop-12">
        <div class="col-xs-12 col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <!--Trip data history-->
                <div class="col-xs-12 col-lg-6">
                  <div class="row">
                    <div class="col-xs-12 col-lg-1">
                      <ng-container *ngIf="user == 'role_consumer_fleet' && customConsumer == 'Onwardfleet'">
                      <h5 class="date">{{ convertToCDT(startDateTime?.readableTimestamp) }}</h5>
                      </ng-container>
                      <ng-container *ngIf="user == 'role_user_fleet' && customConsumer == 'Onwardfleet'">
                        <h5 class="date">{{ formatDate(startDateTime?.readableTimestamp) }}</h5>
                        <h5 class="mar">{{formatMonthName(startDateTime?.readableTimestamp)}}</h5>
                        </ng-container>
                        <ng-container *ngIf="user == 'admin'">
                          <h5 class="date">{{ formatDate(startDateTime?.readableTimestamp) }}</h5>
                          <h5 class="mar">{{formatMonthName(startDateTime?.readableTimestamp)}}</h5>
                          </ng-container>
                          <ng-container *ngIf="user == 'role_consumer_fleet' && (customConsumer == 'Guidepoint' || customConsumer == 'Smallboard' || customConsumer == 'Siriusxm' || customConsumer == 'DPL Telematics')">
                            <h5 class="date">{{ formatDate(startDateTime?.readableTimestamp) }}</h5>
                            <h5 class="mar">{{formatMonthName(startDateTime?.readableTimestamp)}}</h5>
                            </ng-container>
                    </div>
                    <div class="col-xs-12 col-lg-11">
                      <div class="card">
                        <div class="card-body newcard">
                          <!--Section 1 vin, make, model-->
                          <div class="row">
                            <div class="col-xs-12 col-lg-12">
                              <span class="heading-box">Vehicle Name </span>
                              <span class="heading-box-internal"> {{alias}}</span>
                            </div>
                          </div>
                          <div class="row" style="margin-top: 12px;">
                            <div class="col-xs-12 col-lg-12">
                              <span class="heading-box-green">Driver Name </span>
                              <span class="heading-box-internal-green">
                                <ng-container *ngIf="driver_name === 'null null'"> -- </ng-container>
                                <ng-container *ngIf="driver_name != 'null null'">  {{driver_name}} </ng-container>

                              </span>
                            </div>
                          </div>
                          <div class="row mrtop-12">
                            <div class="col-xs-12 col-lg-6">
                              <span class="current-trip-heading">Make:</span>
                              <span class="current-trip-value">{{make}}</span>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                              <span class="current-trip-heading">Model:</span>
                              <span class="current-trip-value">{{model}}</span>
                            </div>
                          </div>
                          <!--Section 1 vin, make, model end-->
                          <!--Section 2 Start address & end address-->
                          <div class="row mrt-btm">
                            <div class="col-xs-12 col-lg-12">
                              <img src="../../../../../../../../assets/images/vertical-lines.svg" class="wid-header">
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xs-12 col-lg-12">
                              <div class="card">
                                <div class="card-body" style="background-color: #F2F2F2; height: 150px; border:1px solid #CCE3D8; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                                  <div class="row" style="margin-top: 8px;">
                                    <div class="col-xs-12 col-lg-1">
                                      <img src="../../../../../../../../assets/images/locaiton-icon-green.png"
                                        class="green-img"><br>
                                      <img src="../../../../../../../../assets/images/ver-line.svg" class="hori-img">
                                    </div>
                                    <div class="col-xs-12 col-lg-9">
                                      <h5 class="address current-trip-address">{{startingAddress}}</h5>

                                    </div>
                                    <div class="col-xs-12 col-lg-2">
                                      <h5 class="address time">{{ formatTime(startDateTime?.readableTimestamp )}}</h5>
                                    </div>
                                  </div>
                                  <div class="row" style="margin-top: -2px;">
                                    <div class="col-xs-12 col-lg-1">
                                      <img src="../../../../../../../../assets/images/locaiton-icon-ember.png"
                                        class="green-img">
                                    </div>
                                    <div class="col-xs-12 col-lg-9">
                                      <h5 class="address current-trip-address">{{endAddress}}</h5>
                                    </div>
                                    <div class="col-xs-12 col-lg-2">
                                      <h5 class="address time">
                                        {{formatTime(currentDateTime?.readableTimestamp)}}

                                      </h5>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row" style="margin-top: -6px;">
                            <div class="col-xs-12 col-lg-12">
                              <img src="../../../../../../../../assets/images/vertical-lines.svg" class="wid-header">
                            </div>
                          </div>
                          <!--Section 2 Start address & end address end-->
                          <!--Section 3 odometer, speed, fuel level and more-->
                          <div class="row" style="margin-top: 12px; margin-bottom: 12px;">
                            <div class="col-xs-12 col-lg-6">
                              <div class="row">
                                <div class="col-xs-12 col-lg-2">
                                  <img src="../../../../../../../../assets/images/speed-icons.svg" class="image-icon">
                                </div>
                                <div class="col-xs-12 col-lg-8">
                                  <h5 class="heading-params">Speed</h5>
                                  <h5 class="data-params"> {{currentDateTime?.speed | number:'1.2-2'}} mph</h5>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                              <div class="row">
                                <div class="col-xs-12 col-lg-2">
                                  <img src="../../../../../../../../assets/images/odometer-icons.svg" class="image-icon">
                                </div>
                                <div class="col-xs-12 col-lg-8">
                                  <h5 class="heading-params">Odometer</h5>
                                  <h5 class="data-params">  {{odometer ? (odometer | number: '1.0-0') + ' miles' : 'NA' }}</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row" style="margin-top: 12px; margin-bottom: 12px;">
                            <div class="col-xs-12 col-lg-6">
                              <div class="row">
                                <div class="col-xs-12 col-lg-2">
                                  <img src="../../../../../../../../assets/images/fuel-icons.svg" class="image-icon">
                                </div>
                                <div class="col-xs-12 col-lg-8">
                                  <h5 class="heading-params">Fuel Level</h5>
                                  <h5 class="data-params">   {{fuelLevel ? (fuelLevel | number: '1.2-2') + ' %' : 'NA'}}</h5>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                              <div class="row">
                                <div class="col-xs-12 col-lg-2">
                                  <img src="../../../../../../../../assets/images/battery-icons.svg" class="image-icon">
                                </div>
                                <div class="col-xs-12 col-lg-8">
                                  <h5 class="heading-params">Battery Level</h5>
                                  <h5 class="data-params">  {{batteryPercentage ? (batteryPercentage | number:'1.2-2') + '%' : 'NA'}}</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row" style="margin-top: 12px; margin-bottom: 12px;">
                            <div class="col-xs-12 col-lg-6">
                              <div class="row">
                                <div class="col-xs-12 col-lg-2">
                                  <img src="../../../../../../../../assets/images/tripduration-icons.svg" class="image-icon">
                                </div>
                                <div class="col-xs-12 col-lg-8">
                                  <h5 class="heading-params">Trip Duration</h5>
                                  <h5 class="data-params"> {{cxTripDuration ? (cxTripDuration) + ' Sec' : 'NA' }}</h5>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                              <div class="row">
                                <div class="col-xs-12 col-lg-2">
                                  <img src="../../../../../../../../assets/images/mileage-icons.svg" class="image-icon">
                                </div>
                                <div class="col-xs-12 col-lg-8">
                                  <h5 class="heading-params">Mileage</h5>
                                  <h5 class="data-params"> {{mileage ? (mileage | number:'1.2-2') + ' mpg' : 'NA' }}</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row" style="margin-top: 12px; margin-bottom: 12px;">
                            <div class="col-xs-12 col-lg-6">
                              <div class="row">
                                <div class="col-xs-12 col-lg-2">
                                  <img src="../../../../../../../../assets/images/fuelconsumed-icons.svg" class="image-icon">
                                </div>
                                <div class="col-xs-12 col-lg-8">
                                  <h5 class="heading-params">Fuel Consumed</h5>
                                  <h5 class="data-params"> {{ fuelConsumed ? (fuelConsumed | number:'1.2-2') + ' gal' : 'NA'}}</h5>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-lg-6">
                              <div class="row">
                                <div class="col-xs-12 col-lg-2">
                                  <img src="../../../../../../../../assets/images/tripdistance-icons.svg" class="image-icon">
                                </div>
                                <div class="col-xs-12 col-lg-8">
                                  <h5 class="heading-params">Trip Distance</h5>
                                  <h5 class="data-params"> {{cxTripDistance ? (cxTripDistance | number:'1.2-2') + ' miles' :
                                    'NA' }}</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row" style="margin-top: 12px; margin-bottom: 12px;">
                            <div class="col-xs-12 col-lg-12">
                              <div class="row">
                                <div class="col-xs-12 col-lg-1">
                                  <img src="../../../../../../../../assets/images/tirepressures-icons.svg" class="image-icon">
                                </div>
                                <div class="col-xs-12 col-lg-8">
                                  <h5 class="heading-params">Tire Pressure</h5>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-xs-12 col-lg-3">
                                  <span class="tire-press-value">{{rearLeftTirePressure}} <a style="color: #6C757E; font-size: 12px; font-weight: 600;">PSI</a></span><br>
                                  <span class="tire-press-value-2">{{rearRightTirePressure}} <a style="color: #6C757E; font-size: 12px; font-weight: 600;">PSI</a></span>
                                </div>
                                <div class="col-xs-12 col-lg-6">
                                  <img src="../../../../../../../../assets/images/car-icons.svg" class="img-car">
                                </div>
                                <div class="col-xs-12 col-lg-3">
                                  <span class="tire-pressure-value-1">{{frontLeftTirePressure}}  <a style="color: #6C757E; font-size: 12px; font-weight: 600;">PSI</a></span>
                                  <span class="tire-pressure-value-4">{{frontRightTirePressure}}  <a style="color: #6C757E; font-size: 12px; font-weight: 600;">PSI</a></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Trip data history end-->
                <!--Map history-->
                <div class="col-xs-12 col-lg-6">
                  <div class="map-container">
                    <div class="map-card">
                      <div class="flex-display">
                        <div class="flex-col">
                          <div class="flex-display" style="padding-right: 0.5rem;">
                            <div class="">
                              <img
                                src="../../../../../../../../assets/images/HA-TH.svg"
                                alt=""
                                height="17px"
                              />
                            </div>
                            <div class="">
                              <div class="map-card-text">Harsh Acceleration</div>
                              <div class="map-main-text">0</div>
                            </div>
                          </div>
                        </div>
                        <div class="flex-col">
                          <div class="flex-display" style="padding-right: 0.5rem;">
                            <div class="">
                              <img
                                src="../../../../../../../../assets/images/HB-TH.svg"
                                alt=""
                                height="17px"
                              />
                            </div>
                            <div class="">
                              <div class="map-card-text">Harsh Braking</div>
                              <div class="map-main-text">0</div>
                            </div>
                          </div>
                        </div>

                        <div class="flex-col">
                          <div class="flex-display" style="padding-right: 0.5rem;">
                            <div class="">
                              <img
                                src="../../../../../../../../assets/images/HC-TH.svg"
                                alt=""
                                height="17px"
                              />
                            </div>
                            <div class="">
                              <div class="map-card-text">Harsh Cornering</div>
                              <div class="map-main-text">0</div>
                            </div>
                          </div>
                        </div>
                        <div class="flex-col">
                          <div class="flex-display" style="padding-right: 0.5rem;">
                            <div class="">
                              <img
                                src="../../../../../../../../assets/images/OS-TH.svg"
                                alt=""
                                height="17px"
                              />
                            </div>
                            <div class="">
                              <div class="map-card-text">Over Speeding</div>
                              <div class="map-main-text">0</div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="flex-display" style="padding-right: 0.5rem;">
                            <div class="">
                              <img
                                src="../../../../../../../../assets/images/ND-TH.svg"
                                alt=""
                                height="17px"
                              />
                            </div>
                            <div class="">
                              <div class="map-card-text">Night Driving</div>
                              <div class="map-main-text">0</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <agm-map
                  [latitude]="latitude"
                  [longitude]="longitude"
                  [zoom]="zoom"

                  [fullscreenControl]="true"
                  class="img-map"
                  [styles]="mapStyles"
                >
                  <agm-marker
                    *ngFor="let marker of start_end_mark"
                    [latitude]="marker.latitude"
                    [longitude]="marker.longitude"
                    [iconUrl]="marker.iconUrl"
                    [iconAnchorX]="marker.anchor?.x || 8"
                    [iconAnchorY]="marker.anchor?.y || 8"
                    [iconHeight]="marker.iconUrl?.scaledSize?.height || 10"
                    [iconWidth]="marker.iconUrl?.scaledSize?.width || 10"
                    [agmFitBounds]="true"
                  ></agm-marker>

                  <agm-polyline
                    [visible]="true"
                    [strokeWeight]="2"
                    [strokeColor]="'#49CF19'"
                    (polylineComplete)="addMarkers()"
                  >
                    <agm-polyline-point
                      *ngFor="let coordinate of waypoints; let i = index"
                      [zoom]="zoom"
                      [latitude]="coordinate?.latitude"
                      [longitude]="coordinate?.longitude"
                    >
                    </agm-polyline-point>
                  </agm-polyline>
                </agm-map>
                </div>
                </div>
                <!--Map history end-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Current trip history end-->
    </div>
  </div>
</div>
</div>
<!--Page main content end-->
