.newcard {
  height: 830px;
  border: 1px solid #e1e0e0;
  border-radius: 10px;
}

.map-container {
  font-family: "Poppins" !important;
  border-radius: 15px;
  border: 2px solid #dbecf3;
  overflow: hidden;
}

.content-right {
  flex-grow: 1; /* Allows expansion */
  width: 84%!important;
}

.chart-container {
  position: relative; // This ensures the inner circle can be positioned relative to the chart
}


.alerts-icons {
  font-size: 12px !important;  /* Use a minimum size of 12px */
  font-family: 'Poppins', Arial, sans-serif; /* Ensure Poppins is loaded */
  display: inline-block; /* Allows wrapping */
  max-width: 100px; /* Controls when the text wraps */
  line-height: 1.2; /* Adjust line height for better spacing */
  white-space: normal; /* Allows text to wrap */
  text-align: center; /* Centers the text */
  margin: 5px; /* Optional: Adds some space around the element */
  overflow: hidden; /* Prevents overflow */
}
.tyre-1 {
  float: right;
  font-size: 10px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}

.img-car{
  height: 120px;
  margin-top: 16px;
}

.tire-press-value{
  float: right;
  margin-top: 9px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins';
  margin-right: -12px;
}

.tire-pressure-value-1{
  float: left;
  margin-left: -22px;
  margin-top: 9px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins';
}

.tire-pressure-value-4{
  float: left;
  margin-left: -52px;
  margin-top: 122px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins';
}

.tire-press-value-2{
margin-right: -52px;
    margin-top: 104px;
    float: right;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins';
  }
.tyre-2 {
  font-size: 10px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}

.tyre-3 {
  float: right;
  font-size: 10px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}

.tyre-4 {
  font-size: 10px;
  font-weight: 600;
  font-family: "Poppins";
  color: #000000;
}

.img-map {
  margin-top: -20px;
  height: 755px;
}

.date {
  padding-top: 140px;
  font-size: 13px;
  color: #000;
  text-align: center;
  font-family: 'Poppins';
}


.corner-border{
  position: absolute!important;
   top: -31px!important;
   right: -27px!important;
   border-right: 47px solid transparent!important;
   border-top: 72px solid #f8f8fb!important;
   transform: rotate(-35deg)!important;
 }
 .map-card{
  //  border: 1px solid #B1B1B1;
  //  border-radius: 10px 10px 0px 0px;
   padding: 10px;
 }

 .flex-display{
   display: flex;
   gap: 0.2rem;
 }
 .map-card-text{
   font-size: 8px;
   font-family: 'Poppins';
 }
 .map-main-text{
   color: #000;
   font-weight: 500;
   font-size: 10px;
   font-family: 'Poppins';
 }
 .flex-col{
   border-right: 1px dotted rgb(183, 180, 180);
 }

.mar {
  padding-top: 0px;
  margin-right: -6px;
  margin-left: -6px;
  font-size: 10px;
  font-weight: 500;
  font-family: 'Poppins';
  text-align: center;
  color: #989EA5
}

.hori-img {
  margin-top: 6px;
  margin-bottom: 9px;
  margin-left: 8px;
  height: 50px;
}

.green-img {
  height: 20px;
  margin-right: 12px;
}

.address {
  font-size: 13px;
  font-family: 'Poppins';
  font-weight: 400;
  color: #161616 !important;
}

.image-icon{
  height: 26px;
  width: 26px;
  margin-left: 8px;
}

.heading-params{
  font-size: 13px;
  font-weight: 400;
  font-family: "Poppins";
  color: #a1a1a1;
  padding-top: 4px;
}

.data-params{
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins";
  color: #000000;
}

.time {
  font-weight: 400 !important;
  float: right;
  font-family: 'Poppins';
}

.vline {
  margin-left: 3px;
  height: 19px;
}

.hline {
  width: 100%;
}

.icon-img {
  height: 18px;
  margin-top: 4px;
}

.alerts {
  font-size: 12px;
  padding-top: 4px;
  padding-left: 6px;
  font-weight: 600;
  color: #888888;
  font-family: 'Poppins';
}

.icon {
  height: 20px;
  margin-top: 10px;
}

.me-lg-4 {
  margin-right: 2.5rem !important;
}

.custom-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ngx-spinner-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.heading-title {
  line-height: 33px !important;
  text-align: left !important;
  font-weight: 600 !important;
}

.card {
  border-radius: 10px !important;
  height: auto !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.map-height {
  height: 562px;
  margin-top: 20px;
}

.heading-box {
  padding-left: 7px;
  padding-right: 7px;
  background: #ef8321;
  font-size: 15px;
  font-weight: normal;
  font-family: "Poppins";
  color: #ffffff;
  border-radius: 6px;
}

.heading-box-internal {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins';
  color: #ef8321;
  padding-left: 6px;
}

.heading-box-green {
  padding-left: 7px;
  padding-right: 7px;
  background: #45B01F;
  font-size: 15px;
  font-weight: normal;
  font-family: "Poppins";
  color: #ffffff;
  border-radius: 6px;
}

.heading-box-internal-green {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins';
  color: #45B01F;
  padding-left: 6px;
}

.icon-section3 {
  float: left !important;
  padding-right: 3px !important;
}

.heading-icon-section3 {
  margin-left: 3px !important;
  padding-top: 6px !important;
}

.value-icon-section3 {
  font-weight: 500 !important;
  padding-top: 6px !important;
  color: #000000 !important
}

.value-icons-section3 {
  font-weight: 500 !important;
  color: #000 !important
}

.current-box {
  height: 160px !important
}

.mrtop-50 {
  margin-top: 50px !important
}

.mrleft-12 {
  margin-left: 12px !important
}

.mrleft-24 {
  margin-left: -12px !important
}
