<div class="row logo-privacy">
    <div class="col-xs-12 col-lg-4">
        <img src="../../../assets/images/logo_main.png" class="logo_privacy">
    </div>
    <div class="col-xs-12 col-lg-8" style="float: right;">
       <button class="btn-back" (click)=" loginAccount() ">Login</button>
    </div>
</div>
<div class="row data-content">
    <div class="col-xs-12 col-lg-12">
        <p class="data-heading">
            Privacy Policy – North America
        </p>
        <p class="data-content-item">
            Your vehicle may be equipped with DRIVCO OBD-II dongle that electronically transmits vehicle-originated data
            (such as driving behavior data and vehicle health data) to CerebrumX Labs Incorporation (“CerebrumX”, “we”,
            “our”, “us”) and the fleet companies/partners (“fleet”, “partners”, “third-party”) we work with in the US.
            These entities may use your vehicle-originated data to provide connected services, like responding to
            vehicle emergencies, finding destinations or activate remote services. <br><br>
            By using the Service, or accessing our mobile applications, you consent to the privacy practices described
            in this Policy. You acknowledge that this Policy is to be read in conjunction with our Terms of Service
            available on this website at add link to terms of use here and that by accessing and using our websites, our
            apps, or Service, you agree to be bound by our terms of service in addition to this privacy policy.<br><br>
            This Privacy Policy explains the handling of your personal information through your use of the DRIVCO app
            and any of our contact forms, or any features, promotions, offers, or services provided by our app
            (collectively the “app”).<br><br>
            By accessing and using the app, you accept this policy without limitation or qualification. Your access to
            the DRIVCO app is therefore subject to this policy as well as to all applicable laws.<br><br>

        </p>

        <p class="data-heading">
            What is personal information?
        </p>
        <p class="data-content-item">
            Personally identifiable information (PII) is any information that can be used to identify an individual,
            either on its own or when combined with other information. The information we collect as explained below,
            can be considered personally identifiable information.
        </p>

        <p class="data-heading">
            Information Collected
        </p>
        <p class="data-content-item">
            We collect personally identifiable information about you through your use of our DRIVCO app and authorized
            partner and fleet companies vehicles. We collect personal information from subscribed partners of fleet
            companies customers or the interests shown in our services in the last 12 months. The information collected
            either to service you or to provide information about our products, services, events, promotions that we
            think may interest to you.<br><br>
            We do not sell, rent, share, or trade any of your Personal Information or any data that you store using our
            Service to any third party without your explicit consent<br><br>
            We may track the use of our product to provide you personal care and service of that may be interest to
            you.<br><br>
        </p>
        <div class="data-content-list">
            <ul>
                <li>
                    Name, Phone Number, Email, Technical data that can be obtained, such as URL information, IP address,
                    cookie data, etc.
                </li>
                <li><b>Vehicle information</b> (vehicle identification number (VIN), model, date of purchase, service
                    history, etc.).
                </li>
                <li><b>Location information </b> to track real-time vehicle actual location and monitor geofencing for
                    fleet companies
                </li>
                <li><b>Vehicle maintenance information</b> - Diagnostic trouble codes, dashboard warning indicators,
                    fuel and fluid levels,
                    odometer reading and engine temperature.</li>
                <li><b>Vehicle driving and status information</b> - Vehicle acceleration, speed, braking, door
                    open/close, engine
                    start/stop and cornering forces. </li>
                <li><b>Location data generated by your activities</b> (navigation assistance, search queries, location
                    sharing, etc.).
                </li>
                <li><b>Safety information</b> (whether airbags or belt tensioners have been triggered, whether the doors
                    and windows are
                    locked or open, etc.).</li>
                <li><b>System functionality </b>status (of the engine, throttle, steering, and brakes, etc.).</li>
                <li><b>Driving data</b> (vehicle speed, brake and accelerator pedal use, steering wheel movement, etc.).
                </li>
                <li><b>Location data</b> (the position of the vehicle in case of an accident, etc.).</li>
                <li><b>surroundings data</b> (temperature outside the vehicle, images, etc.).</li>
                <li><b>Information about certain Vehicle-recorded data</b> is also included in the Owner's Manual.</li>
                <li>Furthermore, information about when and which features that you visit, use, or perform on the DRIVCO
                    app will be
                    used for the purposes we have mentioned in the above points.</li>

            </ul>
        </div>
        <p class="data-heading">
            Why we collect this information?
        </p>
        <p class="data-content-item">
            We only use your personal information collected in connection with your use of DRIVCO app for the purpose of
            providing the Connected Services to you or as otherwise permitted, required or authorised by law. We use
            Personal Information to provide you with services or information you request, such as new vehicle alerts,
            connected services, vehicle tracking and more.<br><br>
            We may also use your information to inform you of other products or services that we offer, contact you via
            surveys to conduct research about your opinion of current services or of potential new services that may be
            offered.<br><br>
            If you want to use Connected Services, but do not provide us with your personal information, we may not be
            able to provide you with all Connected Services or may only be able to provide those Connected Services to
            you with limited functionality.<br><br>

        </p>
        <p class="data-heading">
            Sharing of your Personal Information
        </p>
        <p class="data-content-item">
            <b> Note: We do not use or disclose sensitive personal information without your explicit
                consent.</b><br><br>
            We do not sell, rent or lease our customers’ information to third parties. <br><br>
            We may, from time to time, contact you on behalf of external business partners about a particular offering
            that may be of interest to you. In those cases, your unique personally identifiable information (e-mail,
            name, address, telephone number) is not transferred to the third party. In addition, we may share data with
            trusted partners to help us perform statistical analysis, send you email or postal mail, provide customer
            support, or arrange for deliveries. <br><br>
            All such partners are prohibited from using your personal information except to provide these services to
            CerebrumX, and they are required to maintain the confidentiality of your information.<br><br>
            We our obligated to protect the privacy of your personal data and will not modify or delete it except upon
            your request, or under any of the following conditions:<br><br>
        </p>
        <div class="data-content-list">
            <ul>
                <li>
                    In response to a lawful request
                </li>
                <li>
                    To protect or maintain a user interests or ownership rights
                </li>
            </ul>
        </div>
        <p class="data-content-item">
            We do not permit the arbitrary sale, sharing or leasing of your personal information to outside groups,
            individuals or private enterprises, with the following exceptions:<br><br>
        </p>
        <div class="data-content-list">
            <ul>
                <li> As required by a lawful investigation conducted by a judicial authority</li>
                <li> As required by an inquiry from or the use by an authorized organization in the execution of its
                    duties</li>
                <li>Based on a good-faith belief that disclosure is required by law, or for management use in the
                    protection, maintenance or upgrade of the app and its offered services. </li>
            </ul>
        </div>
        <p class="data-heading">
            Cookies and Data Retention
        </p>
        <p class="data-content-item">
            We make use of cookies, which are text files containing small amounts of information and which are stored on
            the device. You may opt to refuse cookies by adjusting browser settings to a high level of privacy. However,
            the refusal of cookies may disable some functions of this DRIVCO app.<br><br>
            We will retain your Personal Data for a reasonable period for the purposes as cited herein or as required by
            law. <br><br>
        </p>
        <p class="data-heading">
            Protecting your personal information
        </p>
        <p class="data-content-item">
            Security of your Personal Information is very important to us and we take all reasonable precautions and
            care to protect your Personal Information from misuse, loss, unauthorised access, modification or
            disclosure. Some of the ways we protect this information is:<br><br>
        </p>
        <div class="data-content-list">
            <ul>
                <li> External and internal premises security.</li>
                <li> Restricting access to your information only to personnel who need it to perform their role.</li>
                <li> Maintaining technology products to prevent unauthorised computer access or damage to electronically
                    stored information, such as using secure servers, as requiring identifiers and passwords, firewalls
                    and anti-virus software; and
                    maintaining physical security over paper records.
                </li>
                <li>
                    Limiting the functionality of Connected Services to only those features you have chosen to receive.
                </li>
            </ul>
        </div>
        <p class="data-heading">
            Contact Information
        </p>
        <p class="data-content-item">
            If you have any questions about this policy, please contact us via the following information:<br><br>
            <b>Contact Information for Complaints Concerning Handling of Personal Information</b><br><br>
            <b>Contact Office Information:</b> CerebrumX Labs Incorporation<br>
            <b>Address:</b> 39555, Orchard Hill Place, Suite 600 Novi, Michigan- 48375, USA<br>
            <b>Telephone:</b> 248-449-2934, Ex. 2934<br>
            <b>E-mail:</b> connect@cerebrumx.ai

        </p>
    </div>
</div>
