<header class="header fixed-top pad70" style="z-index: 1000;">
    <div class="branding b-back">
      <div class="container-fluid position-relative">
        <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="row wid-100">
            <div class="col-xs-12 col-lg-5">
              <div class="collapse navbar-collapse collapse0-widthP justify-content-end" id="navigation">
                <ul class="navbar-nav">
                  <ng-container  *ngIf="user != 'role_Driver'">
                  <li class="nav-item dropdown me-lg-4">
                    <a class="nav-link" routerLink="/adlp/eligibility/eligibilityCheck">
                      <img src="../../../../assets/images/VIN.svg" class="icon-left">VIN
                      Eligibility</a>
                  </li>
                </ng-container>
                <ng-container  *ngIf="user == 'role_Driver'">
                  <li class="nav-item dropdown me-lg-4" style="margin-left: -50px!important;">
                    <a class="nav-link">
                      <img src="../../../assets/images/Driver.svg" class="icon-left">Driver Name: {{loginUser?.name}}</a>
                  </li>
                </ng-container>
                  <ng-container *ngIf="user == 'admin'">
                    <li class="nav-item dropdown me-lg-4">
                      <a class="nav-link" routerLink="/adlp/admin/dashboardAdmin" [routerLinkActive]="['actives']"
                        [routerLinkActiveOptions]="{exact:true}">
                        <img src="../../../../assets/images/Dashboard.svg" class="icon-left">
                        Dashboard  <span style="background-color: #2396e6; color:#fff; padding:3px;font-size: 8px; border-top-left-radius: 7px; border-bottom-right-radius: 7px;">Updated</span>
                  </a>
                    </li>
                  </ng-container>
                  <ng-container *ngIf="user != 'admin' && user != 'role_Driver'">
                    <li class="nav-item dropdown me-lg-4">
                      <a class="nav-link" routerLink="/adlp/admin/admindashboard/dashboardfleet"
                        [routerLinkActive]="['actives']" [routerLinkActiveOptions]="{exact:true}">
                        <img src="../../../../assets/images/Dashboard.svg" class="icon-left">
                        Dashboard <span style="background-color: #2396e6; color:#fff; padding:3px;font-size: 8px; border-top-left-radius: 7px; border-bottom-right-radius: 7px;">Updated</span></a>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-lg-7">
              <!-- <img src="../../../../../assets/images/fleetrrack.png" class="f-ri"> -->
             <div class="row">
                <div class="col-xs-12 col-lg-6">&nbsp;</div>
                <div class="col-xs-12 col-lg-3">
                  <div class="custom-dropdown">
                    <div class="dropdown-selected" (click)="toggleDropdown()">
                      {{ consumer || 'Select Consumer' }}
                      <span class="dropdown-arrow" [class.open]="isDropdownOpen"></span>
                    </div>
                    <div class="dropdown-options" *ngIf="isDropdownOpen">
                      <div class="dropdown-option" *ngFor="let consumer of consumerList"
                        [ngStyle]="{color: consumer.isActive ? '#000000' : '#9fa19f'}" (click)="selectConsumer(consumer.name)">
                        <span class="consumer-name">{{ consumer.name }}</span>
                        <span class="consumer-icon">
                          <span [ngStyle]="{color: consumer.isActive ? '#45B01F' : '#9fa19f'}">●</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
            </div>
          </div>

        </nav>
      </div>
    </div>
  </header>
