.consumer-select {
    color: #9fa19f;
    width: 100%;
    height: 37px !important;
    background-color: transparent;
    background-size: 10px 12px !important;
    font-family: "Poppins" !important;
    height: 37px !important;
    border-radius: 10px !important;
    border: none !important;
  }



  .newSelect1 {
    color: #9fa19f;
    width: 100%;
    height: 37px !important;
    background-size: 10px 12px !important;
    font-family: 'Poppins' !important;
    height: 37px !important;
    border-radius: 10px !important
  }

  ::ng-deep.newSelect1 .ng-select-container{
    background-color: #FA751A!important;
  }

  ::ng-deep.newSelect1.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #ffffff!important;
  }

  ::ng-deep.newSelect1.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
    top: -2px;
    border-color: transparent transparent #ffffff!important;
    border-width: 0 5px 5px;
  }

  ::ng-deep.newSelect1.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    color:#ffffff!important
  }

  ::ng-deep.newSelect1.ng-select .ng-clear-wrapper {
    color: #ffffff!important;
  }

  ::ng-deep.newSelect1.ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: #fff transparent transparent!important;
    border-style: solid;
    border-width: 5px 5px 2.5px;
  }


  .consumer-pad {
    margin-top: -12px;
    margin-left: -24px;
  }

  .no-border:focus {
    outline: none !important;
    box-shadow: none !important;
  }


  .data-display {
    display: none !important;
  }

  .add-field {
    background-color: #D0D7DF;
    color: #161616;
    font-size: 12px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
  }

  .cancel-btn {
    background-color: #E0E0E0;
    color: #606060;
    border: 1px solid #E0E0E0;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
    font-family: "Poppins";
  }

  .error {
    color: red;
    font-size: 12px;
    margin-top: 0px;
  }

  .he85 {
    height: 85px
  }

  .mr20 {
    margin-top: 20px !important;
  }

  .mr40 {
    margin-top: 40px !important;
  }

  .downloadData {
    margin: 15px 15px 15px 15px;
    border: 1px dashed #86B2FF;
    border-radius: 6px;
    height: 170px;
    background-color: #EDF2FC;
  }

  .row-data {
    margin-top: 30px;
    margin-bottom: -20px
  }

  .he100 {
    height: 100px;
  }

  .fon-all {
    font-family: 'Poppins'
  }

  .mr12 {
    margin-top: 10px;
    text-align: center
  }

  .mr6 {
    margin-top: 6px
  }

  .mr-20 {
    margin-top: -20px;
  }

  .submit-btn {
    background-color: #fa751a;
    color: #ffffff;
    border: 1px solid #fa751a;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
    font-family: "Poppins";
    width: 100%;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
  }

  .uploaded-file {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #2b53bb;
  }

  .uploaded-file-error {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins';
    color: red;
  }

  .download-link {
    color: #ef8321 !important;
    text-decoration: underline !important;
  }

  .max-file {
    margin-top: 30px;
    margin-right: 12px;
    float: right;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #656565;
    opacity: 60%;
  }

  .mr12 {
    margin-top: 4px !important;
    text-align: center;
  }

  button:disabled {
    background-color: #ccc;
    color: #666;
    border: 1px solid #ccc !important;
    cursor: not-allowed;
  }

  .select-data {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    font-size: 12px;
    padding-left: 12px;
    font-family: 'Poppins';
    color: #39434E;
  }

  .select-data-optional {
    width: 100%;
    margin-bottom: 20px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    font-size: 12px;
    padding-left: 12px;
    font-family: 'Poppins';
    color: #39434E;
  }

  .btn-driver {
    color: #161616;
    background-color: #FDFDFD;
    border: none !important;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    width: 100%;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
  }

  .btn-driver.selected {
    color: #fa751a;
    background-color: #EFF2F9;
    font-weight: 500;
  }

  .btn-driver:hover {
    opacity: 0.8;
  }


  .content-right {
    flex-grow: 1; /* Allows expansion */
    width: 84%!important;
  }

  .chart-container {
    position: relative; // This ensures the inner circle can be positioned relative to the chart
  }
