.figure {
  display: inline-block !important;
}

.logo-m {
  height: 40px;
  margin-left: 1rem;
}

.me-lg-4 {
  margin-right: 2.5rem !important;
}

.nav-link-c {
  color: #5d6778;
}

.linkdata{
  font-size: 16px;
  font-weight: 600;
  color: #000;
  font-family: 'Poppins';
}

.linkdata:hover{
  font-size: 16px;
  font-weight: 600;
  color: #ef8321;
  font-family: 'Poppins';
}
.icon-left{
  height: 16px;
  margin-top: -2px;
  margin-right: 5px;
}

.arrow-h{
  color: #fff;
    font-size: 16px;
    font-weight: 600
}

.nav-link-c:hover {
  color: #ef8321;
}

.sectionm {
  margin-left: 28px !important;
  margin-right: 28px !important;
}

.mt-100 {
  margin-top: 100px;
}

.lh-30 {
  line-height: 33px;
}

.fn-b {
  font-weight: 600 !important;
}

.heading-m {
  line-height: 33px;
  font-size: 30px !important;
  text-align: center;
}

.img-h {
  height: 50px;
}



.package {
  margin-left: 0px;
  margin-right: 0px;
}


.btn-reuest-demo {
  border-radius: 50px;
  margin-bottom: 20px;
  margin-top: 20px
}

.example-box {
  background: #585656;
  padding: 20px;
  border-radius: 10px;
  height: 70vh;
}

.footer {
  height: 300px !important;
  margin-bottom: 0px !important;
  bottom: 0px !important;
  padding: 0px !important;
  right: none !important;
  color: #74788d !important;
  left: 250px !important;
}


.footer .footer-col {
  font-size: .875rem
}


.footer .footer-col .col-heading {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #5d6778
}

.footer .footer-col a {
  color: #a5abb4;
}

.footer .footer-col a:hover {
  color: #ef8321 !important;
  text-decoration: none;
}

.footer .footer-col li {
  margin-bottom: .5rem
}

.h5 {
  font-size: 1.25rem
}

.footer .copyright {
  font-size: .875rem;
  color: #a5abb4
}

.btn-primary {
  --bs-btn-color: #fff !important;
  ;
  --bs-btn-bg: #45B01F !important;
  ;
  --bs-btn-border-color: #45B01F !important;
  --bs-btn-hover-color: #fff !important;
  ;
  --bs-btn-hover-bg: #ee8f31 !important;
  ;
  --bs-btn-hover-border-color: #ee8f31 !important;
  ;
  --bs-btn-focus-shadow-rgb: 97, 106, 234 !important;
  ;
  --bs-btn-active-color: #fff !important;
  ;
  --bs-btn-active-bg: #ee8f31 !important;
  ;
  --bs-btn-active-border-color: #ee8f31 !important;
  ;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  ;
  --bs-btn-disabled-color: #fff !important;
  ;
  --bs-btn-disabled-bg: #45B01F !important;
  ;
  --bs-btn-disabled-border-color: #45B01F !important;
  ;
}

.fleet-telemetrysli {
  list-style: none;
  font-size: 20px !important;
  line-height: 35px;
  font-weight: 600;
  letter-spacing: -0.144px;
  color: #102C52 !important;
  padding-left: 0px;
  margin: 0 0 0;
}

.banner {
  background: #000;
  width: 102%;
  height: 150px;
  margin-left: -12px;
  margin-top: -20px;
}

.font-super{
 font-size: 6px;
 font-weight: 50px;
 margin-top:-10px
}

.actives {
  color:#fff;
  font-family: 'Neo Sans Pro', 'Helvetica', 'Arial', 'Lucida', sans-serif!important;
 }

 .actives:after {
  margin-top: 0px;
  content: "";
  color: #fff;
  display: block;
  width: 24px;
  height: 2px;
  background: #ef8321;
  transition: width 0.3s;
  margin-left: 36%;
}




.data-demo {
  background: #FFFFFF !important;
  border: 2px solid #ee8f31!important;
  border-radius: 200px !important;
  padding: 8px 18px !important;
  font-style: normal !important;
  font-weight: 600!important;
  font-size: 17px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #ee8f31 !important;
  font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif;
  margin: 10px 0 0 !important;
  display: inline-block !important;
  text-decoration: none !important;
}

.data-demo:hover {
  background: #ee8f31 !important;
  border: 2px solid #ee8f31 !important;
  text-decoration: none !important;
  border-radius: 200px !important;
  padding: 8px 18px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 17px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #fff !important;
  font-family: 'Neo Sans Pro 500', Helvetica, Arial, Lucida, sans-serif;
  margin: 10px 0 0 !important;
  display: inline-block !important;
}

.data-demo-dashboard {
  background: #FFFFFF !important;
  border: 2px solid #102c52!important;
  border-radius: 200px !important;
  padding: 8px 18px !important;
  font-style: normal !important;
  font-weight: 600!important;
  font-size: 17px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #102c52 !important;
  font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif;
  margin: 10px 0 0 !important;
  display: inline-block !important;
  text-decoration: none !important;
}

.data-demo-dashboard:hover {
  background: #102c52 !important;
  border: 2px solid #102c52 !important;
  text-decoration: none !important;
  border-radius: 200px !important;
  padding: 8px 18px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 17px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #fff !important;
  font-family: 'Neo Sans Pro 500', Helvetica, Arial, Lucida, sans-serif;
  margin: 10px 0 0 !important;
  display: inline-block !important;
}

.nav-link.selected{
  border-bottom:1px solid red!important;
}

.signal-demo {
  background: #FFFFFF !important;
  border: 2px solid #102c52!important;
  border-radius: 200px !important;
  padding: 8px 18px !important;
  font-style: normal !important;
  font-weight: 600!important;
  font-size: 17px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #102c52 !important;
  font-family: "Neo Sans Pro 500", Helvetica, Arial, Lucida, sans-serif;
  margin: 10px 0 0 !important;
  display: inline-block !important;
  text-decoration: none !important;
  margin-left: 12px!important;
  width: 140px!important;
}

.signal-demo:hover {
  background: #102c52 !important;
  border: 2px solid #102c42 !important;
  text-decoration: none !important;
  border-radius: 200px !important;
  padding: 8px 18px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 17px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #fff !important;
  font-family: 'Neo Sans Pro 500', Helvetica, Arial, Lucida, sans-serif;
  margin: 10px 0 0 !important;
  display: inline-block !important;
  margin-left: 12px!important;
  width: 140px!important;
}

.btn-overview {
  // background: #FFFFFF !important;
  background: #EF8321 !important;
  border: 2px solid #EF8321 !important;
  padding: 13px 32px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 17px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  font-family: 'Neo Sans Pro 500', Helvetica, Arial, Lucida, sans-serif;
  margin: 10px 0 0 !important;
  display: inline-block !important;
  text-decoration: none !important;
  border-radius: 5px;
}

.btn-overview:hover {
  border: 2px solid #45B01F !important;
  color: #45B01F !important;
  background: #FFF !important;
  border-radius: 5px;
  text-decoration: none !important;
  padding: 13px 32px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 17px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  // color: #fff !important;
  font-family: 'Neo Sans Pro 500', Helvetica, Arial, Lucida, sans-serif;
  margin: 10px 0 0 !important;
  display: inline-block !important;
}

.data-demo-pro {
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 29px !important;
  text-align: center !important;
  letter-spacing: 0.231px !important;
  color: #4E4C52 !important;
  font-family: 'Proxima Nova Regular', Helvetica, Arial, Lucida, sans-serif;
  margin: 12px 0 !important;
}

.dashboard-btn {
  background: #45B01F !important;
  border: 2px solid #45B01F !important;
  border-radius: 200px !important;
  padding: 13px 32px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 17px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #fff !important;
  font-family: 'Neo Sans Pro 500', Helvetica, Arial, Lucida, sans-serif;
  margin: 10px 0 0 !important;
  display: inline-block !important;
  text-decoration: none !important;
}

.dashboard-btn:hover {
  background: #FFFFFF !important;
  border: 2px solid #45B01F !important;
  text-decoration: none !important;
  border-radius: 200px !important;
  padding: 13px 32px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 17px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: -0.374px !important;
  color: #45B01F !important;
  font-family: 'Neo Sans Pro 500', Helvetica, Arial, Lucida, sans-serif;
  margin: 10px 0 0 !important;
  display: inline-block !important;
}

.leading-sec {
  font-size: 22px;
  line-height: 34px;
  font-weight: 600 !important;
  letter-spacing: -0.144px;
  color: #0D4A82;
  font-family: 'Neo Sans Pro 500', Helvetica, Arial, Lucida, sans-serif !important;
}

.leading-sec-heaidng{
  font-size: 22px!important;
  line-height: 24px!important;
  letter-spacing: -0.144px!important;
  color: #0D4A82!important;
  font-family: 'Neo Sans Pro',Helvetica,Arial,Lucida,sans-serif!important;
  padding: 10px 0 15px!important;
  font-weight: 500;
}

.btn {
  --bs-btn-padding-x: 0.75rem !important;
  ;
  --bs-btn-padding-y: 0.375rem !important;
  ;
  --bs-btn-font-family: !important;
  ;
  --bs-btn-font-size: 1rem !important;
  ;
  --bs-btn-font-weight: 400 !important;
  ;
  --bs-btn-line-height: 1.5 !important;
  ;
  --bs-btn-color: var(--bs-body-color) !important;
  ;
  --bs-btn-bg: transparent !important;
  ;
  --bs-btn-border-width: var(--bs-border-width) !important;
  ;
  --bs-btn-border-color: transparent !important;
  ;
  --bs-btn-border-radius: var(--bs-border-radius) !important;
  ;
  --bs-btn-hover-border-color: transparent !important;
  ;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  ;
  --bs-btn-disabled-opacity: 0.65 !important;
  ;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5) !important;
  ;
  display: inline-block !important;
  ;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x) !important;
  ;
  font-family: 'Neo Sans Pro 700', Helvetica, Arial, Lucida, sans-serif !important;
  ;
  font-size: var(--bs-btn-font-size) !important;
  ;
  font-weight: var(--bs-btn-font-weight) !important;
  ;
  line-height: var(--bs-btn-line-height) !important;
  ;
  color: var(--bs-btn-color) !important;
  ;
  text-align: center !important;
  ;
  text-decoration: none !important;
  ;
  vertical-align: middle !important;
  ;
  cursor: pointer !important;
  ;
  -webkit-user-select: none !important;
  ;
  -moz-user-select: none !important;
  ;
  user-select: none !important;
  ;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color) !important;
  ;
  border-radius: var(--bs-btn-border-radius) !important;
  ;
  background-color: var(--bs-btn-bg) !important;
  ;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
  ;
}

.pad-t {
  padding-top: 0px !important;
}

.main-heading {
  line-height: 36px;
  text-align: left;
  font-weight: 600 !important;
  padding-top: 131px;
  padding-left:60px
}

.box-data-heading{
    line-height: 36px;
    text-align: left;
    font-weight: 600 !important;
}

.view-more {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 130px;
}

.view-signal {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 140px;
  margin-left: 12px!important;
}

.mt40 {
  margin-top: 40px;
}

.img-m {
  height: 550px;
  margin-left: 50px;
}

.mt0 {
  margin-bottom: 0px !important;
}

.back-btn{
background-color: #efedec!important;
margin: -24px!important;
height: 80px!important;
}

.package-bo{
  border-right: 1px solid #bbbbbb!important;
}

.fleet-telemetryp {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.144px;
  color: #3B464F;
  font-family: 'Poppins';
}

.fleet-telemetryli {
  list-style: none!important;
  font-size: 17px!important;
  line-height: 35px!important;
  letter-spacing: -0.144px!important;
  font-weight: 500!important;
  color: #625F67!important;
  padding-left: 0px!important;
  margin: 0 0 0!important;
  font-family: 'Neo Sans Pro',Helvetica,Arial,Lucida,sans-serif!important;
}

.plan-heading{
  font-size: 36px!important;
  font-weight: 600!important;
  text-align: center!important;
  font-family: 'Neo Sans Pro', 'Helvetica', 'Arial', 'Lucida', sans-serif;
  color: #102C52!important;
  padding-top:30px;
  padding-bottom: 20px;
}

.box-package{
  height: 60px;
  margin-top: 30px;
  background-color: #faf8ff;
  margin-left: 140px;
  border-radius: 50px;
}

.plan-box-heading{
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  line-height: 2.2;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  line-height: 2.2;
  text-align: center;
  border-radius:50px;
  width: 100%;
  border:none;
  background-color:#faf8ff;
  height: 60px;
  font-family: "Neo Sans Pro", Helvetica, Arial, Lucida, sans-serif!important;
}

button.selected {
  background: #ee8f31;
  color:#fff;
  font-family: "Neo Sans Pro", Helvetica, Arial, Lucida, sans-serif!important;
}


#button1 {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  line-height: 2.2;
  text-align: center;
  border-radius:50px;
  width: 100%;
  border:none;
  background-color:#E7EAEE;
  height: 45px;
  font-family: "Neo Sans Pro", Helvetica, Arial, Lucida, sans-serif!important;
}

.sup-cl{
  font-size: 15px;
  font-weight: 900;
  color: #ee8f31;
}

#button1.selected {
  background: #102c52;
  color:#fff;
  font-family: "Neo Sans Pro", Helvetica, Arial, Lucida, sans-serif!important;
}

.plan-data{
  padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    padding-top: 40px;
    word-spacing: 3px;
}

//


 @media screen and (max-device-width: 480px)and (orientation: portrait) {
  .btn-mobile{
    margin-top: -60px!important;
  }

  .back-btn{
    height: 220px!important;
    background-color: #efedec!important;
margin: -24px!important;
  }

  .btn-tablet{
    margin-left: -65px!important;
    margin-top: -12px!important
  }

  .package-bo{
    border-right: none!important;
    margin-bottom: 2rem!important;
  }

  .mb-5 {
    margin-bottom: -3rem !important;
}

.ctalink{
  margin-left: 52px!important
}

.img-top{
  margin-top: 55px!important
}

.img-m{
  height: 400px!important;
  margin-left: 0px!important;
}
}
