.mar-left-right {
  margin-left: -20px !important;
  margin-right: 12px !important
}

::ng-deep .select-all-label {
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  background: #f9f9f9;
  color: #3f51b5;
}

.form-control {
  height: 30px !important;
  border: 2px solid #ededed !important;
}

.address-wrapper {
  position: relative;
  display: inline-block;
}

.full-address-popup {
  position: absolute;
  top: 100%;
  left: 0;
  white-space: normal;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: max-content;
  max-width: 300px;
}

.failedData{
  font-size: 14px!important;
  font-weight: 500!important;
  text-align: center;
 }


::ng-deep.ng-select.ng-select-single .ng-select-container {
  height: 37px !important;
  border-radius: 10px !important;
}


.content-right {
  flex-grow: 1; /* Allows expansion */
  width: 84%!important;
}

.chart-container {
  position: relative; // This ensures the inner circle can be positioned relative to the chart
}

.input-vin {
  text-transform: capitalize !important;
  border-radius: 10px !important;
  height: 37px !important;
  font-family: 'Poppins' !important;
}


.vin-align{
height: 36px;
border-radius: 10px;
}
.checkbox-scroll-container {
max-height: 300px; /* or whatever fits your modal */
padding-right: 10px;
display: flex;
flex-direction: column;
gap: 10px;
width: 100%;
box-sizing: border-box;
}

/* Custom checkbox styling */
.custom-checkbox {
display: flex;
align-items: center;
position: relative;
padding-left: 25px;
font-size: 14px;
width: 100%; /* make each checkbox row full width */
box-sizing: border-box;
}

.custom-checkbox input[type="checkbox"] {
opacity: 0;
position: absolute;
cursor: pointer;
height: 0;
width: 0;
}

.custom-checkbox .checkmark {
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
height: 15px;
width: 15px;
background-color: #fff;
border: 2px solid #ccc;
border-radius: 2px;
}

.custom-checkbox input:checked ~ .checkmark {
background-color: #007bff;
border-color: #007bff;
}

.custom-checkbox .checkmark::after {
content: "";
position: absolute;
display: none;
}

.custom-checkbox input:checked ~ .checkmark::after {
display: block;
}

.custom-checkbox .checkmark::after {
left: 4px;
top: 0px;
width: 4px;
height: 9px;
border: solid white;
border-width: 0 2px 2px 0;
transform: rotate(45deg);
}

.over {
display: flex;
overflow-x: hidden;
overflow-y: scroll;
gap: 20px;
margin-top: 20px;
height: 296px;
/* width: 101%; */
margin-bottom: 20px;
}

.update-btn{
width: 60%;
  margin-right: 20%;
  font-weight: 500;
  font-size: 14px;
  font-weight: 500;
  height: 37px;
  border-radius: 10px;
  border: 1px solid #fa751a;
  background-color: #fa751a;
  font-family: 'Poppins';
  color: #ffffff;
}

.label-value{
font-size: 12px;
font-weight: 500;
font-family: 'Poppins';
}


.consumer-pad {
  margin-top: -12px;
  margin-left: -24px;
}

.no-border:focus {
  outline: none !important;
  box-shadow: none !important;
}

.newSelect1 {
  color: #9fa19f;
  width: 100%;
  background-size: 10px 12px !important;
  font-family: "Poppins" !important;
  height: 45px !important;
  border-radius: 10px !important;
}

::ng-deep.newSelect1 .ng-select-container {
  background-color: #fa751a !important;
}

::ng-deep.newSelect1.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #ffffff !important;
}

::ng-deep.newSelect1.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
  top: -2px;
  border-color: transparent transparent #ffffff !important;
  border-width: 0 5px 5px;
}

::ng-deep.newSelect1.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  color: #ffffff !important;
}

::ng-deep.newSelect1.ng-select .ng-clear-wrapper {
  color: #ffffff !important;
}

::ng-deep.newSelect1.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: #fff transparent transparent !important;
  border-style: solid;
  border-width: 5px 5px 2.5px;
}

.table-b {
  border-radius: 25px !important;
  height: 400px!important
}

.split-address{
 color: #000!important;text-decoration: underline!important; cursor: pointer!important
}

.delete-geofence{
  font-size: 14px; font-weight: 600; color:#ff0000; font-family: 'Poppins';
}

.he-25{
 height: 25px;
}

.table-head {
  background-color: #fff !important;
  font-family: 'Poppins' !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #989EA5 !important
}

.table th {
  color: #989EA5 !important;
  font-weight: 500 !important;
  text-align: left !important;
}

.table td {
  font-size: 11px !important;
  color: #000000 !important;
  font-family: 'system-ui' !important;
  font-weight: 500 !important;
}


.table {
  --bs-table-accent-bg: #ffffff !important;
}

tbody tr {
  height: 40px !important;
  border-bottom-color: #ffffff !important;
  /* Set the height of the table rows to 30px */
}

.action-img {
  height: 16px;
}

.action-buttons {
  display: flex;
  gap: 1rem;
}

.table tbody {
  max-height: 400px;
  /* Set max-height as needed */
  overflow-y: auto;
}

.add-button {
  background-color: #ffffff;
  color: #fa751a;
  border: 1px solid #fa751a;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 9px 15px;
  font-family: "Poppins";
  margin-top: 6px;
}

.download-report-icon {
  height: 35px;
}

.download-report-icon:hover {
  // content: url("../../../../../../../assets/images/download-report-hover.svg");
  height: 30px;
  width: 40.6px;
}

::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  /* position: absolute; */
  margin-top: 4px !important;
  font-size: 12px !important;
  font-family: 'Poppins' !important;
}

.disabled-button {
  background-color: grey !important;
  pointer-events: none;
}

.blue-button {
  background-color: #046EF9;
  color: white;
  font-size: 12px;
  font-weight: 500;
  border-radius: 10px;
  padding: 9px 15px;
  text-align: center;
  font-family: 'Poppins';
  cursor: pointer;
}

.newSelect .ng-select-container {
  max-height: 50px !important;
  /* Adjust as needed */
  overflow-y: scroll !important;
}

.search-input {
  height: 37px;
  width: 180px;
  padding: 10px 15px 10px 10px;
  /* Space for icon on left */
  font-size: 11px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  // background: white url('../../../../../../../../assets/images/search-01.svg') no-repeat 10px center;
  background-size: 16px 14px;
  outline: none;
}

.newSelect {
  width: 100% !important;

}
::ng-deep .ng-select .ng-value-container {
  display: flex;
  flex-wrap: nowrap;
  // overflow-x: scroll;
  overflow-y: scroll;
  max-height: 38px; /* or default height */
  align-items: center;
}

::ng-deep .ng-select .ng-value {
  white-space: nowrap;
  margin-right: 6px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 638px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.deletebtn {
  background-color: #45B01F;
  border: 1px solid #45B01F;
  border-radius: 5px;
  color: #ffffff !important;
  padding: 6px;
  width: 60px;
  font-family: 'Poppins';
}

.cancelbtn {
  background-color: #c0c0bf;
  border: 1px solid #c0c0bf;
  border-radius: 5px;
  color: #ffffff !important;
  padding: 6px;
  width: 60px;
  font-family: 'Poppins';
}

.modal-card {
  background: white;
  padding: 0 20px;
  margin-top: 80px;
  border-radius: 8px;
  position: relative;
  width: 1000px;
  /* Adjust as needed */
  height: auto;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 2px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}


.option-column {
  padding-right: 0px;
  border-right: 1px solid #DADADA;
}

.option {
  color: black;
  padding: 10px 10px 10px 25%;
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 0px;
  transition: background-color 0.3s, color 0.3s;
}

.option:hover,
.option.selected {
  background-color: #FA751A;
  color: #FFFFFF;
}

  /* Outlined "Unresolve" button */
  .unresolve {
    background-color: transparent;
    color: #28a745;
    border: 1px solid #28a745 !important;
  }

  ::ng-deep ng-dropdown-panel .ng-dropdown-panel-items {
    max-height: 200px; /* adjust height as needed */
    overflow-y: auto;
  }


  .nbtn {
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Poppins';
    cursor: pointer;
    border: none;
    margin-right: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
  }
