.content-right {
    flex-grow: 1;
    /* Allows expansion */
    width: 84% !important;
}

.add-button {
    background-color: #ffffff;
    color: #fa751a;
    border: 1px solid #fa751a;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
    font-family: "Poppins";
}

.cancel-btn {
    background-color: #E0E0E0;
    color: #606060;
    border: 1px solid #E0E0E0;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
    font-family: "Poppins";
}

.submit-btn {
    background-color: #fa751a;
    color: #ffffff;
    border: 1px solid #fa751a;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
    font-family: "Poppins";
}


.consumer-select {
    color: #9fa19f;
    width: 100%;
    height: 37px !important;
    background-color: transparent;
    background-size: 10px 12px !important;
    font-family: "Poppins" !important;
    height: 37px !important;
    border-radius: 10px !important;
    border: none !important;
}

.consumer-pad {
    margin-top: -12px;
    margin-left: -24px;
}

.no-border:focus {
    outline: none !important;
    box-shadow: none !important;
}

.newSelect1 {
    color: #9fa19f;
    width: 100%;
    height: 45px !important;
    background-size: 10px 12px !important;
    font-family: "Poppins" !important;
    border-radius: 10px !important;
}

::ng-deep.newSelect1 .ng-select-container {
    background-color: #fa751a !important;
}

::ng-deep.newSelect1.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #ffffff !important;
}

::ng-deep.newSelect1.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
    top: -2px;
    border-color: transparent transparent #ffffff !important;
    border-width: 0 5px 5px;
}

::ng-deep.newSelect1.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    color: #ffffff !important;
}

::ng-deep.newSelect1.ng-select .ng-clear-wrapper {
    color: #ffffff !important;
}

::ng-deep.newSelect1.ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: #fff transparent transparent !important;
    border-style: solid;
    border-width: 5px 5px 2.5px;
}

.mr6 {
    margin-top: 6px !important;
}

.mr-30 {
    margin-top: -30px !important
}

.card {
    border: 1px solid #DEE4ED;
    border-radius: 20px;
    padding: 20px;
    // height: auto;
}

.edit-input {
    padding: 2px 6px;
    font-size: 14px;
  }

.form-input {
    color: #495057 !important;
    border: 1px solid #ced4da !important;
    height: 37px;
    border-radius: 10px !important;
    width: -webkit-fill-available;
    padding-left: 10px;
    font-family: 'Poppins' !important;
}

.form-input:focus,
.form-input:hover,
.form-input:active {
    border: none;
    outline: none;
}

// Tree structure
.tree {
    list-style: none;
    padding-left: 16px;
    font-family: Arial, sans-serif;
  }

  .tree-node {
    cursor: pointer;
    padding: 4px 0;
    display: flex;
    align-items: center;
    user-select: none;
  }

  .tree-node span {
    margin-right: 8px;
  }


  .icon-button {
    border: none;
    width: 22px;
    height: 22px;
    padding: 0px 0px 0px 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 2px;
  }

  .icon-button i {
    font-size: 8px!important;
    color: #4A4A4A;
  }

  /* Hover and active states */
  .edit-btn:hover,
  .edit-btn:active {
    color:#4A4A4A

  }

  .edit-btn:hover i,
  .edit-btn:active i {
    color: #4A4A4A;
  }

  .delete-btn{
    background-color: transparent!important;
  }
  .delete-btn:hover,
  .delete-btn:active {
    color:#4A4A4A
  }

  .delete-btn:hover i,
  .delete-btn:active i {
    color: #4A4A4A
  }

  .data-demo-yes{
    background-color:#4caf50;
    color:#ffffff;
    border:1px solid #4caf50;
    padding:5px 20px 5px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
  }

  .data-demo-yes:hover{
    background-color:#ffffff;
    color:#4caf50;
    border:1px solid #4caf50;
    padding:5px 20px 5px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
  }

  .data-demo-no{
    background-color:#ff0000;
    color:#ffffff;
    border:1px solid #ff0000;
    padding:5px 20px 5px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
  }

  .data-demo-no:hover{
    background-color:#ffffff;
    color:#ff0000;
    border:1px solid #ff0000;
    padding:5px 20px 5px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
  }

  .data-demo-save{
    background-color:#4caf50;
    color:#ffffff;
    border:1px solid #4caf50;
    padding:5px 10px 5px 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
  }

  .data-demo-save:hover{
    background-color:#ffffff;
    color:#4caf50;
    border:1px solid #4caf50;
    padding:5px 10px 5px 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
  }

  .add-admin-button{
    width: fit-content;
    background-color: #fa751a;
    color: white;
    border-radius: 4px;
    border:1px solid #fa751a;
    padding: 6px 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    float: right;
  }

  .group{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #fa751a;

  }

  .tree-node.level-0 {
    color: black; /* Fleet name */
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
  }

  .tree-node.level-1 {
    color: orange; /* Group */
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
  }

  .tree-node.level-2 {
    color: darkblue; /* Subgroup */
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
  }

  .tree-node.level-3 {
    color: blue; /* Sub-subgroup */
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
  }

  /* Optional: add styles for deeper levels if needed */
  .tree-node.level-4 {
    color: teal;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
  }
  .flat-tree {
    padding: 0;
    list-style-type: none!important;
    margin: 0;
  }

  .flat-tree-item {
    margin-bottom: 5px!important;
    margin-top:5px!important /* spacing between boxes */
  }

  .unresolve {
    background-color: transparent;
    color: #28a745;
    border: 1px solid #28a745 !important;
  }

  .nbtn {
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Poppins';
    cursor: pointer;
    border: none;
    margin-right: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
  }

  .scrollable-subtree {
    max-height: 300px;
    overflow-y: auto;
    margin-left: 20px; /* Optional: Indent child group scroll visually */
    margin-bottom: -5px;
  }

  .heading-no-data{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    text-align: center;
  }


  .tree-box {
    background-color: #eaeaea;
    padding: 5px 16px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  }

  .arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    font-size: 14px;
    font-family: monospace; /* ensures consistent width */
    font-weight: bold;
    cursor: pointer;
    margin-right: 6px;
    user-select: none;
  }


  .node-name {
    font-weight: 500;
    flex-grow: 1;
  }

  .count {
    color: #aaa;
    font-size: 13px;
  }

   .custom-tooltip {
  ::ng-deep .tooltip-inner {
    background-color: #ff0000 !important;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
  }
}

  ::ng-deep .tooltip.custom-tooltip .tooltip-inner {
    background-color: #000000 !important;  /* Dark navy background */
  color: #ffffff !important;             /* White text */
  font-size: 12px !important;
  font-weight: 500;
  padding: 2px 2px !important;
  margin-left: -90px!important;
  margin-top:2px!important;
  border-radius: 8px !important;
  width: 90px !important;
  text-align: center !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
  white-space: nowrap !important;
  }

  ::ng-deep .tooltip.custom-tooltip .arrow::before {
    border-top-color: #2c3e50 !important; /* Match tooltip background */
  }

  ::ng-deep .tooltip.custom-tooltips .tooltip-inner {
    background-color: #000000 !important;  /* Dark navy background */
  color: #ffffff !important;             /* White text */
  font-size: 12px !important;
  font-weight: 500;
  padding: 2px 2px !important;
  margin-left: -75px!important;
  margin-top:2px!important;
  border-radius: 8px !important;
  width:60px !important;
  text-align: center !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
  white-space: nowrap !important;
  }

  ::ng-deep .tooltip.custom-tooltips .arrow::before {
    border-top-color: #2c3e50 !important; /* Match tooltip background */
  }
  ::ng-deep .tooltip.custom-tooltipss .tooltip-inner {
    background-color: #000000 !important;  /* Dark navy background */
  color: #ffffff !important;             /* White text */
  font-size: 12px !important;
  font-weight: 500;
  padding: 2px 2px !important;
  margin-left: -75px!important;
  margin-top:2px!important;
  border-radius: 8px !important;
  width:60px !important;
  text-align: center !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
  white-space: nowrap !important;
  }

  ::ng-deep .tooltip.custom-tooltipss .arrow::before {
    border-top-color: #2c3e50 !important; /* Match tooltip background */
  }
