<!--Page main content-->
<div class="page-content page-content-main">
    <div class="row sideMenuItem">
        <div class="container">
            <!-- Main Content Right-->
            <div class="col-xs-12 content-right">
                <!-- Heading and Breadcrumb-->
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <span class="breadcrumb-left">
                            <h1 class="login-headline heading-title">Manage Groups</h1>
                        </span>
                        <span class="breadcrumb-right mr-8">
                            <ol class="breadcrumb">
                                <ng-container *ngIf="user =='admin'">
                                    <li class="breadcrumb-item">
                                        <a routerLink="/adlp/admin" class="breadcrumb-h6"><i
                                                class="bx bx-home-circle"></i></a>
                                    </li>
                                    <li class="breadcrumb-item inactive-bread"><a
                                            routerLink="/adlp/admin/dashboardAdmin">Dashboard</a></li>
                                    <li class="breadcrumb-item text-selected active-bread">Settings</li>
                                    <li class="breadcrumb-item text-selected active-bread">Manage Group</li>
                                </ng-container>
                                <ng-container *ngIf="user !='admin'">
                                    <li class="breadcrumb-item">
                                        <a routerLink="/adlp/admin/admindashboard/dashboardfleet"
                                            class="breadcrumb-h6"><i class="bx bx-home-circle"></i></a>
                                    </li>
                                    <li class="breadcrumb-item inactive-bread"><a
                                            routerLink="/adlp/admin/admindashboard/dashboardfleet">Dashboard</a></li>
                                    <li class="breadcrumb-item inactive-bread">Settings</li>
                                    <li class="breadcrumb-item text-selected active-bread">Manage Group</li>
                                </ng-container>
                            </ol>
                        </span>
                    </div>
                </div>
                <!-- Heading and Breadcrumb End-->
                <!-- Consumer and Fleet Id and Group Id Filter-->
                <div class="row consumer-pad">
                    <div class="col-xs-12 col-lg-2">
                        <ng-container *ngIf="user === 'admin'">
                            <select class="form-select consumer-select no-border" [(ngModel)]="consumer"
                                (change)="selectConsumer()">
                                <option value="" disabled hidden>Select Consumer</option>
                                <option value="All" selected>Consumer</option>
                                <option *ngFor="let consumer of consumerList" [value]="consumer.name"> {{ consumer.name
                                    }} </option>
                            </select>
                        </ng-container>
                    </div>
                </div>
                <!-- Consumer and Fleet Id and Group Id Filter End-->
                <!-- Group Herearichy-->
                <div class="row" style="margin-top: 12px;">
                    <div class="col-xs-12 col-lg-12">
                        <div class="card" style="height: 1400px;">
                            <div class="card-body">
                                <ng-container *ngIf="user === 'admin'">
                                    <h5 *ngIf="notification" class="heading-no-data">Please select consumer for group
                                        information</h5>
                                </ng-container>
                                <ul class="flat-tree" style="list-style-type: none;">
                                    <ng-container *ngFor="let node of flatTreeData">
                                        <li>
                                            <ng-container
                                                *ngTemplateOutlet="treeItem; context: { $implicit: node }"></ng-container>
                                        </li>
                                    </ng-container>
                                </ul>
                                <ng-template #treeItem let-node>
                                    <div class="flat-tree-item" [style.marginLeft.px]="node.level * 20">
                                        <div class="tree-box">
                                            <div class="tree-left" (click)="toggleNode(node); ">
                                                <span class="arrow">
                                                    {{ node.children?.length ? (node.expanded ? 'v' : '>') : '' }}
                                                </span>
                                                <!-- Node name or input -->
                                                <!-- Display mode -->
                                                <span *ngIf="!node.isEditing" class="node-name"
                                                    [ngStyle]="{ 'font-weight': node.level === 0 ? '600' : '500' }">
                                                    {{ node.id }} - {{ node.name }} ({{node.count}})
                                                </span>

                                                <!-- Edit mode -->
                                                <input *ngIf="node.isEditing" [(ngModel)]="node.name" class="edit-input"
                                                    (keydown.enter)="saveEdit(node)" />

                                            </div>
                                            <!-- ✅ Show actions only for groups/subgroups -->
                                            <div class="tree-actions">
                                                <!-- Add Group button (always visible) -->


                                                <!-- Show these only for levels > 0 -->
                                                <ng-container *ngIf="node.level > 0">
                                                    <a *ngIf="node.level <= 10"
                                                        (click)="openVINDetailsModal(vinModel, node.fleetId, node.id,node)"
                                                        style="cursor: pointer; font-size: 12px; font-weight: 500; color: blue; text-decoration: underline; text-underline-offset: 3px">
                                                        View mapped vehicle(s)
                                                    </a>
                                                    <!-- Edit Button -->
                                                    <ng-container *ngIf="user != 'admin'">
                                                    <button *ngIf="!node.isEditing" class="icon-button delete-btn"
                                                        ngbTooltip="Edit" placement="bottom"
                                                        (mouseenter)="tooltip.open()" (mouseleave)="tooltip.close()"
                                                        #tooltip="ngbTooltip" tooltipClass="custom-tooltip"
                                                        (click)="startEdit(node)">
                                                        <img src="../../../../../../../assets/images/pencil.svg"
                                                            style="height: 14px;">
                                                    </button>

                                                    <!-- Save Button -->
                                                    <button *ngIf="node.isEditing" class="icon-button delete-btn"
                                                        ngbTooltip="Save" placement="bottom"
                                                        (mouseenter)="tooltip.open()" (mouseleave)="tooltip.close()"
                                                        #tooltip="ngbTooltip" tooltipClass="custom-tooltip"
                                                        (click)="saveEdit(node)">
                                                        <img src="../../../../../../../assets/images/save-d.svg"
                                                            style="height: 14px; opacity: 70%;">
                                                    </button>

                                                    <!-- Delete Button -->
                                                    <button class="icon-button delete-btn" ngbTooltip="Delete"
                                                        placement="bottom" (mouseenter)="tooltip.open()"
                                                        (mouseleave)="tooltip.close()" #tooltip="ngbTooltip"
                                                        tooltipClass="custom-tooltips"
                                                        (click)="deletePopUp(deleteConfirmationPopup, node.id, node.name)">
                                                        <img src="../../../../../../../assets/images/del.svg"
                                                            style="height: 14px;">
                                                    </button>
                                                </ng-container>
                                                </ng-container>
                                                <ng-container *ngIf="user != 'admin'">
                                                <button class="icon-button delete-btn" ngbTooltip="Add Group"
                                                    placement="bottom" (mouseenter)="tooltip.open()"
                                                    (mouseleave)="tooltip.close()" #tooltip="ngbTooltip"
                                                    tooltipClass="custom-tooltip"
                                                    (click)="openAddUserModal(addUser,node)">
                                                    <img src="../../../../../../../assets/images/add-group.svg"
                                                        style="height: 9px;opacity: 70%;">
                                                </button>
                                                </ng-container>
                                            </div>

                                        </div>
                                        <!-- Recursively render children -->
                                        <ul *ngIf="node.expanded && node.children?.length" class="scrollable-subtree"
                                            style="list-style-type: none;">
                                            <li *ngFor="let child of node.children">
                                                <ng-container
                                                    *ngTemplateOutlet="treeItem; context: { $implicit: child }"></ng-container>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Group Herearichy End-->
            </div>
            <!-- Main Content Right End-->
        </div>
    </div>
</div>
<!--Page main content end-->
<!-- Add Group-->
<ng-template #addUser let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Add Group</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
    </div>
    <div class="model-body">
        <div class="row" style="margin:12px">
            <div class="col-xs-12 col-lg-12">
                <input type="text" class="form-control" [(ngModel)]="newGroupName"
                    [placeholder]="groupIdData ? 'Enter Subgroup Name' : 'Enter Group Name'" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="data-demo-yes btn-primary" (click)="submitGroups()">Save</button>
        <button class="data-demo-no btn-primary" style="float: right" (click)="modal.dismiss('Cross click')">No
        </button>
    </div>
</ng-template>
<!-- Add Group End-->
<!-- Mapped Vehicle-->
<ng-template #vinModel let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Total Mapped Vehicle's : {{vinChecked || 0}}</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
    </div>
    <div class="model-body">
        <div class="row" style="margin:12px 12px 12px 12px ; height: 200px; overflow-y: scroll;">
            <div class="col-lg-12 text-center" *ngIf="vinDetails?.length == 0">
                <h4> No data found</h4>
            </div>
            <ng-container *ngIf="vinDetails?.length > 0">
                <div class="col-xs-12 col-lg-6" *ngFor="let option of vinDetails">
                    <label style="font-family: 'Poppins'; font-size: 13px; font-weight: 500;"
                        [ngStyle]="{ color: option.disableCheck ? '#999' : 'inherit' }">
                        <input type="checkbox" [(ngModel)]="option.checked" [disabled]="option.disableCheck"
                            [title]="option.disableCheck ? 'Already assigned to a group' : ''"
                            (change)="onVinToggle(option)" />
                        {{ option?.Alias }}
                    </label>
                </div>
            </ng-container>
        </div>
    </div>
    <ng-container *ngIf="user != 'admin'">
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12 col-lg-12 d-flex">
                <button *ngIf="vinDetails?.length > 0" type="submit" (click)="onSave();modal.dismiss('Cross click')"
                    class="data-demo-yes btn-primary"> Save</button>&nbsp;&nbsp;
                <button *ngIf="vinDetails?.length > 0" type="submit" class="data-demo-no btn-primary"
                    (click)="modal.dismiss('Cross click')"> Cancel </button>
                <button *ngIf="vinDetails?.length == 0" type="submit" class="data-demo-no btn-primary"
                    style="width: 100% !important;" (click)="modal.dismiss('Cross click')"> Cancel </button>
            </div>
        </div>
    </div>
    </ng-container>
</ng-template>
<!-- Mapped Vehicle End -->
<!--Error Modal-->
<ng-template #errorModal let-modal>
    <div class="modal-overlay">
        <div class="modal-content">
            <div class="modal_admin_page">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Error List</h5>
                    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"
                        aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <table class="table  table-striped">
                                <thead>
                                    <tr>
                                        <th>Sr.</th>
                                        <th>VIN</th>
                                        <th>Status</th>
                                        <th>Reason</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let error of errorList;let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{error?.vin}}</td>
                                        <td>{{error?.status}}</td>
                                        <td>{{error?.message}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- Error modal end-->
<!-- Delete group subgroups popup confirmation-->
<ng-template #deleteConfirmationPopup let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Delete Confirmation</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-hidden="true"></button>
    </div>
    <div class="modal-body" style="font-family: 'Poppins';">
        Do you want to delete group <strong style="color: #ff0000;">{{ selectedReminderVin }}</strong> ? All associated
        subgroups will also be deleted.
    </div>
    <div class="modal-footer">
        <button type="button" class="data-demo-yes btn-primary" (click)="confirmGroupDelete(modal)">Yes</button>
        <button class="data-demo-no btn-primary" style="float: right" (click)="modal.dismiss('Cross click')">No
        </button>
    </div>
</ng-template>
<!-- Delete group subgroups popup confirmation-->
