.heading-title {
  line-height: 33px !important;
  text-align: left !important;
  font-weight: 600 !important;
}

.highlight-consumer {
  color: black;
  background-image: url('data:image/svg+xml;utf8,<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="5" fill="green" /></svg>');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

.regular-consumer {
  color: grey;
  background-image: url('data:image/svg+xml;utf8,<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="5" fill="grey" /></svg>');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}


.consumer-select {
  color: #9fa19f;
  width: 100%;
  height: 37px !important;
  background-color: transparent;
  background-size: 10px 12px !important;
  font-family: "Poppins" !important;
  height: 37px !important;
  border-radius: 10px !important;
  border: none !important;
}

.newSelect1 {
  color: #9fa19f;
  width: 100%;
  height: 37px !important;
  background-size: 10px 12px !important;
  font-family: 'Poppins' !important;
  height: 37px !important;
  border-radius: 10px !important
}

::ng-deep.newSelect1 .ng-select-container{
  background-color: #FA751A!important;
}

::ng-deep.newSelect1.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #ffffff!important;
}

::ng-deep.newSelect1.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
  top: -2px;
  border-color: transparent transparent #ffffff!important;
  border-width: 0 5px 5px;
}

::ng-deep.newSelect1.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  color:#ffffff!important
}

::ng-deep.newSelect1.ng-select .ng-clear-wrapper {
  color: #ffffff!important;
}

::ng-deep.newSelect1.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: #fff transparent transparent!important;
  border-style: solid;
  border-width: 5px 5px 2.5px;
}

.consumer-pad {
  margin-top: -12px;
  margin-left: -24px;
}

.no-border:focus {
  outline: none !important;
  box-shadow: none !important;
}

.table-b {
  border-radius: 25px !important;
}

.table-head {
  background-color: #fff !important;
  font-family: "Poppins" !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #989ea5 !important;
}

.table th {
  color: #161616 !important;
  font-weight: 500 !important;
  text-align: left !important;
}

.table td {
  vertical-align: middle;
  font-size: 10px !important;
  color: #000000 !important;
  font-family: "Poppins" !important;
  font-weight: 400 !important;
}

.table {
  --bs-table-accent-bg: #ffffff !important;
  font-weight: 400 !important;
}

.input-vin {
  text-transform: capitalize !important;
  border-radius: 10px !important;
  height: 37px !important;
  font-family: 'Poppins' !important;
  margin-top: 6px;
}

.input-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 10px;
  /* Adjust to your preference */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  /* Ensures the icon doesn't interfere with input focus */
}

.form-control {
  padding-right: 30px;
  /* Adds space for the icon */
}

.mainData-table {
  vertical-align: middle;
  font-size: 11px !important;
  color: #697177 !important;
  font-family: 'Poppins' !important;
  font-weight: 400 !important;
  opacity: 75% !important;
  line-height: 35px !important;
}

tbody tr {
  height: 40px !important;
  border-bottom-color: #ffffff !important;
  /* Set the height of the table rows to 30px */
}

.action-img {
  height: 20px;
}

.action-img:hover {
  content: url('../../../../../../../../assets/images/trash_red.svg');
}

.mark-up{
  cursor: pointer;
}

.deletebtn {
  background-color: #45B01F;
  border: 1px solid #45B01F;
  border-radius: 5px;
  color: #ffffff !important;
  padding: 6px;
  width: 60px;
  font-family: 'Poppins';
}

.cancelbtn {
  background-color: #c0c0bf;
  border: 1px solid #c0c0bf;
  border-radius: 5px;
  color: #ffffff !important;
  padding: 6px;
  width: 60px;
  font-family: 'Poppins';
}

.delete-geofence{
  font-size: 14px; font-weight: 600; color:#ff0000; font-family: 'Poppins';
}

.flex-center {
  color: #338EF5;
  font-family: 'Poppins';
  font-size: 10px;
  text-align: center !important;
}

.assign-link {
  margin-top: 10px;
  color: #323D62;
  text-decoration: underline;
  font-size: 10px;
}

.assign-link:hover {
  text-decoration: underline;
}

td {
  vertical-align: middle;
  text-align: left;
}

.add-button {
  background-color: #ffffff;
  color: #fa751a;
  ;
  font-size: 11px;
  border-radius: 10px;
  padding: 6px 15px;
  text-align: center;
  width: 150px;
  border: 1px solid #fa751a;
}

.search-input {
  height: 37px;
  width: 200px;
  padding: 10px 15px 10px 36px;
  /* Space for icon on left */
  font-size: 11px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  background: white url("../../../../../../../../assets/images/search-01.svg") no-repeat 10px center;
  background-size: 16px 14px;
  outline: none;
}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.default-color {
  color: black; /* Optional default */
}

.no-drivers {
  color: gray; /* Optional for no drivers */
}

.align-top{
 vertical-align: top!important; padding-top:20px!important
}

.content-right {
  flex-grow: 1; /* Allows expansion */
  width: 84%!important;
}

.chart-container {
  position: relative; // This ensures the inner circle can be positioned relative to the chart
}
