
<div class="page-content page-content-main">
  <div class="row">
    <div class="container">
   <div class="col-xs-12 content-right">
      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <span class="breadcrumb-left" style="width: 50%;">
            <h1 class="login-headline heading-title">Tracking</h1>
            <!-- <ng-container *ngIf="user !='role_user_fleet' && user != 'role_Driver'">
              <ng-container *ngIf="customConsumer != 'Onwardfleet'">
                <div class="row">
                  <div class="col-xs-12 col-lg-3">
                      <h1 class="activeSinceFleet">{{customConsumer}}
                      </h1>
                  </div>
                  <div class="col-xs-12 col-lg-9">
                      <h1 class="activeSinceFleet" *ngFor="let consumer of consumerList">Active Since: {{ consumer.startDate }}
                      </h1>
                  </div>
              </div>
                </ng-container>
                <ng-container  *ngIf="customConsumer === 'Onwardfleet'">
                  <div class="row">
                    <div class="col-xs-12 col-lg-4">
                        <h1 class="activeSinceFleet">Onward Connected
                        </h1>
                    </div>
                    <div class="col-xs-12 col-lg-8">
                        <h1 class="activeSinceFleet" *ngFor="let consumer of consumerList">Active Since: {{ consumer.startDate }}
                        </h1>
                    </div>
                </div>
              </ng-container>
              </ng-container> -->
              <ng-container *ngIf="user ==='role_user_fleet'">
                  <!-- <h1 class="consumer">FleetId:{{fleetIdValueNew}}</h1> -->
                  <div class="content-text">
                      <span class="vin_container">
                        <span class="content-sub-text">Fleet Id</span>
                      </span>
                      <span class="content-sub-text2">{{fleetIdValueNew}}</span>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="user ==='role_Driver'">
                    <div class="row consumer-pad">
                      <div class="col-xs-12 col-lg-7">
                          <div class="content-text" style="margin-left: 12px; margin-top: 12px;">
                              <span class="vin_container">
                                <span class="content-sub-text">Fleet Id</span>
                              </span>
                              <span class="content-sub-text2">{{fleetIdValueNew}}</span>
                            </div>
                      </div>
                      </div>
                  </ng-container>
          </span>
          <ng-container *ngIf="user != 'role_Driver'">
          <span class="breadcrumb-right" style="width: 50%;" *ngIf="this.user != 'role_user_fleet'">
            <div class="row">
              <div class="col-xs-12 col-lg-4"> &nbsp;</div>
              <div class="col-xs-12 col-lg-4">
                  <ng-select [searchable]="true" class="newSelect1" [clearable]="true"
                      placeholder="Organization Id/Name" (change)="selectFleetId()" [(ngModel)]="fleetIdData">
                      <ng-option *ngFor="let fleet of fleetList" value="{{fleet.id}}">{{fleet.id}} -
                          [{{fleet.name}}]</ng-option>
                  </ng-select>
              </div>
              <div class="col-xs-12 col-lg-4">
                <ng-select [searchable]="true" class="newSelect" [clearable]="true" placeholder="Vehicle Name"
                  [(ngModel)]="VIN" (change)="selectVIN()">
                  <ng-option value="" disabled>Vehicle Name</ng-option>
                  <ng-option value="{{vin?.vin}}" *ngFor="let vin of vinList">{{vin?.alias}}</ng-option>
                </ng-select>
              </div>
          </div>
          </span>
        </ng-container>
        </div>
      </div>
      <div style="margin-top: 6px;">
        <div class="map-container card-padding">
          <div class="row">
            <div class="col-xs-12 col-lg-9">
              <div class="flex-space-between">
                <div class="flex-gap1">
                  <!--All vehicles-->
                  <div class="map-container card-sub-padding brdr-blue clickable" (click)="filterCar('ALL')"
                    [ngClass]="{ 'active': colorCode==null }">
                    <div class="flex-space-between flex-gap">
                      <div>
                        <div class="sub-text">All vehicles</div>
                        <div class="main-text">
                          <span [ngClass]="{ 'loading-background': isLoading }"
                            style="line-height: 25px; width: 100%">{{
                            totalVehicles}}</span>
                        </div>
                      </div>
                      <div>
                        <img src="../../.././../../../assets/images/all-vehicles-tracking.svg" alt="" srcset="" />
                      </div>
                    </div>
                  </div>
                  <!-- Moving Vehicle-->
                  <div class="map-container card-sub-padding brdr-green clickable" (click)="filterCar('GREEN')"
                    [ngClass]="{ 'active': colorCode=='GREEN' }">
                    <div class="flex-space-between flex-gap">
                      <div>
                        <div class="sub-text">Moving vehicles</div>
                        <div class="main-text">
                          <span [ngClass]="{ 'loading-background': isLoading }"
                            style="line-height: 25px; width: 100%">{{
                            movingVehicles }}</span>
                        </div>
                      </div>
                      <div>
                        <img src="../../.././../../../assets/images/moving-vehicles-tracking.svg" alt="" srcset="" />
                      </div>
                    </div>
                  </div>
                  <!-- Idle Vehicle-->
                  <div class="map-container card-sub-padding brdr-dblue clickable" (click)="filterCar('YELLOW')"
                    [ngClass]="{ 'active': colorCode=='YELLOW' }">
                    <div class="flex-space-between flex-gap">
                      <div>
                        <div class="sub-text">Idle Vehicle</div>
                        <div class="main-text">
                          <span [ngClass]="{ 'loading-background': isLoading }"
                            style="line-height: 25px; width: 100%">{{
                            idleVehicles }}</span>
                        </div>
                      </div>
                      <div>
                        <img src="../../.././../../../assets/images/idel.svg" alt="" rcset="" />
                      </div>
                    </div>
                  </div>
                  <!-- Parked Vehicles-->
                  <div class="map-container card-sub-padding brdr-red clickable" (click)="filterCar('RED')"
                    [ngClass]="{ 'active': colorCode=='RED' }">
                    <div class="flex-space-between flex-gap">
                      <div>
                        <div class="sub-text">Parked Vehicles</div>
                        <div class="main-text">
                          <span [ngClass]="{ 'loading-background': isLoading }"
                            style="line-height: 25px; width: 100%">{{
                            parkedVehicles }}</span>
                        </div>
                      </div>
                      <div>
                        <img src="../../.././../../../assets/images/parked.svg" alt="" srcset="" />
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-3" *ngIf="dataShowThershold">
              <!-- Overspeeding Threshold-->
              <div class="thershold">
                <div class="row">
                  <div class="col-xs-12 col-lg-12">
                    <h5 class="thershold-text">Over Speeding Threshold <img
                        src="../../../../../assets/images/info-icon.svg" style="height: 15px;"
                        ngbTooltip="As set on fleetready"></h5>
                    <h5 style="margin-left: 100px;" class="main-text"> {{ therShold ? therShold + ' mph' : '--' }}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row h-50">
        <div class="col-xs-12 col-lg-12">
          <div class="card" style="border-radius: 14px !important;">
            <div class="card-body1">
              <div class="row">
                <div class="col-xs 12 col-lg-12">
                    <div style="display: flex; flex-direction: row;">
                      <!-- Map with overlay layout -->
<div class="map-overlay-wrapper" style="position: relative; display: flex; width: 100%; height: 100%;">

  <!-- Map container (stretch full width behind) -->
 <div class="map-container" style="flex: 3; position: relative;">
      <div class="map-toggle-group">
        <button
          [class.active]="currentMapType === 'roadmap'"
          (click)="setMapType('roadmap')"
        >
          Map
        </button>
        <button
          [class.active]="currentMapType === 'satellite'"
          (click)="setMapType('satellite')"
        >
          Satellite
        </button>

        <!-- Button that opens the dropdown -->
        <!-- <button (click)="toggleLayerOptions()">
          <img src="../../../../../../../assets/images/folder-black.svg" alt="Layers" />
        </button>
       -->
        <!-- Optional vehicle icon -->
        <!-- <button (click)="toggleLayerOptions()">
          <img src="../../../../../../../assets/images/car_line.svg" alt="Vehicle" />
        </button> -->
      </div>

      <!-- Dropdown layer panel -->
      <div class="layer-dropdown" *ngIf="layerOptionsVisible">
        <label *ngFor="let option of layerOptions">
          <input
            type="checkbox"
            [(ngModel)]="option.selected"
          />
          {{ option.label }}
        </label>
      </div>
      <ng-container *ngIf="oldMap">
      <agm-map
      *ngIf="showMap || showPolyline"
      [latitude]="combinedCoords[0]?.[0] || latitude"
      [longitude]="combinedCoords[0]?.[1] || longitude"
      [zoom]="zoom"
      class="map-height"
      [styles]="mapStyles"
      [mapTypeId]="currentMapType"
      [fullscreenControl]="true"
      (mapReady)="onMapReady($event)">
      <!-- Start/End Markers with Info Window -->
      <agm-marker *ngFor="let coordinate of start_end_mark" [latitude]="coordinate?.endLat" [longitude]="coordinate?.endLong"  (markerClick)="openTab(coordinate);onSelectVehicle(coordinate)"
        [iconUrl]="{ url: getMarkerIcon(coordinate?.colorCode), scaledSize: { width: 14, height: 14 }}">
        <agm-info-window [isOpen]="true" *ngIf="showMap" [pixelOffset]="{ width: 20, height: -10 }">
          <div [ngStyle]="{ display: 'flex',  alignItems: 'center', backgroundColor: coordinate?.colorCode === 'RED'
          ? '#F96969'
          : coordinate?.colorCode === 'YELLOW'
            ? '#3B67D7'
            : coordinate?.colorCode,
              color: 'white', fontWeight: 'bold', fontSize: '10px',  padding: '4px 8px', borderRadius: '4px', whiteSpace: 'nowrap'}">
            <span style="margin-left: 6px;"
              ngbTooltip="{{ coordinate?.address || 'Address not available' }}" container="body"
              placement="right" tooltipClass="custom-ngb-tooltip"> {{ getDriverName(coordinate?.alias) }}</span>
          </div>
        </agm-info-window>
      </agm-marker>

      <!-- Multiple Polylines for all trips when no trip selected -->
      <ng-container *ngIf="!isTripSelected && allTripsCoordinatesArray.length">
        <!-- Loop through all trip coordinates -->
        <agm-polyline
          *ngFor="let tripCoords of allTripsCoordinatesArray; let i = index"
          [visible]="true" [strokeWeight]="4" [strokeColor]="'#21dd21'">
          <!-- Loop through coordinates for each trip -->
          <agm-polyline-point
            *ngFor="let coord of tripCoords" [latitude]="coord.lat" [longitude]="coord.lng">
          </agm-polyline-point>
          <!-- Start marker for the first trip -->
          <agm-marker *ngIf="i === 4" [latitude]="tripCoords[4].lat"
          [longitude]="tripCoords[4].lng"
          [iconUrl]="{
            url: '../../../../../../../assets/images/start_location.svg',
            scaledSize: { width: 14, height: 14 }
          }">
        </agm-marker>
        </agm-polyline>
      </ng-container>
      <!-- Polyline for the selected trip -->
     <!-- Normal Trip Polyline (Green Line) -->
<!-- Green polyline for full trip -->
<agm-polyline
  *ngIf="isTripSelected && snappedPolylineCoords.length"
  [strokeColor]="'#45b01f'"
  [strokeWeight]="2"
  [zIndex]="1">
  <agm-polyline-point
    *ngFor="let point of snappedPolylineCoords"
    [latitude]="point.lat"
    [longitude]="point.lng">
  </agm-polyline-point>
</agm-polyline>

<!-- Red alert segments (overspeeding or harsh_cornering) -->
<agm-polyline
  *ngFor="let segment of alertSegments"
  [strokeColor]="segment.color"
  [strokeWeight]="2"
  [zIndex]="10">
  <agm-polyline-point [latitude]="segment.start[0]" [longitude]="segment.start[1]"></agm-polyline-point>
  <agm-polyline-point [latitude]="segment.end[0]" [longitude]="segment.end[1]"></agm-polyline-point>
</agm-polyline>
<!-- Event markers for alerts -->
<agm-marker
  *ngFor="let marker of eventMarkers"
  [latitude]="marker.lat"
  [longitude]="marker.lng"
  [iconUrl]="
    hoveredAlertId === marker.formattedAlertTime
      ? marker.highlightIcon.url
      : marker.icon.url
  "
  [title]="
    marker.alertType
    + ' at '
    + marker.formattedAlertTime
    + '\nLocation: '
    + marker.address
  ">
</agm-marker>

<!-- Start marker for the selected trip -->
<agm-marker
  *ngIf="isTripSelected && start_end_mark[0]?.startLat && start_end_mark[0]?.startLng"
  [latitude]="start_end_mark[0].startLat"
  [longitude]="start_end_mark[0].startLng"
  [iconUrl]="{
    url: '../../../../../../../assets/images/start_location.svg',
    scaledSize: { width: 18, height: 18 }
  }">

  <!-- <agm-info-window [isOpen]="startInfoWindowOpen">
    <div style="padding: 12px;
    font-size: 12px;
    font-family: 'Poppins';
    color: #fff;
    text-align: justify;
    background-color: #92908E;
    width: 251px;
    height: 76px;" class="demo">
      <span [ngbTooltip]="start_end_mark[0]?.startAddress"  container="body" placement="right">
        Start Location: {{ start_end_mark[0]?.startAddress || 'Address not available' }}
      </span>
    </div>
  </agm-info-window> -->
</agm-marker>
<!-- End marker(s) for the selected trip -->
<ng-container *ngIf="isTripSelected">
  <agm-marker
    *ngFor="let trip of start_end_mark"
    [latitude]="trip.endLat"
    [longitude]="trip.endLng"
    [iconUrl]="{
      url: '../../../../../../../assets/images/end_location.svg',
      scaledSize: { width: 18, height: 18 }
    }">

    <!-- <agm-info-window [isOpen]="tripInfoWindowOpen[trip.endLat + trip.endLng]">
      <div style="padding: 12px;
      font-size: 12px;
      font-family: 'Poppins';
      color: #fff;
      text-align: justify;
      background-color: #92908E;
      width: 251px;
      height: 76px;">
        <span [ngbTooltip]="trip?.endAddress"  container="body" placement="right">
          End Location: {{ trip?.endAddress || 'Address not available' }}
        </span>
      </div>
    </agm-info-window> -->
  </agm-marker>
</ng-container>
      <!-- End markers for each trip when no trip is selected -->
      <agm-marker
      *ngFor="let point of eachTripEndPoints"
      [latitude]="point.lat"
      [longitude]="point.lng"
      [iconUrl]="{
        url: '../../../../../../../assets/images/end_location.svg',
        scaledSize: { width: 14, height: 14 }
      }"  (markerClick)="onArrowClick(point.trip)">
    </agm-marker>


    </agm-map>
  </ng-container>
  <agm-map *ngIf="newMap"
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  class="map-height"
  [styles]="mapStyles"
  [mapTypeId]="currentMapType"
  (mapReady)="onMapReady($event)"
 >

  <!-- Vehicle live marker -->
  <agm-marker
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="20"
    [iconUrl]="{
      url: './assets/images/small-icon.png',
      scaledSize: { width: 15, height: 15 }
    }"
    [markerDraggable]="false">
  </agm-marker>

  <!-- End location marker -->
  <agm-marker
    *ngIf="LatLng?.endLat && LatLng?.endLong"
    [latitude]="LatLng.endLat"
    [longitude]="LatLng.endLong"
    [iconUrl]="{
      url: './assets/images/small-icon.png',
      scaledSize: { width: 20, height: 20 }
    }"
    [markerDraggable]="false">
  </agm-marker>

  <!-- Snapped Polyline -->
  <agm-polyline *ngIf="snappedWaypoints?.length > 1" [strokeColor]="'#07b57a'" [strokeWeight]="2">
    <agm-polyline-point *ngFor="let point of snappedWaypoints"
        [latitude]="point.lat"
        [longitude]="point.lng">
    </agm-polyline-point>
  </agm-polyline>

  <!-- Regular polyline with overspeed segments -->
  <ng-container *ngFor="let segment of polylines">
    <agm-polyline
      [strokeColor]="segment.strokeColor"
      [strokeWeight]="segment.strokeWeight"
      [strokeOpacity]="segment.strokeOpacity">
      <agm-polyline-point *ngFor="let pt of segment.path"
          [latitude]="pt.lat"
          [longitude]="pt.lng">
      </agm-polyline-point>
    </agm-polyline>
  </ng-container>

  <!-- Alert markers -->
  <agm-marker *ngFor="let alert of alertMarkers"
      [latitude]="alert.lat"
      [longitude]="alert.lng"
      [iconUrl]="{
        url: alert.iconUrl,
        scaledSize: { width: 25, height: 25 }
      }"
      [markerDraggable]="false"
      [title]="alert.title">
  </agm-marker>

  <!-- Vehicle circle -->
  <agm-circle
    [latitude]="latitude"
    [longitude]="longitude"
    [radius]="30"
    [fillColor]="'#ef8321'"
    [circleDraggable]="false"
    [editable]="false">
  </agm-circle>

</agm-map>


 </div>
  <!-- Right-side box (absolute over the map) -->
  <div
    class="right-side-box"
    style="
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    width: 310px;
    background: #fff;
    border-left: 1px solid #ddd;
    z-index: 10;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  "
  >
  <div class="right-side-box" style="flex: 1; max-width: 350px; background: #fff;height: 568px; display: flex; flex-direction: column;     border-top-left-radius: 10px !important; border-top-right-radius: 10px;">
    <!-- Fixed Header -->
    <ng-container *ngIf="!selectedVehicle">
      <div style="padding: 5px 10px 5px 10px; border-bottom: 1px solid #ccc; background-color: #f97316; color: white;border-top-left-radius: 10px;
    border-top-right-radius: 10px;">
      <h4 class="left-box-heaidng">All Vehicles</h4>
      <small class="showAll">showing <b>
        <span
        *ngIf="updateTodayVehicle === undefined || updateTodayVehicle === null">
        <i class="fa fa-spinner fa-spin icon-loading"></i>
    </span>
    <span
        *ngIf="updateTodayVehicle !== undefined && updateTodayVehicle !== null"
        class="text_number">
        {{ updateTodayVehicle }}
    </span>
      </b> of <b>
        <span
        *ngIf="totalVehicles === undefined || totalVehicles === null">
        <i class="fa fa-spinner fa-spin icon-loading"></i>
    </span>
    <span
        *ngIf="totalVehicles !== undefined && totalVehicles !== null"
        class="text_number">
        {{ totalVehicles }}
    </span></b> Vehicles</small>
    </div>

    <!-- Fixed Filter Label -->
   <div style="overflow-y: auto; flex: 1;">
      <div style="padding: 10px; border-bottom: 1px solid #eee;" *ngFor="let data of latestUpdatedVehicles">
        <div class="row">
          <div class="col-xs-12 col-lg-7">
                 <h5 class="left-data" (click)="handleVehicleClick(data)" style="cursor: pointer;" >{{ data?.alias }}

                 </h5>

            <ng-container [ngSwitch]="data?.colorCode">
              <!-- RED: Stopper -->
              <h5 *ngSwitchCase="'RED'" class="time-data" style="color: #ff0000;">
                Stopped for {{ data?.lastUpdatedDiff }}
              </h5>

              <!-- GREEN: Ongoing Trip -->
              <h5 *ngSwitchCase="'GREEN'" class="time-data-head">
                Ongoing Trip
              </h5>

              <!-- BLUE: Vehicle Parked -->
              <h5 *ngSwitchCase="'YELLOW'" class="time-data" style="color:#4680FF">
                Vehicle Idle since {{ data?.lastUpdatedDiff }}
              </h5>

              <!-- Optional: Default Case -->
              <h5 *ngSwitchDefault class="time-data">
                Status Unknown
              </h5>
            </ng-container>
            <h5 class="address" [title]="data?.address">
              {{ data?.address }}
            </h5>

          </div>
          <div class="col-xs-12 col-lg-4">
            <h5>&nbsp;</h5>
           <h5 class="left-data-mph">
            {{
              data?.colorCode === 'GREEN'
              ? ((data?.speed || 0).toFixed(2) + ' mph')
              : '0.00 mph'
            }}

</h5>
          </div>
          <div class="col-xs-12 col-lg-1 refresh-cion" *ngIf="data?.colorCode === 'GREEN' ">
            <img src="../../../../../../../assets/images/icon-vehicle/refresh.svg"  (click)="refreshSingleVehicleSpeed(data?.vin)" style="cursor: pointer;" [class.spin-animation]="refreshingVin === data?.vin">
          </div>
        </div>
      </div>

    </div>
    </ng-container>
    <ng-container *ngIf="selectedVehicle">
      <ng-container *ngIf="!selectedTripId">
      <div style="padding: 5px 10px 5px 10px; border-bottom: 1px solid #ccc; background-color: #f97316; color: white;   border-top-left-radius: 10px !important; border-top-right-radius: 10px;">
        <span style="float: left; cursor: pointer;" (click)="resetSelection()"><i class="fa fa-long-arrow-left back-icon"></i></span>
        <span style="float: left; width: 90%;">
          <h4 class="left-box-heaidng-history">Trip History</h4>
       <div class="row">
        <div class="col-xs-12 col-lg-5">
          <small class="showAll" style="margin-left: 10px;">{{ maskVins(selectedVehicle?.alias) }}</small>
        </div>
        <div class="col-xs-12 col-lg-7">
          <img src="../../../.././../../../assets/images/icon/driver-icon.svg" style="height: 10px;
          margin-right: 10px;
      ">
      <ng-container *ngIf="selectedVehicle?.driverName != 'null null'">
      {{ selectedVehicle?.driverName }}
    </ng-container>
    <ng-container *ngIf="selectedVehicle?.driverName === 'null null'">
      --
    </ng-container>
        </div>
       </div>
      </span>
      </div>
      <div style="padding: 10px; border-bottom: 1px solid #eee;">
        <span class="available-Vehicle">
          Trip View
        </span>
        <span style="font-family: 'Poppins'; font-size: 12px; font-weight: 500; color:#102c52!important; float: left;margin-left: 150px !important; margin-top: -20px;">
          <div class="custom-datepicker" (click)="$event.stopPropagation()">
            <div class="date-picker-wrapper" (click)="toggleCalendar()">
              <input
                type="text"
                placeholder="Select Date"
                [value]="displayDate"
                readonly
                (click)="toggleCalendar()"
              />
              <i class="fa fa-calendar calendar-icon"></i>
            </div>

            <div class="calendar" *ngIf="showCalendar">
              <!-- Calendar Header -->
              <div class="calendar-header">
                <button (click)="prevMonth()">&lt;</button>
                <span>{{ months[currentMonth] }} {{ currentYear }}</span>
                <button (click)="nextMonth()">&gt;</button>
              </div>

              <!-- Day Names -->
              <div class="calendar-days">
                <div *ngFor="let day of dayNames">{{ day }}</div>
              </div>

              <!-- Dates -->
              <div class="calendar-dates">
                <div
                  *ngFor="let date of dates"
                  [class.disabled]="!date.active || isFutureDate(date)"
                  [class.today]="isToday(date)"
                  (click)="selectDate(date)"
                  (mouseenter)="hoverDate(date)"
                  (mouseleave)="resetHover()"
                >
                  {{ date.day }}
                </div>
              </div>
            </div>
          </div>
        </span>

      </div>
      <div style="padding: 10px; border-bottom: 1px solid #eee;">
        <div style="display: flex; justify-content: space-between; max-width: 500px; padding: 4px 4px;">

          <!-- Make -->
          <div style="text-align: center;">
            <div style="font-size: 12px; color: #999; font-family: 'Poppins';">Make</div>
            <div style="font-weight: 600; color:#6a6969; font-size: 12px; font-family: 'Poppins';">
        <!-- Show loading spinner if make is undefined or null -->
<span *ngIf="eligibilityData?.make === undefined || eligibilityData?.make === null">
  <i class="fa fa-spinner fa-spin icon-loading"></i>
</span>
<span *ngIf="eligibilityData?.make !== undefined && eligibilityData?.make !== null" class="text_number">
  {{ (eligibilityData?.make === '-1') ? '--' : eligibilityData?.make }}
</span>

            </div>
          </div>

          <!-- Model -->
          <div style="text-align: center;">
            <div style="font-size: 12px; color: #999; font-family: 'Poppins';">Model</div>
            <div style="font-weight: 600; color:#6a6969; font-size: 12px; font-family: 'Poppins';">
              <span
              *ngIf="eligibilityData?.model === undefined || eligibilityData?.model === null">
              <i class="fa fa-spinner fa-spin icon-loading"></i>
          </span>
          <span
              *ngIf="eligibilityData?.model !== undefined && eligibilityData?.model !== null"
              class="text_number">
              {{ (eligibilityData?.model === '-1') ? '--' : eligibilityData?.model }}
          </span>
          </div>
          </div>

          <!-- Year -->
          <div style="text-align: center;">
            <div style="font-size: 12px; color: #999; font-family: 'Poppins';">Year</div>
            <div style="font-weight: 600; color:#6a6969; font-size: 12px; font-family: 'Poppins';">
           <!-- Show spinner if year is undefined -->
<span *ngIf="eligibilityData?.year === undefined">
  <i class="fa fa-spinner fa-spin icon-loading"></i>
</span>

<!-- Show '--' if year is null (actual null or string 'null') -->
<span *ngIf="eligibilityData?.year === null || eligibilityData?.year === 'null'" class="text_number">
  --
</span>

<!-- Show actual year if it is defined and not null -->
<span *ngIf="eligibilityData?.year !== undefined && eligibilityData?.year !== null && eligibilityData?.year !== 'null'" class="text_number">
  {{ eligibilityData?.year }}
</span>
            </div>
          </div>
          <!-- Total Trips -->
          <div style="text-align: center;">
            <div style="font-size: 12px; color: #999; font-family: 'Poppins';">Total Trips</div>
            <div style="font-weight: 600; color:#6a6969; font-size: 12px; font-family: 'Poppins';">
              <span
              *ngIf="tripDataLength === undefined || tripDataLength === null">
              <i class="fa fa-spinner fa-spin icon-loading"></i>
          </span>
          <span
              *ngIf="tripDataLength !== undefined && tripDataLength !== null"
              class="text_number">
              {{tripDataLength}}
          </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Show "No data found" if no trips -->
      <div *ngIf="tripDataLength === 0 && eventType !== 'trip_ongoing'"
      style="text-align: center; margin-top: 20px; font-family: 'Poppins';">
   No trips available on selected date
 </div>

 <div *ngIf="eventType === 'trip_ongoing'"
      style="text-align: center; margin-top: 20px; font-family: 'Poppins';">
   Trip is in progress
 </div>

 <div *ngIf="tripDataLength !== 0 && eventType !== 'trip_ongoing'"
      style="text-align: center;">
&nbsp;
 </div>
            <div *ngIf="tripDataLength >= 1" style="overflow-y: auto; flex: 1;">
              <ng-container *ngIf="filteredData && filteredData.length > 0 && colorCode === 'GREEN'">
              <ng-container *ngFor="let group of filteredData">
                <div class="row" style="padding: 10px; border-bottom: 1px solid #eee;background-color: #f2f2f2" >
                  <div class="col-xs-12 col-lg-2">
                    <img src="../../../../../../../assets/images/suffle.svg" style="height: 40px;">
                  </div>
                  <div class="col-xs-12 col-lg-9" style="margin-right: 16px;">
                    <h5 class="date-time" style="cursor: pointer;">
                      <div *ngIf="group?.formattedStartTime">
                        {{ group.formattedStartTime }}
                      </div>
                    </h5>
                    <!-- <span class="vehicle-info-row">
                      <h5 class="vehicle-info">
                        <span style="float: left;color:#25A522">
                        {{ formatMinutesToHourMins(trip.tripDurationInMinutes) }} &nbsp;|&nbsp; </span>
                        <span  style="float: left; color:#4680FF">{{ formatMinutesToHourMinu(trip.cxIdlingDuration) }} &nbsp;|&nbsp; </span>
                        <span  style="float: left;">{{ trip.cxTripDistance || '0' | number:'1.2-2' }} mi &nbsp;|&nbsp; </span>
                        <span  style="float: left;">{{ trip.alertsDuringTrip || 0 }} alerts</span>
                      </h5>
                    </span> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-lg-12">
                      <div class="timeline-new-main">
                        <div class="row">
                        <div class="col-xs-12 col-lg-2">
                          <div class="time-new">{{group.formattedStartTimes}}</div>
                        </div>
                        <div class="col-xs-12 col-lg-1">
                          <img src="../../../../../../../assets/images/start_location.svg" class="start_lo">
                        </div>
                        <div class="col-xs-12 col-lg-9">
                          <div class="address-new">{{group.address}}</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 col-lg-1">&nbsp;</div>
                        <div class="col-xs-12 col-lg-1"></div>
                      </div>
                        <div class="event">
                          <div class="row">
                            <div class="col-xs-12 col-lg-2">
                              <div class="time-new" style="text-align: center!important;"> -- </div>
                            </div>
                            <div class="col-xs-12 col-lg-1" style="margin-left: 22px;">
                              <img src="../../../../../../../assets/images/end_location.svg" class="start_lo">
                            </div>
                            <div class="col-xs-12 col-lg-8" style="width: 50%;">
                              <div class="address-new"> ------- </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    </div>
              </ng-container>
            </ng-container>
              <ng-container  *ngFor="let group of getData">
              <div *ngFor="let trip of group.tripList">
                <div>
                <div class="row" style="padding: 10px; border-bottom: 1px solid #eee;background-color: #e9e9e9" >
                  <div class="col-xs-12 col-lg-2">
                    <img src="../../../../../../../assets/images/suffle.svg" style="height: 40px;">
                  </div>
                  <div class="col-xs-12 col-lg-9" style="margin-right: 16px;">
                    <h5 class="date-time" (click)="toggleArrow(trip)" style="cursor: pointer;">
                      {{ trip.formattedDates }} {{ trip.formattedTimes }}
                      <i class="fas arrow"
                         [ngClass]="selectedTripId === trip.tripId ? 'fa-chevron-down' : 'fa-chevron-right'">
                      </i>
                    </h5>
                    <span class="vehicle-info-row">
                      <h5 class="vehicle-info">
                        <span style="float: left;color:#25A522">
                        {{ formatMinutesToHourMins(trip.tripDurationInMinutes) }} &nbsp;|&nbsp; </span>
                        <span style="float: left;">
                          <ng-container *ngIf="trip.cxIdlingDuration !== undefined; else loading">
                            <ng-container *ngIf="trip.cxIdlingDuration === null; else showDuration">
                              <span>--</span>
                            </ng-container>
                          </ng-container>
                          <ng-template #showDuration>
                            <span style="color: #4680FF;">
                              {{ formatSecondsToHourMinu(trip.cxIdlingDuration) }}
                            </span> idling &nbsp;|&nbsp;
                          </ng-template>
                          <ng-template #loading>
                            <span class="spinner" style="color: #4680FF;"><i class="fa fa-spinner fa-spin"></i></span>
                          </ng-template>
                        </span>
                        <span  style="float: left;">{{ trip.cxTripDistance || '0' | number:'1.2-2' }} mi &nbsp;|&nbsp; </span>
                        <span  style="float: left;">{{ trip.alertCount || 0 }} alerts</span>
                      </h5>
                    </span>
                    </div>
                </div>
                <div class="row" style="padding: 10px; height:auto; border-bottom: 1px solid #eee;background-color: #ffffff" >
                  <div class="col-xs-12 col-lg-12">
                    <div class="row" >
                      <div class="col-xs-12 col-lg-2">
                        <div class="time-start"> {{ trip.formattedTimes }}</div>
                      </div>
                      <div class="col-xs-12 col-lg-1">
                        <div class="">
                          <img src="../../../../../../assets/images/green-icon.svg" style="margin-top: 6px;">
                        </div>
                      </div>
                      <div class="col-xs-12 col-lg-9">
                        <div class="address-new"> <span
                          *ngIf="trip.startAddress === undefined || trip.startAddress === null">
                          <i class="fa fa-spinner fa-spin icon-loading"></i>
                        </span>
                        <span
                          *ngIf="trip.startAddress !== undefined && trip.startAddress !== null"
                          class="address-new">
                          {{trip.startAddress}}
                        </span></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-lg-2">
                        <div class="time-start"> {{ trip.formattedTimesEnd }}</div>
                      </div>
                      <div class="col-xs-12 col-lg-1">
                        <div class="marker orange"></div>
                      </div>
                      <div class="col-xs-12 col-lg-9">
                        <div class="address-new">  <span *ngIf="trip.endAddress === undefined || trip.endAddress === null">
                          <i class="fa fa-spinner fa-spin icon-loading"></i>
                        </span>
                        <span *ngIf="trip.endAddress !== undefined && trip.endAddress !== null"
                          class="address-new">
                          {{trip.endAddress}}
                        </span></div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <div>
                <div class="row" style="padding: 10px; border-bottom: 1px solid #eee;background-color: #e9e9e9"  >
                  <div class="col-xs-12 col-lg-2">
                    <img src="../../../../../../../assets/images/stopped.svg" style="height: 40px;">
                  </div>
                  <div class="col-xs-12 col-lg-9">
                    <h5 class="date-time">{{ subtractMinutes(trip.startTimeStamp, trip.timeGapFromPrevious) }}</h5>
                    <h5 class="diff-datetime">{{ formatMinutesToHourMin(trip.timeGapFromPrevious) }} Stopped</h5>
                    </div>
                </div>
                <div class="row" style="padding: 10px; height:auto; border-bottom: 1px solid #eee;background-color: #ffffff" >
                  <div class="col-xs-12 col-lg-12">
                    <div class="row" >
                      <div class="col-xs-12 col-lg-2">
                        <div class="time-start"> {{ subtractMinutesForStopped(trip.startTimeStamp, trip.timeGapFromPrevious) }}</div>
                      </div>
                      <div class="col-xs-12 col-lg-1">
                        <div class="marker red"></div>
                      </div>
                      <div class="col-xs-12 col-lg-9">
                        <div class="address-new">{{trip.startAddress}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <div class="row" *ngIf="selectedTripId === trip.tripId && selectedTripDetails">
                  <div class="col-xs-12 col-lg-12" style="background-color: #fff; height: 90px; line-height: 10px; border-top: 1px solid #eee; border-bottom: 1px solid #eee;">
                    <div class="timeline-new">
                      <div class="event">
                        <div class="time-new"> {{ trip.formattedTimes }}</div>
                        <div class="marker-container">
                          <div class="">
                            <img src="../../../../../../assets/images/orange-icon-stop.svg" style="margin-top: -4px;">
                          </div>
                        </div>
                        <div class="address-new">{{ selectedTripDetails.endAddress }}</div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

          </ng-container>
            </div>
    </ng-container>
    </ng-container>
    <ng-container *ngIf="selectedTripId && selectedTrip">
      <div style="padding: 5px 10px 5px 10px; border-bottom: 1px solid #ccc; background-color: #f97316; color: white;   border-top-left-radius: 10px !important; border-top-right-radius: 10px;">
        <span style="float: left; cursor: pointer;"  (click)="backFromTrip()"><i class="fa fa-long-arrow-left back-icon"></i></span>
        <span style="float: left; width: 90%;">
          <h4 class="left-box-heaidng-history">{{selectedVehicle?.alias}}</h4>
       <div class="row">
        <div class="col-xs-12 col-lg-12">
          <small class="showAll" style="margin-left: 10px;">{{ selectedTrip?.formattedDates }}, {{ selectedTrip?.formattedTimes }}
          </small>
        </div>
       </div>
      </span>

      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <div class="timeline-new-main">
            <div class="row">
            <div class="col-xs-12 col-lg-2">
              <div class="time-new">{{ selectedTrip.formattedTimes }}</div>
            </div>
            <div class="col-xs-12 col-lg-1">
              <div class="">
                <img src="../../../../../../assets/images/green-icon.svg" style="margin-top: 6px;">
              </div>
            </div>
            <div class="col-xs-12 col-lg-9">
              <div class="address-new">{{ dataForVehicleDetails?.startAddress }}</div>
            </div>
          </div>
            <div class="event">
              <div class="row">
                <div class="col-xs-12 col-lg-2">
                  <div class="time-new">{{ selectedTrip.formattedTime }}</div>
                </div>
                <div class="col-xs-12 col-lg-1">
                  <div class="">
                    <img src="../../../../../../assets/images/orange-icon-stop.svg" style="margin-top: -4px;">
                  </div>
                </div>
                <div class="col-xs-12 col-lg-9">
                  <div class="address-new">{{ dataForVehicleDetails?.endAddress }}</div>
                </div>
              </div>
              <!-- <div class="time-new"></div>
              <div class="marker-container">

              </div>
              <div class="address-new"></div> -->
            </div>

          </div>
        </div>
      </div>
  <div class="row" style="height: 390px; overflow-y: auto; flex:1">
        <div class="col-xs-12 col-lg-12">
          <div class="tabs">
            <button (click)="selectedTab = 'events'" [class.active]="selectedTab === 'events'">Events</button>
            <button (click)="selectedTab = 'vehicle'" [class.active]="selectedTab === 'vehicle'">Vehicle details</button>
          </div>

          <div *ngIf="selectedTab === 'events'">
            <ng-container *ngIf="dataForVehicleDetails?.cxAlerts?.length; else noEventsTemplate">
              <div class="row data-row" *ngFor="let alert of dataForVehicleDetails.cxAlerts"
                 (mouseenter)="hoveredAlertId = alert.formattedAlertTime"
                 (mouseleave)="hoveredAlertId = null"
                 [ngClass]="{'hovered': hoveredAlertId === alert.formattedAlertTime}">
                <div class="col-xs-12 col-lg-12">
                  <span style="float: left;">
                    <img [src]="getAlertIcon(alert.alert_description)" class="icon-vehicle" />
                  </span>
                  <span style="float: left;">
                    <h6 class="event-data">
                      <ng-container *ngIf="alert.alert_description === 'overspeeding'">Overspeeding</ng-container>
                      <ng-container *ngIf="alert.alert_description === 'night_driving'">Night Driving</ng-container>
                      <ng-container *ngIf="alert.alert_description === 'harsh_cornering'">Harsh Cornering</ng-container>
                      <ng-container *ngIf="alert.alert_description === 'harsh_braking'">Harsh Braking</ng-container>
                      <ng-container *ngIf="alert.alert_description === 'harsh_acceleration'">Harsh Acceleration</ng-container>
                      <ng-container *ngIf="alert.alert_description === 'low_battery_charge'">Low Battery</ng-container>
                      <ng-container *ngIf="alert.alert_description === 'gps_signal_lost'">GPS Signal Lost</ng-container>
                    </h6>
                  </span>
                  <span style="float: right;">
                    <h6 class="event-data">
                      {{ alert.alert_description === 'night_driving' ? alert.originalAlertTimeFormatted  : alert.formattedAlertTime }}
                    </h6>
                  </span>
                </div>
              </div>
            </ng-container>

            <!-- Template for when there are no alerts -->
            <ng-template #noEventsTemplate>
              <div class="row data-row">
                <div class="col-xs-12 col-lg-12">
                  <h6 class="event-data">No event triggered</h6>
                </div>
              </div>
            </ng-template>


          </div>

          <div *ngIf="selectedTab === 'vehicle'" class="vehicle-grid">

            <div class="vehicle-detail">
              <div class="icons"><img src="../../../../../../../assets/images/icon-vehicle/vehicle_status.svg" style="height: 14px;"></div>
              <div class="text">
                <div class="label">Vehicle Status</div>
                <div class="value">Good</div>
              </div>
            </div>

            <div class="vehicle-detail">
              <div class="icons"><img src="../../../../../../../assets/images/icon-vehicle/driver_score.svg" style="height: 14px;"></div>
              <div class="text">
                <div class="label">Driver Score</div>
                <div class="value">{{dataForVehicleDetails?.cxDriverBehaviourScore}}</div>
              </div>
            </div>

            <div class="vehicle-detail">
              <div class="icons"><img src="../../../../../../../assets/images/icon-vehicle/speed.svg" style="height: 14px;"></div>
              <div class="text">
                <div class="label">Speed</div>
                <div class="value">{{dataForVehicleDetails?.cxAvgVehicleSpeed | number:'1.2-2'}} mph</div>
              </div>
            </div>

            <div class="vehicle-detail">
              <div class="icons"><img src="../../../../../../../assets/images/icon-vehicle/top_speed.svg" style="height: 14px;"></div>
              <div class="text">
                <div class="label">Top Speed</div>
                <div class="value">{{dataForVehicleDetails?.maxSpeed | number:'1.2-2'}} mph</div>
              </div>
            </div>

            <div class="vehicle-detail">
              <div class="icons"><img src="../../../../../../../assets/images/icon-vehicle/fuel_consumed.svg" style="height: 14px;"></div>
              <div class="text">
                <div class="label">Fuel Consumed</div>
                <div class="value">{{dataForVehicleDetails?.cxFuelConsumed | number:'1.2-2'}} gal</div>
              </div>
            </div>

            <div class="vehicle-detail">
              <div class="icons"><img src="../../../../../../../assets/images/icon-vehicle/odometer.svg" style="height: 14px;"></div>
              <div class="text">
                <div class="label">Odometer</div>
                <div class="value">{{dataForVehicleDetails?.endOdometer | number:'1.0-0'}} mi</div>
              </div>
            </div>
            <div class="vehicle-detail">
              <div class="icons"><img src="../../../../../../../assets/images/icon-vehicle/ev_range.svg" style="height: 14px;"></div>
              <div class="text">
                <div class="label">EV Range</div>
                <div class="value" *ngIf="dataForVehicleDetails?.evRangeMilesPerKWh != -1">{{dataForVehicleDetails?.evRangeMilesPerKWh}}</div>
                <div class="value" *ngIf="dataForVehicleDetails?.evRangeMilesPerKWh == -1">NA</div>
              </div>
            </div>

            <div class="vehicle-detail">
              <div class="icons"><img src="../../../../../../../assets/images/icon-vehicle/trip_distane.svg" style="height: 14px;"></div>
              <div class="text">
                <div class="label">Trip Distance</div>
                <div class="value">{{dataForVehicleDetails?.cxTripDistance | number:'1.2-2'}} mi</div>
              </div>
            </div>

            <div class="vehicle-detail">
              <div class="icons"><img src="../../../../../../../assets/images/icon-vehicle/fuel_level.svg" style="height: 14px;"></div>
              <div class="text">
                <div class="label">Fuel Level</div>
                <div class="value">{{dataForVehicleDetails?.fuelLevel | number:'1.2-2'}} gal </div>
              </div>
            </div>

            <div class="vehicle-detail">
              <div class="icons"><img src="../../../../../../../assets/images/icon-vehicle/trip_duratiln.svg" style="height: 14px;"></div>
              <div class="text">
                <div class="label">Trip Duration</div>
                <div class="value">{{formatDuration(dataForVehicleDetails?.cxDuration)}}</div>
              </div>
            </div>
            <div class="vehicle-detail">
              <div class="icons"><img src="../../../../../../../assets/images/icon-vehicle/bettery_level.svg" style="height: 14px;"></div>
              <div class="text">
                <div class="label">Battery Level</div>
                <div class="value" *ngIf="dataForVehicleDetails?.cxEvLevel != -1">{{dataForVehicleDetails?.cxEvLevel}}</div>
                <div class="value" *ngIf="dataForVehicleDetails?.cxEvLevel == -1">NA</div>
              </div>
            </div>



            <div class="vehicle-detail">
              <div class="icons"><img src="../../../../../../../assets/images/icon-vehicle/mileahe.svg" style="height: 14px;"></div>
              <div class="text">
                <div class="label">Mileage</div>
                <div class="value" *ngIf="dataForVehicleDetails?.mileage != null">{{dataForVehicleDetails?.mileage | number:'1.2-2'}} mpg</div>
                <div class="value" *ngIf="dataForVehicleDetails?.mileage == null">NA</div>
              </div>
            </div>
            <div class="vehicle-detail">
              <div class="icons"><img src="../../../../../../../assets/images/icon-vehicle/ev_battery.svg" style="height: 14px;"></div>
              <div class="text">
                <div class="label">EV Battery Consumed</div>
                <div class="value" *ngIf="dataForVehicleDetails?.batteryConsumed != -1">{{dataForVehicleDetails?.batteryConsumed}} %</div>
                <div class="value" *ngIf="dataForVehicleDetails?.batteryConsumed == -1">NA</div>
              </div>
            </div>
            <div class="vehicle-detail">
              <div class="icons"><img src="../../../../../../../assets/images/icon-vehicle/ev_remaining.svg" style="height: 14px;"></div>
              <div class="text">
                <div class="label">EV Battery Remaining</div>
                <div class="value" *ngIf="dataForVehicleDetails?.remainingBattery != -1">{{dataForVehicleDetails?.remainingBattery}}</div>
                <div class="value" *ngIf="dataForVehicleDetails?.remainingBattery == -1">NA</div>
              </div>
            </div>



        </div>
      </div>
  </div>
  </ng-container>
  </div>

</div>

<!-- <div #mapContainer style="width: 100%; height: 600px;"></div> -->

                      <!-- Map Container -->


                      <!-- Right Side Box -->


                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<ng-template #nodatafound let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <img src="../../../../../../assets/images/notrip.png">
    </div>
</ng-template>

<ng-template #noVehicleActivity let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <img src="../../../../../../assets/images/images.png" style="margin-left: 115px;">
    <h5 class="no-data-found">No vehicle activity detected</h5>
  </div>
</ng-template>
