<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="large" color="#fff" type="ball-elastic-dots" [fullScreen]="true">
  <div class="custom-spinner">
    <img src="../../../../../assets/images/spinner3.svg" alt="Loading" />
  </div>
  <div class="loading-text">Please wait, we are getting information...</div>
</ngx-spinner>

<div class="page-content page-content-main">
  <div class="row left-navigation">
    <!-- Left side menu-->
    <div class="col-xs-12 col-lg-2 navbar-side-menu">
      <app-sidebar></app-sidebar>
    </div>
    <!-- Left side menu end -->

    <!-- Right side content -->
    <div class="col-xs-12 col-lg-10 content-right" style="margin-left: 18%; width: 82%;">
      <!-- Chat Interface -->
      <div class="chatgpt-page mt-4">
        <div class="chatgpt-messages px-4">
          <div *ngFor="let msg of messages">
            <div [ngClass]="{ 'text-end': msg.type === 'user', 'text-start': msg.type === 'bot' }">
              <div
                class="chat-bubble my-2 px-3 py-2 rounded"
                [ngClass]="{
                  'user-msg bg-light text-dark': msg.type === 'user',
                  'bot-msg bg-light text-dark': msg.type === 'bot'
                }"
              >
                {{ msg.text }}
              </div>
            </div>
          </div>
        </div>

        <!-- Next Questions -->
        <div class="mt-4 px-4" *ngIf="nextQuestions.length">
          <h5>Related Questions:</h5>
          <ul class="list-unstyled">
            <li *ngFor="let question of nextQuestions" class="my-2">
              <button class="btn btn-outline-secondary w-100 text-start" (click)="handleSuggestionClick(question)">
                {{ question }}
              </button>
            </li>
          </ul>
        </div>

        <!-- Chat Input -->
        <div class="chatgpt-input-wrapper">
          <div class="chat-container px-4 py-2">
            <textarea
              [(ngModel)]="chatInput"
              rows="5"
              placeholder="Ask anything"
              class="form-control border-0 shadow-none chat-input"
              (keydown.enter)="sendMessage()"
            ></textarea>
          </div>
          <div class="d-flex justify-content-end align-items-center mt-2">
            <button type="button" class="icon-btn" (click)="sendMessage()">
              <i class="fa fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
