<!--Page main content-->
  <div class="page-content page-content-main">
    <div class="row sideMenuItem">
      <div class="container">
        <div class="col-xs-12 content-right">
        <div class="row">
          <div class="col-xs-12 col-lg-12">
            <span class="breadcrumb-left">
              <h1 class="login-headline heading-title">Dashcam integrated with HD Fleet </h1>
            </span>
            <span class="breadcrumb-right mr-8">
              <ol class="breadcrumb">
                <ng-container *ngIf="user =='admin'">
                  <li class="breadcrumb-item">
                    <a routerLink="/adlp/admin" class="breadcrumb-h6"><i class="bx bx-home-circle"></i></a>
                  </li>
                  <li class="breadcrumb-item inactive-bread"><a routerLink="/adlp/admin/dashboardAdmin">Dashboard</a></li>
                </ng-container>
                <ng-container *ngIf="user !='admin'">
                  <li class="breadcrumb-item">
                    <a routerLink="/adlp/admin/admindashboard/dashboardfleet" class="breadcrumb-h6"><i
                        class="bx bx-home-circle"></i></a>
                  </li>
                  <li class="breadcrumb-item inactive-bread"><a
                      routerLink="/adlp/admin/admindashboard/dashboardfleet">Dashboard</a></li>
                </ng-container>
                <li class="breadcrumb-item text-selected active-bread">DashCam</li>
              </ol>
            </span>
          </div>
        </div>
        <div class="row consumer-pad">
          <ng-container *ngIf="user =='admin'">
          <div class="col-xs-12 col-lg-2">
            <app-common-consumer (consumerChange)="selectConsumer($event)"></app-common-consumer>
          </div>
          </ng-container>
          <ng-container *ngIf="user !='admin'">
          <div class="col-xs-12 col-lg-2">&nbsp;</div></ng-container>
          <div class="col-xs-12 col-lg-3">
            <!-- <h5 class="activeSince">Active Since : {{ dateRange }}</h5> -->
          </div>
          <div class="col-xs-12 col-lg-5"></div>
          <div class="col-xs-12 col-lg-2" style="margin-top: 6px">
            <ng-select [searchable]="true" class="newSelect1" [clearable]="true" placeholder="Organization Id/Name"
              (change)="selectFleetId()" [(ngModel)]="fleetIdData">
              <ng-option *ngFor="let fleet of fleetList" value="{{ fleet.id }}">{{ fleet.id }} - [{{ fleet.name
                }}]</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="row">
        <div class="col-xs-12 col-lg-12">
          <p class="listP">
            Introducing our latest advancement: seamless dashcam iFrame integration with HD Fleet. Elevate your fleet management experience by accessing real-time vehicle data and footage directly from our intuitive dashboard. Enhance safety, improve accountability, and optimize operations</p>
        </div>
      </div>
       <div class="row">
        <div class="col-xs-12 col-lg-12" style="height: 1000px; margin-top: 12px;">
            <div class="container-fluid">
                <iframe *ngIf="iframeSrc1" [src]="iframeSrc" width="100%" height="1000px" style="border-radius: 10px;"></iframe>
            </div>
        </div>
       </div>
        <!-- main container end -->
      </div>
    </div>
  </div>
  </div>
