.logo-privacy{
    margin-top: -60px; margin-bottom: 60px; margin-left: 20px;
}

.logo_privacy{
  height: 50px;
}

.data-content{
margin-left: 24px; margin-right:24px; margin-top:-40px; margin-bottom:40px; background-color: #ffffff; padding:10px; border-radius: 10px;
}

.data-heading{
  font-size: 20px; font-weight: 600; color:#000000
}

.data-content-item{
  font-size: 12px; font-weight: 400;color:#000; font-family: 'Poppins';
  }

  .data-content-list{
   font-size: 12px; font-weight: 400; margin-top: -20px; color:#000
  }

.btn-back{
  border: 2px solid #fa751a;
  padding: 5px;
  margin-top: 20px;
  float: right;
  margin-right: 20px;
  border-radius: 8px;
  padding: 7px;
}
